section.l-block.l-block-text.bg-white.gap-p-eq
  .container.container-sm
    header.l-block-header.position-relative.text-center
      .row.justify-content-center
        .col-sm-12.col-md-10.position-sm-static.px-sm-5.px-md-0
          h1.l-block-title.text-uppercase.text-secondary
            strong Select account type
          .btn-dropdown.btn-dropdown-sm.btn-dropdown-select.mt-4.mt-sm-0
            .currency-select-dropdown(ngbDropdown='')
              button.dropdown-toggle(type='button', ngbDropdownToggle='')
                strong USD
              .ext-center(ngbDropdownMenu='')
                a.dropdown-item EUR
                a.dropdown-item CHF
    app-pricing-table
