@import '../../../styles/variables';

.first-title {
  border-top: 1px solid #e0e0e0;
  padding-top: 35px;
}

h2 {
  font-size: 24px;
  font-weight: 900;
  color: #212121;
}

.overview-detail-row {
  font-size: 16px;
  font-weight: bold;
  color: #34495E;

  .label {
    font-size: 16px;
    color: #757575;
    font-weight: normal;
    width: 65px;
    display: inline-block;
    margin-top: 15px;
  }

  .light {
    font-weight: normal;
  }
}

.label-alone {
  font-size: 16px;
  color: #757575;
  font-weight: normal;
  width: 65px;
  margin-top: 15px;
  position: relative;
  top: 13px;
}

.selection.site {
  border-radius: 4px;
  padding: 14px 15px;
  height: 48px;
}

.padding-right-none {
  padding-right: 0 !important;
}

.ui.large.wide {
  width: 100%;
}

.ui.input input {
  padding: 14px 15px;
}

.promo-code-wrapper {
  width: 100%;
  position: relative;

  .button {
    border-color: #bdbdbd;
    background: #bdbdbd;
    font-size: 12px;
    font-weight: bold;
    color: $color-white;
  }
}

.cancel-link {
  font-size: 16px;
  display: block;
  margin-bottom: 30px;
  margin-top: -15px;

  a {
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
  }
}