@import '../../../../styles/vendors/include-media/include-media';
@import '../../../../styles/config/include-media-config';

.dropdown.dropdown-sm {
  .dropdown-toggle {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    border-radius: 2px;
    font-size: 14px;
    height: 2rem;
    width: 100%;
    line-height: 1;

    &::before {
      right: 0.75rem;
    }

    .form-content-holder & {
      @include media('<=sm') {
        font-size: 0.875rem;
        height: 2.625rem;
      }
    }
  }

  .dropdown-item {
    line-height: 1;

    @include media('<=sm') {
      font-size: 0.875rem;
    }
  }
}

.field-title {
  font-size: 14px;
}
