<div class="modal-header">
  <h3 class="modal-title w-100 text-dark" id="createFoldersModalLabel">
    <strong>Import Private Key</strong>
  </h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onHide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body bg-faded">
  <div class="mt-1 px-3">
    <div *ngIf="currentStep === ImportPrivateKeyStep.SELECT_MAILBOX" class="mb-1">
      <div>
        <p class="text-holder text-dark text-medium">Please select a mailbox that you want to import key</p>
      </div>
      <div class="form-content-row mt-1">
        <div class="btn-dropdown btn-dropdown-select">
          <div ngbDropdown class="dropdown-sm">
            <button type="button" ngbDropdownToggle id="filterParameterDropdownMenuBtn" role="button">
              <span> {{ selectedMailbox?.email }} </span>
            </button>
            <div ngbDropdownMenu aria-labelledby="filterParameterDropdownMenuBtn">
              <a *ngFor="let mailbox of mailboxes" class="dropdown-item text-medium" (click)="onSelectMailbox(mailbox)">
                <span>{{ mailbox.email }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-1" *ngIf="currentStep === ImportPrivateKeyStep.SELECT_PRIVATE_KEY">
      <div class="mb-1">
        <p class="text-holder text-medium text-danger">Are you sure to import the private key? Please be ensure the private key is secure.</p>
      </div>
      <div>
        <p class="text-holder text-dark text-medium">Please select a private key to import</p>
      </div>
      <div class="form-content-row mt-1">
        <input type="file" #importKeyFileTag accept=".txt,.asc" (change)="onSelectNewKeyFile($event.target.files)" style="display: none" />
        <div class="pl-2 pt-2">
          <a (click)="importKeyFileTag.click()">
            <i class="fas fa-plus-circle"></i>
            {{ currentFile ? 'Change Key' : 'contacts.advanced.add_key' | translate }}
          </a>
        </div>
        <div class="pl-2 pt-2" *ngIf="currentFile">
          <i class="fas fa-file-alt font-italic ml-2 mr-2"></i>
          <small class="font-italic">{{ currentFile ? currentFile.name : '' }}</small>
        </div>
      </div>
    </div>
    <div class="mb-1" *ngIf="currentStep === ImportPrivateKeyStep.INPUT_PRIVATE_KEY_PASSWORD">
      <div class="mb-2">
        <p class="text-holder text-medium">Please input the password of private key that you selected.</p>
      </div>
      <div class="pl-2 pt-2 mb-3" *ngIf="currentFile">
        <i class="fas fa-file-alt font-italic ml-2 mr-2"></i>
        <small class="font-italic">{{ currentFile ? currentFile.name : '' }}</small>
      </div>
      <div class="form-content-row mt-2 p-2">
        <div class="row align-items-center">
          <div class="col-sm-12">
            <div class="input-group decrypt-password-element mr-2">
              <input class="form-control form-control-sm border-right-0" type="password" id="passwordVC" placeholder="Passphrase" [(ngModel)]="passphrase" />
              <span class="input-group-addon password-toggle bg-white text-muted" id="passphraseToggle" (click)="togglePassword('passwordVC')">
                <i class="fa fa-eye"></i>
                <i class="fa fa-eye-slash"></i>
              </span>
            </div>
          </div>
          <div class="col-sm-12 errors-field" *ngIf="decryptError">
            <span class="validate-message mt-3">Incorrect Passphrase</span>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-1" *ngIf="currentStep === ImportPrivateKeyStep.INPUT_USER_PASSWORD">
      <div class="mb-3">
        <p class="text-holder text-dark text-medium">Please enter your account password to continue</p>
      </div>
      <div class="form-content-row mt-2">
        <div class="row align-items-center">
          <div class="col-sm-12">
            <div class="input-group decrypt-password-element mr-2">
              <input class="form-control form-control-sm border-right-0" type="password" id="userPasswordVC" placeholder="Password" [(ngModel)]="password" />
              <span class="input-group-addon password-toggle bg-white text-muted" id="passwordToggle" (click)="togglePassword('userPasswordVC')">
                <i class="fa fa-eye"></i>
                <i class="fa fa-eye-slash"></i>
              </span>
            </div>
          </div>
          <div class="col-sm-12 errors-field" *ngIf="mailboxKeyFailure$ | async">
            <span class="validate-message mt-3">Incorrect Password</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="text-holder text-dark text-medium">
    <div class="mx-auto mt-2 pt-sm-2">
      <app-loading-spinner [showSpinner]="inProgress || (mailboxKeyInProgress$ | async)"></app-loading-spinner>
      <button
        type="button"
        class="btn btn-secondary btn-sm"
        (click)="onNext()"
        [disabled]="(currentStep === ImportPrivateKeyStep.SELECT_PRIVATE_KEY && !currentFile) || (currentStep === ImportPrivateKeyStep.INPUT_PRIVATE_KEY_PASSWORD && !passphrase)"
      >
        Next
      </button>
    </div>
  </div>
</div>