<!-- PAGE SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq position-relative has-cover" style="background-image: url(assets/images/user-actions/login-bg.jpg);">
	<div class="container position-static">
		<div class="go-back-holder hidden-md-down"><a href="" class="text-white" role="button"><i class="icon icon-arrow-left icon-sm mr-2"></i> Got to ctemplar.com</a></div>
		<div class="l-block-body px-xs">

			<!-- Secure reply component -->
			<div id="secure-message-card" class="ui-card" [ngClass]="{'d-none': replyInProcess}">
				<div class="ui-card-header bg-primary text-sm-center">
					<h6 class="ui-card-title mb-0 fw-light text-white pr-4 px-sm-0">Expiring in <strong>2 Days 6 Hours 43 Minutes 46 Seconds</strong>.</h6>
					<button role="button" class="close ui-card-dismiss hidden-md-up"><i class="icon icon-cross text-white"></i></button>
				</div>
				<div class="ui-card-body">
					<div class="msg-reply-card">
						<div class="msg-reply-card-header d-sm-flex justify-content-sm-start align-items-sm-center">
							<h5 class="text-dark mb-3 mb-sm-0"><strong>Test Email for UX/UI assignment</strong></h5>
							<button class="btn btn-disabled btn-sm btn-reply ml-sm-auto" role="button" (click)="toggleReplyWindow();"><i class="icon icon-reply mr-2"></i><strong>Reply Securely</strong></button>
						</div>
						<div class="msg-reply-address-row">
							<div class="msg-reply-address"><span class="text-muted">From: </span>ProtonMail <span class="text-muted">&lt;contact@protonmail.ch&gt;</span></div>
							<div class="msg-reply-address"><span class="text-muted">To: </span>John Doe <span class="text-muted">&lt;johndoe.ch&gt;</span></div>
						</div>
						<div class="msg-reply-card-body">
							<div class="msg-reply-card-innerbody has-custom-scroll has-custom-scroll-sm">
								<div class="secure-message-editor" contenteditable="true" spellcheck="true">
									<div class="secure-message-row">
										<p><strong>Welcome to the future of email!</strong></p>
										<p>You now have an inbox that is protected by strong encryption. Even we do not have the ability to read your emails. CTemplar can send and receive emails from other email providers such as Gmail. It is even possible to end-to-end encrypt the messages you send to external recipients. If your friends also use CTemplar, all your communications with them will be automatically end-to-end encrypted. <br/><br/> CTemplar is an open-source community-driven project and basic accounts are always free. However, the costs to run CTemplar are quite high, and we depend on support from the community to keep the service running. If you would like to support the project, you can <a routerLink="/signup"><u>upgrade to a paid account</u></a>. Your support is essential to ensuring that CTemplar is financially stable and can continue to offer the service to the public.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.Secure reply component ends -->

			<!-- Secure reply component -->
			<div id="secure-message-reply-card" class="ui-card" [ngClass]="{'d-block': replyInProcess}">
				<div class="ui-card-body">
					<div class="msg-reply-card">
						<div class="msg-reply-card-header position-relative d-sm-flex justify-content-sm-start align-items-sm-center">
							<h5 class="text-dark mb-3 mb-sm-0"><strong>Test Email for UX/UI assignment</strong></h5>
							<button role="button" class="close ui-card-dismiss ml-sm-auto hidden-md-up"><i class="icon icon-cross text-dark"></i></button>
						</div>
						<div class="msg-reply-address-row">
							<div class="msg-reply-address"><span class="text-muted">From: </span>ProtonMail <span class="text-muted">&lt;contact@protonmail.ch&gt;</span></div>
							<div class="msg-reply-address"><span class="text-muted">To: </span>John Doe <span class="text-muted">&lt;johndoe.ch&gt;</span></div>
						</div>
						<div class="msg-reply-card-body">
							<div class="msg-reply-card-innerbody has-custom-scroll has-custom-scroll-sm">
								<div class="secure-message-editor" contenteditable="true" spellcheck="true">
									<div class="secure-message-reply-row mb-3 pb-2">
										<p>You now have an inbox that is protected by strong encryption. Even we do not have the ability to read your emails. CTemplar can send and receive emails from other email providers such as Gmail. It is even possible to end-to-end encrypt the messages you send to external recipients. If your friends also use CTemplar, all your communications with them will be automatically end-to-end encrypted.</p>
									</div>
									<blockquote class="secure-message-quoted-content">
										<div class="secure-message-row">
											<p><strong>Welcome to the future of email!</strong></p>
											<p>You now have an inbox that is protected by strong encryption. Even we do not have the ability to read your emails. CTemplar can send and receive emails from other email providers such as Gmail. It is even possible to end-to-end encrypt the messages you send to external recipients. If your friends also use CTemplar, all your communications with them will be automatically end-to-end encrypted. <br/><br/> CTemplar is an open-source community-driven project and basic accounts are always free. However, the costs to run CTemplar are quite high, and we depend on support from the community to keep the service running. If you would like to support the project, you can <a routerLink="/signup"><u>upgrade to a paid account</u></a>. Your support is essential to ensuring that CTemplar is financially stable and can continue to offer the service to the public.</p>
											<p>You now have an inbox that is protected by strong encryption. Even we do not have the ability to read your emails. CTemplar can send and receive emails from other email providers such as Gmail. It is even possible to end-to-end encrypt the messages you send to external recipients. If your friends also use CTemplar, all your communications with them will be automatically end-to-end encrypted. <br/><br/> CTemplar is an open-source community-driven project and basic accounts are always free. However, the costs to run CTemplar are quite high, and we depend on support from the community to keep the service running. If you would like to support the project, you can <a routerLink="/signup"><u>upgrade to a paid account</u></a>. Your support is essential to ensuring that CTemplar is financially stable and can continue to offer the service to the public.</p>
											<p>You now have an inbox that is protected by strong encryption. Even we do not have the ability to read your emails. CTemplar can send and receive emails from other email providers such as Gmail. It is even possible to end-to-end encrypt the messages you send to external recipients. If your friends also use CTemplar, all your communications with them will be automatically end-to-end encrypted. <br/><br/> CTemplar is an open-source community-driven project and basic accounts are always free. However, the costs to run CTemplar are quite high, and we depend on support from the community to keep the service running. If you would like to support the project, you can <a routerLink="/signup"><u>upgrade to a paid account</u></a>. Your support is essential to ensuring that CTemplar is financially stable and can continue to offer the service to the public.</p>
											<p>&nbsp;</p>
											<p>&nbsp;</p>
										</div>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui-card-footer mail-composer-footer">
		            <div class="mail-composer-actions-row d-flex align-items-center">
		                <div class="mail-composer-actions-col mail-composer-actions-col-lg">
		                    <ul class="mail-composer-actions d-flex align-items-center">
		                        <li class="cancel-message-item"><button class="actions-btn actions-btn-inline" role="button" placement="top" ngbTooltip="Cancel Reply">Cancel</button></li>
		                        <li>
		                        	<div ngbDropdown placement="top" class="dropdown">
		                                <button ngbDropdownToggle class="actions-btn mail-typo-btn hide-arrow" id="typoDropdownMenu" role="button" placement="top" ngbTooltip="Typography"><i class="icon icon-text-color"></i></button>
		                                <div ngbDropdownMenu class="typo-actions-dropdown-menu" aria-labelledby="typoDropdownMenu">
		                                    <div class="mail-comopser-typo-actions-holder">
		                                    	<ul class="mail-composer-actions d-flex align-items-center justify-content-end">
					                                <li class="pr-0">
					                                	<div ngbDropdown placement="top" class="dropup">
						                                	<button ngbDropdownToggle role="button" class="actions-btn mail-font-family-btn border-right-0 border-radius-r-0" id="typoFamilyDropdownMenu" role="button"><i class="icon icon-text-size"></i></button>
						                                	<div ngbDropdownMenu class="typo-family-dropdown-menu" aria-labelledby="typoFamilyDropdownMenu">
						                                		<div class="typo-holder">
						                                			<ul class="typo-list list-styled">
						                                				<li><a href="" class="typo-select-link">Hiragino Sans</a></li>
						                                				<li><a href="" class="typo-select-link is-active">Lato</a></li>
						                                				<li><a href="" class="typo-select-link">Roboto</a></li>
						                                				<li><a href="" class="typo-select-link">Abril Fatface</a></li>
						                                				<li><a href="" class="typo-select-link">Andale Mono</a></li>
						                                				<li><a href="" class="typo-select-link">Arial</a></li>
						                                				<li><a href="" class="typo-select-link">Times New Roman</a></li>
						                                			</ul>
						                                		</div>
						                                	</div>
						                                </div>
					                                </li>
					                                <li class="pl-0">
					                                	<div ngbDropdown placement="top" class="dropup">
						                                	<button ngbDropdownToggle role="button" class="actions-btn mail-font-family-btn" id="typoFamilyDropdownMenu"><i class="icon icon-text-size-alt"></i></button>
						                                	<div ngbDropdownMenu class="typo-size-dropdown-menu" aria-labelledby="typoFamilyDropdownMenu">
						                                		<div class="typo-holder">
						                                			<ul class="typo-list list-styled">
						                                				<li><a href="" class="typo-select-link is-small">Small</a></li>
						                                				<li><a href="" class="typo-select-link is-active is-normal">Normal</a></li>
						                                				<li><a href="" class="typo-select-link is-large">Large</a></li>
						                                				<li><a href="" class="typo-select-link is-huge">Huge</a></li>
						                                			</ul>
						                                		</div>
						                                	</div>
						                                </div>
					                                </li>

					                                <li class="pr-0"><button role="button" class="actions-btn mail-bold-btn border-right-0 border-radius-r-0"><i class="icon icon-bold"></i></button></li>
					                                <li class="px-0"><button role="button" class="actions-btn mail-italic-btn border-right-0 border-radius-0"><i class="icon icon-italic"></i></button></li>
					                                <li class="px-0"><button role="button" class="actions-btn mail-underline-btn border-right-0 border-radius-0"><i class="icon icon-underline"></i></button></li>
					                                <li class="pl-0">
					                                	<div ngbDropdown placement="top" class="dropdown">
						                                	<button ngbDropdownToggle class="actions-btn mail-font-color-btn border-radius-l-0" id="typoColorDropdownMenu" role="button"><i class="icon icon-text-color"></i></button>
						                                	<div ngbDropdownMenu class="left-0" aria-labelledby="typoColorDropdownMenu">
						                                		<div class="color-picker-holder">
						                                			<div class="row">
						                                				<div class="col-sm-6 mb-3 mb-sm-0">
						                                					<div class="color-picker">
						                                						<div class="color-picker-title"><strong>Background Color</strong></div>
						                                						<ul class="color-picker-list d-flex flex-wrap">
						                                							<li><div class="color-shape" style="background: #000000;"></div></li>
						                                							<li><div class="color-shape" style="
						                                							background: #616161;"></div></li>
						                                							<li><div class="color-shape" style="background: #828282;"></div></li>
						                                							<li><div class="color-shape" style="background: #adadad;"></div></li>
						                                							<li><div class="color-shape" style="background: #d2d2d2;"></div></li>
						                                							<li><div class="color-shape" style="background: #e9e9e9;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffffff;border:1px solid #e5e5e5;"></div></li>

						                                							<li><div class="color-shape" style="background: #730000;"></div></li>
						                                							<li><div class="color-shape" style="
						                                							background: #ae0000;"></div></li>
						                                							<li><div class="color-shape" style="background: #e60000;"></div></li>
						                                							<li><div class="color-shape" style="background: #ff2121;"></div></li>
						                                							<li><div class="color-shape" style="background: #ff7676;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffc9c9;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffefef;"></div></li>

						                                							<li><div class="color-shape" style="background: #734600;"></div></li>
						                                							<li><div class="color-shape" style="
						                                							background: #ae6200;"></div></li>
						                                							<li><div class="color-shape" style="background: #e66300;"></div></li>
						                                							<li><div class="color-shape" style="background: #ff8c21;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffc576;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffe9c9;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffe9c9;"></div></li>

						                                							<li><div class="color-shape" style="background: #737200;"></div></li>
						                                							<li><div class="color-shape" style="
						                                							background: #a0ae00;"></div></li>
						                                							<li><div class="color-shape" style="background: #e6e300;"></div></li>
						                                							<li><div class="color-shape" style="background: #fff621;"></div></li>
						                                							<li><div class="color-shape" style="background: #fdff76;"></div></li>
						                                							<li><div class="color-shape" style="background: #fffdc9;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffffef;"></div></li>

						                                							<li><div class="color-shape" style="background: #0f7300;"></div></li>
						                                							<li><div class="color-shape" style="background: #0eae00;"></div></li>
						                                							<li><div class="color-shape" style="background: #1ee600;"></div></li>
						                                							<li><div class="color-shape" style="background: #21ff38;"></div></li>
						                                							<li><div class="color-shape" style="background: #76ff76;"></div></li>
						                                							<li><div class="color-shape" style="background: #c9ffd0;"></div></li>
						                                							<li><div class="color-shape" style="background: #effff1;"></div></li>

						                                							<li><div class="color-shape" style="background: #006e73;"></div></li>
						                                							<li><div class="color-shape" style="background: #00aeac;"></div></li>
						                                							<li><div class="color-shape" style="background: #00dce6;"></div></li>
						                                							<li><div class="color-shape" style="background: #21f4ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #76fff4;"></div></li>
						                                							<li><div class="color-shape" style="background: #c9fffc;"></div></li>
						                                							<li><div class="color-shape" style="background: #effeff;"></div></li>

						                                							<li><div class="color-shape" style="background: #000173;"></div></li>
						                                							<li><div class="color-shape" style="background: #0016ae;"></div></li>
						                                							<li><div class="color-shape" style="background: #0100e6;"></div></li>
						                                							<li><div class="color-shape" style="background: #5555ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #7681ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #cdc9ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #f1efff;"></div></li>

						                                							<li><div class="color-shape" style="background: #530073;"></div></li>
						                                							<li><div class="color-shape" style="background: #7500ae;"></div></li>
						                                							<li><div class="color-shape" style="background: #ba00e6;"></div></li>
						                                							<li><div class="color-shape" style="background: #e955ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #de76ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #f2c9ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #fcefff;"></div></li>
						                                						</ul>
						                                					</div>
						                                				</div>

						                                				<div class="col-sm-6 mb-3 mb-sm-0">
						                                					<div class="color-picker">
						                                						<div class="color-picker-title"><strong>Text Color</strong></div>
						                                						<ul class="color-picker-list d-flex flex-wrap">
						                                							<li><div class="color-shape" style="background: #000000;"></div></li>
						                                							<li><div class="color-shape" style="
						                                							background: #616161;"></div></li>
						                                							<li><div class="color-shape" style="background: #828282;"></div></li>
						                                							<li><div class="color-shape" style="background: #adadad;"></div></li>
						                                							<li><div class="color-shape" style="background: #d2d2d2;"></div></li>
						                                							<li><div class="color-shape" style="background: #e9e9e9;"></div></li>
						                                							<li><div class="color-shape is-selected" style="background: #ffffff;border:1px solid #e5e5e5;"></div></li>

						                                							<li><div class="color-shape" style="background: #730000;"></div></li>
						                                							<li><div class="color-shape" style="
						                                							background: #ae0000;"></div></li>
						                                							<li><div class="color-shape" style="background: #e60000;"></div></li>
						                                							<li><div class="color-shape" style="background: #ff2121;"></div></li>
						                                							<li><div class="color-shape" style="background: #ff7676;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffc9c9;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffefef;"></div></li>

						                                							<li><div class="color-shape" style="background: #734600;"></div></li>
						                                							<li><div class="color-shape" style="
						                                							background: #ae6200;"></div></li>
						                                							<li><div class="color-shape" style="background: #e66300;"></div></li>
						                                							<li><div class="color-shape" style="background: #ff8c21;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffc576;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffe9c9;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffe9c9;"></div></li>

						                                							<li><div class="color-shape" style="background: #737200;"></div></li>
						                                							<li><div class="color-shape" style="
						                                							background: #a0ae00;"></div></li>
						                                							<li><div class="color-shape" style="background: #e6e300;"></div></li>
						                                							<li><div class="color-shape" style="background: #fff621;"></div></li>
						                                							<li><div class="color-shape" style="background: #fdff76;"></div></li>
						                                							<li><div class="color-shape" style="background: #fffdc9;"></div></li>
						                                							<li><div class="color-shape" style="background: #ffffef;"></div></li>

						                                							<li><div class="color-shape" style="background: #0f7300;"></div></li>
						                                							<li><div class="color-shape" style="background: #0eae00;"></div></li>
						                                							<li><div class="color-shape" style="background: #1ee600;"></div></li>
						                                							<li><div class="color-shape" style="background: #21ff38;"></div></li>
						                                							<li><div class="color-shape" style="background: #76ff76;"></div></li>
						                                							<li><div class="color-shape" style="background: #c9ffd0;"></div></li>
						                                							<li><div class="color-shape" style="background: #effff1;"></div></li>

						                                							<li><div class="color-shape" style="background: #006e73;"></div></li>
						                                							<li><div class="color-shape" style="background: #00aeac;"></div></li>
						                                							<li><div class="color-shape" style="background: #00dce6;"></div></li>
						                                							<li><div class="color-shape" style="background: #21f4ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #76fff4;"></div></li>
						                                							<li><div class="color-shape" style="background: #c9fffc;"></div></li>
						                                							<li><div class="color-shape" style="background: #effeff;"></div></li>

						                                							<li><div class="color-shape" style="background: #000173;"></div></li>
						                                							<li><div class="color-shape" style="background: #0016ae;"></div></li>
						                                							<li><div class="color-shape" style="background: #0100e6;"></div></li>
						                                							<li><div class="color-shape" style="background: #5555ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #7681ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #cdc9ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #f1efff;"></div></li>

						                                							<li><div class="color-shape" style="background: #530073;"></div></li>
						                                							<li><div class="color-shape" style="background: #7500ae;"></div></li>
						                                							<li><div class="color-shape" style="background: #ba00e6;"></div></li>
						                                							<li><div class="color-shape" style="background: #e955ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #de76ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #f2c9ff;"></div></li>
						                                							<li><div class="color-shape" style="background: #fcefff;"></div></li>
						                                						</ul>
						                                					</div>
						                                				</div>
						                                			</div>
						                                		</div>
						                                	</div>
						                                </div>
					                                </li>

					                                <li class="pr-0"><button role="button" class="actions-btn mail-align-right-btn border-right-0 border-radius-r-0"><i class="icon icon-text-align-right"></i></button></li>
					                                <li class="px-0"><button role="button" class="actions-btn mail-align-center-btn border-right-0 border-radius-0"><i class="icon icon-text-align-center"></i></button></li>
					                                <li class="pl-0"><button role="button" class="actions-btn mail-align-left-btn border-radius-l-0"><i class="icon icon-text-align-left"></i></button></li>

					                                <li class="pr-0"><button role="button" class="actions-btn mail-unorder-list-btn border-right-0 border-radius-r-0"><i class="icon icon-unorder-list"></i></button></li>
					                                <li class="px-0"><button role="button" class="actions-btn mail-order-list-btn border-right-0 border-radius-0"><i class="icon icon-ordered-list"></i></button></li>
					                                <li class="px-0"><button role="button" class="actions-btn mail-indent-decrease-btn border-right-0 border-radius-0"><i class="icon icon-indent-decrease"></i></button></li>
					                                <li class="px-0"><button role="button" class="actions-btn mail-indent-increase-btn border-right-0 border-radius-0"><i class="icon icon-indent-increase"></i></button></li>
					                                <li class="pl-0"><button role="button" class="actions-btn mail-quote-right-btn border-radius-l-0"><i class="icon icon-quote-right"></i></button></li>

					                                <li><button role="button" class="actions-btn mail-format-clear-btn"><i class="icon icon-format-clear"></i></button></li>
					                            </ul>
		                                    </div>
		                                </div>
		                            </div>
		                        </li>
		                    </ul>
		                </div>
		                <div class="mail-composer-actions-col mail-composer-actions-col-sm">
		                    <ul class="mail-composer-actions d-flex align-items-center justify-content-end">
		                        <li><button role="button" class="actions-btn mail-attach-btn" placement="top" ngbTooltip="Upload attachment"><i class="icon icon-attachment"></i></button></li>
		                        <li class="send-reply-item"><button class="btn btn-sm btn-secondary btn-mail-send btn-xs-rounded" role="button" placement="top" ngbTooltip="Send Mail"><i class="hidden-sm-up icon icon-paper-plane"></i><span class="hidden-xs-down">Send</span></button></li>
		                    </ul>
		                </div>
		            </div>
		        </div>
			</div><!-- /.Secure reply component ends -->

		</div>
	</div>
</section>