@import '../../../styles/base/variables';
@import '../../../styles/vendors/include-media/include-media';
@import '../../../styles/config/include-media-config';
@import '../../../styles/vendors/ceaser/ceaser-easing';

// == Go back to previous page
.go-back-holder {
	@include media('>=ipad') {
		position: absolute;
		top: 1.375rem;
		left: 0.938rem;
		line-height: 1;
	}

	@include media(">=laptop") {
		left: 1.875rem;
	}

	@include media("<ipad", ">sm") {
		margin-top: -2.188rem;
		margin-bottom: 2rem;
	}

	@include media("<=sm") {
		margin-top: -1rem;
		margin-bottom: 1.375rem;
		font-size: 0.875rem;
	}
}

// == Secure message styles
.ui-card {
	position: relative;
	background: $brand-white;
	border-radius: 2px;
	box-shadow: 0 0 15px 0 rgba(0, 19, 37, 0.65);
}

.ui-card-header {
	position: relative;
	padding: 1.094rem 0.75rem;
	border-radius: 2px 2px 0 0;

	@include media(">=ipad") {
		padding: 1.094rem 1.5rem;
	}
}

.ui-card-dismiss {
	position: absolute;
	top: 1.094rem;
	right: 0.75rem;
	opacity: 1;
	font-size: 0.75rem;
	text-shadow: none;

	@include media(">sm") {
		top: 50%;
		right: 1.5rem;
		transform: translateY(-50%);
	}

	@include media(">=ipad") {
		font-size: 0.875rem;
	}
}

// == Message reply card
.msg-reply-card-header {
	padding: 1.25rem 0.75rem;	
	@include media(">sm") {
		padding: 1.25rem 1.5rem;
		min-height: 4.375rem;
	}

	@include media("<=sm") {
		h5 {
			padding-right: 0.938rem;
			font-size: 1.125rem;
		}
	}
}

.btn-reply {
	letter-spacing: 0.6px;
}

// == Address bars
.msg-reply-address-row {
	padding: 0.875rem 0.75rem;
	background: $brand-faded;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	color: $brand-black;
	font-size: 0.875rem;

	@include media(">sm") {
		padding: 0.875rem 1.5rem;
	}

	.msg-reply-address {
		@include media("<=sm") {
			font-size: 0.813rem;
		}
		&:not(:last-child) {
			margin-bottom: 0.375rem;
		}
	}
}

.msg-reply-card-body {
	padding: 1.125rem 0.75rem 0.75rem;
	color: $brand-black;
	font-size: 0.875rem;
	line-height: 1.71;

	@include media(">sm") {
		padding: 1.125rem 1.5rem 1.75rem;
	}
}

// == Editor
.msg-reply-card-innerbody {
	overflow: hidden;
	overflow-y: auto;
	margin-right: -0.25rem;
	max-height: 12.188rem;

	@include media(">sm") {
		max-height: 20.313rem;
	}

	@include media(">=ipad") {
		max-height: 15.375rem
	}
}

.secure-message-editor {
	padding-right: 0.25rem;
	outline: 0 !important;
}

// == Secure message reply styles
#secure-message-reply-card {
	display: none;

	.msg-reply-card-body {
		padding-bottom: 3.125rem;
	}

	.mail-composer-footer {
		position: absolute;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 0 0 3px 3px;

		@include media(">sm") {
			padding-right: 1.5rem;
			padding-left: 1.5rem;
		}
	}
}

.actions-btn.actions-btn-inline {
	color: $brand-light-gray;
	font-size: 0.625rem;
	min-width: 4.125rem;
	width: inherit;
	text-transform: uppercase;
}

.secure-message-quoted-content {
	padding-left: 0.75rem;
	border-left: 2px solid $brand-secondary;
	color: rgba(0, 0, 0, 0.54);
	font-size: 0.875rem;
	line-height: 1.71;
}

// == Typo dropdown
.typo-actions-dropdown-menu.left {
	left: -5.25rem !important;
	@include media(">sm") {
		left: -4.9rem !important;
	}
}

@include media("<ipad", ">sm") {
	.mail-composer-actions-col-lg .mail-composer-actions {
		flex-wrap: wrap;
		width: 408px;

		>li {
			margin-bottom: 0.75rem;

			&:nth-last-of-type(1),
			&:nth-last-of-type(2),
			&:nth-last-of-type(3),
			&:nth-last-of-type(4),
			&:nth-last-of-type(5),
			&:nth-last-of-type(6) {
				margin-bottom: 0;
			}
		}
	}
}

@include media("<=sm") {
	.mail-composer-actions-col-lg .mail-composer-actions {
		flex-wrap: wrap;
		width: 276px;

		>li {
			margin-bottom: 0.75rem;

			&:nth-last-of-type(1),
			&:nth-last-of-type(2),
			&:nth-last-of-type(3),
			&:nth-last-of-type(4) {
				margin-bottom: 0;
			}
		}
	}

	.mail-underline-btn {
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}

	.dropdown-menu .color-picker-holder {
		width: 266px;
	}
}