<!-- PAGE SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq has-cover" style="background-image: url(assets/images/user-actions/login-bg.jpg);">
	<div class="container">
		<div class="l-block-body px-xs">

			<!-- Secure reply component -->
			<div class="ui-card">
				<div class="ui-card-header bg-primary text-center">
					<h6 class="ui-card-title mb-0 fw-light text-white">Expiring in <strong>2 Days 6 Hours 43 Minutes 46 Seconds</strong>.</h6>
				</div>
				<div class="ui-card-body">
					<div class="msg-reply-card">
						<div class="msg-reply-card-header d-flex justify-content-start align-items-center">
							<h5 class="text-dark mb-0"><strong>Test Email for UX/UI assignment</strong></h5>
							<button class="btn btn-disabled btn-sm btn-reply ml-auto" role="button"><i class="icon icon-reply mr-2"></i><strong>Reply Securely</strong></button>
						</div>
						<div class="msg-reply-address-row">
							<div class="msg-reply-address"><span class="text-muted">From: </span>ProtonMail <span class="text-muted">&lt;contact@protonmail.ch&gt;</span></div>
							<div class="msg-reply-address"><span class="text-muted">To: </span>John Doe <span class="text-muted">&lt;johndoe.ch&gt;</span></div>
						</div>
						<div class="msg-reply-card-body d-none">
							<p><strong>Welcome to the future of email!</strong></p>
							<p>You now have an inbox that is protected by strong encryption. Even we do not have the ability to read your emails. CTemplar can send and receive emails from other email providers such as Gmail. It is even possible to end-to-end encrypt the messages you send to external recipients. If your friends also use CTemplar, all your communications with them will be automatically end-to-end encrypted. <br/><br/> CTemplar is an open-source community-driven project and basic accounts are always free. However, the costs to run CTemplar are quite high, and we depend on support from the community to keep the service running. If you would like to support the project, you can <a routerLink="/signup"><u>upgrade to a paid account</u></a>. Your support is essential to ensuring that CTemplar is financially stable and can continue to offer the service to the public.</p>
						</div>
					</div>
				</div>
			</div><!-- /.Secure reply component ends -->

		</div>
	</div>
</section>