.border-lightgrey {
  border: 1px solid  #e5e5e5 !important;
}

.mail-compose-field-to {
  tag-input {
    width: calc(100% - 65px)
  }
}

.minimize-compose-title {
  max-width: 140px;
}

.maximize-compose-title {
  max-width: 400px;
}