<div class="mail-composer is-sticky is-fullscreenx is-minimizedx is-maximizedx"
     [ngClass]="{'is-minimized' : isMinimized, 'is-maximized' : isFullScreen}"
     [class.keyboard-open]="composeMail?.isKeyboardOpened ? true : false"
     [class.is-active]="isComposeVisible">
  <div class="mail-composer-dialog">
    <div class="mail-composer-header p-0">
      <div class="mail-composer-title mr-4" (click)="toggleMinimized()">
        <span *ngIf="mailSubject; else newMessage">{{mailSubject}}</span>
        <ng-template #newMessage>
          <span>{{"settings.compose.new_message"| translate}}</span>
        </ng-template>
      </div>
      <div class="mail-composer-header-actions">
        <div class="mail-actions-list">

          <!--Minimize Modal-->
          <div class="mail-actions-item">
            <button role="button" placement="top" ngbTooltip="{{isMinimized ? ('settings.compose.maximize'| translate) : ('settings.compose.minimize'| translate)}}"
                    (click)="toggleMinimized()">
              <i class="fas fa-minus"></i>
            </button>
          </div>

          <!--Maximize Modal-->
          <div class="mail-actions-item">
            <button role="button" placement="top" ngbTooltip="{{isFullScreen ? ('settings.compose.exit_full_screen'| translate) : ('settings.compose.full_screen'| translate)}}"
                    (click)="toggleFullScreen()">
              <i class="icon icon-maximize"></i>
            </button>
          </div>

          <!--Close Modal-->
          <div class="mail-actions-item">
            <button role="button" placement="top" [ngbTooltip]="('settings.compose.close'| translate)"
                    (click)="onClose()">
              <i class="icon icon-cross"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <app-compose-mail *ngIf="isComposeVisible" #composeMail [receivers]="receivers" [draftMail]="draft"
                      (hide)="onHide()" (subjectChanged)="subjectChanged($event)"
                      [ngClass]="{'d-none': isMinimized}" [isFullScreen]="isFullScreen"
                      [action]="action" [parentId]="parentId" [content]="content"
                      [messageHistory]="messageHistory"  ></app-compose-mail>
  </div>
</div>


<ng-keyboard-shortcuts-help key="f1" closeKey="escape"></ng-keyboard-shortcuts-help>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
