<!-- OUR BLOG POSTS -->
<section class="l-block news-block gap-p-eq bg-white">
  <div class="container">
      <header class="l-block-header text-center">
          <h2 class="l-block-title ">Latest From
              <strong>Our Blog</strong>
          </h2>
      </header>
      <div class="l-block-body mb-4 mb-sm-5">
          <div class="row">
              <article class="col-md-4 col-sm-6 mb-4 mb-sm-0">
                  <a href="" class="news-card-holder">
                      <div class="news-card position-relative">
                          <span class="badge badge-sm badge-info text-uppercase">
                              <strong>News</strong>
                          </span>
                          <div class="news-card-body">
                              <figure class="news-pic-holder">
                                  <img alt="News thumbnail" class="img news-img" src="assets/images/blog/blog-img-1.jpg" />
                              </figure>
                              <h4 class="news-card-title">CTemplar at TED Global</h4>
                              <p>We have some great news to share. Several months ago, we were asked to come to
                                  TED Global to give a talk about privacy – and today the video is finally
                                  getting published! It was a great opportunity for us to talk about why privacy
                                  matters and showcase the end-to-end encryption technology we use in CTemplar
                                  to protect your data.</p>
                          </div>
                          <footer class="news-card-footer">
                              <ul class="news-meta-list">
                                  <li>Posted on 26 February 2016</li>
                                  <li>
                                      <u>14 comments</u>
                                  </li>
                              </ul>
                          </footer>
                      </div>
                  </a>
              </article>
              <article class="col-md-4 col-sm-6">
                  <a href="" class="news-card-holder">
                      <div class="news-card position-relative">
                          <span class="badge badge-sm badge-warning text-uppercase">
                              <strong>Articles</strong>
                          </span>
                          <div class="news-card-body">
                              <figure class="news-pic-holder">
                                  <img alt="News thumbnail" class="img news-img" src="assets/images/blog/blog-img-2.jpg" />
                              </figure>
                              <h4 class="news-card-title">What Yahoo's NSA Surveillance Means for Email Privacy?</h4>
                              <p>This week, it was revealed that as a result of a secret US government directive,
                                  Yahoo was forced to implement special surveillance software to scan all Yahoo
                                  Mail accounts at the request of the NSA and FBI. Sometime in early 2015,
                                  Yahoo secretly modified their spam and malware filters to scan all incoming
                                  email messages.</p>
                          </div>
                          <footer class="news-card-footer">
                              <ul class="news-meta-list">
                                  <li>Posted on 26 February 2016</li>
                                  <li>
                                      <u>14 comments</u>
                                  </li>
                              </ul>
                          </footer>
                      </div>
                  </a>
              </article>
              <article class="col-md-4 col-sm-6 hidden-sm-down">
                  <a href="" class="news-card-holder">
                      <div class="news-card position-relative">
                          <span class="badge badge-sm badge-success text-uppercase">
                              <strong>Releases</strong>
                          </span>
                          <div class="news-card-body">
                              <figure class="news-pic-holder">
                                  <img alt="News thumbnail" class="img news-img" src="assets/images/blog/blog-img-3.jpg" />
                              </figure>
                              <h4 class="news-card-title">We have launched support for custom domains and paid accounts!</h4>
                              <p>For the first time, you can now use your own domain name with CTemplar. This
                                  means emails sent to/from name@domain.com can go through CTemplar and benefit
                                  from end-to-end encryption. For those who wish to support CTemplar, and gain
                                  access to extra features and storage, it is now possible to upgrade to a
                                  paid account!</p>
                          </div>
                          <footer class="news-card-footer">
                              <ul class="news-meta-list">
                                  <li>Posted on 26 February 2016</li>
                                  <li>
                                      <u>14 comments</u>
                                  </li>
                              </ul>
                          </footer>
                      </div>
                  </a>
              </article>
          </div>
      </div>
      <footer class="l-block-footer text-center">
          <a href="" class="text-success">
              <em>
                  <u>Read more from our blog</u>
              </em>
          </a>
      </footer>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.OUR BLOG POSTS ENDS -->
