.ui.three.cards > .card {
  box-shadow: none;
  text-decoration: none;

  .image {
    img {
      border-radius: 4px;
    }

    .ui.ribbon.label {
      left: auto;
      right: 27px;
      padding: 5px 7px;
      text-transform: uppercase;
      border-radius: 2px;
      font-size: 10px;
      font-style: normal;

      &:after {
        border: none;
      }
    }
  }

  .content {
    border: none;
    padding: 0;
    margin-top: 15px;

    .header {
      font-size: 18px;
      font-style: normal;
      color: rgba(0, 0, 0, 0.87);
      text-decoration: none;
    }

    .description {
      font-size: 12px;
      font-style: normal;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .extra {
    font-size: 12px;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.38);
  }
}