<div class="app-mail">
  <div class="header">Add payment method</div>
  <div class="content">
    <form class="ui form">
      <div class="ui grid">
        <div class="four wide column">
          <span class="label">Type:</span>
        </div>
        <div class="twelve wide column">
          <sui-select class="selection"
                      [(ngModel)]="paymentType"
                      [ngModelOptions]="{standalone: true}"
          >
            <sui-select-option value="credit card"></sui-select-option>
          </sui-select>
        </div>
      </div>
      <div class="ui grid">
        <div class="four wide column">
          <span class="label">Name on card:</span>
        </div>
        <div class="twelve wide column">
          <input type="text">
        </div>
      </div>
      <div class="ui grid margin-top-none">
        <div class="four wide column">
          <span class="label">Card number:</span>
        </div>
        <div class="twelve wide column">
          <input type="text">
        </div>
      </div>
      <div class="ui grid margin-top-none">
        <div class="four wide column">
          <span class="label">Expiry date:</span>
        </div>
        <div class="twelve wide column">
          <div class="ui grid">
            <div class="eight wide column">
              <sui-select class="selection"
                          [(ngModel)]="month"
                          [ngModelOptions]="{standalone: true}"
              >
                <sui-select-option value="01"></sui-select-option>
              </sui-select>
            </div>
            <div class="eight wide column">
              <sui-select class="selection year-select"
                          [(ngModel)]="day"
                          [ngModelOptions]="{standalone: true}"
              >
                <sui-select-option value="2018"></sui-select-option>
              </sui-select>
            </div>
          </div>
        </div>
      </div>
      <div class="ui grid margin-top-none">
        <div class="four wide column">
          <span class="label">Security code:</span>
        </div>
        <div class="twelve wide column">
          <div class="ui grid">
            <div class="eight wide column">
              <input type="text" class="security-code">
            </div>
            <div class="eight wide column"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer align-right">
    <button class="uppercase ui button btn-small btn-blue">Add</button>
  </div>
</div>
