<!-- REUSABLE COMPONENT :: HEADER -->
<header id="mastHead" class="topnavbar fixed-top" [class.header-is-stuck]="navIsFixed"
        [ngClass]="{ 'has-menu-shown': menuIsOpened, 'topnavbar-primary': this.router.url === '/', 'topnavbar-secondary': this.router.url !== '/' }"
        role="banner">
    <div class="topnavbar__row">
        <nav class="navbar navbar-expand-lg" role="navigation">
            <div class="row align-items-center">
                <div class="col navbar-col navbar-brand-col">
                    <figure class="navbar-brand-holder">
                        <a class="navbar-brand ff-roboto text-uppercase" routerLink="/">
                            <img alt="Ctemplar Logo" class="navbar-brand-logo" src="assets/images/logo.svg"/>
                            <strong>ctemplar</strong>
                        </a>
                    </figure>
                </div>

                <div class="col navbar-col navbar-menu-col">
                    <button class="navbar-toggler" (click)="toggleState()"
                            [ngClass]="{ 'opened': menuIsOpened, 'hidden-md-up': !externalPageCallToAction, 'd-none': externalPageCallToAction }"
                            role="button" data-target="navbar-collapsable-content" aria-controls="ctemplarMenuContent"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        Menu
                    </button>

                    <div class="navbar-collapsable-content" [ngClass]="{ 'shown': menuIsOpened }"
                         [hidden]="externalPageCallToAction">
                        <ul class="navbar-nav my-0 px-0 list-style-none">
                            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <a routerLink="/" class="nav-link" (click)="closeMenu()">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/about" class="nav-link" (click)="closeMenu()">About</a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/security" class="nav-link" (click)="closeMenu()">Security</a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/pricing" class="nav-link" (click)="closeMenu()">Pricing</a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/blog" class="nav-link" (click)="closeMenu()">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://ctemplar.zendesk.com" class="nav-link" target="_blank"
                                   (click)="closeMenu()">Support</a>
                            </li>
                            <li class="nav-item hidden-sm-up">
                                <a routerLink="/signin" class="nav-link nav-action-link" (click)="closeMenu()">Login</a>
                            </li>
                            <li class="nav-item hidden-sm-up" routerLinkActive="active">
                                <a routerLink="/signup"
                                   class="nav-link nav-action-link btn btn-sm btn-gradient-primary signup-btn"
                                   (click)="closeMenu()">Sign up</a>
                            </li>
                        </ul>
                    </div>

                    <ul class="user-actions-list my-0 px-0 list-style-none"
                        [ngClass]="{ 'external-page-user-actions-list': externalPageCallToAction }">
                        <li class="user-actions-item" routerLinkActive="active"
                            [ngClass]="{ 'hidden-xs-down': !externalPageCallToAction, 'is-external-page': externalPageCallToAction }">
                            <a routerLink="/signin" class="user-actions-link">Login</a>
                        </li>
                        <li class="user-actions-item"
                            [ngClass]="{ 'hidden-xs-down': !externalPageCallToAction, 'is-external-page': externalPageCallToAction }">
                            <a routerLink="/signup"
                               class="user-actions-link btn btn-sm btn-gradient-primary signup-btn">Sign Up</a>
                        </li>
                        <li class="user-actions-item btn-dropdown" [hidden]="externalPageCallToAction">
                            <div ngbDropdown placement="bottom-right" class="lang-selector-dropdown">
                                <button class="bg-transparent" type="button" id="langDropdownMenuButton"
                                        ngbDropdownToggle>
                                    <i class="fa fa-globe hidden-xs-down"></i>En
                                </button>
                                <div ngbDropdownMenu class="text-center" aria-labelledby="langDropdownMenuButton">
                                    <a class="dropdown-item" href="">Ru</a>
                                    <a class="dropdown-item" href="">Es</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- /.REUSABLE COMPONENT :: HEADER ENDS -->