@import '../../styles/variables';

.app-header.ui.menu {
  background-color: $color-primary;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.38);

  * {
    text-transform: uppercase;
  }

  > .container {
    padding: 15px 0;

    .item, .item .btn-red {
      font-size: 12px;
      letter-spacing: 0.6px;
      font-style: normal;

      &.item.active:not(.fitted) {
        background: transparent;

        &:after {
          content: " ";
          background: $color-white;
          height: 2px;
          width: 38px;
          position: absolute;
          top: 30px;
          left: -7px;
        }
      }

      &.item:not(.fitted):hover {
        background: transparent;
        color: $color-white;
      }

      &.btn-red {
        padding: 10px 25px;
      }

      .btn-mailbox {
        margin-left: 11px;
      }
    }

    .item.header {
      font-size: 20px;
      padding: 0;
    }

    .separator {
      color: rgba(255,255,255,.7);
      position: relative;
      top: 10px;
      margin: 0 2px;
    }
  }

  &.home-header {
    background-color: transparent;
    box-shadow: none;
  }

  &.has-scroll {
    background-color: $color-primary;
    transition: background-color 0.5s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.38);
  }
}

.app-header-padding {
  padding-bottom: 75px;

  &.home-header {
    padding-bottom: 0;
  }
}
