<!-- REUSABLE COMPONENT :: FOOTER -->
<footer id="colphon" class="site-footer bg-inverse" role="contentinfo">
  <div class="container">
    <div class="row footer-widgets">
      <div class="col-6 footer-col footer-col-5">
        <div class="footer-widget">
          <div class="footer-widget-body">
            <a href="https://ctemplar.com/about" target="_blank" rel="noopener noreferrer" [translate]="'home_header.about'">About</a>
            <a href="https://ctemplar.com/blog" target="_blank" rel="noopener noreferrer" [translate]="'home_header.blog'">Blog</a>
            <a routerLink="/donate" target="_blank" [translate]="'settings.donate.name'">Donate</a>
            <a href="https://ctemplar.com/features" target="_blank" rel="noopener noreferrer" [translate]="'home_header.features'">Features</a>
            <a href="https://ctemplar.com/help" target="_blank" rel="noopener noreferrer" [translate]="'home_header.helpdesk'">Helpdesk</a>
            <a href="https://ctemplar.com/media-kit" target="_blank" rel="noopener noreferrer" [translate]="'footer.media_kit'">Media Kit</a>
          </div>
        </div>
      </div>
      <div class="col-6 footer-col footer-col-5">
        <div class="footer-widget">
          <div class="footer-widget-body">
            <a href="https://ctemplar.com/security" target="_blank" rel="noopener noreferrer" [translate]="'home_header.security'">Security</a>
            <a href="https://ctemplar.com/support" target="_blank" rel="noopener noreferrer" [translate]="'footer.support'">Support</a>
            <a href="https://ctemplar.com/privacy" target="_blank" rel="noopener noreferrer" [translate]="'footer.privacy_policy'">Privacy Policy</a>
            <a href="https://ctemplar.com/terms" target="_blank" [innerHTML]="'create_account.terms_and_conditions' | translate">Terms &amp; Conditions</a>
            <a href="https://ctemplar.com/tor-browser" target="_blank" rel="noopener noreferrer" [translate]="'home_header.tor_browser'">Tor Browser</a>
          </div>
        </div>
      </div>
      <div class="col-12 footer-col footer-col-5">
        <div class="footer-widget">
          <div class="footer-widget-body">
            <div class="footer-widget-body-title">
              Send a letter
            </div>
            <div class="address">
              Orange Project ehf Armula <br /> 
              4&amp;6 Reykjavík, 108 <br />
              Iceland
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 footer-col footer-col-5">
        <div class="footer-widget">
          <div class="footer-widget-body">
            <div class="footer-widget-body-title">
              Follow us
            </div>
            <div class="social">
              <div>
                <a href="https://www.facebook.com/CTemplarEncryption" target="_blank" rel="noopener noreferrer">
                  <i class="fa-facebook fab text-light"></i>
                </a>
                <a href="https://github.com/ctemplar" target="_blank" rel="noopener noreferrer">
                  <i class="fa-github fab text-light"></i>
                </a>
                <a href="https://linkedin.com/company/ctemplarencryption" target="_blank" rel="noopener noreferrer">
                  <i class="fa-linkedin fab text-light"></i>
                </a>
              </div>
              <div>
                <a href="https://mastodon.social/@ctemplar" target="_blank" rel="noopener noreferrer">
                  <i class="fortfa-mastodon fortfa text-light"></i>
                </a>
                <a href="https://www.reddit.com/r/ctemplar/" target="_blank" rel="noopener noreferrer">
                  <i class="fa-reddit fab text-light"></i>
                </a>
                <a href="https://twitter.com/RealCTemplar" target="_blank" rel="noopener noreferrer">
                  <i class="fa-twitter fab text-light"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4 style="text-align: center;">
      Made with
      <i class="fa-heart fa-w-16 fas text-danger"></i>
      for Human Rights
    </h4>
    <div class="footer-bottom-row text-center">
      <p class="app-credit small">
        &copy;2020
        <span [translate]="'footer.software_systems'">Templar Software Systems Ltd., a Seychelles Limited Liability Company</span>
      </p>
    </div>
  </div>
</footer>
