<!-- FOOTER SECURE EMAIL BLOCK -->
<section class="l-block secure-email-block is-clipped top top-left gap-p-sm bg-faded text-dark text-center" [hidden]="hideFooterCallToAction">
  <div class="container">
      <header class="l-block-header">
          <figure class="secure-logo-holder">
              <img alt="" class="img logo-lg" src="assets/images/logo.svg" />
          </figure>
          <div class="row justify-content-center">
              <div class="col-sm-10 col-md-7">
                  <div class="text-card">
                      <h2 class="l-block-title  mb-3 pb-1">Register
                          <strong>World’s Most Secure Email</strong> Now!</h2>
                      <h4 class="l-block-subtitile  mb-3 pb-2">Send unbreakable emails and protect your key professional and personal details trough
                          next-gen encryption.</h4>
                      <a routerLink="/signup" class="btn btn-lg btn-gradient-primary">upgrade to prime</a>
                  </div>
              </div>
          </div>
      </header>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.FOOTER SECURE EMAIL BLOCK ENDS -->

<!-- REUSABLE COMPONENT :: FOOTER -->
<footer id="colphon" class="site-footer bg-inverse" role="contetinfo">
  <div class="container">
    <div class="row footer-widgets">
      <div class="col-6 footer-col footer-col-5">
        <div class="footer-widget">
          <h4 class="footer-widget-title">CTemplar</h4>
          <div class="footer-widget-body">
            <ul class="lists lists-arrow">
              <li>
                <a routerLink="/security" >Security</a>
              </li>
              <li>
                <a routerLink="/pricing">Pricing</a>
              </li>
              <li>
                <a routerLink="/media-kit">Media-kit</a>
              </li>
              <li>
                <a routerLink="/tor-onion">Tor onion</a>
              </li>
              <li>
                <a href="">Support</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 footer-col footer-col-5">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Company</h4>
          <div class="footer-widget-body">
            <ul class="lists lists-arrow">
              <li>
                <a routerLink="/about">About</a>
              </li>
              <li>
                <a routerLink="/blog">Blog</a>
              </li>
              <li>
                <a href="">Team</a>
              </li>
              <li>
                <a href="">Careers</a>
              </li>
              <li>
                <a routerLink="/donate">Donate</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 footer-col footer-col-5">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Social</h4>
          <div class="footer-widget-body">
            <ul class="lists lists-arrow">
              <li>
                <a href="">Facebook</a>
              </li>
              <li>
                <a href="">Google+</a>
              </li>
              <li>
                <a href="">LinkedIn</a>
              </li>
              <li>
                <a href="">Reddit</a>
              </li>
              <li>
                <a href="">Twitter</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 footer-col footer-col-5">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Legal</h4>
          <div class="footer-widget-body">
            <ul class="lists lists-arrow">
              <li>
                <a routerLink="/privacy">Privacy Policy</a>
              </li>
              <li>
                <a routerLink="/terms">Terms &amp; Conditions</a>
              </li>
              <li>
                <a href="">Transparency Report</a>
              </li>
              <li>
                <a href="">Report Abuse</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 footer-col footer-col-5">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Our Address</h4>
          <div class="footer-widget-body">
            <address> Orange Project ehf
              <br/> Armula 4 &amp; 6
              <br/> Reykjavík, 108
              <br/> Iceland
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-row text-center">
      <ul class="lists lists-inline lists-dashed footer-lang-list justify-content-center">
        <li class="lists-item active">
          <a href="" class="lists-link">English</a>
        </li>
        <li class="lists-item">
          <a href="" class="lists-link">Russian</a>
        </li>
        <li class="lists-item">
          <a href="" class="lists-link">Spanish</a>
        </li>
      </ul>
      <p class="app-credit small">&copy;2018 CTemplar. All Rights Reserved.</p>
    </div>
  </div>
</footer><!-- /.REUSABLE COMPONENT :: FOOTER ENDS -->
