/*
** @partial : _include-media-config.scss, which includes configurations for viewport/media query related stuffs
*/

$breakpoints: (
  'xs': 480px,
  'xmd': 570px,
  'sm': 767px,
  'bs-ipad': 992px,
  'ipad': 1000px,
  'bs-md': 1200px,
  'laptop': 1280px,
  'desktop': 1440px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)',
);

@media (min-width: 1000px) {
  .hidden-md-up {
    display: none !important;
  }
}
.hidden-sm-down {
  display: unset !important;
}
@media (max-width: 999px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media (min-width: 767px) {
  .hidden-sm-min {
    display: none !important;
  }
}
@media (max-width: 766px) {
  .hidden-sm-max {
    display: none !important;
  }
}
// box-shadow: 0 6px 0 0 rgba(0,0,0,.01), 0 15px 32px 0 rgba(0,0,0,.06);
