.colors-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  &.spacing-top {
    margin-top: 15px;
  }

  li {
    display: inline-block;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background-color: #1abc9c;
    border: solid 1px rgba(0, 0, 0, 0.12);

    &.selected {
      .svg-icon {
        position: relative;
        top: 8px;
        left: 8px;
      }
    }
  }
}