<div class="app-mail">
  <div class="header">Create new folder</div>
  <div class="content">
    <form class="ui form">
      <div class="ui grid">
        <div class="four wide column">
          <span class="label">Name:</span>
        </div>
        <div class="twelve wide column">
          <input type="text">
        </div>
      </div>
      <div class="ui grid">
        <div class="four wide column">
          <span class="label">Select color:</span>
        </div>
        <div class="twelve wide column">
          <ul class="colors-list">
            <li class="selected">
              <svg-icon class="svg-icon" src="/assets/img/inbox/sidebar/check.svg"></svg-icon>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <ul class="colors-list spacing-top">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="footer align-right">
    <button class="uppercase ui button btn-small btn-blue">Create</button>
  </div>
</div>
