<div class="ml-3 my-3 my-sm-4">
  <h3 class="ui-header-subtitle mb-0">
    <strong *ngIf="!isEditing">Create organization</strong>
    <strong *ngIf="isEditing"> <span>Organization</span>: {{ organization.name }} </strong>
  </h3>
</div>
<div class="desc-card-body bg-faded">
  <mat-vertical-stepper [selectedIndex]="currentStep" #stepper>
    <ng-template matStepperIcon="edit">
      <i class="fa fa-check"></i>
    </ng-template>
    <!-- Domain -->
    <mat-step>
      <ng-template matStepLabel>
        <div>
          <span class="font-weight-bold" [class.green]="newOrganization?.id"> Domain </span>
          <span class="text-muted ml-2" [translate]="'settings.required'"> Required </span>
        </div>
        <span
          class="record-status px-2 py-1 font-weight-bold text-white text-small text-uppercase float-right"
          [translate]="'settings.set'"
          *ngIf="newOrganization?.id"
        >
          Set
        </span>
      </ng-template>
      <app-domain-section [domains]="domains" (next)="onNext()"></app-domain-section>
    </mat-step>
    <!-- Set up your organization -->
    <mat-step>
      <ng-template matStepLabel>
        <div>
          <span class="font-weight-bold" [class.green]="newOrganization?.id"> Set up your organization </span>
          <span class="text-muted ml-2" [translate]="'settings.required'"> Required </span>
        </div>
        <span
          class="record-status px-2 py-1 font-weight-bold text-white text-small text-uppercase float-right"
          [translate]="'settings.set'"
          *ngIf="newOrganization?.id"
        >
          Set
        </span>
      </ng-template>
      <app-organization-brief-section (next)="onNext()"></app-organization-brief-section>
    </mat-step>
    <!-- Set password -->
    <mat-step>
      <ng-template matStepLabel>
        <div>
          <span class="font-weight-bold" [class.green]="newOrganization?.id"> Set organization password </span>
          <span class="text-muted ml-2" [translate]="'settings.required'"> Required </span>
        </div>
        <span
          class="record-status px-2 py-1 font-weight-bold text-white text-small text-uppercase float-right"
          [translate]="'settings.set'"
          *ngIf="newOrganization?.id"
        >
          Set
        </span>
      </ng-template>
      <app-password-section (next)="onNext()"></app-password-section>
    </mat-step>
    <!-- Allocate storage -->
    <mat-step>
      <ng-template matStepLabel>
        <div>
          <span class="font-weight-bold" [class.green]="newOrganization?.id"> Set organization password </span>
          <span class="text-muted ml-2" [translate]="'settings.required'"> Required </span>
        </div>
        <span
          class="record-status px-2 py-1 font-weight-bold text-white text-small text-uppercase float-right"
          [translate]="'settings.set'"
          *ngIf="newOrganization?.id"
        >
          Set
        </span>
      </ng-template>
      <app-allocate-storage-section></app-allocate-storage-section>
    </mat-step>
  </mat-vertical-stepper>
  <div class="btn-group-controls mt-3">
    <button class="btn btn-outline-secondary mr-3" (click)="finishCreatingOrganization()">
      <span class="text-small" [translate]="'common.cancel'">Cancel</span>
    </button>
    <button class="btn btn-secondary" (click)="finishCreatingOrganization()">
      <span class="text-small" [translate]="'common.save'">Save</span>
    </button>
  </div>
</div>
<ng-template #nextButton>
  <div class="mt-3 mt-sm-4">
    <button class="btn btn-sm btn-secondary mr-2" *ngIf="currentStep > 1">
      <span [translate]="'settings.verify'">Verify</span>
    </button>

    <button class="btn btn-sm btn-secondary">
      <span [translate]="'settings.next'">Next</span>
    </button>
    <app-loading-spinner [showSpinner]="userState?.inProgress"></app-loading-spinner>
  </div>
</ng-template>
