section.mailbox-section
  .ui-body
    // Mail compose dialog 
    .mail-composer.is-borderd.border-bottom-0
      .mail-composer-dialog
        .mail-composer-header.hidden-sm-up
          .mail-composer-title Reply
          .mail-composer-header-actions
            .mail-actions-list
              .mail-actions-item
                button(placement='top', ngbtooltip='Minimize')
                  i.icon.icon-minimize
              .mail-actions-item
                button(placement='top', ngbtooltip='Close', (click)='hideMailComposeModal();')
                  i.icon.icon-cross
        .mail-composer-body
          form
            .mail-compose-field-group
              .mail-compose-field
                span.mail-label.label-to To:
                .list-label-tag
                  .tag-text.text-dark johndoe@gmail.com
                  span.tag-close
                    i.icon.icon-cross.icon-xs
                textarea.mail-compose-control#recepietTo(rows='1')
                .extra-mail-label
                  span.mail-label.mail-floated-label Cc
                  span.mail-label.mail-floated-label.mr-0 Bcc
              .mail-compose-field.border-bottom-0.d-none
                span.mail-label.label-cc Cc:
                textarea.mail-compose-control#recepietCc(rows='1') johndoe@gmail.com
              .mail-compose-field.d-none
                span.mail-label.label-bcc Bcc:
                textarea.mail-compose-control#recepietBcc(rows='1') johndoe@gmail.com
              .mail-compose-field
                span.mail-label.label-subject Subject:
                textarea.mail-compose-control#subject(rows='1') Re: Welcome to CTemplar!
          .mail-compose-editable-body
            .mail-compose-box.has-custom-scroll
              .mail-compose-box-inner
                .mail-compose-editable-box(contenteditable='true')
                  div(style='color: rgba(0, 0, 0, 0.87);line-height: 1.7;') You now have an inbox that is protected by strong encryption. Even we do not have the ability to read your emails. CTemplar can send and receive emails from other email providers such as Gmail. It is even possible to end-to-end encrypt the messages you send to external recipients. If your friends also use CTemplar, all your communications with them will be automatically end-to-end encrypted.
                  div(style='line-height: 1.7;')
                    br
                  div(style='color: rgba(0, 0, 0, 0.87);line-height: 1.7;') CTemplar is an open-source community-driven project and basic accounts are always free. However, the costs to run CTemplar are quite high, and we depend on support from the community to keep the service running. If you would like to support the project, you can upgrade to a paid account. Your support is essential to ensuring that CTemplar is financially stable and can continue to offer the service to the public.
                  br
        .mail-composer-footer
          .mail-composer-actions-row.d-flex.align-items-center
            .mail-composer-actions-col.mail-composer-actions-col-lg
              ul.mail-composer-actions.d-flex.align-items-center
                li
                  button.actions-btn.mail-attach-btn(placement='top', ngbtooltip='Upload attachment')
                    i.icon.icon-attachment
                li.pr-0
                  button.actions-btn.mail-envelop-btn.border-right-0.border-radius-r-0(placement='top', ngbtooltip='Mail')
                    i.icon.icon-mail
                li.px-0
                  button.actions-btn.mail-clock-btn.border-right-0.border-radius-0(placement='top', ngbtooltip='Clock')
                    i.icon.icon-clock
                li.px-0
                  button.actions-btn.mail-sign-btn.border-right-0.border-radius-0(placement='top', ngbtooltip='Signature')
                    i.icon.icon-sign
                li.pl-0
                  .dropdown(ngbDropdown, placement='top')
                    button.hide-arrow.actions-btn.mail-self-timer-btn.border-radius-l-0#delayedTimerDropdownMenu(ngbDropdownToggle, placement='top', ngbtooltip='Self Timer')
                      i.icon.icon-self-timer
                    .dropdown-menu.timer-dropdown-menu.bg-faded(ngbDropdownMenu, aria-labelledby='delayedTimerDropdownMenu')
                      button.close
                        i.icon.icon-cross
                      .timer-dropdown-content
                        .dropdown-header
                          .dropdown-menu-title.text-dark.text-center
                            strong Delayed Delivery
                        .dropdown-body
                          .timer-set-content
                            .timer-set-title Email will be sent after set time
                            .timer-set-row.d-flex.align-items-center
                              .timer-set-col
                                span.timer-set-label.ml-0 after
                                span.dropdown(ngbDropdown, placement='top')
                                  button.actions-btn.bg-white#daysTimerDropdownMenu(ngbDropdownToggle) 1
                                  .left-0(ngbDropdownMenu, aria-labelledby='daysTimerDropdownMenu')
                                    a.dropdown-link(href='') 1
                                    a.dropdown-link(href='') 2
                                    a.dropdown-link(href='') 3
                                    a.dropdown-link(href='') 4
                                    a.dropdown-link(href='') 5
                                    a.dropdown-link(href='') 6
                                    a.dropdown-link(href='') 7
                                span.timer-set-label.mr-0 Days
                              .timer-set-col
                                span.dropdown(ngbDropdown, placement='top')
                                  button.actions-btn.bg-white#hoursTimerDropdownMenu(ngbDropdownToggle) 1
                                  .left-0(ngbDropdownMenu, aria-labelledby='hoursTimerDropdownMenu')
                                    a.dropdown-link(href='') 1
                                    a.dropdown-link(href='') 2
                                    a.dropdown-link(href='') 3
                                    a.dropdown-link(href='') 4
                                    a.dropdown-link(href='') 5
                                    a.dropdown-link(href='') 6
                                    a.dropdown-link(href='') 7
                                span.timer-set-label.mr-0 Hours
                        .dropdown-footer.text-center
                          a.btn.btn-sm.btn-secondary(href='') Schedule
                li
                  .dropdown(ngbDropdown, placement='top')
                    button.hide-arrow.actions-btn.mail-dead-btn.border-radius-l-0#delayedTimerDropdownMenu(ngbDropdownToggle, placement='top', ngbtooltip='Dead Man')
                      i.icon.icon-dead
                    .dropdown-menu.timer-dropdown-menu.bg-faded(ngbDropdownMenu, aria-labelledby='delayedTimerDropdownMenu')
                      button.close
                        i.icon.icon-cross
                      .timer-dropdown-content
                        .dropdown-header
                          .dropdown-menu-title.text-dark.text-center
                            strong Dead Man's Timer
                        .dropdown-body
                          .timer-set-content
                            .timer-set-title If you do not log into your account after this set time, the email will be sent
                            .timer-set-row.d-flex.align-items-center
                              .timer-set-col
                                span.timer-set-label.ml-0 in
                                span.dropdown(ngbDropdown, placement='top')
                                  button.actions-btn.bg-white#daysTimerDropdownMenu(ngbDropdownToggle) 1
                                  .left-0(ngbDropdownMenu, aria-labelledby='daysTimerDropdownMenu')
                                    a.dropdown-link(href='') 1
                                    a.dropdown-link(href='') 2
                                    a.dropdown-link(href='') 3
                                    a.dropdown-link(href='') 4
                                    a.dropdown-link(href='') 5
                                    a.dropdown-link(href='') 6
                                    a.dropdown-link(href='') 7
                                span.timer-set-label.mr-0 Days
                              .timer-set-col
                                span.dropdown(ngbDropdown, placement='top')
                                  button.actions-btn.bg-white#hoursTimerDropdownMenu(ngbDropdownToggle) 1
                                  .left-0(ngbDropdownMenu, aria-labelledby='hoursTimerDropdownMenu')
                                    a.dropdown-link(href='') 1
                                    a.dropdown-link(href='') 2
                                    a.dropdown-link(href='') 3
                                    a.dropdown-link(href='') 4
                                    a.dropdown-link(href='') 5
                                    a.dropdown-link(href='') 6
                                    a.dropdown-link(href='') 7
                                span.timer-set-label.mr-0 Hours
                        .dropdown-footer.text-center
                          a.btn.btn-sm.btn-secondary(href='') Schedule
                li
                  button.actions-btn.mail-keyboard-btn(placement='top', ngbtooltip='Keyboard Show')
                    i.icon.icon-keyboard-show
                li
                  .dropdown(ngbDropdown, placement='top')
                    button.actions-btn.mail-typo-btn.hide-arrow#typoDropdownMenu(ngbDropdownToggle, placement='top', ngbtooltip='Typography')
                      i.icon.icon-text-color
                    .typo-actions-dropdown-menu.is-centered(ngbDropdownMenu, aria-labelledby='typoDropdownMenu')
                      .mail-comopser-typo-actions-holder
                        ul.mail-composer-actions.d-flex.align-items-center.justify-content-end
                          li.pr-0
                            .dropup(ngbDropdown, placement='top')
                              button.actions-btn.mail-font-family-btn.border-right-0.border-radius-r-0#typoFamilyDropdownMenu(ngbDropdownToggle)
                                i.icon.icon-text-size
                              .typo-family-dropdown-menu(ngbDropdownMenu, aria-labelledby='typoFamilyDropdownMenu')
                                .typo-holder
                                  ul.typo-list.list-styled
                                    li
                                      a.typo-select-link(href='') Hiragino Sans
                                    li
                                      a.typo-select-link.is-active(href='') Lato
                                    li
                                      a.typo-select-link(href='') Roboto
                                    li
                                      a.typo-select-link(href='') Abril Fatface
                                    li
                                      a.typo-select-link(href='') Andale Mono
                                    li
                                      a.typo-select-link(href='') Arial
                                    li
                                      a.typo-select-link(href='') Times New Roman
                          li.pl-0
                            .dropup(ngbDropdown, placement='top')
                              button.actions-btn.mail-font-family-btn#typoFamilyDropdownMenu(ngbDropdownToggle)
                                i.icon.icon-text-size-alt
                              .typo-size-dropdown-menu(ngbDropdownMenu, aria-labelledby='typoFamilyDropdownMenu')
                                .typo-holder
                                  ul.typo-list.list-styled
                                    li
                                      a.typo-select-link.is-small(href='') Small
                                    li
                                      a.typo-select-link.is-active.is-normal(href='') Normal
                                    li
                                      a.typo-select-link.is-large(href='') Large
                                    li
                                      a.typo-select-link.is-huge(href='') Huge
                          li.pr-0
                            button.actions-btn.mail-bold-btn.border-right-0.border-radius-r-0
                              i.icon.icon-bold
                          li.px-0
                            button.actions-btn.mail-italic-btn.border-right-0.border-radius-0
                              i.icon.icon-italic
                          li.px-0
                            button.actions-btn.mail-underline-btn.border-right-0.border-radius-0
                              i.icon.icon-underline
                          li.pl-0
                            .dropdown(ngbDropdown, placement='top')
                              button.actions-btn.mail-font-color-btn.border-radius-l-0#typoColorDropdownMenu(ngbDropdownToggle)
                                i.icon.icon-text-color
                              .left-0(ngbDropdownMenu, aria-labelledby='typoColorDropdownMenu')
                                .color-picker-holder
                                  .row
                                    .col-sm-6.mb-3.mb-sm-0
                                      .color-picker
                                        .color-picker-title
                                          strong Background Color
                                        ul.color-picker-list.d-flex.flex-wrap
                                          li
                                            .color-shape(style='background: #000000;')
                                          li
                                            .color-shape(style='background: #616161;')
                                          li
                                            .color-shape(style='background: #828282;')
                                          li
                                            .color-shape(style='background: #adadad;')
                                          li
                                            .color-shape(style='background: #d2d2d2;')
                                          li
                                            .color-shape(style='background: #e9e9e9;')
                                          li
                                            .color-shape(style='background: #ffffff;border:1px solid #e5e5e5;')
                                          li
                                            .color-shape(style='background: #730000;')
                                          li
                                            .color-shape(style='background: #ae0000;')
                                          li
                                            .color-shape(style='background: #e60000;')
                                          li
                                            .color-shape(style='background: #ff2121;')
                                          li
                                            .color-shape(style='background: #ff7676;')
                                          li
                                            .color-shape(style='background: #ffc9c9;')
                                          li
                                            .color-shape(style='background: #ffefef;')
                                          li
                                            .color-shape(style='background: #734600;')
                                          li
                                            .color-shape(style='background: #ae6200;')
                                          li
                                            .color-shape(style='background: #e66300;')
                                          li
                                            .color-shape(style='background: #ff8c21;')
                                          li
                                            .color-shape(style='background: #ffc576;')
                                          li
                                            .color-shape(style='background: #ffe9c9;')
                                          li
                                            .color-shape(style='background: #ffe9c9;')
                                          li
                                            .color-shape(style='background: #737200;')
                                          li
                                            .color-shape(style='background: #a0ae00;')
                                          li
                                            .color-shape(style='background: #e6e300;')
                                          li
                                            .color-shape(style='background: #fff621;')
                                          li
                                            .color-shape(style='background: #fdff76;')
                                          li
                                            .color-shape(style='background: #fffdc9;')
                                          li
                                            .color-shape(style='background: #ffffef;')
                                          li
                                            .color-shape(style='background: #0f7300;')
                                          li
                                            .color-shape(style='background: #0eae00;')
                                          li
                                            .color-shape(style='background: #1ee600;')
                                          li
                                            .color-shape(style='background: #21ff38;')
                                          li
                                            .color-shape(style='background: #76ff76;')
                                          li
                                            .color-shape(style='background: #c9ffd0;')
                                          li
                                            .color-shape(style='background: #effff1;')
                                          li
                                            .color-shape(style='background: #006e73;')
                                          li
                                            .color-shape(style='background: #00aeac;')
                                          li
                                            .color-shape(style='background: #00dce6;')
                                          li
                                            .color-shape(style='background: #21f4ff;')
                                          li
                                            .color-shape(style='background: #76fff4;')
                                          li
                                            .color-shape(style='background: #c9fffc;')
                                          li
                                            .color-shape(style='background: #effeff;')
                                          li
                                            .color-shape(style='background: #000173;')
                                          li
                                            .color-shape(style='background: #0016ae;')
                                          li
                                            .color-shape(style='background: #0100e6;')
                                          li
                                            .color-shape(style='background: #5555ff;')
                                          li
                                            .color-shape(style='background: #7681ff;')
                                          li
                                            .color-shape(style='background: #cdc9ff;')
                                          li
                                            .color-shape(style='background: #f1efff;')
                                          li
                                            .color-shape(style='background: #530073;')
                                          li
                                            .color-shape(style='background: #7500ae;')
                                          li
                                            .color-shape(style='background: #ba00e6;')
                                          li
                                            .color-shape(style='background: #e955ff;')
                                          li
                                            .color-shape(style='background: #de76ff;')
                                          li
                                            .color-shape(style='background: #f2c9ff;')
                                          li
                                            .color-shape(style='background: #fcefff;')
                                    .col-sm-6.mb-3.mb-sm-0
                                      .color-picker
                                        .color-picker-title
                                          strong Text Color
                                        ul.color-picker-list.d-flex.flex-wrap
                                          li
                                            .color-shape(style='background: #000000;')
                                          li
                                            .color-shape(style='background: #616161;')
                                          li
                                            .color-shape(style='background: #828282;')
                                          li
                                            .color-shape(style='background: #adadad;')
                                          li
                                            .color-shape(style='background: #d2d2d2;')
                                          li
                                            .color-shape(style='background: #e9e9e9;')
                                          li
                                            .color-shape.is-selected(style='background: #ffffff;border:1px solid #e5e5e5;')
                                          li
                                            .color-shape(style='background: #730000;')
                                          li
                                            .color-shape(style='background: #ae0000;')
                                          li
                                            .color-shape(style='background: #e60000;')
                                          li
                                            .color-shape(style='background: #ff2121;')
                                          li
                                            .color-shape(style='background: #ff7676;')
                                          li
                                            .color-shape(style='background: #ffc9c9;')
                                          li
                                            .color-shape(style='background: #ffefef;')
                                          li
                                            .color-shape(style='background: #734600;')
                                          li
                                            .color-shape(style='background: #ae6200;')
                                          li
                                            .color-shape(style='background: #e66300;')
                                          li
                                            .color-shape(style='background: #ff8c21;')
                                          li
                                            .color-shape(style='background: #ffc576;')
                                          li
                                            .color-shape(style='background: #ffe9c9;')
                                          li
                                            .color-shape(style='background: #ffe9c9;')
                                          li
                                            .color-shape(style='background: #737200;')
                                          li
                                            .color-shape(style='background: #a0ae00;')
                                          li
                                            .color-shape(style='background: #e6e300;')
                                          li
                                            .color-shape(style='background: #fff621;')
                                          li
                                            .color-shape(style='background: #fdff76;')
                                          li
                                            .color-shape(style='background: #fffdc9;')
                                          li
                                            .color-shape(style='background: #ffffef;')
                                          li
                                            .color-shape(style='background: #0f7300;')
                                          li
                                            .color-shape(style='background: #0eae00;')
                                          li
                                            .color-shape(style='background: #1ee600;')
                                          li
                                            .color-shape(style='background: #21ff38;')
                                          li
                                            .color-shape(style='background: #76ff76;')
                                          li
                                            .color-shape(style='background: #c9ffd0;')
                                          li
                                            .color-shape(style='background: #effff1;')
                                          li
                                            .color-shape(style='background: #006e73;')
                                          li
                                            .color-shape(style='background: #00aeac;')
                                          li
                                            .color-shape(style='background: #00dce6;')
                                          li
                                            .color-shape(style='background: #21f4ff;')
                                          li
                                            .color-shape(style='background: #76fff4;')
                                          li
                                            .color-shape(style='background: #c9fffc;')
                                          li
                                            .color-shape(style='background: #effeff;')
                                          li
                                            .color-shape(style='background: #000173;')
                                          li
                                            .color-shape(style='background: #0016ae;')
                                          li
                                            .color-shape(style='background: #0100e6;')
                                          li
                                            .color-shape(style='background: #5555ff;')
                                          li
                                            .color-shape(style='background: #7681ff;')
                                          li
                                            .color-shape(style='background: #cdc9ff;')
                                          li
                                            .color-shape(style='background: #f1efff;')
                                          li
                                            .color-shape(style='background: #530073;')
                                          li
                                            .color-shape(style='background: #7500ae;')
                                          li
                                            .color-shape(style='background: #ba00e6;')
                                          li
                                            .color-shape(style='background: #e955ff;')
                                          li
                                            .color-shape(style='background: #de76ff;')
                                          li
                                            .color-shape(style='background: #f2c9ff;')
                                          li
                                            .color-shape(style='background: #fcefff;')
                          li.pr-0
                            button.actions-btn.mail-align-right-btn.border-right-0.border-radius-r-0
                              i.icon.icon-text-align-right
                          li.px-0
                            button.actions-btn.mail-align-center-btn.border-right-0.border-radius-0
                              i.icon.icon-text-align-center
                          li.pl-0
                            button.actions-btn.mail-align-left-btn.border-radius-l-0
                              i.icon.icon-text-align-left
                          li.pr-0
                            button.actions-btn.mail-unorder-list-btn.border-right-0.border-radius-r-0
                              i.icon.icon-unorder-list
                          li.px-0
                            button.actions-btn.mail-order-list-btn.border-right-0.border-radius-0
                              i.icon.icon-ordered-list
                          li.px-0
                            button.actions-btn.mail-indent-decrease-btn.border-right-0.border-radius-0
                              i.icon.icon-indent-decrease
                          li.px-0
                            button.actions-btn.mail-indent-increase-btn.border-right-0.border-radius-0
                              i.icon.icon-indent-increase
                          li.pl-0
                            button.actions-btn.mail-quote-right-btn.border-radius-l-0
                              i.icon.icon-quote-right
                          li
                            button.actions-btn.mail-format-clear-btn
                              i.icon.icon-format-clear
            .mail-composer-actions-col.mail-composer-actions-col-sm
              ul.mail-composer-actions.d-flex.align-items-center.justify-content-end
                li.pr-0
                  button.actions-btn.mail-save-disk-btn.border-right-0.border-radius-r-0(placement='top', ngbtooltip='Save Disk')
                    i.icon.icon-save-disk
                li.pl-0
                  button.actions-btn.mail-garbage-btn.border-radius-l-0(placement='top', ngbtooltip='Discard Mail')
                    i.icon.icon-garbage
                li.send-mail-item
                  a.btn.btn-sm.btn-secondary.btn-mail-send.btn-xs-rounded(href='', placement='top', ngbtooltip='Send Mail')
                    i.hidden-sm-up.icon.icon-paper-plane
                    span.hidden-xs-down Send
