<!-- OUR FEATURES -->
<section class="l-block feature-block gap-p-eq pb-0 bg-white text-center">
  <div class="container">
    <div class="l-block-body mb-4 mb-sm-5 px-md">
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4 mb-sm-5 mb-md-0">
          <div class="feature-card">
            <div class="feature-card-body">
              <figure class="feature-icon-holder">
                <img alt="Lock Icon" class="img feature-icon" src="assets/images/features-icon/lock.svg" />
              </figure>
              <p>End-to-end PKI encription keeps your private information safe from governments, corporations and hackers-for-hire.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-sm-5 mb-md-0">
          <div class="feature-card">
            <div class="feature-card-body">
              <figure class="feature-icon-holder">
                <img alt="Lock Icon" class="img feature-icon" src="assets/images/features-icon/documents.svg" />
              </figure>
              <p>Safely send your financial records, contracts, lab results, journalism and more, even to non-CTemplar email
                accounts.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-sm-0">
          <div class="feature-card">
            <div class="feature-card-body">
              <figure class="feature-icon-holder">
                <img alt="Lock Icon" class="img feature-icon" src="assets/images/features-icon/shield.svg" />
              </figure>
              <p>Iceland-based servers have the world’s stricted privacy laws, so your data cannot be shared, even with the
                highest authorities.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-0">
          <div class="feature-card">
            <div class="feature-card-body">
              <figure class="feature-icon-holder">
                <img alt="Lock Icon" class="img feature-icon" src="assets/images/features-icon/mobile.svg" />
              </figure>
              <p>Easy-to-use responsive interfece makes sending secure emails quick and easy from any device.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="l-block-footer">
      <a href="" class="text-success">
        <em>
          <u>Learn more aobut CTemplar security</u>
        </em>
      </a>
    </footer>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.OUR FEATURES ENDS -->