<!-- OUR FEATURES -->
<section class="l-block feature-block gap-p-eq pb-0 bg-white text-center">
    <div class="container">
        <div class="l-block-body mb-4 mb-sm-5 px-md">
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-4 mb-sm-5 mb-md-0">
                    <div class="feature-card">
                        <div class="feature-card-body">
                            <figure class="feature-icon-holder">
                                <img alt="Lock Icon" class="img feature-icon"
                                     src="assets/images/features-icon/lock.svg"/>
                            </figure>
                            <div><b class="center">Encrypted</b></div>
                            <p>
                                We use 4096 bit encryption.
                                This protects users from current cryptography cracking techniques and future
                                hypothetical attacks.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4 mb-sm-5 mb-md-0">
                    <div class="feature-card">
                        <div class="feature-card-body">
                            <figure class="feature-icon-holder">
                                <img alt="Documents Icon" class="img feature-icon"
                                     src="assets/images/features-icon/documents.svg"/>
                            </figure>
                            <div><b class="center">100% Anonymous</b></div>
                            <p>
                                We never track your IP address,
                                keep logs on your usage or record any identifying information at any time.
                                We prove this by making our code readily available
                                <br>(<a href="https://github.com/CTemplar/webclient" target="_blank">view code</a>)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4 mb-sm-0">
                    <div class="feature-card">
                        <div class="feature-card-body">
                            <figure class="feature-icon-holder">
                                <img alt="Sheild Icon" class="img feature-icon"
                                     src="assets/images/features-icon/shield.svg"/>
                            </figure>
                            <div><b class="center">World's Strongest Legal Protection</b></div>
                            <p>
                                Iceland has the world’s strongest data privacy laws, so by using our Icelandic servers,
                                your data has the strongest legal protection in the world.
                                Drop your Swiss data plans now <br>
                                (<a href="https://blog.ctemplar.com/swiss-privacy-is-dead-icelandic-privacy-is-most-secure/" target="_blank">read more</a>)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-0">
                    <div class="feature-card">
                        <div class="feature-card-body">
                            <figure class="feature-icon-holder">
                                <img alt="Tower Icon" class="img feature-icon"
                                     src="assets/images/features-icon/tower.svg"/>
                            </figure>
                            <div><b class="center">4 Wall Protection</b></div>
                            <p>CTemplar’s exclusive 4 Wall Protection guarantees complete
                                wall-to-wall protection of your data
                                <br>(<a href="https://blog.ctemplar.com/ctemplar-4-wall-protection/" target="_blank">read more</a>)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="l-block-footer">
            <a routerLink="/security" class="text-success">
                <em>
                    <u translate="home_feature.learn_more_about_ctempler">Learn more about the security features of CTemplar </u>
                </em>
            </a>
        </footer>
    </div>
    <!-- /.Site container ends -->
</section>
<!-- /.OUR FEATURES ENDS -->