<div class="ui four column doubling stackable center aligned grid">
  <div class="column">
    <img src="/assets/img/home/lock.svg">
    <div class="ui hidden divider"></div>
    <p>End-to-end encryption keeps your private information safe from gorverments, coporations and hackers-for-hire.</p>
  </div>
  <div class="column">
    <img src="/assets/img/home/documents.svg">
    <div class="ui hidden divider"></div>
    <p>Safely send your financial records, contracts, lab results, journalism and more, even to non-CTemplar accounts.</p>
  </div>
  <div class="column">
    <img src="/assets/img/home/shield.svg">
    <div class="ui hidden divider"></div>
    <p>Iceland-based servers have the world's strictest privacy laws. Your data cannot be shared, even with the biggest agencies.</p>
  </div>
  <div class="column">
    <img src="/assets/img/home/mobile.svg">
    <div class="ui hidden divider"></div>
    <p>Easy-to-use and responsive interface makes sending secure emails from any device quick and simple.</p>
  </div>
</div>
<div class="ui center aligned basic segment">
  <a routerLink="/security">Learn more about CTemplar security</a>
</div>
