footer#mailboxFooter.mailbox-footer
  .mailbox-footer-inner
    ul.mailbox-footer-menu.justify-content-center.justify-content-sm-start
      li
        a(href='')
          u Report a bug
      li
        a(href='')
          u Terms & Privacy
      li
        a.text-primary(href='')
          u Upgrade account
