/**
* Menu scss file which includes style rules related to menu
*/

// == Navigation bar

.nav-link,
.user-actions-link {
    position: relative;
    display: inline-block;
    color: $menu-link;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    // padding-bottom: 0.15rem;
    vertical-align: middle;

    &:hover {
        color: $brand-white;
    }

    &::after {
        position: absolute;                    
        bottom: -0.15rem;
        left: 50%;
        content: "";
        background: $brand-white;
        height: 2px;
        width: 0;
        transform-origin: center;
        transform: scale3d(0, 0, 0) translateX(-50%);
        // transition: all ceaser($easeInOutQuint) 0.35s;
    }

    .active & {
        color: $brand-white;

        &::after {
            transform: scale3d(1, 1, 1) translateX(-50%);
            width: 100%;
        }
    }
}

// == In large screen
@include media(">=ipad") {
    .navbar-nav {
        position: relative;
        margin: 0 -11px;
        display: flex;
        align-items: center;

        &::after {
            position: absolute;
            top: 50%;
            right: -0.75rem;
            content: "";
            margin-top: 2px;
            border-right: 2px solid $menu-link;
            height: 12px;
            transform: translateY(-50%)
        }
    }

    .nav-item {
        padding: 0 11px;
    }

    .nav-link {
        letter-spacing: 0.6px;
    }
}

// Mobile menu
.navbar-toggler {
    position: relative;
    padding: 0 .857rem 0 1.75rem;
    background-color: transparent;
    border: 0;
    color: $brand-white;
    font-size: 0.75rem;
    text-transform: uppercase;
    outline: 0;

    &.opened .navbar-toggler-icon {
        &:nth-child(1),
        &:nth-child(4) {
            opacity: 0;
            top: 10px;
            width: 0%;
        }

        &:nth-child(2) {
            transform: rotate(45deg);
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}

.navbar-toggler-icon {
    position: absolute;
    top: 3px;//~8px;
    left: 0;
    height: 2px;
    width: 1.125rem;
    background: #fff;
    border-radius: 1px;
    opacity: 1;
    transform: rotate(0deg);
    transition: all ceaser($easeInOutQuint) 0.35s;
    
    &:nth-child(2),
    &:nth-child(3) {
        top: 8px;//~14px;
    }
    
    &:nth-child(4) {
        top: 13px; //~20px;
    }
}

// == Collapsable menu
@include media("<ipad") {
    .navbar-collapsable-content {
        position: fixed;
        top: 70px;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        pointer-events: none;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1.875rem 0.938rem;
        background: transparentize($brand-secondary, 0.1);
        letter-spacing: 0.9px;
        visibility: hidden;
        // transform: translateY(-1.2rem);
        transition: all ceaser($easeInOutQuint) 0.35s;

        .header-is-stuck & {
            top: 64px;
        }

        &.shown {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            transform: translateY(0rem);

            .nav-item {
                transform: translateY(0px);
                animation: smoothAppearance 1s ease;
                animation-fill-mode: forwards;

                // Loop through the items and add some delay.
                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) { 
                        animation-delay: (0.05s * $i);
                    }
                }
            }
        }
    }

    .nav-item {
        opacity: 0;
        text-align: center;
        transform: translateY(-100px);
        transition: all cubic-bezier(.18, 1, .21, 1) .9s;


        &:not(:last-of-type) {
            margin-bottom: 1.125rem;
        }        
    }

    .nav-link {
        // padding-bottom: 0.15rem;        
    }

    .btn.signup-btn {
        padding: 0.563rem 0.5rem;
        min-width: 100px;
        font-size: 0.75rem;
    }
}

@include media("<=sm") {
    .navbar-collapsable-content {
        top: 60px !important
    }
}

@include media("<ipad", ">sm") {
    .nav-item {
        &:not(:last-of-type) {
            margin-bottom: 1.75rem;
        }
    }

    .nav-link {
        font-size: 1.25rem;
        letter-spacing: 1.7px;

        &::after {
            bottom: -0.5rem;
        }   
    }    
}

// Animating menu items
@keyframes smoothAppearance { 
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}