{
  "plugins": ["@typescript-eslint", "prettier", "unicorn", "import"],
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": ["./tsconfig.json"] // Specify it only for TypeScript files
  },
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "import/order": ["error", { "newlines-between": "always" }],
    "no-debugger": "off",
    "no-console": 0
  }
}
