# See https://eslint.org/docs/user-guide/configuring#eslintignore for more about ignoring files.

# misc
src/environments/

# configuration
electron-main.ts
karma.conf.js
webpack.config.js
typings.d.ts
test.ts
protractor.conf.js
patch-webpack.js
electron-main.js

# spec
**/*.spec.ts

# dependencies
node-modules/

# build
.DS_Store
release/
dist/

# others
docs/
e2e/
.github/
README.md

# assets
src/assets/
src/styles/
src/assets/js/ckeditor-build/ckeditor.js
src/assets/js/ckeditor-build/ckeditor.js.map

# others
npm-debug.log*
npm-debug.log*
npm-error.log*

# test
*.spec.ts
