# IDE
.vs/
.vscode
.settings
.idea/

# NodeJS
node_modules
dist
release

# Others
.DS_Store
Thumbs.db
TODO.md

# compiled output
/tmp/
electron-main.js*

# e2e
/e2e/*.js
/e2e/*.map

# icomoon
src/assets/fonts/icomoon/libs/icomoon.zip
