# IDE
.vs/
.vscode
.settings
.idea/
.editorconfig

# NodeJS
node_modules
dist
release

# Others
.DS_Store
Thumbs.db
TODO.md
.prettierrc

# compiled output
/tmp/

# e2e
/e2e/*.js
/e2e/*.map

# icomoon
src/assets/fonts/icomoon/libs/icomoon.zip
