.tag-chip-info {
  display: inline-block;
}

.tag-chip-info:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transform-origin: center center;
}
