.tag-chip-info {
  display: inline-block;
}

.tag-chip-info:hover {
  -webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  transform-origin: center center;
}