<ng-template #popContent>
  <!-- Popover Header -->
  <div class="receiver-email-chip-popover-receiver-info">
    <div class="receiver-email-chip-popover-receiver-name">
      <a class="mr-1" href="#" ngbTooltip="Edit Contact">
        <i *ngIf="!!selectedContact" class="fas fa-edit"></i>
      </a>
      <a class="mr-1" href="#" ngbTooltip="Add Contact">
        <i *ngIf="!selectedContact" class="fas fa-plus-circle"></i>
      </a>
      {{ selectedContact ? selectedContact.name : email }}
    </div>
    <div class="receiver-email-chip-popover-receiver-email">
      {{ email }}
    </div>

  </div>
</ng-template>

<span
  [ngbPopover]="popContent"
  container="body"
  popoverClass="receiver-email-chip-popover"
  placement="bottom-left"
  autoClose="outside"
  animation="true"
  [openDelay]="300"
>
  {{ email }}
</span>