
[class*="number"] .number.stripe-error,
[class*="exp_year"] .exp_year.stripe-error,
[class*="exp_month"] .exp_month.stripe-error,
[class*="cvc"] .cvc.stripe-error {
    border-color: #c0392b;
    color: #c0392b;
}

.form-card-holder {
    max-width: 600px;
}

.cancel-subscription {
    margin-top: -2rem;
    margin-bottom: 2rem;
    text-align: left;
}
