nav.navbar.mailbox-navbar(role='navigation')
  button.navbar-toggler.hidden-sm-up(role='button')
    span.navbar-toggler-icon
    span.navbar-toggler-icon
    span.navbar-toggler-icon
    span.navbar-toggler-icon
  .row.align-items-center.mailbox-navbar-row
    .col-sm-6.mailbox-navbar-col.hidden-xs-down
      .form.search-form
        form
          .form-group.mb-0.position-relative
            input.form-control.form-control-sm(type='text', placeholder='Search')
            button.btn.btn-sm.btn-secondary.search-btn(role='button')
              i.icon.icon-search
    .col-sm-6.mailbox-navbar-col
      ul.mailbox-actions-menu.d-flex.justify-content-end
        li
          a(href='')
            i.icon.icon-login
        li.mailbox-settings.pr-sm-0
          a.border-right-0(href='')
            i.icon.icon-gear
        li.mailbox-signout.pl-sm-0
          a(href='')
            i.icon.icon-logout
        li.mailbox-lang.mailbox-dropdown.btn-dropdown
          .lang-dropdown(ngbdDropDown)
            button#langDropdownMenuButton(type='button', ngbdDropDownToggle)
              i.icon.icon-earth-globe.hidden-xs-down
              | En
            .dropdown-menu-right.text-center(ngbdDropDownMenu, aria-labelledby='langDropdownMenuButton')
              a.dropdown-item(href='') Ru
              a.dropdown-item(href='') Es
        li.mailbox-xs-search-item.hidden-sm-up
          div(ngbdDropDown)
            a(ngbdDropDownToggle, role='button')
              i.icon.icon-search
            div(ngbdDropDownMenu)
              .form.search-form
                form
                  .form-group.mb-0.position-relative
                    input.form-control.form-control-sm(type='text', placeholder='Search')
                    button.btn.btn-sm.btn-secondary.search-btn(role='button')
                      i.icon.icon-search
.header-fixed-spacer.hidden-sm-up
.l-alert.l-alert-danger.l-alert-is-floated.d-sm-inline-block.text-center.d-none(style='display: none !important;')
  .l-alert-inner
    div
      | Your message hasn't been sent because of Internet connection.    
      a(href='')
        u Try to connect
.l-alert.l-alert-warning.l-alert-is-floated.d-sm-inline-block.text-center.d-none(style='display: none !important;')
  .l-alert-inner
    div
      | The conversation has been moved to the Trash.    
      a(href='')
        u Learn more
      |    
      a(href='')
        u Undo
.l-alert.l-alert-success.l-alert-is-floated.d-sm-inline-block.text-center.d-none(style='display: none !important;')
  .l-alert-inner
    div
      | Your message has been sent.    
      a(href='')
        u View Message
