.app-mail-footer {
  margin-top: 15px;

  .links {
    padding: 5px 25px;

    a {
      border-right: 1px solid rgba(0, 0, 0, 0.38);
      font-size: 11px;
      color: rgba(0, 0, 0, 0.54);
      font-style: normal;
      margin-left: 5px;
      line-height: 7px;
      padding-right: 6px;

      &.upgrade {
        color: #e74c3c;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .last-activity {
    padding: 5px 25px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.38);

    a {
      font-size: 11px;
      color: rgba(0, 0, 0, 0.54);
      text-decoration: underline;
      font-style: normal;
    }
  }
}