// PAGE SECTION 
section.l-block.l-block-text.bg-white.gap-p-eq
  .container.container-xs
    header.l-block-header.position-relative.text-center
      .row.justify-content-center
        .col-sm-12.col-md-10.px-sm-5.px-md-0
          h1.l-block-title.text-uppercase.text-secondary
            strong Privacy Policy
    .l-block-body.px-xs
      .static-text-holder
        h3
          strong 1. Acceptance of Terms
        p
          small Welcome to xxx.com ("Service" or "Site") owned and operated by xxx. ("xxx"), a xxx Limited Liability corporation. By clicking "I Agree" on the account registration or payment page or using the Site in any way, you are agreeing to comply with and be bound by this Agreement, the Privacy Policy, and all rules, policies and disclaimers posted on the Site or about which you are notified (collectively "Terms"). If you do not agree with all the Terms, or if you are under the age of eighteen (18), do not use the Site. Please review all of the Terms carefully before using the Site.
        p
          small By using the Site, you (i) agree to be bound by the Terms, (ii) represent that you are over the age of thirteen (18) and able to form legally binding contracts, (iii) agree and acknowledge that by using the Service you are accepting a benefit that cannot be disgorged, (iv) represent that you are neither located in sanctioned country nor a prohibited person.
        p.text-uppercase
          small PLEASE NOTE THAT THESE TERMS PROVIDE THAT IF YOU AND xxx ARE UNABLE TO RESOLVE ANY DISPUTES THAT ARISE BETWEEN YOU AND xxx AND THE DISPUTE IS NOT RESOLVED INFORMALLY OR THROUGH MEDIATION, THE DISPUTE WILL BE RESOLVED BY BINDING ARBITRATION. ARBITRATION USES A NEUTRAL ARBITRATOR INSTEAD OF A JUDGE OR JURY AND IS SUBJECT TO VERY LIMITED REVIEW BY COURTS. ARBITRATORS CAN AWARD THE SAME DAMAGES AND RELIEF THAT A COURT CAN AWARD. YOU AND xxx ALSO AGREE THAT ANY CLAIMS OR DISPUTES CANNOT BE BROUGHT AS A CLASS ACTION. PLEASE CAREFULLY REVIEW THE DISPUTE RESOLUTION SECTION BELOW IF YOU DO NOT ACCEPT THE ARBITRATION PROVISION BELOW, YOU MAY NOT USE THE SITE.
        p
          small We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not disclose your personal data including your email address to third parties, categorically. There will be no sale of data. Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
        h3
          strong 2. CTemplar’s Right to Modify Terms
        p
          small CTemplar may modify any of the Terms at any time by posting them on the Site. Such posting shall constitute proper Notice. Changes shall automatically be effective upon posting; provided, however, that those changes that xxx, in its sole discretion, deems material changes to the Terms will be effective as to an existing User upon the earlier of: (1) the agreement of the User; or (2) thirty (30) days after notice to the existing User, either via email from an @xxx.com email address to the User's email address on file with xxx or via other means including but not limited to a pop-up or banner, message or other conspicuous notice on the xxx’s website. If you affirmatively agree to the new terms, your agreement will be effective immediately. You agree to make any and all necessary arrangements so that you (and not your spam filter) receive all emails from xxx’s email addresses. Your use of the Service post-notification will signify your acceptance of the changes. If you do not accept the changes, your sole and exclusive remedy is to discontinue using the Site. The latest Terms will be posted on the Site, and you should always review them prior to using the Site.
        h3
          strong 3. Membership and Security
        p
          small You must be a member to use our services. To become a member you must complete our registration process, which requires the selection of a user name and password. You agree to keep your password safe at all times and not to disclose it to any other person. You are solely responsible for the security of your computer system. xxx will not be liable for any loss that you may incur if someone else is using your account, either with or without your knowledge.
        p
          small You may not use anyone else's account, without the permission of the account holder. You agree that xxx has no responsibility or liability for the deletion, corruption or failure to store any messages or other content maintained or transmitted by any xxx service.
        h3
          strong 4. Your License to Access and Use the Services and Ownership
        p
          small The content, information, software, designs, materials, functions and data included in and contained on the Services (the "Content") are protected by intellectual property and other laws. You must comply with these and any other applicable laws when you use the Services.
        p
          small Unless indicated to the contrary and subject to your strict compliance with these Terms, you may access and use the Services only in connection with your authorized registration and any purchase of our Service. In connection with these uses, xxx grants you a limited, non-exclusive, revocable, non-assignable, personal and non-transferable license to use the Services pursuant to these Terms.
        p
          small In the event that we offer downloads of software on a Service and you download such software, the software, including any files, images incorporated in or generated by the software, and data accompanying the software (collectively, the "Software") are licensed to you by us or third-party licensors for use pursuant to the Terms.. Your use of the Software may be governed by additional terms, which may be included with the Software. Please carefully read any additional terms to determine the full extent of conditions governing the use of such Software. We do not transfer title to the Software to you. You may not copy, reproduce, distribute or otherwise exploit the Software or decompile, reverse engineer, disassemble or otherwise reduce the Software to a human-readable form. Note that if you install certain applications that may be available via the Services, you consent to the download of Software to your Internet Device and accept these Terms and any additional terms related to such application.
        p
          small We reserve all rights in the Content and the Services that we do not specifically grant in these Terms. Without limitation, you may not modify, distribute, transmit, perform, broadcast, publish, license, reverse engineer, transfer or sell, or create derivative works from, the Services or any Content unless you obtain our prior written approval. You also may not use the Services in a way that could harm us or any third party. For example, you may not use the Services in a way that could:
        ul
          li
            small what information we collect;
          li
            small how it is secured;
          li
            small how policy changes will be communicated;
          li
            small how to address concerns over misuse of personal data.
        p
          small In addition to our other legal rights, we may limit or terminate your license to use the Services, or certain features of the Services, at any time and for any reason, without prior notice to you including our belief you violated these Terms.
        h3
          strong 5. Term of Contract, Renewal, and Termination of Services
        p
          small Unless indicated to the contrary in the respective Service description, the Agreement is effective for an indefinite time. The Agreement may be terminated by either party with a notice period of one month to the end of each billing cycle. If the contract is not terminated, the contract is automatically renewed with the same billing cycle.
        p
          small This does not affect the right of xxx to terminate the Service at-will.
        p
          small The termination of additional options, particularly additional accounts or storage space, of the respective tariff leaves the general contract unaffected.
        p
          small After termination of the contract, xxx is no longer obligated to provide the contractual services. The timely storage and backup of the data, is the customer's responsibility.
        h3
          strong 6. Availability of Service
        p
          small We will make reasonable commercial efforts to ensure that our web site and our services are available 24 hours per day without any interruptions. However, we may make our web site and/or our services unavailable at any time or restrict access to parts or all of our web site, if we need to update or change our servers.
        h3
          strong 7. Payment
        p
          small Terms of any sale will be posted by xxx and agreed to by you before and sale is consummated. We accept VISA, Matercard, Bitcoin, bank transfer and PayPal. We may permanently close an account if a stolen credit card or identity was used to purchase the Service. Xxx will store your payment information for 14 days, after this period they are automatically deleted. The credit card provider may store the order information for a longer period. Anonymous payment may be made through bitcoin.
        h3
          strong 8. Delivery
        p
          small Premium service from will be delivered immediately after the payment is confirmed.
        h3
          strong 9. Refunds
        p
          small You are entitled to a full refund for any paid email-accounts during a 14 day cooling off period after the payment was made OR until the service is "used,” whichever comes first. The service provided is considered "used" when the first email is sent.
        h3
          strong 10. Terms and Conditions Specific to Mobile Applications
        p
          small
        h3
          strong
        p
          small Once you have registered as a User on the Site, you may elect to download and use any available xxx mobile application(s) (the “Apps”). By downloading and using one or more of the xxx App(s), you agree that in addition to this Agreement governing your use of the App(s), the following terms and conditions specifically applicable to your use of the App(s) (the “Mobile Terms”) also apply to you:
        ol
          li
            small     You acknowledge that the Mobile Terms and the Agreement is between you and xxx and not Apple or Google (ad defined below at “9.”) and you understand that xxx is solely responsible for the App and content thereof.
          li
            small     Your rights to use the App are limited: you may use the App on any device that you own or control as permitted by the usage rules set forth in Apple’s App Store and Google Play’s Terms of Service, but you may not transfer your rights to use the App to any other person.
          li
            small     xxx (and not Apple or Google) is solely responsible for providing any maintenance and support services with respect to the App(s) as may be required under applicable law and you acknowledge that Apple and Google have no obligation whatsoever to furnish any maintenance and support services with respect to the App(s).
          li
            small     Apple and Google are not responsible for any product warranties (if any) that may be applicable to the App, whether express or implied by law and in the event of any failure of the App, you may notify Apple or Google and Apple or Google will refund the purchase price (if any) for the App(s) to you, and to the maximum extent permitted by applicable law, neither Apple, Google nor xxx shall have any other warranty obligation whatsoever with respect to the App(s), and as between xxx and Apple or Google, other claims, losses, liabilities, damages costs or expenses attributable to any failure to conform to any warranty (if any) shall be xxx’s sole responsibility.
          li
            small     You acknowledge that as between xxx and Apple and Google, xxx (and not Apple or Google) is responsible for addressing any of your or any third party claims related to the App(s) or your possession and use of the App(s).
          li
            small     You acknowledge that in the event of any third party claim that the App(s) or your possession and use of the App(s) infringe(s) such third party’s intellectual property rights, xxx and not Apple or Google will be solely responsible for the investigation, defense, settlement, and discharge of any such intellectual property infringement claim.
          li
            small     You represent and warrant that (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.
          li
            small     Section 19 (DISPUTE RESOULTION) contains xxx’s email and mailing address where you may address questions, complaints or claims and the terms related to the App(s).
          li
            small     Section 19 (DISPUTE RESOLUTION) shall govern any dispute that may arise between you and xxx related to the App(s).
          li
            small     You acknowledge that Apple and Google and their subsidiaries (collectively, “Apple” and “Google”) are third party beneficiaries of the Agreement and upon your download of and use of the App(s) indicating your assent and agreement to the Mobile Terms, Apple will have the right (and will be deemed to have accepted the right) to enforce the Mobile Terms against you as a third party beneficiary thereof.
        h3
          strong 11. Limitation of Liabilities
        p.text-uppercase
          small IN NO EVENT SHALL xxx, ITS PARENTS, SUBSIDIARIES, OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, AGENTS, JOINT VENTURERS, CONSULTANTS, SUCCESSORS OR ASSIGNS BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, PUNITIVE OR EXEMPLARY DAMAGES (INCLUDING BUT NOT LIMITED TO LOSS OF BUSINESS, PROFITS, DATA, USE, REVENUE OR OTHER ECONOMIC ADVANTAGE), ARISING OUT OF OR IN CONNECTION WITH OUR SITE, OUR SERVICES OR THE TERMS BASED ON ANY THEORY, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE LIMITATION OF DAMAGES SET FORTH ABOVE IS A FUNDAMENTAL ELEMENT OF THE BASIS OF THE BARGAIN BETWEEN US AND YOU. THIS SITE WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS. IN NO EVENT WILL OUR LIABILITY, AND THE LIABILITY OF OUR PARENTS, SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AND SUPPLIERS, TO YOU OR ANY THIRD PARTIES IN ANY CIRCUMSTANCE EXCEED THE GREATER OF (A) THE AMOUNT PAID to XXX FOR THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY, OR (B) US$100. SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.
        h3
          strong 12. Indemnification
        p
          small You agree to indemnify and hold xxx, its parents, subsidiaries, officers, directors, shareholders, employees, agents, joint venturers, consultants, successors and assigns harmless from and against all losses, costs, liabilities and expenses including reasonable attorneys' fees, asserted by any third-party that are in any way due to or arising out of your use of or conduct on the Site.
        h3
          strong 13. Dispute Resolution
        p
          small If you have a dispute with xxx or if xxx has a dispute with you and such dispute cannot be resolved informally, such dispute will be resolved on an individual basis in accordance with the provisions set forth below:
        ol
          li
            small     Informal Resolution. Prior to initiating mediation or arbitration, the party with a grievance must: (a) Notify the other party, in writing, of the facts of the dispute and all damages claimed. Such a writing must be sent to the User’s email address on file with xxx, or xxx, 100 Main Rd., Suite 100, Anywhere, US. or support@xxx.com, whichever is applicable (“Dispute Notification”). (b) The party receiving the Dispute Notification has thirty (30) days from receipt of the Dispute Notification to respond. (c) The other party then has 15 days to consider the response and reply.
          li
            small
              |     Mediation. If the dispute is not resolved informally, either party may make a demand for mediation, with the other party’s consent, by filing a: (I) Request for AAA Online Mediation for Claims under $10,000 with the American Arbitration Association (“AAA”); or (II) Request for Mediation with the AAA. To file a request for mediation for a claim under $10,000, you must go to the following website:
              a.text-muted(href='http://www.aaamediation.com/', target='_blank') http://www.aaamediation.com/
              | . If that link does not work, please contact support@xxx.com for updated information. If you are requesting mediation for a claim that is worth $10,000 or more, you must go to the following website to file such a claim:
              a.text-muted(href='http://www.aaamediation.com/', target='_blank') http://www.aaamediation.com/
              | . If that link does not work, please contact support@xxx.com for updated information. If either party requests mediation and both parties consent to mediation, the costs of mediation will be borne equally by the parties.
          li
            small     ARBITRATION. IF MEDIATION DOES NOT OCCUR OR IF MEDIATION DOES NOT RESOLVE THE DISPUTE, THEN BOTH PARTIES AGREE TO ARBITRATE ANY DISPUTES THEY HAVE WITH THE OTHER SO LONG AS SUCH DISPUTES ARE ARISING OUT OF OR RELATED TO THIS AGREEMENT. SPECIFICALLY, YOU AGREE THAT, BY AGREEING TO THESE TERMS, THE FEDERAL ARBITRATION ACT GOVERNS SECTION 20(B) AND THAT YOU AND EPC ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY INVOLVING ALL DISPUTES, CLAIMS AND CONTROVERSIES, OF ANY SORT OR NATURE, BETWEEN US, ARISING OUT OF THE USE OF THE SITE AND WAIVING THE RIGHT TO PARTICIPATE IN A CLASS, COLLECTIVE, OR REPRESENTATIVE ACTION REGARDING ANY DISPUTE. YOU UNDERSTAND THAT THIS CONSTITUTES A WAIVER OF ANY AND ALL RIGHTS TO PURSUE ANY CLAIM IN ANY COURT. YOU AND EPC AGREE THAT ANY DISPUTE SHALL BE RESOLVED ON AN INDIVIDUAL BASIS ONLY. YOU MUST FILE ANY DEMAND FOR ARBITRATION YOU MAY HAVE WITH THE AMERICAN ARBITRATION ASSOCIATION (“AAA”). SUCH ARBITRATION IS FINAL AND BINDING AND WILL BE GOVERNED BY THE COMMERCIAL ARBITRATION RULES AND THE SUPPLEMENTARY PROCEDURES FOR CONSUMER RELATED DISPUTES (COLLECTIVELY, "AAA RULES"). THE DECISION OF THE ARBITRATOR(S) SHALL BE BINDING AND ENFORCEABLE IN ANY COURT OF COMPETENT JURISDICTION.
          li
            small     CLASS ACTION WAIVER. YOU AND xxx EXPRESSLY AGREE THAT: (i) EACH PARTY MUST BRING CLAIMS AGAINST THE OTHER ONLY IN AN INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS, MASS, COLLECTIVE, OR REPRESENTATIVE PROCEEDING; (ii) THERE SHALL BE NO CLASS CLAIMS, CONSOLIDATION, OR JOINDER ALLOWED IN ANY ARBITRATION BETWEEN THE PARTIES; AND (iii) NO CLAIMS MAY BE MADE THROUGH AN ACTION PURPORTING TO REPRESENT A CLASS OF USERS OR OTHERWISE ASSERTING CLAIMS ON BEHALF OF A CLASS (“CLASS ACTION WAIVER.
        p
          small This Dispute Resolution section shall survive termination of these Terms.
  // /.Site container ends 
// /.PAGE SECTION ENDS 
