<div class="main ui text container detailed-post">
  <div class="page heading ui center aligned basic segment">
    <h1 class="section-title">Blog</h1>
  </div>
  <div class="ui fluid rounded image">
    <div class="ui {{ post.category.color }} ribbon label">{{ post.category.name }}</div>
    <img src="{{ post.image }}">
  </div>
  <div class="extra">
    Posted on {{ post.date }} &nbsp;&nbsp;|&nbsp;&nbsp;
    {{ post.comments_count }} comments
  </div>
  <div class="ui divider"></div>
  <h1 class="ui header">{{ post.name }}</h1>
  <div class="description">
    {{ post.text }}
  </div>
</div>

<div class="ui secondary basic segment">
  <div class="comments ui text container">
    <div class="ui threaded comments">
      <h3 class="ui header">Comments</h3>
      <div *ngFor="let comment of blogService.comments" class="comment">
        <a class="avatar">
          <img src="https://ui-avatars.com/api/?name={{ comment.username }}">
        </a>
        <div class="content">
          <span class="author">{{ comment.username }}</span>
          <div class="metadata"> |
            <span class="date">{{ comment.date }}</span>
          </div>
          <div class="text">
            {{ comment.text }}
          </div>
          <!-- <div class="actions"> -->
          <!--   <a class="reply" (click)="replyTo(comment.id)">Reply</a> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <h3 class="ui header">Add Comment</h3>
      <form (ngSubmit)="addComment(); form.form.reset()" #form="ngForm" class="ui reply form comments-form">
        <input [(ngModel)]="comment.reply" #reply="ngModel" name="reply" type="hidden"> 
        <div class="field" *ngIf="usersService.signedIn()">
          <textarea [(ngModel)]="comment.text" #text="ngModel" name="text" required></textarea>
        </div>
        <button *ngIf="usersService.signedIn()" class="ui btn-blue submit button" [disabled]="!form.form.valid">
          Submit
        </button>
        <div class="not-logged" *ngIf="!usersService.signedIn()">You need to be identified to comment.</div>
      </form>
    </div>
  </div>
</div>

<div class="ui hidden section divider"></div>
<div class="last ui container">
  <h2 class="ui header blog-latest">Related <b>Posts</b></h2>
  <app-blog-latest columns="two" limit="4"></app-blog-latest>
</div>
