<!-- PAGE SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq">
    <div class="container container-sm">
        <header class="l-block-header position-relative text-center">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 position-sm-static px-sm-5 px-md-0">
                    <h1 class="l-block-title text-uppercase text-secondary">
                        <strong>Select account type</strong>
                    </h1>
                    <!-- Currency DropDown -->
                    <app-currency-dropdown></app-currency-dropdown>
                </div>
            </div>
        </header>
        <div class="l-block-body px-xs">
            <div class="package-card-holder mt-3 mt-sm-0 mt-md-5">
                <ul class="package-xs-tab list-style-none hidden-sm-up">
                    <li class="active" [class.is-active]="1 === selectedIndex">
                        <a role="button" (click)="toggleSlides(1);">Prime</a>
                    </li>
                    <li [class.is-active]="2 === selectedIndex">
                        <a role="button" (click)="toggleSlides(2);">Free</a>
                    </li>
                </ul>
                <div class="row flex-nowrap row-lg">
                    <!-- Prime Plan -->
                    <app-prime-plan [storageList]="storageList"
                                    [selectedStorage]="selectedStorage"
                                    [paymentPlans]="paymentPlans"
                                    [selectedPayment]="selectedPayment"
                                    (storageSelected)="selectedStorageHandler($event)"
                                    (paymentPlanSelected)="selectedPaymentPlanHandler($event)"></app-prime-plan>
                    <!-- Prime Plan -->
                    <app-free-plan [selectedIndex]="selectedIndex"></app-free-plan>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Site container ends -->
</section>
<!-- /.PAGE SECTION ENDS -->