<!-- PAGE SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq">
    <div class="container container-sm">
        <header class="l-block-header position-relative text-center">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 position-sm-static px-sm-5 px-md-0">
                    <h1 class="l-block-title text-uppercase text-secondary">
                        <strong>Billing Information</strong>
                    </h1>
                </div>
            </div>
        </header>
        <div class="l-block-body px-md">
            <div class="form-card-holder mx-auto">
                <div class="form">
                    <form [formGroup]="billingForm" #form="ngForm">
                        <div class="form-card-holder billing-form-card-holder form-card-holder-top-border mt-md-3">
                            <div class="form-step-card">
                                <h3 class="form-step-card-title text-dark mb-3">
                                    <strong>Overview</strong>
                                </h3>
                                <div class="billing-overview">
                                    <div class="billing-overview-row">
                                        <label class="billing-overview-label mb-0">Plan</label>
                                        <div class="billing-overview-val text-secondary">
                                            <strong>Ctemplar PRIME</strong>
                                        </div>
                                    </div>
                                    <div class="billing-overview-row">
                                        <label class="billing-overview-label mb-0">Billing</label>
                                        <div class="billing-overview-val text-secondary">
                                            <strong>Annually</strong>
                                        </div>
                                    </div>
                                    <div class="billing-overview-row">
                                        <label class="billing-overview-label mb-0">Price</label>
                                        <div class="billing-overview-val text-secondary">
                                            <strong>48.00 € </strong>(4.00€/month)
                                        </div>
                                    </div>
                                    <div class="billing-overview-row payment-method-row">
                                        <label class="billing-overview-label">Payment Method: </label>
                                        <div class="billing-overview-val text-secondary">
                                            <div class="btn-dropdown btn-dropdown-lg btn-dropdown-select">
                                                <div ngbDropdown class="payment-select-dropdown">
                                                    <button ngbDropdownToggle role="button"
                                                            id="paymentDropdownMenuButton">Stripe
                                                    </button>
                                                    <div ngbDropdownMenu aria-labelledby="paymentDropdownMenuButton">
                                                        <a class="dropdown-item text-muted"
                                                           (click)="paymentMethod = 'stripe'">
                                                            <em>Stripe (Credit/Debit Card)</em>
                                                        </a>
                                                        <a class="dropdown-item text-muted"
                                                           (click)="selectBitcoinMethod()">
                                                            <em>Bitcoin</em>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-step-card" *ngIf="paymentMethod== 'bitcoin'">
                                <h3 class="form-step-card-title text-dark mb-3">
                                    <strong>Payment Information</strong>
                                </h3>
                                <p><strong>{{count}}</strong> BTC sent after timer will be lost!</p>

                                <div class="card">
                                    <div class="card-header text-center">
                                        <h6>SEND <strong>EXACTLY</strong></h6>
                                        <h5><strong *ngIf="bitcoinState?.loaded">{{8/bitcoinState.currentUSDValue | number:'1.1-5'}}</strong></h5>
                                    </div>
                                    <div class="card-body text-center">
                                        <p class="justify-content-center">1H8CMiRts9AatSFhRVmCKtS1SqnrsznQ3S</p>
                                        <img src="../../../assets/images/qrcode.png" alt="">
                                    </div>

                                </div>
                            </div>

                            <div class="form-step-card" *ngIf="paymentMethod == 'stripe'">
                                <h3 class="form-step-card-title text-dark mb-3">
                                    <strong>Payment Information</strong>
                                </h3>
                                <div class="form-group">
                                    <label for="personName" class="d-block text-muted text-left hidden-sm-up">Name on
                                        Card</label>
                                    <input class="form-control" id="personName" placeholder="Name on Card" value="John"
                                           type="text">
                                </div>
                                <div class="form-group has-error">
                                    <span class="d-block text-right error-msg">Required field</span>
                                    <label for="cardName" class="d-block text-muted text-left hidden-sm-up">Card
                                        Number</label>
                                    <input class="form-control error" id="cardName" name="cardName"
                                           placeholder="Card Number" type="text" formControlName="cardNumber"
                                           [(ngModel)]="cardNumber"/>
                                </div>
                                <div class="form-group form-group-3-col">
                                    <div class="form-group-row">
                                        <div class="form-group-col">
                                            <label class="d-block text-muted text-left hidden-sm-up">Month</label>
                                            <div class="btn-dropdown btn-dropdown-lg btn-dropdown-select">
                                                <div ngbDropdown class=" date-select-dropdown">
                                                    <button role="button" id="dateDropdownMenuButton" ngbDropdownToggle>
                                                        {{expiryMonth}}
                                                    </button>
                                                    <div ngbDropdownMenu aria-labelledby="dateDropdownMenuButton">
                                                        <a class="dropdown-item text-muted">
                                                            <em>Date</em>
                                                        </a>
                                                        <a class="dropdown-item text-muted" *ngFor="let month of months"
                                                           (click)="selectMonth(month)">
                                                            <em>{{month}}</em>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-col">
                                            <label class="d-block text-muted text-left hidden-sm-up">Year</label>
                                            <div class="btn-dropdown btn-dropdown-lg btn-dropdown-select">
                                                <div ngbDropdown class="year-select-dropdown">
                                                    <button role="button" id="yearDropdownMenuButton" ngbDropdownToggle>
                                                        {{expiryYear}}
                                                    </button>
                                                    <div ngbDropdownMenu aria-labelledby="yearDropdownMenuButton">
                                                        <a class="dropdown-item text-muted" href="">
                                                            <em>Year</em>
                                                        </a>
                                                        <a class="dropdown-item text-muted" *ngFor="let year of years"
                                                           (click)="selectYear(year)">
                                                            <em>{{year}}</em>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-col">
                                            <label for="securityCode" class="d-block text-muted text-left hidden-sm-up">Security
                                                Code</label>
                                            <input class="form-control" id="securityCode" placeholder="Security Code"
                                                   type="text" [(ngModel)]="cvc" name="securityCode"
                                                   [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-group-2-col">
                                    <div class="form-group-row">
                                        <div class="form-group-col">
                                            <label for="zipCode" class="d-block text-muted text-left hidden-sm-up">ZIP /
                                                Postal Code</label>
                                            <input class="form-control" id="zipCode" placeholder="ZIP / Postal Code"
                                                   value="ZIP / Postal Code" type="text">
                                        </div>
                                        <div class="form-group-col">
                                            <label class="d-block text-muted text-left hidden-sm-up">Country</label>
                                            <div class="btn-dropdown btn-dropdown-lg btn-dropdown-select">
                                                <div ngbDropdown class="country-select-dropdown">
                                                    <button role="button" id="countryDropdownMenuButton"
                                                            ngbDropdownToggle>Country
                                                    </button>
                                                    <div ngbDropdownMenu aria-labelledby="countryDropdownMenuButton">
                                                        <a class="dropdown-item text-muted" href="">
                                                            <em>Country</em>
                                                        </a>
                                                        <a class="dropdown-item text-muted" href="">
                                                            <em>Afghanistan</em>
                                                        </a>
                                                        <a class="dropdown-item text-muted" href="">
                                                            <em>Belgium</em>
                                                        </a>
                                                        <a class="dropdown-item text-muted" href="">
                                                            <em>Canada</em>
                                                        </a>
                                                        <a class="dropdown-item text-muted" href="">
                                                            <em>Denmark</em>
                                                        </a>
                                                        <a class="dropdown-item text-muted" href="">
                                                            <em>Egypt</em>
                                                        </a>
                                                        <a class="dropdown-item text-muted" href="">
                                                            <em>France</em>
                                                        </a>
                                                        <a class="dropdown-item text-muted" href="">
                                                            <em>Germany</em>
                                                        </a>
                                                        <a class="dropdown-item text-muted" href="">
                                                            <em>Ireland</em>
                                                        </a>
                                                        <a class="dropdown-item text-muted" href="">
                                                            <em>USA</em>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center mt-3 mt-sm-4 mb-0">
                                <button class="btn btn-lg btn-secondary billing-submit-btn" type="submit" role="button"
                                        (click)="getToken()">Submit
                                </button>
                            </div>

                            <div class="text-holder mt-2 text-center">
                                <a href="">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Site container ends -->
</section>
<!-- /.PAGE SECTION ENDS -->