<header class="ui-header ui-header-bordered">
  <h5 class="ui-header-subtitle text-dark mb-0"><strong>Invitation codes</strong></h5>
  <a href="{{primaryWebsite}}/faq/get-an-invitation-code/"
     ngbTooltip="Learn more"
     class="learn-more-info-icon"
     target="_blank">
    <i class="far fa-question-circle"></i>
  </a>
</header>
<div class="mailbox-section-body mailbox-section-body-sm">
  <div class="form-content-holder">
    <div class="form-content-row">
      <div class="align-items-center">


        <div>
          <div class="row">
            <div class="col mb-2" align="left">
              <button type="button" ngbTooltip="Generate an invitation code"
                      (click)="generateCode()"
                      class="btn btn-sm btn-secondary"><span>Generate a code</span>
              </button>
            </div>
          </div>
          <div>
            <ul class="ui-list ui-list-styled list-styled">
              <li class="ui-list-item ui-list-item-xs-full" *ngFor="let inviteCode of inviteCodes">
                <div class="row row-xs align-items-center">
                  <div class="col-10 col-sm-8">
                    <div class="form-label text-dark mb-0">{{inviteCode.code}}</div>
                  </div>
                  <div class="col-2 col-sm-4">
                    <ul class="setting-actions-list d-flex align-items-center justify-content-end list-styled text-right">
                      <li>
                        <a role="button">
                          <i class="icon icon-garbage"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
