<header class="ui-header ui-header-bordered">
  <h5 class="ui-header-subtitle text-dark mb-0">
    <a class="anchor" aria-hidden="true" (click)="onAnchoredLink()">
      <svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
        <path
          fill-rule="evenodd"
          d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
        ></path>
      </svg>
    </a>
    <strong [translate]="'settings.invitation_codes'">Invitation Codes</strong>
  </h5>
</header>
<div class="mailbox-section-body mailbox-section-body-sm position-relative">
  <div class="form-content-holder">
    <div class="form-content-row">
      <div class="align-items-center">
        <div>
          <div class="row">
            <div class="col mb-2" align="left">
              <button
                type="button"
                ngbTooltip="Generate an invitation code"
                [disabled]="inProgress || !isPrime"
                (click)="generateCode()"
                class="btn btn-sm btn-secondary"
              >
                <span>Generate a code</span>
              </button>
            </div>
            <app-loading-spinner class="loading-spinner" [showSpinner]="inProgress"></app-loading-spinner>
          </div>
          <div>
            <div *ngIf="!isPrime" class="l-alert text-dark">
              Note: Only paid customers can generate invitation codes.
            </div>
            <div *ngIf="inviteCodes?.length > 0">
              <ul class="ui-list ui-list-styled list-styled users-list">
                <li class="ui-list-item ui-list-item-xs-full">
                  <div class="row row-xs align-items-center">
                    <div class="col-6 font-weight-bold col-item">Code</div>
                    <div class="col-3 col-item">
                      <div class="form-label mb-0 font-weight-bold">Expiration date</div>
                    </div>
                    <div class="col-3 font-weight-bold col-item">Is Used ?</div>
                  </div>
                </li>

                <li class="ui-list-item ui-list-item-xs-full" *ngFor="let inviteCode of inviteCodes">
                  <div class="row row-xs align-items-center">
                    <div class="col-6 text-dark col-item">
                      <span>{{ inviteCode.code }}</span>
                      <button mat-icon-button (click)="copyToClipboard(inviteCode.code)" class="copy-btn">
                        <i class="fas fa-copy font-20px" ngbTooltip="Copy to clipboard"></i>
                      </button>
                    </div>
                    <div class="col-3 col-item">
                      <div class="form-label text-dark mb-0">
                        {{ inviteCode.expiration_date | date: 'medium' }}
                      </div>
                    </div>
                    <div class="col-3 text-dark col-item">
                      <div class="form-label text-dark mb-0">
                        {{ inviteCode.is_used ? 'YES' : 'NO' }}
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
