@import '../../../../styles/vendors/include-media/include-media';
@import '../../../../styles/config/include-media-config';
.account-creation{
  padding: 0 !important;
  border-radius: 4px;
}
.account-creation-info{
  overflow: hidden;
  position: relative;
  min-height: 300px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.38);
  div{
    padding: 2rem 3.75rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fafafa;
  }
  h3 {
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.22;
    text-align: center;
    margin-bottom: 1rem;
    color: rgba(33, 33, 33, 0.87);
  }
  ul{
    margin: 0;
    padding: 0;
    li {
      font-family: Lato;
      line-height: 1;
      font-size: 16px;
      margin-bottom: 1rem;
      color: rgba(0, 0, 0, 0.54);
    }
  }
  @include media("<=xmd") {
    min-height: 330px;
    h3{
      line-height: 1.33;
    }
    div{
      padding: 1rem 2rem;
    }
  }
}
.info-box3 {
  li{
    i {
      color: #e74c3c;
      font-size: 14px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
.info-box2 {
  li{
    padding-left: 25px;
    position: relative;
    list-style-type: none;
    i {
      color: #e74c3c;
      font-size: 14px;
      display: inline-block;
      margin-right: 10px;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
}
