<div class="modal-body bg-faded account-creation">
  <img src="assets/images/account-creation-img.png" alt="">
  <div class="account-creation-info">
      <div class="info-box1">
        <h3 class="animated fadeInDown delay-1s">Account Creation Initiated</h3>
          <ul>
              <li class="animated fadeInLeft delay-2s">Encrypted connection between user and website verified</li>
              <li class="animated fadeInLeft delay-3s">Account creation in users browser complete</li>
              <li class="animated fadeInLeft delay-4s">Mailbox creation in users browser complete</li>
          </ul>
      </div>
      <div class="info-box2">
        <h3 class="animated fadeInDown delay-5s">Cryptographic Protection Initiated</h3>
        <ul>
            <li class="animated fadeInLeft delay-6s">Generate 4096 bit PGP Encryption Key</li>
            <li class="animated fadeInLeft delay-7s">Apply Cryptographic hash to password</li>
            <li class="animated fadeInLeft delay-8s">Receive “hash value” from cryptographic hash</li>
            <li class="animated fadeInLeft delay-9s">Apply cryptographic salt to “hash value”</li>
            <li class="animated fadeInLeft delay-10s">Your mailbox is now encrypted and password</li>
        </ul>
      </div>
  </div>
</div>