<div class="modal-body bg-faded account-creation">
  <img src="assets/images/account-creation-img.png" alt="">
  <div class="account-creation-info">
      <h3 class="animated fadeInDown delay-1s">Account Creation Initiated</h3>
      <ul>
          <li class="animated fadeInLeft delay-1s">Encrypted connection between user and website verified</li>
          <li class="animated fadeInLeft delay-2s">Account creation in users browser complete</li>
          <li class="animated fadeInLeft delay-3s">Mailbox creation in users browser complete</li>
      </ul>
  </div>
</div>