<!-- PAGE INTRO SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq pb-0 text-center">
  <div class="container">
    <header class="l-block-header text-center">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 px-sm-5 px-md-0">
          <h1 class="page-title text-uppercase text-secondary is-clipped-after">
            <strong translate="home_header.security">Security</strong> <span
                  translate="page_security.features">Features</span></h1>
        </div>
      </div>
    </header>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.PAGE INTRO SECTION ENDS -->
<section class="l-block l-block-tile pb-0 bg-faded is-clipped is-clipped-lg top top-left bottom bottom-right">
  <div class="container">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1"> 1.
              <span [translate]="'page_security.protection_from_js'"> Protection from Javascript </span>
              <sup class="fw-light" translate="page_security.ctemplar_exclusive">(CTemplar Exclusive)</sup>
            </h3>
            <p translate="page_security.js_required">
              Javascript is required to allow the encryption services. Unfortunately, Javascript is often used to serve
              people malicious code (code designed to hack you). We are the only service that protects our users from
              Javascript attacks.
              <a href="https://blog.ctemplar.com/ctemplar-checksum-implementation/" target="_blank" translate="page_security.read_more">Read more</a>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">2.
              <span translate="page_security.delete_mails">Instantly Delete Emails</span>
              <sup class="fw-light" translate="page_security.ctemplar_exclusive">(CTemplar Exclusive)</sup>
            </h3>
            <p>
             <span translate="page_security.press"> When you press </span>  <b translate="common.delete">Delete</b>,
            <span translate="page_security.data_deleted">your data is instantly deleted. Dutch, Swiss, German laws require at
              least 6 months before emails can be permanently deleted.</span>
              <a href="https://blog.ctemplar.com/icelandic-privacy-laws/" target="_blank" translate="page_security.read_more">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<section class="l-block l-block-tile pb-0 bg-white is-clipped is-clipped-lg top top-right bottom bottom-left">
  <div class="container">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">3. 100% <span translate="home_feature.anonymous">Anonymous</span>
              <sup class="fw-light" translate="page_security.ctemplar_exclusive">(CTemplar Exclusive)</sup></h3>
            <p translate="page_security.become_ghost">
              Become a ghost by signing up anonymously without a phone number and without a credit card. We do not
              record, monitor, store, log or share anything you submit (including IP’s).
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">
              4. <span translate="page_security.kill_switch">Built-in Kill Switch</span> <sup class="fw-light" translate="page_security.ctemplar_exclusive">(CTemplar Exclusive)</sup>
            </h3>
            <p translate="page_security.protect_users">
              We protect our users from malicious scripts by using SRI which makes CTemplar immune to Man-in-the-Middle
              attacks and it also make sure that even we can't serve any malicious script from our server.
              <a href="https://blog.ctemplar.com/ddos-cdn-sri/" target="_blank" translate="page_security.read_more">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>

<section class="l-block l-block-tile pb-0 bg-faded is-clipped is-clipped-lg top top-left bottom bottom-right">
  <div class="container">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">5.
              <span translate="page_security.offshore_jurisdiction">Strongest Offshore Jurisdiction </span>
              <sup class="fw-light" translate="page_security.ctemplar_exclusive">(CTemplar Exclusive)</sup>
            </h3>
            <p translate="page_security.loving_iceland_laws">
              Privacy, loving Icelandic laws protect your data. Stored safely outside the 14 Eyes and Canadian & Swiss
              data sharing MLAT treaties. Our security claims are 100% accurate and lawful.
              <a href="https://blog.ctemplar.com/icelandic-privacy-laws/" target="_blank" translate="page_security.read_more">Read more</a>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">
              6. <span translate="page_security.anti_phishing">Anti-Phishing Protection</span>
              <sup class="fw-light" translate="page_security.ctemplar_exclusive">(CTemplar Exclusive)</sup>
            </h3>
            <p translate="page_security.set_a_phrase">
              Set a phrase that will be shown in your account. This will alert you to any phishing attempts.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<section class="l-block l-block-tile pb-0 bg-white is-clipped is-clipped-lg top top-right bottom bottom-left">
  <div class="container">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">
              7. <span translate="page_security.visit_github">Load Your Visit From Github </span>
              <sup class="fw-light" translate="page_security.ctemplar_exclusive">(CTemplar Exclusive)</sup>
            </h3>
            <p translate="page_security.first_website">
              We are the first website that allows you to load your website directly from our open-source repository
              code. Try it for yourself at <a href="https://gh.ctemplar.com" target="_blank">https://gh.ctemplar.com</a>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">
              8. <span translate="page_security.anonymous_payment">Anonymous Payment</span>
              <sup class="fw-light" translate="page_security.ctemplar_exclusive">(CTemplar Exclusive)</sup>
            </h3>
            <p translate="page_security.allow_anonymous_payment">
              We allow anonymous payments using Monero. We are still building the monero payment processor so XMR
              payment are completed by contacting support. We also support automatic payment with cards and bitcoin.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>

<section class="l-block l-block-tile pb-0 bg-faded is-clipped is-clipped-lg top top-left bottom bottom-right">
  <div class="container">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">
              9. <span translate="page_security.zero_access">Zero Access Email Service </span>
              <sup class="fw-light" translate="page_security.ctemplar_exclusive">(CTemplar Exclusive)</sup>
            </h3>
            <p translate="page_security.services_claim">
              Some services claim to have “Zero Access” to your account, but they can serve users malicious scripts to
              gain access. We are not able to serve scripts to your email’s visit because of our checksum
              implementation. <a href="https://blog.ctemplar.com/ctemplar-checksum-implementation/" target="_blank"
                                 translate="page_security.read_more">Read more</a>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">
              10. <span translate="page_security.trusted_and_audited">Trusted & Audited 4096 Bit Encryption </span>
            </h3>
            <p translate="page_security.use_the_openPGP">
              We use the OpenPGP.js libraries that are trusted by hundreds of people, corporations, and governments.
              This library receives endless audits from professionals and people like you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<section class="l-block l-block-tile pb-0 bg-white is-clipped is-clipped-lg top top-right bottom bottom-left">
  <div class="container">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">11. <span translate="page_security.open_src">Open source</span></h3>
            <p><span translate="page_security.code_is_open_src">Our code is open-source on </span> &nbsp;<a href="https://github.com/CTemplar/webclient" target="_blank">Github</a>.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">12. <span translate="page_security.bare_metal">Dedicated Bare-Metal Servers</span></h3>
            <p translate="page_security.cloud_servers">Cloud servers have legal and unauthorized access risks. We use physical servers located in Iceland to
              protect your data.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>

<section class="l-block l-block-tile pb-0 bg-faded is-clipped is-clipped-lg top top-left bottom bottom-right">
  <div class="container">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">
                13. <span translate="page_security.money_back"> Money-Back Guarantee</span>
            </h3>
            <p translate="page_security.refund_policy">We have a 14-day no questions asked full refund policy.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">14. <span translate="page_security.community_audited">Community Audited</span></h3>
            <p translate="page_security.is_openly_available">Our code is openly available, and users and privacy experts continuously audit us. One time audits are
              not enough with the constant updates and changes email services require.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<section class="l-block l-block-tile pb-0 bg-white is-clipped is-clipped-lg top top-right bottom bottom-left">
  <div class="container">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">
              15. <span translate="page_security.ip_removed">IP Removed from Emails </span>
            </h3>
            <p translate="page_security.emails_untracealbe">All outgoing emails are untraceable to you. We do not know your IP, and we use CTemplar’s IP for all
              emails</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">16. <span translate="page_security.zero_knowledge">Zero-Knowledge Password Protection</span></h3>
            <p>
             <span translate="page_security.we_use">We use</span> &nbsp;  <a href="https://en.wikipedia.org/wiki/Zero-knowledge_password_proof" target="_blank"
            translate="page_security.zero_knowledge">Zero-Knowledge Password</a> &nbsp;
              <span translate="page_security.not_know_password">technology, so we do not know your password, and we are not capable of accessing
                your decrypted data.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<section class="l-block l-block-tile pb-0 bg-faded is-clipped is-clipped-lg top top-left bottom bottom-right">
  <div class="container">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-6">
          <div class=" tile-card px-md pl-md-2">
            <h3 class="l-block-title text-secondary fw-b mb-3 pb-1">
              17. <span translate="page_security.favorite_devices">On all your Favorite Devices</span>
            </h3>
            <p translate="page_security.apple_google_app">You can use our Apple or Google Play app to check your email.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
