<div class="main ui container">
  <div class="page heading ui center aligned basic segment">
    <h1 class="uppercase">Security features</h1>
  </div>
</div>

<div class="ui container">
  <div class="pt-0 ui items">
    <div class="item">
      <div class="ui large image">
        <img src="/assets/img/pages/security/one.jpg">
      </div>
      <div class="middle aligned content">
        <div class="header">
          End-to-end encryption with open-source cryptography
        </div>
        <div class="description">
          <p>Whether you're sending classified information to your accountant, business, partners, clients, news networks or simply your friends, your emails are automatically encrypted using strong Public Key Cryptography on our Icelandic servers so even we can't read them. Only you and your recipient can decode your emails.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui secondary basic segment">
  <div class="ui container">
    <div class="ui items">
      <div class="item">
        <div class="middle aligned content">
          <div class="header">
            Benefit from the world's strictest data protection laws
          </div>
          <div class="description">
            <p>Most encrypted email service providers boast about their Swiss data-centers. What they don't tell you is the Swiss government has an information sharing agreement with the USA, so your data isn't 100% secure, Iceland has zero sharing agreements and maintains the strictest data privacy laws in the world, so your data stays encrypted on our servers and nowhere else.
            </div>
          </div>
          <div class="ui large image">
            <img src="/assets/img/pages/security/two.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui container">
    <div class="ui items">
      <div class="item">
        <a class="ui large image">
          <img src="/assets/img/pages/security/three.jpg">
        </a>
        <div class="middle aligned content">
          <h2 class="header">
            100% anonymity and ZERO access to your data
          </h2>
          <div class="description">
            <p>We don't require any personal information to create your encrypted email account. Simply choose a username and password to access your email interface. For added security, we don't store your IP logs which can be traced to your anonymous email account. With CTemplar, your privacy is guaranteed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui secondary basic segment">
    <div class="ui container">
      <div class="ui items">
        <div class="item">
          <div class="middle aligned content">
            <div class="header">
              Simple-to-use interface just like a regular email account
            </div>
            <div class="description">
              <p>Unlike the old days where encrypted emailing meant complex manual encryption and private server setup, CTemplar does it all for you. Simply send and receive your emails just like a regular email account and rest assured knowing your privacy is 100% maintained.</p>
            </div>
          </div>
          <a class="ui large image">
            <img src="/assets/img/pages/security/four.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="last ui text container">
    <div class="ui items">
      <div class="item">
        <div class="center aligned content">
          <div class="ui header">
            Encrypted email to non-CTemplar emails, self-destructing messages and much more coming soon!
          </div>
          <div class="description">
            <p>Your contacts don't require a CTemplar account in order to send and receive encrypted email, they just need access to your Public Key in order to decrypt and open your messages. Though we do recommend evreryone use CTemplar email accounts for maximum security since even your stored emails and subject lines will be protected, unlike regular accounts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
