.items {
  padding: 3rem 0;
}

.main.container {
  padding-bottom: 1rem !important;
}

.last.container {
  padding-bottom: calc(6rem + 112.5px) !important;
}

.items {
  .number {
    font-size: 4.2rem;
    line-height: 5.8rem;
  }
  .header-content {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .description p{
    font-size: 1.2rem !important;
    line-height: 2rem;
  }
}

.ui.items > .item > .content {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-left: 3rem;
  color: #000000;
  & + .image {
    padding-left: 3rem;
  }
}
