<!-- PAGE SECTION -->
<section class="l-block l-block-text l-block-h-600 gap-p-eq position-relative has-cover decrypt-block">
  <div class="container position-static">
    <div class="go-back-holder">
      <a routerLink="/" class="text-white" role="button"
        ><i class="icon icon-arrow-left icon-sm mr-2"></i>Go to ctemplar.com</a
      >
    </div>
    <header
      *ngIf="isMessageExpired; else messageNotExpired"
      class="l-block-header text-center position-relative mb-md-2"
    >
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 px-sm-5 px-md-0">
          <h1 class="l-block-title text-white text-uppercase">
            <strong>This message has expired</strong>
          </h1>
        </div>
      </div>
    </header>

    <ng-template #messageNotExpired>
      <ng-container *ngIf="!message || !decryptedContent; else displayMessage">
        <header class="l-block-header text-center position-relative mb-md-2">
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10 px-sm-5 px-md-0">
              <h1 class="l-block-title text-white text-uppercase">
                <strong>Decrypt Message</strong>
              </h1>
            </div>
          </div>
        </header>
        <div class="l-block-body px-xs">
          <div class="l-content-holder l-form-content-holder mx-auto mt-md-0">
            <div class="form">
              <form
                class="decrypt-form position-relative"
                [formGroup]="decryptForm"
                (submit)="onSubmit(decryptForm.value)"
              >
                <div class="form-group">
                  <label for="password" class="d-block text-faded text-left hidden-sm-up">Message password</label>
                  <div class="input-group">
                    <input
                      #passwordInput
                      formControlName="password"
                      class="form-control form-control-lg border-right-0"
                      id="password"
                      placeholder="Message password"
                      type="password"
                      name="password"
                      aria-describedby="passwordToggle"
                    />
                    <span
                      class="input-group-addon password-toggle bg-white text-muted"
                      id="passwordToggle"
                      (click)="passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password'"
                    >
                      <i class="fa fa-eye"></i>
                    </span>
                  </div>
                  <span *ngIf="decryptForm.controls['password'].errors && showFormErrors" class="validate-message">
                    <span
                      *ngIf="decryptForm.controls['password'].errors.required"
                      [translate]="'login.password_required'"
                      >Message password is required.</span
                    >
                  </span>
                </div>
                <div *ngIf="errorMessage" class="login-form__failed l-alert l-alert-danger">{{ errorMessage }}</div>
                <div class="form-group form-user-actions mt-4 pt-sm-2 text-center">
                  <button
                    class="btn btn-gradient-primary btn-lg login-btn"
                    role="button"
                    type="submit"
                    [disabled]="isLoading"
                  >
                    Decrypt
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #displayMessage>
        <app-display-secure-message
          *ngIf="!isReplying; else replyMessage"
          [message]="message"
          [decryptedContent]="decryptedContent"
          [decryptedSubject]="decryptedSubject"
          [decryptedKey]="secureMessageState.decryptedKey"
          [hash]="hash"
          [secret]="secret"
          (reply)="onReply()"
          (expired)="onExpired()"
        ></app-display-secure-message>

        <ng-template #replyMessage>
          <app-reply-secure-message
            [sourceMessage]="message"
            *ngIf="message?.is_subject_encrypted === false || decryptedSubject"
            [hash]="hash"
            [secret]="secret"
            [senderId]="senderId"
            (cancel)="onCancelReply()"
            (replySuccess)="onReplySuccess()"
          ></app-reply-secure-message>
        </ng-template>
      </ng-template>
    </ng-template>
  </div>
</section>

<img *ngIf="isLoading" class="loading-icon" src="assets/icons/spinner.svg" />
