@import '../../../styles/base/variables';
@import '../../../styles/vendors/include-media/include-media';
@import '../../../styles/config/include-media-config';
@import '../../../styles/vendors/ceaser/ceaser-easing';

// == l-block-h-600
.l-block-h-600 {
  min-height: 27.5rem;

  @include media('>sm') {
    min-height: 29.375rem;
  }

  @include media('>=ipad') {
    min-height: 37.5rem;
  }
}

// == Go back to previous page
.go-back-holder {
  @include media('>=ipad') {
    position: absolute;
    top: 1.375rem;
    left: 0.938rem;
    line-height: 1;
  }

  @include media('>=laptop') {
    left: 1.875rem;
  }

  @include media('<ipad', '>sm') {
    margin-top: -2.188rem;
    margin-bottom: 2rem;
  }

  @include media('<=sm') {
    margin-top: -1rem;
    margin-bottom: 1.375rem;
    font-size: 0.875rem;
  }
}

.form-control {
  &:focus,
  &:focus + .input-group-addon {
    border-color: var(--dropdown-border-color) !important;
  }
}

.decrypt-block {
  background-image: url(assets/images/user-actions/decrypt_message.png);
  min-height: 90vh;
}
