@import '../../../styles/base/variables';
@import '../../../styles/vendors/include-media/include-media';
@import '../../../styles/config/include-media-config';
@import '../../../styles/vendors/ceaser/ceaser-easing';

$error-red: #e94e4c;

.main-container {
  min-height: 500px;
}

.userame-field-group {
  .form-control {
    @include media(">sm") {
      width: calc(78% - 50px);

      &.is-readonly {
        width: calc(22% - 24px);
      }
    }

    @include media("<=sm") {
      &.is-readonly {
        width: calc(100% - 48px);
      }
    }
  }

  i {
    margin-left: 10px;
  }

  .domain-separator {
    margin-left: 0.75rem;
    width: 2.25rem;
    font-size: 1.5rem;
  }

  .is-readonly {
    background: $brand-white;
    font-style: italic;
  }
}

.is-validate {
  &.input-group {
    border: 1px solid $error-red;
    border-radius: 4px;

    .form-control {
      border: 0;
    }
    .input-group-addon {
      border: 0;
    }
  }
  label::before {
    border-color: $error-red;
  }
}

.signup-form {
  position: relative;
  padding-top: 5px;
  .validate-message {
    display: block;
    margin-bottom: 0.375rem;
    color: $error-red !important;
    font-size: 0.875rem;
    text-align: left;
  }

  &__failed {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    text-align: center;
    color: $error-red;
  }
  .email-input {
    border: none !important;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

// == Key generator modal
.progress-label {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.progress-sm {
  .progress-bar {
    height: 0.875rem;
  }
}

.captcha_ok {
  margin-top: 22px !important;
  margin-left: 6px !important;
}

.password-toggle, .confirmpasswordToggle {
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;

}

.username-availability-spinner {
  position: absolute;
  right: -18px;
}

.refresh-icon {
  color: black;
  margin-left: 5px;
  vertical-align: bottom;
  cursor: pointer;

  &:hover {
    color: rgba(107, 107, 107, 0.79);
  }
}

.captcha_image {
  height: 90px;
  display: inline-block;

  img {
    height: 90px;
  }
}
