<!-- Signature Section -->
<section class="mailbox-section">
  <header class="ui-header ui-header-bordered">
    <h5 class="ui-header-subtitle text-dark mb-0">
      <strong [translate]="'settings.signature'">Signature</strong>
    </h5>
  </header>
  <div class="mailbox-section-body mailbox-section-body-sm">
    <div class="form-content-holder">
      <div class="form-content-row">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <label class="form-label mb-sm-0" [translate]="'settings.keys.email_address'"> E-mail address </label>
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="btn-dropdown btn-dropdown-select">
              <div ngbDropdown class="dropdown-sm">
                <button ngbDropdownToggle class="dropdown-toggle" id="signatureEmailAddressDropdownMenuButton" role="button">
                  {{ selectedMailboxForSignature?.email }}
                </button>
                <div ngbDropdownMenu aria-labelledby="signatureEmailAddressDropdownMenuButton">
                  <a class="dropdown-item" *ngFor="let mailbox of mailboxes" (click)="selectedMailboxForSignature = mailbox">{{ mailbox.email }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="selectedMailboxForSignature">
        <div class="form-content-row">
          <div class="row align-items-center">
            <div class="col-sm-3">
              <label for="displayName" class="form-label mb-sm-0" [translate]="'settings.display_name'"> Display name </label>
            </div>
            <div class="col-sm-7 col-md-5">
              <input class="form-control form-control-sm" id="displayName" type="text" maxlength="32" [value]="selectedMailboxForSignature.display_name" (change)="updateMailboxSettings(selectedMailboxForSignature, 'display_name', $event.target.value)" [placeholder]="'settings.display_name' | translate" />
            </div>
          </div>
        </div>
        <div class="form-content-row">
          <div class="row align-items-center">
            <div class="col-sm-3">
              <label for="signature" class="form-label mb-sm-0" [translate]="'settings.signature'"> Signature </label>
            </div>
            <div class="col">
              <quill-editor id="signature" [ngModel]="selectedMailboxForSignature.signature" (ngModelChange)="onSignatureChange($event)" [modules]="quillModules" (onBlur)="signatureFocused(false)" (onFocus)="signatureFocused(true)" [disabled]="!userState.isPrime" [ngbTooltip]="!userState.isPrime && ('settings.upgrade_to_paid' | translate)"> </quill-editor>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Will be used later -->
      <div class="form-content-row" *ngIf="false">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <label class="form-label mb-sm-0" [translate]="'settings.load_embedded_content'"> Load embedded content </label>
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="row row-sm">
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="embeddedContentField1" name="[6]" type="radio" (click)="updateSettings('embed_content', true)" [checked]="settings?.embed_content" />
                  <label for="embeddedContentField1" [translate]="'common.yes'">Yes</label>
                </div>
              </div>
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="embeddedContentField2" name="[6]" type="radio" (click)="updateSettings('embed_content', false)" [checked]="!settings?.embed_content" />
                  <label for="embeddedContentField2" [translate]="'common.no'">No</label>
                </div>
              </div>
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="embeddedContentField3" name="[6]" type="radio" disabled />
                  <label for="embeddedContentField3" [translate]="'settings.only_images'"> Only images </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Will be used later -->
      <div class="form-content-row" *ngIf="false">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <label class="form-label mb-sm-0" [translate]="'settings.show_snippets'"> Show snippets </label>
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="row row-sm">
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="showSnippetsField1" name="[7]" type="radio" (click)="updateSettings('show_snippets', true)" [checked]="settings?.show_snippets" />
                  <label for="showSnippetsField1" [translate]="'common.yes'">Yes</label>
                </div>
              </div>
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="showSnippetsField2" name="[7]" type="radio" (click)="updateSettings('show_snippets', false)" [checked]="!settings?.show_snippets" />
                  <label for="showSnippetsField2" [translate]="'common.no'">No</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Aliases Section -->
<section class="mailbox-section">
  <header class="ui-header ui-header-bordered">
    <h5 class="ui-header-subtitle text-dark mb-0">
      <strong [translate]="'settings.addresses'">Aliases</strong>
    </h5>
  </header>
  <div class="mailbox-section-body mailbox-section-body-sm">
    <div class="form-content-holder">
      <div class="mb-3 row">
        <div class="col-6">
          <button type="button" *ngIf="mailboxes?.length < settings?.email_count" (click)="onAddNewAddress()" class="btn btn-sm btn-secondary">
            <span [translate]="'settings.add_address'">Add Alias</span>
          </button>
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-sm btn-secondary" (click)="startReorder()" *ngIf="!reorder && mailboxes?.length > 1" [ngbTooltip]="'settings.reorder_addresses' | translate" [translate]="'settings.reorder'">Reorder Aliases</button>
        </div>
      </div>
      <ul class="ui-list ui-list-styled list-styled addresses-list">
        <li *ngIf="newAddressOptions.isAddingNew" class="ui-list-item ui-list-item-xs-full">
          <form class="signup-form" [formGroup]="newAddressForm" #form="ngForm">
            <div class="row row-xs align-items-center">
              <div class="col-sm-10">
                <div class="form-group mb-0">
                  <div
                    class="form-inline userame-field-group"
                    [ngClass]="{
                      'is-validate': newAddressForm.controls.username.invalid && (newAddressForm.controls.username.touched || newAddressOptions.isSubmitted)
                    }"
                  >
                    <input class="form-control text-dark mb-3 mb-sm-0" id="new-address-username" [placeholder]="'create_account.choose_username' | translate" type="text" name="username" formControlName="username" />
                    <span class="domain-separator text-center text-dark">@</span>
                    <div class="btn-dropdown btn-dropdown-select">
                      <div ngbDropdown class="dropdown-sm">
                        <button ngbDropdownToggle class="dropdown-toggle custom-domains-dropdown" id="custom-domains" role="button">
                          <div>{{ newAddressForm.get('domain').value }}</div>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="signatureEmailAddressDropdownMenuButton">
                          <a class="dropdown-item" *ngFor="let customDomain of customDomains" (click)="onDomainChange(customDomain)">
                            {{ customDomain }}
                          </a>
                        </div>
                      </div>
                    </div>
                    <ng-container *ngIf="newAddressOptions.isBusy || mailBoxesState?.inProgress; else showIcons">
                      <app-loading-spinner [showSpinner]="true"></app-loading-spinner>
                    </ng-container>
                    <ng-template #showIcons>
                      <i class="fas fa-check green" *ngIf="newAddressOptions.usernameExists === false && !newAddressForm.controls['username'].errors"></i>
                      <i class="fas fa-times text-danger" *ngIf="newAddressOptions.usernameExists === true || (newAddressForm.controls['username'].errors && newAddressForm.controls['username'].touched && newAddressOptions.isSubmitted)"></i>
                    </ng-template>
                  </div>
                  <ng-container *ngIf="newAddressForm.controls['username'].errors && (newAddressForm.controls['username'].touched || newAddressOptions.isSubmitted); else usernameExistsBlock">
                    <span class="validate-message" *ngIf="newAddressForm.controls['username'].errors; else usernameRequiredError">
                      <ng-container *ngIf="newAddressForm.controls['username'].errors.pattern; else usernameLengthBlock">
                        <span [translate]="'settings.username_allowed_chars'"> The username must start with a letter and end with a letter or number.It may only contain </span>
                        <em>a-z</em>, <em>A-Z</em>, <em>0-9</em> or <em>._-</em>
                        <span [translate]="'settings.username_minlen'" *ngIf="!isCustomDomainSelected; else customDomainsUserNameMinLenBlock"> ‌characters, and minimum length is 2 characters. </span>
                        <ng-template #customDomainsUserNameMinLenBlock>
                          <span>‌characters, and minimum length is 1 character.</span>
                        </ng-template>
                      </ng-container>
                      <ng-template #usernameLengthBlock>
                        <ng-container *ngIf="newAddressForm.controls['username'].errors.minlength || newAddressForm.controls['username'].errors.maxlength">
                          <span [translate]="'settings.username_chars'" *ngIf="!isCustomDomainSelected; else customDomainsUserNameLenBlock"> The username must be between 2 and 64 characters. </span>
                          <ng-template #customDomainsUserNameLenBlock>
                            <span>The username must be between 1 and 64 characters.</span>
                          </ng-template>
                        </ng-container>
                      </ng-template>
                    </span>
                    <ng-template #usernameRequiredError>
                      <span class="validate-message" [translate]="'settings.username_required'"> The username is required. </span>
                    </ng-template>
                  </ng-container>
                  <ng-template #usernameExistsBlock>
                    <span *ngIf="newAddressOptions.usernameExists === true" class="validate-message" [translate]="'settings.alias_exist'"> Email alias already exists. </span>
                  </ng-template>
                </div>
              </div>
              <div class="col-sm-2">
                <ul class="setting-actions-list d-flex align-items-center justify-content-end list-styled text-right">
                  <li>
                    <button class="btn-link cursor-pointer" (click)="submitNewAddress()" [disabled]="newAddressOptions.isBusy">
                      <span [translate]="'settings.add'">Add</span>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="btn-link p-0" (click)="onDiscardNewAddress()" role="button" [disabled]="newAddressOptions.isBusy">
                      <i class="icon icon-garbage"></i>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </li>
        <li class="ui-list-item ui-list-item-xs-full" *ngFor="let mailbox of mailboxes; let i = index">
          <div class="row row-xs align-items-center">
            <div class="col-10 col-sm-8">
              <div class="form-label text-dark mb-0">
                {{ mailbox.email }}
                <span *ngIf="mailbox.is_default" class="badge badge-default" [translate]="'settings.primary'"> Primary </span>
                <span *ngIf="!mailbox.is_enabled" class="badge badge-danger" [translate]="'common.disabled'"> Disabled </span>
              </div>
            </div>
            <div class="col-2 col-sm-4 row">
              <div class="col" align="right" *ngIf="reorder">
                <i class="fas fa-chevron-up cursor-pointer mr-2" [class.hidden]="i === 0" [ngbTooltip]="'settings.move_up' | translate" (click)="sortUp(i)"> </i>
                <i class="fas fa-chevron-down cursor-pointer" [class.hidden]="i === mailboxes.length - 1" [ngbTooltip]="'settings.move_down' | translate" (click)="sortDown(i)"> </i>
              </div>
              <ul *ngIf="!reorder && !mailbox.inProgress" class="col setting-actions-list d-flex align-items-center justify-content-end list-styled text-right">
                <li *ngIf="false">
                  <button type="button" role="button" class="btn-link" (click)="updateDefaultEmailAddress(mailbox)">
                    <span [translate]="'settings.make_default'">Make Default</span>
                  </button>
                </li>
                <li *ngIf="mailbox.is_enabled && !mailbox.is_default">
                  <button type="button" role="button" class="btn-link" (click)="updateMailboxSettings(mailbox, 'is_enabled', false)">
                    <span [translate]="'settings.disable'">Disable</span>
                  </button>
                </li>
                <li *ngIf="!mailbox.is_enabled">
                  <button type="button" role="button" class="btn-link" (click)="updateMailboxSettings(mailbox, 'is_enabled', true)">
                    <span [translate]="'settings.enable'">Enable</span>
                  </button>
                </li>
                <li>
                  <button type="button" role="button" class="btn-link" (click)="onSetAutocrypt(mailbox)">
                    <span>Autocrypt</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div align="right" *ngIf="reorder">
        <app-loading-spinner [showSpinner]="reorderInProgress"></app-loading-spinner>
        <button class="btn btn-sm btn-primary mr-1" [disabled]="reorderInProgress" (click)="cancelOrder()">
          <span [translate]="'common.cancel'">Cancel</span>
        </button>
        <button class="btn btn-sm btn-secondary" [disabled]="reorderInProgress" (click)="saveOrder()">
          <span [translate]="'settings.save_order'">Save order</span>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Keys Section -->
<section class="mailbox-section">
  <header class="ui-header ui-header-bordered">
    <h5 class="ui-header-subtitle text-dark mb-0">
      <strong [translate]="'settings.keys.name'">Keys</strong>
    </h5>
  </header>
  <div class="mailbox-section-body mailbox-section-body-sm">
    <div class="form-content-holder">
      <div class="mb-3 row">
        <div class="col-6">
          <button type="button" (click)="onAddNewKey()" class="btn btn-sm btn-secondary">
            <span>Add New Key</span>
          </button>
          <button type="button" (click)="onImportKey()" class="btn btn-sm btn-secondary ml-2">
            <span>Import Key</span>
          </button>
        </div>
      </div>
      <div class="mailbox-list-container">
        <div class="row mailbox-list-header">
          <div class="col-5 mailbox-list-header-item">
            <label class="form-label" [translate]="'settings.keys.email'"> Email </label>
          </div>
          <div class="col-5 mailbox-list-header-item">
            <label class="form-label" [translate]="'settings.keys.fingerprint'"> Fingerprint </label>
          </div>
          <div class="col-2 mailbox-list-header-item">
            <label class="form-label" [translate]="'settings.keys.key_type'"> Key Type </label>
          </div>
        </div>
        <div class="row mailbox-list-row" *ngFor="let mailbox of mailboxes; let i = index">
          <div class="col-5 mailbox-list-row-item show-ellipses">
            <i *ngIf="!aliasKeyExpandedStatus[i]" class="fa fa-chevron-right mr-2" (click)="aliasKeyExpandedStatus[i] = !aliasKeyExpandedStatus[i]" [attr.aria-expanded]="aliasKeyExpandedStatus[i]"></i>
            <i *ngIf="aliasKeyExpandedStatus[i]" class="fa fa-chevron-down mr-2" (click)="aliasKeyExpandedStatus[i] = !aliasKeyExpandedStatus[i]" [attr.aria-expanded]="aliasKeyExpandedStatus[i]"></i>
            {{ mailbox.email }}
          </div>
          <div class="col-5 mailbox-list-row-item show-ellipses">
            {{ mailbox.fingerprint }}
          </div>
          <div class="col-2 mailbox-list-row-item">RSA 4096 BIT</div>
          <div class="col-12 key-list-container" #collapse="ngbCollapse" [(ngbCollapse)]="!aliasKeyExpandedStatus[i]" *ngIf="mailboxKeysMap.has(mailbox.id) && mailboxKeysMap.get(mailbox.id).length > 0">
            <div class="row key-list-header">
              <div class="col-6 key-list-header-item" [translate]="'settings.keys.fingerprint'">Fingerprint</div>
              <div class="col-2 key-list-header-item" [translate]="'settings.keys.key_type'">Key Type</div>
              <div class="col-2 key-list-header-item text-center" [translate]="'settings.keys.status'">Status</div>
              <div class="col-2 key-list-header-item"></div>
            </div>
            <div class="row key-list-row" *ngFor="let key of mailboxKeysMap.get(mailbox.id)">
              <div class="col-6 key-list-row-item show-ellipses">
                {{ key.fingerprint }}
              </div>
              <div class="col-2 key-list-row-item">
                {{ key.key_type === 'RSA4096' || !key.key_type ? 'RSA 4096' : 'ECC' }}
              </div>
              <div class="col-2 key-list-row-item text-center">
                <span *ngIf="key.is_primary" class="badge badge-default" [translate]="'settings.primary'"> Primary </span>
                <a *ngIf="!key.is_primary" [ngbTooltip]="'settings.keys.set_as_primary' | translate" (click)="onSetPrimary(key)"><i class="far fa-check-circle cursor-pointer" aria-hidden="true"></i></a>
              </div>
              <div class="col-2 key-list-row-item text-left">
                <a (click)="onDownloadKey(key, mailbox)" ngbTooltip="Download Key"><i class="fa fa-download cursor-pointer mr-2" aria-hidden="true"></i></a>
                <a *ngIf="!key.is_primary" [ngbTooltip]="'settings.keys.remove_key' | translate" (click)="onRemoveKey(key)"><i class="far fa-trash-alt cursor-pointer" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Download Keys Modal-->
<ng-template #downloadKeyModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark" id="createFoldersModalLabel">
      <strong [translate]="'settings.keys.download_key'">Download Key</strong>
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div>
      <p class="text-holder text-dark text-medium">{{ 'settings.keys.download_key_description' | translate }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-holder text-dark text-medium">
      <div class="mx-auto mt-2 pt-sm-2">
        <a #downloadPrivateKeyRef [href]="selectedMailboxPrivateKey | safe: 'url'" class="d-none" [download]="'privatekey.' + this.pickedMailboxForUpdate.email + '.asc'"></a>
        <button type="button" class="btn btn-sm mr-2" (click)="downloadPrivateKeyRef.click()" [translate]="'settings.keys.private_key' | translate">Private Key</button>
        <a #downloadPublicKeyRef [href]="selectedMailboxPublicKey | safe: 'url'" class="d-none" [download]="'publickey.' + this.pickedMailboxForUpdate.email + '.asc'"></a>
        <button type="button" class="btn btn-secondary btn-sm" (click)="downloadPublicKeyRef.click()" [translate]="'settings.keys.public_key' | translate">Public Key</button>
      </div>
    </div>
  </div>
</ng-template>

<!--Add New Keys Modal-->
<ng-template #addNewKeyModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark" id="createFoldersModalLabel">
      <strong [translate]="'settings.keys.add_new_key'">Add New Key</strong>
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mt-3 px-3">
      <div>
        <p class="text-holder text-dark text-medium" [translate]="'settings.keys.add_new_key_mailbox_desc'">Please select a mailbox that you want to add new key</p>
      </div>
      <div class="form-content-row mt-1">
        <div class="btn-dropdown btn-dropdown-select">
          <div ngbDropdown class="dropdown-sm">
            <button type="button" ngbDropdownToggle id="filterParameterDropdownMenuBtn" role="button" [disabled]="!selectedMailboxForAddNewKey">
              <span> {{ selectedMailboxForAddNewKey.email }} </span>
            </button>
            <div ngbDropdownMenu aria-labelledby="filterParameterDropdownMenuBtn">
              <a *ngFor="let mailbox of mailboxes" class="dropdown-item text-medium" (click)="onSelectMailboxForAddNewKey(mailbox)">
                <span>{{ mailbox.email }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="form-content-row">
        <div>
          <p class="text-holder text-dark text-medium" [translate]="'settings.keys.add_new_key_keytype_desc'">Please select a key type</p>
        </div>
        <div class="flex-auto-col">
          <div class="fancy-field-group">
            <input class="d-none fancy-field-control fancy-field-control-sm" id="keyType1" name="[1]" type="radio" [checked]="true" (click)="selectedKeyTypeForAddNewKey = 'RSA 4096'" />
            <label for="keyType1">RSA 4096</label>
          </div>
        </div>
        <div class="flex-auto-col">
          <div class="fancy-field-group">
            <input class="d-none fancy-field-control fancy-field-control-sm" id="keyType2" name="[1]" type="radio" [checked]="false" (click)="selectedKeyTypeForAddNewKey = 'ECC'" />
            <label for="keyType2">ECC</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-holder text-dark text-medium">
      <div class="mx-auto mt-2 pt-sm-2">
        <app-loading-spinner [showSpinner]="isGeneratingKeys || mailboxKeyInProgress"></app-loading-spinner>
        <button type="button" class="btn btn-secondary btn-sm" (click)="onGenerateKeys()" [disabled]="mailboxKeyInProgress || isGeneratingKeys">
          {{ isGeneratingKeys || mailboxKeyInProgress ? 'Generating Keys...' : 'Generate Keys' }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!--Delete Key Confirm Modal-->
<ng-template #deleteKeyConfirmModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark" id="createFoldersModalLabel">
      <strong [translate]='"settings.keys.delete_key_title"'>Are you sure to delete this key?</strong>
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div>
      <p class="text-holder text-medium text-danger" [translate]='"settings.keys.delete_key_desc"'>After deleted this key, you will not be able to decrypt any message that was encrypted with this key. It may lead to data loss.</p>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-holder text-dark text-medium">
      <div class="mx-auto mt-2 pt-sm-2">
        <app-loading-spinner [showSpinner]="mailboxKeyInProgress"></app-loading-spinner>
        <button type="button" class="btn btn-secondary btn-sm" (click)="onConfirmDeleteKey()" [disabled]="mailboxKeyInProgress" [translate]='"settings.keys.delete_key_confirm"'>Yes, I am sure</button>
      </div>
    </div>
  </div>
</ng-template>

<!--Primary Key Change Confirm Modal-->
<ng-template #setPrimaryKeyConfirmModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark" id="createFoldersModalLabel">
      <strong [translate]='"settings.keys.update_primary_key"'>Update Primary Key</strong>
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div>
      <p class="text-holder text-medium text-dark">After changed the primary key, all of messages with this alias will be encrypted with this key. Primary key will always be placed in the top of the key list. Are you sure you want to continue?</p>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-holder text-dark text-medium">
      <div class="mx-auto mt-2 pt-sm-2">
        <app-loading-spinner [showSpinner]="mailboxKeyInProgress"></app-loading-spinner>
        <button type="button" class="btn btn-secondary btn-sm" (click)="onConfirmSetPrimaryKey()" [disabled]="mailboxKeyInProgress" [translate]='"settings.keys.make_as_primary"'>Make as Primary</button>
      </div>
    </div>
  </div>
</ng-template>

<!--Set Autocrypt Confirm Modal-->
<ng-template #setAutocryptConfirmModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark" id="setAutocryptConfirmModalLabel">
      <strong>{{ 'settings.manage_autocrypt' | translate }}</strong>
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div>
      <p class="text-holder text-dark text-medium">
        {{ 'settings.manage_autocrypt_description' | translate }}
        <a href="{{ primaryWebsite }}/help/autocrypt/" target="_blank" rel="noopener noreferrer">{{ 'mail_header.learn_more' | translate }}</a>
      </p>
    </div>
    <div class="mt-3">
      <!-- Encryption Flag section -->
      <div class="form-content-row mb-3">
        <div class="row align-items-center">
          <div class="col-sm-4">
            <label class="form-label mb-0" [translate]="'settings.set_autocrypt'"> Set Autocrypt </label>
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="row row-sm">
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="isEncrypt1" name="[1]" type="radio" [checked]="selectedMailboxForAutocrypt.is_autocrypt_enabled" (click)="onClickAutocrypt(true)" />
                  <label for="isEncrypt1" [translate]="'common.enabled'">Enabled</label>
                </div>
              </div>
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="isEncrypt2" name="[1]" type="radio" [checked]="!selectedMailboxForAutocrypt.is_autocrypt_enabled" (click)="onClickAutocrypt(false)" />
                  <label for="isEncrypt2" [translate]="'common.disabled'">Disabled</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Encryption Scheme section -->
      <div class="form-content-row mt-3 mb-2">
        <div class="row">
          <div class="col-sm-4">
            <label class="form-label mb-sm-0" [translate]="'settings.prefer_encrypt'"> Prefer Encrypt </label>
            <a href="{{ primaryWebsite }}/help/autocrypt/prefer-encrypt" target="_blank" rel="noopener noreferrer">
              <i class="fas fa-info-circle ml-1" [ngbTooltip]="'settings.prefer_encrypt_description' | translate"></i>
            </a>
          </div>
          <div class="col-sm-8">
            <div class="btn-dropdown btn-dropdown-select">
              <div ngbDropdown class="dropdown-sm">
                <button type="button" ngbDropdownToggle id="preferEncryptDropdownMenuBtn" role="button" [disabled]="!selectedMailboxForAutocrypt.is_autocrypt_enabled">
                  <span> {{ selectedMailboxForAutocrypt.prefer_encrypt }} </span>
                </button>
                <div ngbDropdownMenu aria-labelledby="preferEncryptDropdownMenuBtn">
                  <a class="dropdown-item text-medium" (click)="selectedMailboxForAutocrypt.prefer_encrypt = 'nopreference'">
                    <span>nopreference</span>
                  </a>
                  <a class="dropdown-item text-medium" (click)="selectedMailboxForAutocrypt.prefer_encrypt = 'mutual'">
                    <span>mutual</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-holder text-dark text-medium">
      <div class="mx-auto mt-2 pt-sm-2">
        <app-loading-spinner [showSpinner]="inProgress"></app-loading-spinner>
        <button type="button" class="btn btn-secondary btn-sm" (click)="onConfirmSetAutocrypt()" [disabled]="inProgress">{{ 'common.save' | translate }}</button>
      </div>
    </div>
  </div>
</ng-template>
