<section class="mailbox-section">
  <header class="ui-header ui-header-bordered">
    <h5 class="ui-header-subtitle text-dark mb-0"><strong translate="settings.signature">Signature</strong></h5>
  </header>
  <div class="mailbox-section-body mailbox-section-body-sm">
    <div class="form-content-holder">
      <div class="form-content-row">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <label class="form-label mb-sm-0" translate="settings.keys.email_address">
              E-mail address</label>
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="btn-dropdown btn-dropdown-select">
              <div ngbDropdown class="dropdown-sm">
                <button ngbDropdownToggle class="dropdown-toggle"
                        id="signatureEmailAddressDropdownMenuButton"
                        role="button">
                  {{selectedMailboxForSignature?.email}}
                </button>
                <div ngbDropdownMenu aria-labelledby="signatureEmailAddressDropdownMenuButton">
                  <a class="dropdown-item" *ngFor="let mailbox of mailboxes"
                     (click)="selectedMailboxForSignature = mailbox">{{mailbox.email}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="selectedMailboxForSignature">
        <div class="form-content-row">
          <div class="row align-items-center">
            <div class="col-sm-3">
              <label for="displayName" class="form-label mb-sm-0"
                     translate="settings.display_name">Display name</label>
            </div>
            <div class="col-sm-7 col-md-5">
              <input class="form-control form-control-sm" id="displayName" type="text"
                     maxlength="32"
                     [value]="selectedMailboxForSignature.display_name"
                     (change)="updateMailboxSettings(selectedMailboxForSignature, 'display_name', $event.target.value)"
                     [placeholder]="'settings.display_name'| translate"/>
            </div>
          </div>
        </div>
        <div class="form-content-row">
          <div class="row align-items-center">
            <div class="col-sm-3">
              <label for="signature" class="form-label mb-sm-0" translate="settings.signature">
                Signature</label>
            </div>
            <div class="col">
              <quill-editor id="signature"
                            [ngModel]="selectedMailboxForSignature.signature"
                            (ngModelChange)="onSignatureChange($event)"
                            [modules]="quillModules"
                            (onBlur)="signatureFocused(false)"
                            (onFocus)="signatureFocused(true)">
              </quill-editor>
            </div>
          </div>
        </div>
      </ng-container>


      <!-- Will be used later -->
      <div class="form-content-row" *ngIf="false">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <label class="form-label mb-sm-0" translate="settings.load_embedded_content">Load
              embedded
              content</label>
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="row row-sm">
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="embeddedContentField1"
                         name="[6]" type="radio" (click)="updateSettings('embed_content', true)"
                         [checked]="settings?.embed_content"/>
                  <label for="embeddedContentField1" translate="common.yes">Yes</label>
                </div>
              </div>
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="embeddedContentField2"
                         name="[6]" type="radio" (click)="updateSettings('embed_content', false)"
                         [checked]="!settings?.embed_content"/>
                  <label for="embeddedContentField2" translate="common.no">No</label>
                </div>
              </div>
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="embeddedContentField3"
                         name="[6]" type="radio" disabled/>
                  <label for="embeddedContentField3" translate="settings.only_images">Only
                    images</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Will be used later -->
      <div class="form-content-row" *ngIf="false">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <label class="form-label mb-sm-0" translate="settings.show_snippets">Show
              snippets</label>
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="row row-sm">
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="showSnippetsField1"
                         name="[7]" type="radio" (click)="updateSettings('show_snippets', true)"
                         [checked]="settings?.show_snippets"/>
                  <label for="showSnippetsField1" translate="common.yes">Yes</label>
                </div>
              </div>
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="showSnippetsField2"
                         name="[7]" type="radio" (click)="updateSettings('show_snippets', false)"
                         [checked]="!settings?.show_snippets"/>
                  <label for="showSnippetsField2" translate="common.no">No</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="mailbox-section">
  <header class="ui-header ui-header-bordered">
    <h5 class="ui-header-subtitle text-dark mb-0">
      <strong translate="settings.addresses">Addresses</strong></h5>
  </header>
  <div class="mailbox-section-body mailbox-section-body-sm">
    <div class="form-content-holder">
      <div class="mb-3 row">
        <div class="col-6">
          <button type="button" *ngIf="mailboxes?.length < settings?.email_count"
                  (click)="onAddNewAddress()" class="btn btn-sm btn-secondary"><span translate="settings.add_address">Add Address</span>
          </button>
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-sm btn-secondary"
                  (click)="startReorder()"
                  *ngIf="!reorder && mailboxes?.length>1"
                  [ngbTooltip]="'settings.reorder_addresses'| translate" translate="settings.reorder">Reorder</button>
        </div>
      </div>
      <ul class="ui-list ui-list-styled list-styled addresses-list">
        <li *ngIf="newAddressOptions.isAddingNew" class="ui-list-item ui-list-item-xs-full">
          <form class="signup-form" [formGroup]="newAddressForm" #form="ngForm">
            <div class="row row-xs align-items-center">
              <div class="col-sm-10">
                <div class="form-group mb-0">
                  <div class="form-inline userame-field-group"
                       [ngClass]="{'is-validate': newAddressForm.controls.username.invalid &&
                                             (newAddressForm.controls.username.touched || newAddressOptions.isSubmitted)}">
                    <input class="form-control text-dark mb-3 mb-sm-0" id="new-address-username"
                           [placeholder]="'create_account.choose_username' | translate"
                           type="text" name="username"
                           formControlName="username"/>
                    <span class="domain-separator text-center text-dark">@</span>
                    <div class="btn-dropdown btn-dropdown-select">
                      <div ngbDropdown class="dropdown-sm">
                        <button ngbDropdownToggle
                                class="dropdown-toggle custom-domains-dropdown"
                                id="custom-domains"
                                role="button">
                          <div>{{newAddressForm.get('domain').value}}</div>
                        </button>
                        <div ngbDropdownMenu
                             aria-labelledby="signatureEmailAddressDropdownMenuButton">
                          <a class="dropdown-item"
                             *ngFor="let customDomain of customDomains"
                             (click)="newAddressForm.get('domain').setValue(customDomain);newAddressForm.get('username').reset()">
                            {{customDomain}}</a>
                        </div>
                      </div>
                    </div>


                    <ng-container *ngIf="newAddressOptions.isBusy || mailBoxesState?.inProgress; else showIcons">
                      <app-loading-spinner [showSpinner]="true"></app-loading-spinner>
                    </ng-container>
                    <ng-template #showIcons>
                      <i class="fas fa-check green"
                         *ngIf="newAddressOptions.usernameExists === false && !newAddressForm.controls['username'].errors"></i>
                      <i class="fas fa-times text-danger"
                         *ngIf="newAddressOptions.usernameExists === true ||
                                               (newAddressForm.controls['username'].errors &&
                                               (newAddressForm.controls['username'].touched &&
                                               newAddressOptions.isSubmitted))"></i>
                    </ng-template>
                  </div>
                  <ng-container
                          *ngIf="newAddressForm.controls['username'].errors &&
                                                (newAddressForm.controls['username'].touched ||
                                                newAddressOptions.isSubmitted); else usernameExistsBlock">
                                          <span class="validate-message"
                                                *ngIf="newAddressForm.controls['username'].errors; else usernameRequiredError">
                                            <ng-container
                                                    *ngIf="newAddressForm.controls['username'].errors.pattern; else usernameLengthBlock">
                                              <span translate="settings.username_allowed_chars"> The username must start with a letter or a number and end with a letter or number.It may only
                                                contain </span> <em>a-z</em>, <em>A-Z</em>, <em>0-9</em> or <em>._-</em> <span translate="settings.username_minlen">‌characters, and minimum length is 2 characters.</span>
                                            </ng-container>
                                            <ng-template #usernameLengthBlock>
                                              <ng-container
                                                      *ngIf="newAddressForm.controls['username'].errors.minlength ||
                                                      newAddressForm.controls['username'].errors.maxlength">
                                                <span translate="settings.username_chars">The username must be between 2 and 64 characters.</span>
                                              </ng-container>
                                            </ng-template>
                                          </span>
                    <ng-template #usernameRequiredError>
                      <span class="validate-message" translate="settings.username_required">The username is required.</span>
                    </ng-template>
                  </ng-container>
                  <ng-template #usernameExistsBlock>
                                          <span *ngIf="newAddressOptions.usernameExists === true"
                                                class="validate-message" translate="settings.alias_exist">Email alias already exists.
                                          </span>
                  </ng-template>
                </div>
              </div>
              <div class="col-sm-2">
                <ul class="setting-actions-list d-flex align-items-center justify-content-end list-styled text-right">
                  <li>
                    <button class="btn-link cursor-pointer"
                            (click)="submitNewAddress()"
                            [disabled]="newAddressOptions.isBusy"> <span translate="settings.add">Add</span>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="btn-link p-0" (click)="onDiscardNewAddress()"
                            role="button" [disabled]="newAddressOptions.isBusy">
                      <i class="icon icon-garbage"></i></button>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </li>
        <li class="ui-list-item ui-list-item-xs-full" *ngFor="let mailbox of mailboxes;let i=index;">
          <div class="row row-xs align-items-center">
            <div class="col-10 col-sm-8">
              <div class="form-label text-dark mb-0">
                {{mailbox.email}}
                <span *ngIf="mailbox.is_default" class="badge badge-default" translate="settings.primary">Primary</span>
                <span *ngIf="!mailbox.is_enabled" class="badge badge-danger" translate="common.disabled">Disabled</span>
              </div>
            </div>
            <div class="col-2 col-sm-4 row">
              <div class="col" align="right" *ngIf="reorder">
                <i class="material-icons cursor-pointer"
                   [class.hidden]="i===0"
                   [ngbTooltip]="'settings.move_up'| translate"
                   (click)="sortUp(i)">
                  keyboard_arrow_up
                </i>

                <i class="material-icons cursor-pointer"
                   [class.hidden]="i===mailboxes.length-1"
                   [ngbTooltip]="'settings.move_down'| translate"
                   (click)="sortDown(i)">
                  keyboard_arrow_down
                </i>
              </div>
              <ul *ngIf="!reorder && !mailbox.inProgress" class="col setting-actions-list d-flex align-items-center justify-content-end list-styled text-right">
                <li *ngIf="false">
                  <button type="button" role="button" class="btn-link"
                          (click)="updateDefaultEmailAddress(mailbox)"> <span translate="settings.make_default">Make Default</span>
                  </button>
                </li>
                <li *ngIf="mailbox.is_enabled && !mailbox.is_default">
                  <button type="button" role="button" class="btn-link"
                          (click)="updateMailboxSettings(mailbox, 'is_enabled', false)"> <span translate="settings.disable">Disable</span>
                  </button>
                </li>
                <li *ngIf="!mailbox.is_enabled">
                  <button type="button" role="button" class="btn-link"
                          (click)="updateMailboxSettings(mailbox, 'is_enabled', true)"> <span translate="settings.enable">Enable</span>
                  </button>
                </li>
                <li><a role="button" *ngIf="!mailbox.is_default" (click)="showConfirmDeleteMailboxModal(mailbox)"
                       ngbTooltip="Delete alias">
                  <i class="icon icon-garbage"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div align="right" *ngIf="reorder">
        <app-loading-spinner [showSpinner]="reorderInProgress"></app-loading-spinner>
        <button class="btn btn-sm btn-primary mr-1" [disabled]="reorderInProgress" (click)="cancelOrder()"><span translate="common.cancel">Cancel</span></button>
        <button class="btn btn-sm btn-secondary" [disabled]="reorderInProgress" (click)="saveOrder()"><span translate="settings.save_order">Save order</span></button>
      </div>
    </div>
  </div>
</section>
<section class="mailbox-section">
  <header class="ui-header ui-header-bordered">
    <h5 class="ui-header-subtitle text-dark mb-0"><strong translate="settings.keys.name">Keys</strong></h5>
  </header>
  <div class="mailbox-section-body mailbox-section-body-sm">
    <div class="form-content-holder">
      <div class="form-content-row">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <label class="form-label mb-sm-0" translate="settings.keys.email_address">
              Email address</label>
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="btn-dropdown btn-dropdown-select">
              <div ngbDropdown class="dropdown-sm">
                <button ngbDropdownToggle class="dropdown-toggle"
                        id="keyEmailAddressDropdownMenuButton" role="button">
                  {{selectedMailboxForKey?.email}}
                </button>
                <div ngbDropdownMenu aria-labelledby="keyEmailAddressDropdownMenuButton" class="aliases-dropdown">
                  <a class="dropdown-item" *ngFor="let mailbox of mailboxes"
                     (click)="onSelectedMailboxForKeyChanged(mailbox)">{{mailbox.email}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-content-row">
        <div class="row label-align">
          <div class="col-sm-3">
            <label for="fingerPrint" class="form-label mb-sm-0"
                   translate="settings.keys.fingerprint">Fingerprint</label>
          </div>
          <div class="col-sm-7 col-md-5">
            <input class="form-control form-control-sm" id="fingerPrint" type="text"
                   [value]="selectedMailboxForKey?.fingerprint" readonly=""/>
            <ng-container *ngIf="selectedMailboxPublicKey">
                 <span class="form-label-text mt-1">
                   <a [href]="selectedMailboxPublicKey | safe: 'url'">
                     <strong><u><span translate="settings.download_public_key">Download public key </span>
                       (4096 Bit)</u></strong>
                   </a>
                 </span>
              <span class="form-label-text mt-1">
                <a [href]="selectedMailboxPrivateKey | safe: 'url'">
                  <strong><u><span translate="settings.download_private_key">Download private key </span>
                     (4096 Bit)</u></strong>
                </a>
              </span>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Confirm delete modal -->
<ng-template #deleteAliasModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark modal-title"><strong translate="contacts.delete.title">Confirm
      Delete</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group">
        <span> Are you sure, you want to delete alias</span>
        <b class="font-italic"> {{mailboxToDelete?.email}}</b>?
        <div class="mt-3">
          <b class="warning-text">Warning</b><br>
          <span>Deleting alias will delete all the emails associated with it.</span>
        </div>
      </div>
      <div class="form-group text-right mb-0">
        <button (click)="d()" class="btn btn-secondary btn-sm mr-2" role="button" translate="common.cancel">Cancel
        </button>
        <button (click)="deleteMailboxConfirmed();d()" class="btn btn-danger btn-sm" role="button">
          Delete
        </button>
      </div>
    </div>
  </div>
</ng-template><!-- /.Confirm filter modal ends -->


