<section class="l-block l-block-text bg-white gap-p-eq pb-0 text-center">
  <div class="container">
    <header class="l-block-header text-center">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 px-sm-5 px-md-0">
          <h1 class="page-title text-uppercase text-secondary">
            <strong>Blog</strong>
          </h1>
        </div>
      </div>
    </header>
  </div>
</section>

<section class="l-block single-news-block gap-p-eq pt-0 bg-white" *ngIf="blog">
  <div class="container container-xs">
    <div class="l-block-body px-xs">
      <div class="row">
        <div class="col-12 mb-4 mb-sm-5">
          <article class="news-card single-post-card">
            <figure class="single-post-pic-holder position-relative mb-0">
              <div class="loader-area" [hidden]="isLoaded">
                <img src="assets/icons/spinner.svg" />
              </div>
              <img alt="News thumbnail" class="img news-img" (load)="isLoaded = true" [hidden]="!isLoaded" src="{{ blog.image }}"/>
              <span class="badge badge-sm badge-info text-uppercase">
                <strong>{{ categories[blog.category].name }}</strong>
              </span>
            </figure>
            <div class="news-meta">
              <div class="row align-items-center">
                <div class="col-sm-7 pb-1 pb-sm-0 mb-2 mb-sm-0">
                  <ul class="news-meta-list list-style-none">
                    <li>Posted on {{ blog.date }}</li>
                    <li>
                      <u>{{ blog.comments_count }} comments</u>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-5">
                  <div class="social-share d-flex justify-content-sm-end flex-wrap">
                    <div class="social-share-text">
                      <em>Share this post:</em>
                    </div>
                    <ul class="social-share-list list-style-none">
                      <li>
                        <a href="">
                          <i class="fab fa-facebook-square" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fab fa-twitter-square" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-post-card-body text-medium">
              <h2 class="text-dark">
                <strong>{{ blog.name }}</strong>
              </h2>
              <p [innerHTML]="blog.text"></p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="l-block mt-0 pb-0 bg-faded is-clipped is-clipped-lg top top-left bottom bottom-right" *ngIf="blog">
  <div class="container container-xs">
    <div class="l-block-body px-xs">
      <div class="comment-holder">
        <h3 class="text-dark">
          <strong>{{ blog.comments_count }} Comments</strong>
        </h3>
        <div class="comment-card" *ngFor="let comment of blog.comments">
          <div class="comment-row">
            <div class="comment-avatar"></div>
            <div class="comment-detail">
              <div class="comment-meta">
                <div class="comment-meta-list">
                  <span class="comment-author text-dark">{{ comment.author }}</span> &nbsp;|&nbsp;
                  <span class="comment-datetime">{{ comment.datetime }}</span>
                </div>
                <div class="comment-reply" *ngIf="isActive">
                  <a role="button" (click)="openReplyModal(content, comment.id)">
                    <i class="fas fa-reply"></i>
                    <u>reply</u>
                  </a>
                </div>
              </div>
              <div class="comment-body">
                <p>{{ comment.text }}</p>
              </div>
            </div>
          </div>
          <div class="comment-replies">
            <div class="comment-row" *ngFor="let reply of comment.replies">
              <div class="comment-avatar"></div>
              <div class="comment-detail">
                <div class="comment-meta">
                  <div class="comment-meta-list">
                    <span class="comment-author text-dark">{{ reply.author }}</span> &nbsp;|&nbsp;
                    <span class="comment-datetime">{{ reply.datetime }}</span>
                  </div>
                  <div class="comment-reply" *ngIf="isActive">
                    <a role="button" (click)="openReplyModal(content, reply.id)">
                      <i class="fas fa-reply"></i>
                      <u>reply</u>
                    </a>
                  </div>
                </div>
                <div class="comment-body">
                  <p>{{ reply.text }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="comment-form-holder mt-5 mt-sm-6 mt-md-7">
        <h3 class="text-dark">
          <strong>Add Comment</strong>
        </h3>
        <div class="comment-login" *ngIf="!isActive">
          <p>To add a comment you should log in</p>
        </div>
        <div class="row" *ngIf="!isActive">
          <div class="col-12">
            <div class="form-group mb-0">
              <button routerLink="/signin" class="btn btn-secondary btn-lg comment-submit-btn" type="button" role="button">Log IN</button>
            </div>
          </div>
        </div>

        <div class="comment-form form" *ngIf="isActive">
          <form [formGroup]="commentForm" #form="ngForm" (ngSubmit)="addComment(commentForm.value)">
            <div class="row">
              <div class="col-12">
                <div class="form-group" [ngClass]="{'is-validate': commentForm.controls.comment.invalid && !commentForm.controls.comment.pristine}">
                  <textarea class="form-control" placeholder="Your message" rows="4" name="comment" formControlName="comment"></textarea>
                  <span *ngIf="commentForm.controls['comment'].errors && !commentForm.controls.comment.pristine" class="validate-message">
                    <span>The Comment is required.</span>
                  </span>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group text-center mb-0">
                  <button class="btn btn-secondary btn-lg comment-login-btn" type="submit" role="button">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<app-blog-sample *ngIf="blog" [mode]="mode" [numberOfColumns]="numberOfColumns" [category]="blog.category.id" [blogId]="blog.id"></app-blog-sample>

<ng-template #content let-c="close" let-d="dismiss" class="modal-type-default">
  <div class="modal-header text-center justify-content-center">
    <h3 class="modal-title w-100 text-dark" id="resetPasswordModalLabel">
      <strong>Add Comment</strong>
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="form reply-form">
      <form [formGroup]="replyForm" #form="ngForm" (ngSubmit)="replyComment(replyForm.value)">
        <div class="form-group" [ngClass]="{'is-validate': replyForm.controls.comment.invalid && !replyForm.controls.comment.pristine}">
          <textarea class="form-control" placeholder="Your message" rows="4" name="comment" formControlName="comment"></textarea>
          <span *ngIf="replyForm.controls['comment'].errors && !replyForm.controls.comment.pristine" class="validate-message">
            <span>The Comment is required.</span>
          </span>
        </div>
        <div class="form-group form-user-actions text-center mb-0">
          <button class="btn btn-secondary btn-sm reply-btn" role="button" type="submit">Reply</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

