.main.container {
  padding-bottom: 6rem !important;

  h1 {
    margin-bottom: 0 !important;
  }
}

.last.container {
  padding-bottom: calc(6rem + 112.5px) !important;
}

.comments.container {
  padding: 3rem 0;
}

.description {
  white-space: pre-line;
}

.fluid.rounded.image {
  margin-bottom: 1rem;
}
