.main.container {
  h1 {
    margin-bottom: 0 !important;
  }
}

.comments.container {
  padding: 3rem 0;
}

.description {
  white-space: pre-line;
}

.fluid.rounded.image {
  margin-bottom: 1rem;
}
