<div class="modal-header">
  <h3 class="modal-title w-100 text-dark">
    <strong [translate]="'settings.feedback'">Feedback</strong>
  </h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group" [translate]="'settings.feedback_desc'">
        Will you take a moment of your time to jot down some feedback about CTemplar?
      </div>
      <div class="bottom-view">
        <div class="mb-3">
          <textarea
            class="form-control form-control-sm resize-off"
            id="contactAddress"
            name="feedback"
            formControlName="feedback"
            rows="3"
          ></textarea>
          <span
            *ngIf="feedbackForm.controls['feedback'].errors?.required && showFormError"
            class="validate-message"
            [translate]="'settings.input_feedback'"
          >
            Please input your feedback
          </span>
        </div>
        <div class="form-group text-right mb-0">
          <button
            type="button"
            (click)="activeModal.dismiss()"
            class="btn btn-secondary btn-sm mr-2"
            role="button"
            [translate]="'settings.skip'"
          >
            Skip
          </button>
          <button type="submit" class="btn btn-danger btn-sm" role="button" [translate]="'settings.send'">Send</button>
        </div>
      </div>
    </div>
  </div>
</form>
