<div class="modal-header">
  <h3 class="modal-title w-100 text-dark">
    <strong [translate]="'settings.feedback'">Feedback</strong>
  </h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group" [translate]="'settings.stop_renewal_feedback_label'">
        Are you sure to disable the membership auto-renewal? If so, please take a moment and tell us (anonymously) the
        reasons of your decision to help us improve.
      </div>
      <div class="bottom-view">
        <div class="mb-3">
          <textarea
            class="form-control form-control-sm resize-off"
            id="contactAddress"
            name="message"
            formControlName="message"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group text-right mb-0">
          <button
            type="button"
            (click)="activeModal.dismiss()"
            class="btn btn-secondary btn-sm mr-2"
            role="button"
            [translate]="'settings.skip'"
          >
            Skip
          </button>
          <button type="submit" class="btn btn-danger btn-sm" role="button" [translate]="'settings.send'">Send</button>
        </div>
      </div>
    </div>
  </div>
</form>
