@import '~styles/base/variables';
@import '~styles/vendors/include-media/include-media';
@import '~styles/config/include-media-config';
@import '~styles/vendors/ceaser/ceaser-easing';


.domain-body {
  padding-left: 1.563rem;
  padding-right: 1.563rem;
  position: relative;
  @include media("<ipad", ">sm") {
    padding-left: 0.938rem;
    padding-right: 0.938rem;
  }
  @include media("<=sm") {
    padding-left: 0;
    padding-right: 0;
  }

  .btn-create-domain {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include media("<=sm") {
      margin: 1.875rem 0.75rem;
    }
  }

  .btn-add-domain {
    margin-top: 1.5rem;
    @include media("<=sm") {
      margin: 1.25rem 0.75rem;
    }
  }

  .domains-list {
    padding: 1.875rem 0;
    @include media("<=sm") {
      padding: 0;
    }

    .heading {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .row {
      margin-left: 0;
      margin-right: 0;

      &:not(:first-child) {
        padding-top: 12px;
        margin-bottom: -1px;
        border: 1px solid #f5f5f5;
      }

      .text-domain {
        font-size: 14px;
      }

      .domain-status {
        div {
          padding: 7px 12px;
          border-radius: 14px;
          line-height: 1;
          margin-right: 5px;
          margin-bottom: 10px;
          cursor: pointer;

          border: 1px solid;
          border-color: #2c3e50;
          color: $brand-secondary;

          &:hover {
            background-color: #ebebeb;
          }

          .fa-check,
          .fa-exclamation {
            display: none;
            margin-right: 5.3px;
          }

          &.verified {
            border: none;
            background-color: #3ab05d !important;
            color: white;
            opacity: 0.6;

            &:hover {
              opacity: 0.8;
            }

            .fa-check {
              display: inline-block;
            }
          }

          &.failed {
            border: none;
            background-color: #e74c3c;
            color: white;
            opacity: 0.6;

            &:hover {
              opacity: 0.8;
            }

            .fa-exclamation {
              display: inline-block;
            }
          }
        }
      }

      .actions {
        margin-top: -9px;

        .action {
          width: 44px;
          height: 44px;
          cursor: pointer;
          color: $gray-9e9e9e;

          .action-normal {
            opacity: 0.6;

          }

          &:hover {
            opacity: 1;
            background-color: $brand-faded;
            color: #949494;
          }
        }
      }
    }
  }
}

.stepper-form {
  padding: 1.5625rem 1.875rem 2.5rem 1.875rem;
  font-size: 0.875rem;
  background-color: #fafafa;

  .domain-input {
    width: 28.125rem;
    padding: 0.75rem 0.8125rem;
    @include media("<=sm") {
      width: 100%;
    }
  }

  @include media("<=sm") {
    padding: 0;
  }
}

.dropdown-toggle::before {
  display: none;
}

.btn-group-controls {
  display: flex;
  justify-content: flex-end;

  @include media("<ipad", ">sm") {
    justify-content: flex-start;
  }

  @include media("<=sm") {
    justify-content: center;
  }
}

.record-status {
  border-radius: 14px;
  background-color: #3ab05d
}

.green {
  color: #3ab05d !important;
}


.copy-btn {
  float: right !important;
  margin-top: -10px;
}

.warning {
  font-size: 0.75rem;

  .warning-text {
    color: #e55747;
  }
}

.reverify-domain {
  padding-right: 3px;
  vertical-align: text-bottom;
}

i.fas.fa-copy {
  font-size: 20px;
}
