@import '../../../styles/variables';

body {
  background: red;
}

.content-wrapper {
  margin-bottom: 30px;
}

.main.ui.container {
  margin-bottom: 100px;
}

.page.heading {
  h1.section-title {
    color: $color-white;
  }
}

.ui.input {
  input {
    padding: 14px;
    width: 360px;
  }
}

.btn-login {
  margin-top: 25px;
}

.help-link {
  font-size: 12px;
  font-style: normal;
  color: #c4c4c4;
  margin-top: -5px;
  display: block;
}

.create-account-link {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: $color-white;
  margin-top: -20px;
  display: block;
}
