/**
* @partial: _inbox.scss
*/

// == Create account page
.form-card-holder {
	max-width: 505px;
}

.info-card {
	padding: 1.25rem 0.938rem;
	border-radius: 2px;
	
	@include media("<=sm") {		
		line-height: 1.5;

		.text-medium {
			font-size: 0.75rem;
		}

		br {
			display: none;
		}
	}
}

.lh-sm {
	line-height: 1.25;
}

.form-step-card-holder {
	counter-reset: counterStep;

	.form-step-card {
		position: relative;
		&::before {
			position: absolute;
			top: 0;
			left: 0rem;
			counter-increment: counterStep;
			content: counter(counterStep);
			background: $brand-faded;
			border-radius: 50%;
			box-shadow: 0 4px 7px 0 rgba(6, 0, 68, 0.15);
			color: $brand-black;
			font-weight: 600;
			height: 2rem;
			width: 2rem;
			line-height: 2rem;
			text-align: center;

			@include media(">sm") {
				left: -3rem;
			}
		}

		.form-step-card-title {
			@include media("<=sm") {
				padding-left: 3rem;
			}
		}
	}
}

.form-step-card {
	&:not(:last-of-type) {
		@include media(">sm") {
			margin-bottom: 1.875rem;
		}
	}

	@include media("<=sm") {
		label {
			font-size: 0.875rem;
			width: 100%;
		}

		.fancy-field-control-lg+label.fancy-field-empty::after {
			top: 0.21rem;
		}
	}
}

.form-step-card-title {
	@include media("<=sm") {
		font-size: 1.25rem;
	}
}

.form-step-card-subtitle {
	margin-top: 0.5rem;
	margin-bottom: 0.938rem;
	line-height: 1.25;

	@include media(">sm") {
		margin-top: 0;
		margin-bottom: 1.125rem;
	}
}

// == Billing page
.form-card-holder-top-border {
	padding-top: 0.938rem;
	border-top: 1px solid $dropdown-border-color;
	
	@include media(">sm") {
		padding-top: 2rem;
	}
}

.billing-form-card-holder {
	.form-step-card:not(:last-of-type) {
		@include media("<=sm") {
			margin-bottom: 1.875rem;
		}
	}

	.form-group {
		@include media("<=sm") {
			margin-bottom: 0.938rem;
		}
	}
}

.billing-overview {
	@include media("<=sm") {
		font-size: 0.875rem;
	}
}

.billing-overview-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-right: -.725rem;
	margin-left: -.725rem;

	&:not(:last-of-type) {
		margin-bottom: 0.725rem;
	}

	.billing-overview-label,
	.billing-overview-val {
		padding-right: .725rem;
		padding-left: .725rem;
	}

	label {
		width: 75px;
	}

	.billing-overview-val {
		width: calc(100% - 75px);
	}
}

.payment-method-row {
	margin-top: 0.625rem;
	@include media(">sm") {
		margin-top: 1.563rem;
	}

	label {
		width: 100%;
		@include media(">sm") {
			width: 148px;
		}
	}

	.billing-overview-val {
		width: 100%;
		@include media(">sm") {
			width: calc(100% - 148px);
		}
	}
}

.form-step-card {
	.btn-dropdown-lg .dropdown-toggle {
		padding: 0.875rem 0.75rem;
		color: $brand-light-gray;
		font-style: italic;
		height: 3rem;

		@include media("<=sm") {
			padding: 0.75rem 0.75rem;
			font-size: 0.875rem;
			height: 2.75rem;
		}
	}

	@include media("<=sm") {
		.dropdown-item {
			font-size: 0.875rem;
		}
	}
}

.form-group-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -.5rem;

	>.form-group-col {
		padding: 0 .5rem;
	}
}

.form-group-col {
	flex: 0 0 100%;
	max-width: 100%;

	@include media("<=sm") {
		&:not(:last-of-type) {
			margin-bottom: 0.938rem;
		}
	}
}

@include media(">sm") {
	.form-group-3-col {
		.form-group-col {
			flex: 0 0 33.33333%;
			max-width: 33.33333%;
		}	
	}
	
	.form-group-2-col {
		.form-group-col {
			flex: 0 0 50%;
			max-width: 50%;
		}	
	}
}

.type-code-holder {
	.btn.code-apply-btn {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background: #bdbdbd !important;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		color: $brand-white !important;
		font-size: 0.875rem !important;
		letter-spacing: 0.6px;

		@include media("<=sm") {
			top: auto;
			font-size: 0.75rem !important;
			height: 2.75rem;
			min-width: 75px;
		}
	}

	.form-control {
		padding-right: 90px;

		@include media(">sm") {
			padding-right: 120px;
		}
	}
}

.btn.billing-submit-btn {
	padding-right: 20px;
	padding-left: 20px;
	min-width: 165px;
}

// == Has form error
.has-error {
    position: relative !important;
    color: $brand-danger;

    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
    }

    .error-msg {
        position: absolute;
        top: 0;
		right: 0;
		
		@include media(">sm") {
			top: -20px;
		}
    }
}

.error-msg {
    color: $brand-danger !important;
    font-size: 0.75rem;
}