<!-- PAGE INTRO SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq pb-0 text-center">
  <div class="container">
    <header class="l-block-header text-center">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 px-sm-5 px-md-0">
          <h1 class="page-title text-uppercase text-secondary">
            Get Support Here
          </h1>
        </div>
      </div>
    </header>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.PAGE INTRO SECTION ENDS -->

<div class="l-block-body px-xs pb-5">
  <div class="row text-center">
    <div class="col-12">
      <a (click)="showZenDeskHelpWidget()" class="btn btn-lg btn-gradient-primary">
        Contact Us
      </a>
      <div>
        <p class="mt-1"><strong>Support:</strong> Click above link</p>
        <strong>Legal requests:</strong>
        <a href="mailto:legal@ctemplar.com">legal@ctemplar.com</a>
        <br/> <strong>Media Requests:</strong>
        <a href="mailto:media@ctemplar.com">media@ctemplar.com</a>
      </div>
    </div>
  </div>
</div>