<!-- Confirm to use cache starts -->
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark">
      <strong>Using cache for decrypted subject</strong>
    </h3>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group">
        We provide the feature to store the decrypted subject on local or session storage for improve the speed. If you trust this machine, you can use this feature.
        <a href="https://ctemplar.com/help/answer/what-to-use-local-cache/" rel="noopener noreferrer" target="_blank">Learn more</a>
      </div>
      <div class="form-group text-right mb-0">
        <button (click)="onDismissSaveDecryptedSubject()" class="btn btn-secondary btn-sm mr-2" role="button" [translate]="'common.no'">NO</button>
        <button (click)="onFlagSaveDecryptedSubject()" class="btn btn-danger btn-sm" role="button" [translate]="'common.yes'">YES</button>
      </div>
    </div>
  </div>
<!-- /.Confirm to use cache ends -->
