<!-- Confirm to use cache starts -->
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark">
      <strong>Temporary store decrypted data</strong>
    </h3>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group">
        We provide a feature to temporary store some decrypted data on your local storage for improved speed. If you trust your device, you can safely enable this feature.
        <a href="https://ctemplar.com/help/answer/temporary-store-decrypted-data/" rel="noopener noreferrer" target="_blank">Learn more</a>.
      </div>
      <div class="form-group text-right mb-0">
        <button (click)="onDismissSaveDecryptedSubject()" class="btn btn-secondary btn-sm mr-2" role="button" [translate]="'common.no'">No</button>
        <button (click)="onFlagSaveDecryptedSubject()" class="btn btn-danger btn-sm" role="button" [translate]="'common.yes'">Yes</button>
      </div>
    </div>
  </div>
<!-- /.Confirm to use cache ends -->
