<div class="main ui text container">
  
  <div class="page heading ui center aligned basic segment">
    <h1 class="uppercase">Onion address</h1>
    <h2>Tor is free and open-source software for enabling anonymous connection to the Internet.</h2>
  </div>
  
  <img class="ui centered large image" src="/assets/img/pages/onion-address/tor.png">

  <a class="ui center aligned inverted purple segment" style="background-color: #754893 !important; display: block; font-size: 36px;" href="http://ctemplar42u6fulx.onion" target="_blank">
    ctemplar42u6fulx.onion
  </a>

  <h2>The usage is very easy, do you want to try?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. You should start using it now to collaborate on making the network bigger!</p>

  <div class="ui huge animated relaxed list">
    <a class="item" href="#">
      <i class="help circle icon"></i>
      <div class="content">
        <div class="header">Onion addresses explained</div>
      </div>
    </a>
    <a class="item" href="#">
      <i class="rocket icon"></i>
      <div class="content">
        <div class="header">Tor quickstart instructions</div>
      </div>
    </a>
    <a class="item" href="#">
      <i class="hand pointer icon"></i>
      <div class="content">
        <div class="header">Tor Project official website</div>
      </div>
    </a>
  </div>

</div>
