@import '../../styles/base/variables';
@import '../../styles/vendors/include-media/include-media';
@import '../../styles/config/include-media-config';
@import '../../styles/vendors/ceaser/ceaser-easing';
@import '../../styles/theme-variables-collection';
@import '../../styles/themes';

// == Mailbox content
.app-outer-mailbox {
  small {
    font-size: 0.75rem;
  }
}

.banner {
  font-size: smaller;
  background-color: #fff1a8;
  z-index: 1;
  text-align: center;
  position: static;
  width: 100%;
  padding: 2px 4px;
  justify-content: center;

  a:hover {
    text-decoration: underline;
  }
}

// == Mailbox content
.mailbox-main-content {
  position: relative;
  padding-bottom: 3.75rem;
  min-height: 100vh;
  height: 100vh;
  background: var(--main-content-background);

  @include media('<ipad', '>sm') {
    margin-left: 68px;
  }

  @media (min-width: 1000px) {
    margin-left: 220px;
  }
}

// == Sidebar
.mailbox-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--brand-secondary);
  width: 220px;

  @include media('<ipad') {
    z-index: $zindex-default + 998;
  }

  @include media('<=sm') {
    transform: translateX(-100%);
    transition: all ease 0.35s;

    &.is-sidebar-expanded {
      transform: translateX(0%);
    }
  }

  @include media('<ipad', '>sm') {
    width: 68px;

    &.is-sidebar-expanded {
      width: 220px;
    }
  }

  @media (min-width: 1000px) {
    width: 220px;
  }

  .navbar-toggler {
    top: 1px;
    padding: 0 0;
    height: 1.25rem;
    width: 1.25rem;

    .navbar-toggler-icon {
      width: 1.25rem;
    }
  }

  .navbar-toggler-icon:nth-child(2),
  .navbar-toggler-icon:nth-child(3) {
    top: 9px;
  }

  .navbar-toggler-icon:nth-child(4) {
    top: 15px;
  }
}

.mailbox-sidebar-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 33px;
}

.mailbox-sidebar-navbar {
  overflow-y: auto;
  max-height: calc(100% - 190px);
  @include media('<=sm') {
    max-height: calc(100% - 60px);
  }
}

.mailbox-brand,
.mail-compose-section {
  padding: 1.34444rem 0.938rem;

  @include media('<=sm') {
    padding: 0.969rem 0.938rem;
  }

  @include media('>sm') {
    text-align: center;

    .is-sidebar-expanded & {
      text-align: left;
    }
  }

  @include media('>=ipad') {
    padding: 1.031rem 1.563rem;
    text-align: left;
  }
}

.mailbox-brand {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  line-height: 1;
}

.prime-account-content {
  position: absolute;
  top: 50%;
  right: 0.938rem;
  display: flex;
  align-items: center;
  color: $brand-white;
  font-size: 1rem;
  transform: translateY(-50%);

  i {
    vertical-align: bottom;
  }

  @include media('<ipad', '>sm') {
    display: none;

    .is-sidebar-expanded & {
      display: block;
    }
  }

  @media (min-width: 999px) {
    right: 1.563rem;
    position: unset;
    margin: 10px 0 -15px 0;
    width: 100%;
    display: block;
    text-align: center;
  }

  .prime-account-text {
    margin-left: 0.3rem;
    font-size: 0.75rem;
  }
}

// == Mailbox sidebar menu
.navbar-toggle-text {
  display: none;

  @include media('<ipad') {
    .is-sidebar-expanded & {
      display: block;
      padding-left: 2rem;
    }
  }
}

.mailbox-sidebar-nav {
  list-style: none;
  margin: 0 0;
  padding: 0;
  line-height: 1;

  .divider-item {
    margin: 0.625rem 0;
    border-top-color: rgba(255, 255, 255, 0.12);

    @include media('>sm') {
      margin: 0.938rem 0;
    }

    @include media('>=ipad') {
      margin: 0.938rem 1.563rem;
    }
  }
}

.mailbox-sidebar-nav-item {
  font-size: 0.875rem;
  line-height: 1;
  overflow: hidden;

  &.add-folder {
    font-size: 0.75rem;
    letter-spacing: 0.6px;
  }
}

.mailbox-sidebar-nav-link {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.813rem 2.5rem 0.813rem 3rem;
  color: $menu-link;
  min-height: 2.5rem;
  line-height: 1;
  word-break: normal;

  @include media('>=ipad') {
    padding: 0.813rem 2.5rem 0.813rem 3.375rem;
  }

  // 5-11-
  &.no-icon {
    @include media('>=ipad') {
      padding: 0.813rem 1.563rem;
    }

    .is-sidebar-expanded & {
      padding-left: 0.938rem;
      transition: none;
    }
  }

  .active & {
    background: rgba(255, 255, 255, 0.12) !important;
    color: $brand-white;
  }

  &:hover,
  &:focus {
    background: darken(rgba(255, 255, 255, 0.12), 25%);
    color: $brand-white;
  }

  > .icon,
  > .badge {
    position: absolute;
    top: 50%;
    left: 0.938rem;
    transform: translateY(-50%);

    @include media('<ipad', '>sm') {
      .is-sidebar-expanded & {
        left: 0.938rem;
      }
    }

    @include media('>sm') {
      left: 1.563rem;
    }
  }

  > .icon {
    font-size: 0.938rem;
  }

  > .badge {
    right: 1.563rem;
    left: auto;
    padding: 0 0;
    background-color: $brand-light-gray;
    border: 2px;
    font-size: 0.625rem;
    height: 1.25rem;
    width: 1.563rem;
    line-height: 1.25rem;
    text-align: center;

    @include media('<ipad') {
      right: 1.313rem;

      &.badge-sm {
        top: 0.75rem;
        right: 0.5rem;
        padding: 0.125rem;
        background: $brand-primary;
        border-radius: 2px;
        font-size: 0.5rem;
        height: auto;
        width: auto;
        line-height: 1;
      }

      .is-sidebar-expanded & {
        left: auto;
        right: 0.938rem;
      }
    }

    @include media('<=sm') {
      &.badge-sm {
        right: 0.938rem;
      }
    }
  }

  .mailbox-sidebar-nav-label {
    display: inline-block;
    width: 100%;

    @include media('<ipad', '>sm') {
      display: none;

      .is-sidebar-expanded & {
        display: block;
      }
    }
  }
}

.mailbox-sidebar-nav-link {
  .hover-icon {
    min-width: unset;
  }

  .mailbox-sidebar-nav-label .hover-icon {
    display: none;
  }

  &:hover .mailbox-sidebar-nav-label .hover-icon {
    display: inline-block;
  }
}

.divider-item {
  margin: 0.375rem 0.938rem;
  border-top: 1px solid var(--divider-color);
}

.mailbox-sidebar-footer {
  background: var(--sidebar-footer-background);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.mailbox-sidebar-footer-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.688rem;
}

.visible-in-sm {
  display: none !important;
  @include media('<ipad', '>sm') {
    display: block !important;

    .is-sidebar-expanded & {
      display: none !important;
    }
  }
}

.hidden-in-sm {
  display: block !important;
  @include media('<ipad', '>sm') {
    display: none !important;

    .is-sidebar-expanded & {
      display: block !important;
    }
  }
}

// == Buttons
.btn-lg.mailbox-btn {
  padding: 0.5rem 3.43066rem; //~.5633rem 3.43066rem;
  font-size: 0.875rem;
  letter-spacing: 0.7px;
  min-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.btn-primary.mailbox-btn {
  &:hover,
  &:focus {
    background-color: #ff4d3b;
  }
}

.mailbox-btn.has-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-white.mailbox-btn {
  border: 1px solid $brand-white !important;
  border-radius: 2px;
  color: $brand-white;
}

@include media('<ipad') {
  .btn.btn-xs-squared {
    position: relative;
    justify-content: center;
    padding: 0 0;
    border: solid 1px #c0392b;
    font-size: 1.125rem;
    height: 2.25rem;
    width: 2.25rem;
    min-width: inherit;
    text-align: center;
    transition: none;
  }

  .is-sidebar-expanded {
    padding: 0.5633rem 3.43066rem;
    height: auto;
    width: 100%;

    .btn.btn-xs-squared {
      font-size: 0.875rem;
      min-width: 190px;
    }

    .mailbox-compose-btn {
      .icon {
        display: none !important;
      }
    }

    .mailbox-back-btn {
      .icon {
        margin-right: 0.5rem !important;
      }
    }

    .mailbox-btn-text {
      display: block !important;
    }
  }
}

// == Mail compose button on mobile
@include media('<=sm') {
  .btn-xs-holder.is-sticky {
    position: fixed;
    bottom: 0;
    right: 0.938rem;
    z-index: $zindex-default;
    transform: translateY(-50%);
  }

  .btn.btn-xs-rounded {
    justify-content: center;
    padding: 0 0;
    border-radius: 50%;
    font-size: 1.125rem !important;
    height: 3.125rem;
    width: 3.125rem;
    line-height: 3.125rem;
    min-width: inherit !important;

    &.btn-primary,
    &.btn-mail-send {
      background: $brand-primary;
      border: solid 1px #c0392b;
      box-shadow: 0 2px 4px 0 rgba(1, 9, 15, 0.3);
    }

    &.btn-success {
      border: solid 1px #2980ba;
    }
  }
}

/* Sidebar ends */

// == Actions bar
.mailbox-actionbar {
  padding: 0.6rem 0.938rem;
  border-bottom: 1px solid var(--dropdown-border-color);

  @include media('>=ipad') {
    padding-right: 1.563rem;
    padding-left: 1.563rem;
  }

  .mailbox-actionbar-col {
    @include media('<ipad', '>sm') {
      &:first-of-type {
        flex: 0 0 70%;
        max-width: 70%;
      }

      &:last-of-type {
        flex: 0 0 30%;
        max-width: 30%;
      }
    }
  }
}

.mailbox-actionbar-menu,
.more-xs-options-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -0.375rem;
  padding: 0 0;
  list-style: none;

  @include media('>sm') {
    margin: 0 -0.75rem;
  }

  > li {
    padding: 0 0.375rem;
    @media (max-width: 360px) {
      padding: 0 3px;
    }
    &.checkbox-dropdown {
      .fancy-field-group {
        margin-top: -3px;
      }
    }

    @include media('<=sm') {
      &.more-xs-options {
        > .dropdown > .dropdown-toggle {
          justify-content: center;

          &::before {
            display: none;
          }
        }
      }

      &.checkbox-dropdown {
        .dropdown-toggle {
          width: 3.5rem;
        }
      }
    }

    @include media('>sm') {
      padding: 0 0.75rem;
      .dropdown-toggle {
        &.no-caret {
          width: 2.5rem;
          &::before {
            display: none;
          }
        }
      }
    }

    > a,
    .dropdown-toggle {
      display: flex;
      align-items: center;
      padding: 0.219rem 0.688rem;
      background: var(--dropdown-toggle-secondary-bg);
      border: 1px solid var(--dropdown-border-color);
      border-radius: 2px;
      color: var(--brand-light-gray);
      font-weight: bold;
      height: 2rem;
      width: 2.52rem;
      text-transform: uppercase;

      @include media('>sm') {
        height: 2rem;
        width: 3.5rem;
      }

      &.no-icon {
        font-size: 0.625rem;
        letter-spacing: 0.5px;
        min-width: 2.52rem;
        width: auto;

        @include media('>sm') {
          min-width: 3.5rem;
        }
      }

      &.disabled {
        pointer-events: none;
        color: darken($input-border-color, 5%) !important;

        &::before {
          border-color: darken($input-border-color, 5%) !important;
        }
      }
    }

    > a {
      justify-content: center;
    }

    .dropdown-toggle::before {
      border-color: $gray-9e9e9e;
    }

    &.mailbox-dropdown-lg {
      > a,
      .dropdown-toggle {
        font-size: 0.625rem;
        width: 4.5rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }
    }
  }
  @include media('<ipad') {
    .tooltip * {
      display: none;
    }
  }

  .iconncy-field-group {
    display: block;
    margin-top: -0.1rem;
    line-height: 1;
  }

  @include media('<=sm') {
    .show > .dropdown-toggle {
      color: $brand-secondary;
      &::before {
        border-color: $brand-secondary;
      }
    }
  }
}

.mailbox-actionbar-menu {
  li > a {
    transition: none;
    &:active {
      background: var(--btn-mail-action-active-background);
    }
  }
  .mailbox-dropdown .dropdown-item {
    white-space: normal;
    word-break: break-word;
  }
}

// == Divider
.divider-item {
  margin: 0.375rem 0.938rem;
  border-top: 1px solid $divider-color;
}

// == Mailbox small screen options
.more-xs-options {
  .mobiledOptionsDropdown {
    padding: 0.75rem 0.938rem;
    background: var(--brand-faded);
    &.dropdown-menu {
      margin-top: 1px;
      right: 0;
      left: auto !important;
    }

    .dropdown-toggle {
      width: 3.5rem;
    }

    .dropdown-menu {
      top: 42px !important;
      left: -67px !important;
    }
  }

  .more-xs-options-list {
    flex-wrap: nowrap;
  }
}

.mail-result-text {
  margin-right: 0.75rem;
}

.mail-nav-control {
  display: flex;
  align-items: center;
  justify-content: center;

  [class*='mail-nav-control-'] {
    background: #f5f5f5;
    border: 1px solid var(--dropdown-border-color);
    border-radius: 2px;
    color: $gray-9e9e9e;
    font-size: 0.75rem;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-of-type {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .icon {
      display: block;
      line-height: 1;
    }
  }
}

.checkbox-dropdown .dropdown {
  .dropdown-menu {
    width: 112px;
  }
}

.folders-dropdown {
  .dropdown-menu {
    width: 206px;
  }
}

.dropdown-item {
  .icon {
    margin-right: 0.625rem;
  }
}

.more-options-dropdown {
  .dropdown-menu {
    width: 160px;

    @include media('<=sm') {
      right: 0;
      left: auto !important;
    }
  }
}

.folder-color-box {
  display: inline-block;
  border-radius: 2px;
  height: 0.6rem;
  width: 0.6rem;
  margin: 0.2rem;
  vertical-align: middle;
  border: solid 1px rgba(0, 0, 0, 0.12);

  &.is-success {
    background: #2ecc71;
  }

  &.is-info {
    background: #9b59b6;
  }

  &.is-warning {
    background: #f1c40f;
  }
}

// == Mailbox actions control in small screen
.mailbox-footer-actionbar {
  margin: 1.5rem 0 0.938rem;
  padding: 0 0.938rem;
}

// == Mail action bar common styles
.mail-result-text {
  margin-right: 0.75rem;
}

.mail-nav-control {
  display: flex;
  align-items: center;
  justify-content: center;

  [class*='mail-nav-control-'] {
    background: var(--dropdown-toggle-secondary-bg);
    border: 1px solid var(--dropdown-border-color);
    border-radius: 2px;
    color: var(--gray-9e9e9e);
    font-size: 0.75rem;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-of-type {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .icon {
      display: block;
      line-height: 1;
    }
  }
}

/* Mail action bar ends */

// Mailbox reusable components

.ui-header {
  padding: 1.25rem 0.938rem;

  @include media('>=ipad') {
    padding: 1.25rem 1.563rem;
  }

  &.ui-header-bordered {
    border: 1px solid var(--border-class-color); //$dropdown-border-color;
    border-right: 0;
    border-left: 0;
  }

  &.border-all-corner {
    border: 1px solid var(--border-class-color);
  }
}

.ui-header-title,
.ui-header-subtitle {
  line-height: 1;
  color: $brand-secondary;
}

.mailbox-section-body {
  padding: 2.15rem 0.938rem;

  @include media('>=ipad') {
    padding: 2.5rem 1.563rem;
  }

  // == Small
  &-sm {
    padding: 1.563rem 0.938rem;

    @include media('>=ipad') {
      padding: 2.25rem 1.563rem;
    }
  }
}

.mailbox-section-body {
  .container-sm {
    @include media('<laptop') {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// == Mailbox dropdown

.mailbox-dropdown .dropdown-menu {
  padding: 0.5rem 0;
  margin-top: 2px;
}

.mailbox-dropdown {
  .dropdown-item {
    position: relative;
    padding: 0.625rem 0.938rem;
    border-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.2;
    white-space: normal;
    word-break: break-word;
  }
}

// == Listings

.table-fixed table {
  table-layout: fixed;
}

.mail-list-row {
  // position: relative;
  padding: 0.75rem 0.938rem;
  border-bottom: 1px solid var(--mail-row-border-bottom-color);
  font-size: 0.75rem;
  line-height: 1;
  background-color: var(--mail-row-background);
  cursor: pointer;

  @include media('>=ipad') {
    padding: 1.032rem 1.563rem;
  }

  &.is-unread {
    color: var(--mail-row-unread-sent-date-text-color) !important;
    background: var(--mail-row-background-unread);
  }

  &.is-read {
    background-color: var(--mail-row-background);
    color: var(--mail-row-read-sent-date-text-color);
  }

  &.is-checked {
    background: rgba(241, 196, 15, 0.12);
  }

  &.is-selected,
  &.is-selected:hover {
    background: var(--mail-row-background-selected) !important;
  }

  &.is-active {
    background: $brand-secondary !important;
    color: $brand-white !important;
  }
  &:hover {
    background: var(--mail-row-background-active) !important;
  }
}

.mail-list-inner-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -0.625rem;
}

.mail-list-inner-row > .mail-list-col {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 0.625rem;

  @include media('>sm') {
    flex: 0 0 27%;
    max-width: 27%;
  }

  @include media('>=ipad') {
    flex: 0 0 25%;
    max-width: 25%;
  }

  @include media('>=laptop') {
    flex: 0 0 20%;
    max-width: 20%;
  }

  @include media('>=desktop') {
    flex: 0 0 17%;
    max-width: 17%;
  }
}

.mail-list-inner-row > .mail-list-col-lg {
  @include media('>sm') {
    flex: 0 0 55%;
    max-width: 55%;
  }

  @include media('>=ipad') {
    flex: 0 0 57%;
    max-width: 57%;
  }

  @include media('>=laptop') {
    flex: 0 0 65%;
    max-width: 65%;
  }

  @include media('>=desktop') {
    flex: 0 0 70%;
    max-width: 70%;
  }
}

.mail-list-inner-row > .mail-list-col-xs {
  @include media('<=sm') {
    &.mail-list-col-xs {
      position: absolute;
      top: 0.938rem;
      right: 0; //~0.375rem;
    }
  }

  @include media('>sm') {
    flex: 0 0 18%;
    max-width: 18%;
  }

  @include media('>=ipad') {
    flex: 0 0 18%;
    max-width: 18%;
  }

  @include media('>=laptop') {
    flex: 0 0 15%;
    max-width: 15%;
  }

  @include media('>=desktop') {
    flex: 0 0 13%;
    max-width: 13%;
  }
}

.mail-list-col-row {
  display: flex;
  align-items: center;
  margin: 0 -0.375rem;
}

.mail-list-col-row > .mail-list-col-item {
  padding: 0 0.375rem;

  @include media('<=sm') {
    &.mail-status {
      position: absolute;
      top: 2.75rem;
      right: 0.375rem;
    }
  }
}

.mail-list-col-xs-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 -0.5rem;

  @include media('>=laptop') {
    margin: 0 -0.75rem;
  }
}

.mail-list-col-xs-row > .mail-list-col-xs-item {
  padding: 0 0.5rem;

  @include media('>=laptop') {
    padding: 0 0.75rem;
  }
}

.mail-list-row {
  td {
    padding: 1rem;
    vertical-align: middle;
    border-top: unset;
  }

  .icon-star {
    font-size: 0.938rem;
    color: $input-border-color;
  }

  &.is-unread .mail-from-name,
  &.is-unread .mail-subject {
    font-weight: bold;
  }

  .mail-checkbox {
    width: 1.5rem;
  }

  .mail-inbox-message,
  .mail-from-name {
    padding: 0;
    font-size: 14px;
    a {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 1rem;
    }
  }

  .mail-file-size,
  .mail-sent-date {
    font-size: 0.75rem;
    width: 4rem;
  }

  .mail-file-size {
    width: 2.5rem;
  }

  .mail-security-status.is-disabled {
    color: $input-border-color;
  }

  .mail-security-status {
    width: 3rem;
    text-align: center;
    color: var(--text-brand-secondary-white-color);

    @include media('<=xs') {
      width: 1rem;
    }
  }

  .mail-status-type .icon-star {
    color: var(--dropdown-border-color);
  }

  .mail-status-type.is-fav .icon-star-filled {
    color: $brand-warning;
  }

  .icon {
    font-size: 0.938rem;
  }

  .mail-from-name {
    vertical-align: middle;

    @include media('>sm') {
      width: 12.5rem;
    }
  }

  .mail-subject .mail-content {
    display: inline-block;
    vertical-align: middle;
  }

  .mail-desc {
    display: flex;
    align-items: center;

    @include media('<=sm') {
      flex-wrap: wrap;
      margin-top: 0.25rem; //~0.5rem;
      padding-left: 1.875rem;
      padding-right: 0.938rem;
      line-height: 1.29;

      small {
        font-size: 0.875rem;
      }
    }

    @include media('>sm') {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  @include media('<sm') {
    &.show-on-mobile {
      .fancy-field-group {
        margin-top: -17px;
      }
    }
    .mail-from-name {
      position: relative;
      padding: 15px 15px 0px;
      a {
        padding: 0 0 10px;
      }
      .text-danger {
        font-size: 16px;
        width: 60vw;
      }
      .mail-file-size {
        position: absolute;
        top: 45px;
        right: 0;
        width: auto;
      }
      .mail-sent-date {
        position: absolute;
        top: 17px;
        right: 1px;
        width: auto;
      }
    }
    .mail-status {
      text-align: right;
      .mail-security-status {
        width: auto;
        display: block;
        margin-bottom: 10px;
      }
    }
    &.hide-on-mobile {
      display: none;
    }
  }
}

.badge {
  border-radius: 3px;
}

.badge.badge-success {
  background-color: #007421;
}

.badge.badge-warning {
  background-color: #ff9500;
}

.badge.badge-danger {
  background-color: #ff4f41;
}

/* Mail list ends */

// == Mail composer

// == Mail composer ends

// == UI styles
.ui-body {
  padding: 1.25rem 0.938rem;

  @include media('>=ipad') {
    padding: 1.25rem 1.563rem;
  }

  &.is-xs {
    padding: 0.875rem 0.938rem;

    @include media('>=ipad') {
      padding: 0.875rem 1.563rem;
    }
  }

  &.is-bordered-bottom {
    border-bottom: 1px solid #f2f2f2;
  }
  @include media('<sm') {
    &.ui-footer-sec {
      background: #fafafa;
      text-align: center;
      .btn-user-action {
        background: none;
        border: none;
        font-size: 0;
        i {
          display: none;
        }
      }
    }
  }
}

// == Sender content
.sender-content-list {
  > li {
    font-size: 14px;
  }
}

.actions-btn.msg-reply-btn {
  &::before {
    right: auto;
    left: 50%;
    height: 0.55rem;
    width: 0.55rem;
    transform: translateX(-50%) translateY(-50%) rotate(135deg);
  }
}

.show.dropdown {
  .actions-btn.msg-reply-btn::before {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}

.msg-reply-type-holder {
  line-height: 1;
  margin-top: 3px;
}

.msg-received-time {
  margin-right: 27px;
  font-size: 12px;
  min-width: 4rem;
  text-align: center;
}

// == Message reply dropdown
.dropdown-xs.msg-reply-dropdown {
  .dropdown-item {
    padding: 0.625rem 0.938rem;
    font-size: 0.75rem;
  }
}

.msg-reply-dropdown .dropdown-menu {
  min-width: 155px;
}

// == Msg reply content
.msg-reply-content {
  line-height: 1.43;
  margin-right: 50px;
  word-break: normal;
  @include media('<ipad') {
    margin-top: 50px;
    margin-right: 0px;
    overflow-x: auto;
  }
}

/* ==================================== */
/*              NG-Bootstrap            */
/* ==================================== */

// == Date timer picker
.ng-datepicker {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.ng-datepicker-265 {
  max-width: 265px;
  width: 100%;
}

.ngb-dp-header {
  padding-top: 1rem !important;
  background: var(--brand-faded);
}

.ngb-dp-arrow {
  height: 2.5rem !important;
}

.ngb-dp-arrow .ngb-dp-arrow-btn.btn {
  margin-left: 0.75rem;
  color: #636c72 !important;
  min-width: inherit;
  opacity: 0.65;
}

.ngb-dp-arrow.right {
  .ngb-dp-arrow-btn.btn {
    margin-right: 0.75rem;
  }
}

.ngb-dp-navigation-select {
  margin-left: 0.375rem;
}

.ngb-dp-month {
  width: 100%;
}

.ngb-dp-month:first-child .ngb-dp-week {
  padding-left: 0.5rem !important;
}

.ngb-dp-month:last-child .ngb-dp-week {
  padding-right: 0.5rem !important;
}

.ngb-dp-day,
.ngb-dp-weekday,
.ngb-dp-week-number {
  color: #212121 !important;
  font-family: 'Lato', Helvetica, Arial, sans-serif !important;
  font-size: 0.875rem;
  line-height: 1.875rem !important;
  height: 1.875rem !important;
  width: 2.5rem !important;
}

.ngb-dp-weekdays {
  margin-top: 0 !important;
  padding-top: 0.375rem;
  background: $brand-faded;
}

.ngb-dp-week {
  margin: 5px 0 0;
}

.ngb-dp-weekday {
  font-family: 'Lato', Helvetica, Arial, sans-serif !important;
  font-size: 0.75rem;
  font-style: normal !important;
  font-weight: bold !important;
}

.ngb-dp-day {
  &:focus {
    outline: 0 !important;
  }

  .btn-light {
    width: 100% !important;
    outline: 0 !important;

    &:hover {
      background: $brand-secondary;
      color: $brand-white;
    }

    &:focus {
      outline: 0 !important;
    }
  }
}

.ng-datepicker {
  .ng-star-inserted {
    height: inherit !important;
  }

  .custom-select {
    background-size: 0.75rem !important;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-family: 'Lato', Helvetica, Arial, sans-serif !important;
    width: calc(50% - 0.375rem) !important;

    &:not(:last-of-type) {
      margin-right: 0.375rem;
    }

    &:focus {
      border-color: $brand-secondary;
      outline: 0;
    }
  }
}

.btns-xs-3 {
  .btn {
    @include media('<=sm') {
      padding-right: 1rem;
      padding-left: 1rem;
      min-width: inherit;
    }
  }
}

// = NG bootstrap timer
.ngb-tp {
  .btn {
    color: #636c72 !important;
    min-width: inherit;

    .chevron {
      opacity: 0.65;

      &::before {
        border-width: 0.2em 0.2em 0 0;
        height: 0.75em;
        width: 0.75em;
      }
    }
  }
}
/* For Inbox Contact page
===========================*/
.add-button {
  position: relative;
  .add-button-link {
    position: absolute;
    top: 8px;
    left: 100%;
    background: none;
    border: none;
    cursor: pointer;
    width: 17px;
    padding: 0;
    margin-left: 8px;
  }
}
/* For Inbox Settings Tabs
===========================*/
.label-align label {
  margin-top: 10px;
}

.folder-dropdown {
  max-height: 430px;
  overflow-y: auto;

  a {
    display: flex;
    align-items: center;
  }
}

.last-action {
  color: #989898;
  position: absolute;
  top: 3px;
  margin-left: 2px;
}

.item-group-label {
  font-weight: 600 !important;
}
.badge-position {
  right: 1.563rem !important;
}
