<div class="mailbox-content-outer">
    <app-mail-sidebar></app-mail-sidebar>
    <div class="banner row ml-lg-5 -align-center" *ngIf="autoresponder_status">
        <p><span>{{"settings.autoresponder_active"| translate}}</span> &nbsp;
            <a (click)="endAutoResponder()">{{"settings.end_now"| translate}}</a>&nbsp;-
            <a [routerLink]="'./settings/forwarding-and-auto-responder'">{{"mail_header.settings"| translate}}</a>
        </p>
    </div>

    <div class="banner row ml-lg-5" *ngIf="notificationMessage && !autoresponder_status && !hideNotification">
        <div class="col-11 mt-1">
            <p [innerHTML]="notificationMessage">
            </p>
        </div>
        <div>
            <a type="button" class="close font-20px" aria-label="Close" (click)="hideNotification = !hideNotification">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
    </div>
    <div class="mailbox-main-content">
        <app-mail-header></app-mail-header>
        <router-outlet></router-outlet>
    </div>
    <!-- Mail compose dialog container -->
    <div class="compose-mail-container">
        <ng-template #composeMailContainer></ng-template>
    </div>
</div>


<!--Hot keys-->
<!--TODO: disable shortcuts until bugs are fixed-->
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

<ng-keyboard-shortcuts-help key="f1" closeKey="escape" title="Keyboard shortcuts">

</ng-keyboard-shortcuts-help>
