<div class="app-mail">
  <div class="sidebar">
    <app-mail-sidebar></app-mail-sidebar>
  </div>
  <div class="content">
    <app-mail-header></app-mail-header>
    <router-outlet></router-outlet>
    <app-mail-footer></app-mail-footer>
  </div>
  <div *ngIf="composing" class="compose" [ngClass]="{'minimized': minimize}">
    <form #form="ngForm">
      <div class="header">
        New message
        <svg-icon class="svg-icon white-icon" src="/assets/img/inbox/compose/close.svg" (click)="mailService.composing.emit(false); minimize = false"></svg-icon>
        <svg-icon class="svg-icon white-icon" src="/assets/img/inbox/compose/minimize.svg" *ngIf="!minimize" (click)="minimize = !minimize"></svg-icon>
        <svg-icon class="svg-icon white-icon" src="/assets/img/inbox/compose/maximize.svg" *ngIf="minimize" (click)="minimize = !minimize"></svg-icon>
        <svg-icon class="svg-icon white-icon" src="/assets/img/inbox/compose/expand.svg"></svg-icon>
      </div>
      <div *ngIf="!minimize" class="inputs">
        <div class="to-wrapper">
          <span>
            To:
          </span>
          <input [(ngModel)]="message.to_header" #to_header="ngModel" name="to_header" placeholder="your-friend@gmail.com" autofocus required>
        </div>
        <div class="subject-wrapper">
          <span>
            Subject:
          </span>
          <input [(ngModel)]="message.subject" #subject="ngModel" name="subject" placeholder="How are you?" required>
        </div>
      </div>
      <div *ngIf="!minimize" class="textarea">
        <textarea [(ngModel)]="message.body" #body="ngModel" name="body" placeholder="Message"></textarea>
      </div>
      <div *ngIf="!minimize" class="footer">
        <div class="left-side">
          <div class="buttons-group">
            <button class="ui btn-icon btn-inbox btn-small button">
              <svg-icon class="svg-icon" src="/assets/img/inbox/compose/paperclip.svg"></svg-icon>
            </button>
            <button class="ui btn-icon btn-inbox btn-small button">
              <svg-icon class="svg-icon" src="/assets/img/inbox/compose/picture.svg"></svg-icon>
            </button>
            <button class="ui btn-icon btn-inbox btn-small button">
              <svg-icon class="svg-icon" src="/assets/img/inbox/compose/link.svg"></svg-icon>
            </button>
          </div>
          <div class="buttons-group">
            <button class="ui btn-icon btn-inbox btn-small button">
              <svg-icon class="svg-icon" src="/assets/img/inbox/compose/lock.svg"></svg-icon>
            </button>
            <button class="ui btn-icon btn-inbox btn-small button">
              <svg-icon class="svg-icon" src="/assets/img/inbox/compose/clock.svg"></svg-icon>
            </button>
            <button class="ui btn-icon btn-inbox btn-small button">
              <svg-icon class="svg-icon" src="/assets/img/inbox/compose/fingerprint.svg"></svg-icon>
            </button>
            <button class="ui btn-icon btn-inbox btn-small button">
              <svg-icon class="svg-icon" src="/assets/img/inbox/compose/self-timer.svg"></svg-icon>
            </button>
          </div>
          <button class="ui btn-icon btn-inbox btn-small button">
            <svg-icon class="svg-icon" src="/assets/img/inbox/compose/keyboard-show.svg"></svg-icon>
          </button>
          <div class="ui btn-submenu btn-inbox btn-small large dropdown button" suiDropdown>
            More
            <i class="angle down icon"></i>
            <div class="menu" suiDropdownMenu>
              <div class="item">Option 1</div>
              <div class="item">Option 2</div>
            </div>
          </div>
        </div>
        <div class="right-side">
          <div class="buttons-group">
            <button class="ui btn-icon btn-inbox btn-small button" (click)="save(false)">
              <svg-icon class="svg-icon" src="/assets/img/inbox/compose/floppy-disk.svg"></svg-icon>
            </button>
            <button class="ui btn-icon btn-inbox btn-small button" (click)="delete()">
              <svg-icon class="svg-icon" src="/assets/img/inbox/compose/trash.svg"></svg-icon>
            </button>
          </div>
          <button class="uppercase ui button btn-small btn-blue btn-send" (click)="save(true)">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
