@import '../../styles/base/variables';
@import '../../styles/vendors/include-media/include-media';
@import '../../styles/config/include-media-config';
@import '../../styles/vendors/ceaser/ceaser-easing';

// == Mailbox content
.app-outer-mailbox {
	small {
		font-size: 0.75rem;
	}
}

// == Mailbox content
.mailbox-main-content {
	position: relative;
	// margin-left: 60px;
	padding-bottom: 3.75rem;
	min-height: 100vh;

	@include media("<ipad", ">sm") {
		margin-left: 68px;
	}

	@include media(">=ipad") {
		margin-left: 290px;
	}
}