.mail-content {
  position: relative;
  color: var(--text-color-mail-content);
  background: var(--bg-color-mail-content);
  margin: 0.3rem;

  .msg-reply-dropdown {
    position: absolute;
    right: 20px;
  }
}
.attachment-content {
  padding-left: 25px;
}
