<!--Mail Content-->
<ng-container
  class="mailbox-section"
  *ngIf="
      isShowTrashRelatedChildren ||
      (mailFolder !== mailFolderTypes.TRASH && mail?.folder !== mailFolderTypes.TRASH) ||
      (mailFolder === mailFolderTypes.TRASH && mail?.folder === mailFolderTypes.TRASH)
    "
>
  <div [ngClass]="{ 'last-child': isLastChild }">
    <app-mail-detail-header
      [mail]="mail"
      [isParentHeader]="isParentHeader"
      [mailFolder]="mailFolder"
      [decryptedContents]="decryptedContents"
      [isDecryptingError]="isDecryptingError"
      [mailExpandedStatus]="mailExpandedStatus"
      [isShowTrashRelatedChildren]="isShowTrashRelatedChildren"
      [unsubscribeLink]="unsubscribeLink"
      (onClick)="onClickHeader.emit()"
      (onToggleStarred)="onToggleStarred.emit($event)"
    ></app-mail-detail-header>
    <section id="ngb-collapse" [ngbCollapse]="!mailExpandedStatus">
      <!-- Password Decryption Form -->
      <app-mail-detail-password-decryption-panel
        [mail]="mail"
        [errorMessageForDecryptingWithPassword]="errorMessageForDecryptingWithPassword"
        [isPasswordEncrypted]="isPasswordEncrypted"
        [decryptedContents]="decryptedContents"
        [mailExpandedStatus]="mailExpandedStatus"
        (decryptWithPassword)="decryptWithPassword.emit($event)"
      ></app-mail-detail-password-decryption-panel>
      <div class="ui-body mail-content" *ngIf="decryptedContents">
        <!-- Action Dropdown starts -->
        <div ngbDropdown placement="bottom-right" class="mailbox-dropdown msg-reply-dropdown dropdown-xs">
          <button
            ngbDropdownToggle
            class="actions-btn actions-btn-sm msg-reply-btn"
            role="button"
            id="messageReplyDropdownMenuButton"
          ></button>
          <div ngbDropdownMenu aria-labelledby="messageReplyDropdownMenuButton">
            <ng-container *ngIf="mailFolder !== mailFolderTypes.OUTBOX">
              <a class="dropdown-item" (click)="onForward.emit(); scrollToReplyAction.emit();">
                {{ 'mail_detail.forward' | translate }}
              </a>
              <a class="dropdown-item" (click)="onReply.emit(); scrollToReplyAction.emit();">
                {{ 'mail_detail.reply' | translate }}
              </a>
              <a
                class="dropdown-item"
                *ngIf="mail?.cc?.length || mail?.bcc?.length || mail?.receiver?.length > 1"
                (click)="onReplyAll.emit(); scrollToReplyAction.emit();"
              >
                {{ 'mail_detail.reply_all' | translate }}
              </a>
            </ng-container>
            <a class="dropdown-item" *ngIf="mail?.delayed_delivery" (click)="onCancelSend.emit()">
              {{ 'mail_detail.cancel_send' | translate }}
            </a>
            <a class="dropdown-item" (click)="onPrint.emit()">{{ 'mail_detail.print' | translate }}</a>
            <a
              class="dropdown-item"
              (click)="onDelete.emit()"
              [translate]="
              mailFolder === mailFolderTypes.TRASH && mail?.folder === mailFolderTypes.TRASH
                ? ('mail_detail.delete_message' | translate)
                : ('mail_detail.delete_this_message' | translate)
            "
            >
            </a>
            <a
              class="dropdown-item"
              (click)="onDeleteForAll.emit()"
              *ngIf="mail?.folder === mailFolderTypes.SENT && mailFolder === mailFolderTypes.SENT"
              [ngbTooltip]="'mail_detail.messages_will_be_del' | translate"
              placement="left"
            >
              {{ 'mail_detail.delete_from_receiver' | translate }}
            </a>
            <a class="dropdown-item" (click)="showIncomingHeaders.emit()">
              {{ 'mail_detail.show_headers' | translate }}
            </a>
            <a
              class="dropdown-item"
              (click)="downloadAllAttachments.emit()"
              *ngIf="decryptedContents && mail?.attachments?.length > 0"
            >
              {{ 'mail_detail.download_attachments' | translate }}
            </a>
            <a class="dropdown-item" *ngIf="!disableMoveTo" (click)="onMarkAsSpam.emit(mail)">
              {{ 'mail_detail.mark_as_spam' | translate }}
            </a>
            <a class="dropdown-item" (click)="onSwitchHtmlPlainTextMode.emit()" *ngIf="decryptedContentsPlain">
              {{
              plainTextViewState
                ? ('mail_detail.show_rich_text' | translate)
                : ('mail_detail.show_plain_text' | translate)
              }}
            </a>
          </div>
        </div>
        <!-- Action Dropdown ends -->

        <!-- Actual Email Content starts -->
        <div class="show_gmail_extra">
          <div *ngIf="plainTextViewState; then plainBlock; else htmlBlock"></div>
          <ng-template #htmlBlock>
            <div
              class="msg-reply-content text-dark"
              [style.white-space]="isDecryptingError ? 'break-spaces' : ''"
              id="{{ mail?.id }}-raw-mail-content"
              [innerHTML]="
              mail?.is_html
                ? (decryptedContents | safe: 'sanitize':disableExternalImages)
                : (decryptedContents | linebreaktobrtag | safe: 'sanitize':disableExternalImages)
            "
            ></div>
          </ng-template>
          <ng-template #plainBlock>
            <div
              class="msg-reply-content text-dark"
              id="{{ mail?.id }}-raw-mail-content"
              [innerHTML]="decryptedContentsPlain | linebreaktobrtag | safe: 'sanitize':disableExternalImages"
            ></div>
          </ng-template>
        </div>
        <!-- Actual Email Content ends -->
      </div>

      <!-- Decrypting Image starts -->
      <div
        align="center"
        class="decryption-spinner"
        *ngIf="
        mailExpandedStatus &&
        !decryptedContents &&
        (isDecrypting || (!isDecrypting && !isPasswordEncrypted))
      "
      >
        <img class="mt-3" [src]="loadingImage | safe: 'url'" />
        <div class="mt-3">
          {{ 'mail_detail.decrypt_encrypted_email' | translate }}
        </div>
      </div>
      <!-- Decrypting Image ends -->

      <!-- Attachments list starts -->
      <ul class="list-style-none mt-3" *ngIf="decryptedContents && mail?.attachments?.length > 0">
        <ng-container *ngFor="let attachment of mail?.attachments">
          <li class="download-attachment-wrapper mr-1" *ngIf="!attachment.is_inline">
            <app-progress-bar [active]="decryptedAttachments[attachment.id]?.inProgress"></app-progress-bar>
            <a
              *ngIf="!attachment.is_encrypted; else encryptedAttachment"
              class="download-attachment"
              [download]="attachment.name"
              [href]="attachment.document | safe: 'url'"
              placement="top"
              [ngbTooltip]="attachment.name"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="attachment-icon">
                <i class="icon icon-attachment"></i>
              </div>
              <div class="attachment-name">
                {{ attachment.name }}
              </div>
            </a>

            <ng-template #encryptedAttachment>
              <a
                class="download-attachment"
                (click)="decryptAttachment.emit(attachment)"
                href="javascript:void(0)"
                placement="top"
                [ngbTooltip]="attachment.name"
              >
                <div class="attachment-icon">
                  <i class="icon icon-attachment"></i>
                </div>
                <div class="attachment-name">
                  {{ attachment.name }}
                </div>
              </a>
            </ng-template>
          </li>
        </ng-container>
      </ul>
      <!-- Attachments list ends -->
    </section>
  </div>
</ng-container>