.mat-row {
  padding-left: 2px;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border: 2px solid var(--mat-checkbox-border-color);
}

::ng-deep .mat-checkbox .mat-checkbox-background {
  border: var(--width-0-2) solid var(--mat-checkbox-border-color);
}
