<section class="mailbox-section">
  <header class="ui-header ui-header-bordered">
    <h5 class="ui-header-subtitle text-dark mb-0"><strong translate="settings.forwarding.title">Forwarding</strong>
      <app-loading-spinner [showSpinner]="userState?.inProgress"></app-loading-spinner>
    </h5>
  </header>
  <div class="mailbox-section-body mailbox-section-body-sm">
    <div class="form-content-holder col-sm col-sm-8">
      <ul class="ui-list ui-list-styled list-styled" *ngIf="settings?.enable_forwarding; else addForwardingAddress;">
        <li class="ui-list-item ui-list-item-xs-full">
          <div class="row row-xs align-items-center">
            <div class="col-10 col-sm-8 show-ellipses">
              {{settings.forwarding_address}}
            </div>
            <div class="col-2 col-sm-4">
              <ul class="setting-actions-list d-flex align-items-center justify-content-end list-styled text-right">
                <li><a (click)="onEditAddress()" role="button"><i class="icon icon-edit"></i></a></li>
                <li><a (click)="onDeleteAddress()" role="button"><i class="icon icon-garbage"></i></a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <ng-template #addForwardingAddress>
        <div class="info-card">
          <p translate="settings.forwarding.auto_forward">You can automatically forward your messages to another address.</p>
          <a href="javascript:void(0);" class="text-uppercase btn-link" role="button"
             (click)="onAddAddress()"><strong><u translate="settings.forwarding.add_address">Add a forwarding address</u></strong></a>
        </div>
      </ng-template>
    </div>
  </div>
</section>

<!-- Add forwarding address modal -->
<ng-template #addAddressModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong translate="settings.forwarding.add_address">Add a forwarding address</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form *ngIf="!isVerificationCodeSent; else codeSent" [formGroup]="emailForm"
        (submit)="onAddAddressSubmit()">
    <div class="modal-body bg-faded">
      <div class="text-holder text-dark text-medium">
        <p translate="settings.forwarding.enter_email">Please enter a forwarding email address.</p>
        <div class="mx-auto mt-2 pt-sm-2">
          <div class="form">
            <div class="form-group form-group-sm">
              <label for="forwardingAddress" class="d-block text-muted text-left hidden-sm-up"
              translate="settings.forwarding.address">Forwarding Address</label>
              <input class="form-control text-dark" id="forwardingAddress" autocomplete="off"
                     [placeholder]="'settings.forwarding.address'| translate" type="email" name="forwardingAddress" formControlName="email"
                     required/>
              <ng-container *ngIf="emailForm.controls['email'].errors && showFormErrorMessages">
                <span *ngIf="emailForm.controls['email'].errors.required" class="validate-message"
                translate="settings.forwarding.address_req">The address is required.
                </span>
                <span *ngIf="emailForm.controls['email'].errors.pattern" class="validate-message"
                translate="settings.forwarding.address_invalid">The address is invalid.
                </span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-2">
        <a (click)="isVerificationCodeSent = true; showFormErrorMessages = false; errorMessage = null;" role="button">
          <small>
            <u translate="settings.forwarding.code_message">Already have the code</u>
          </small>
        </a>
      </div>
      <div *ngIf="errorMessage" class="l-alert l-alert-danger mb-3">
        {{ errorMessage }}
      </div>
    </div>
    <div class="modal-footer justify-content-center justify-content-sm-end">
      <button class="btn btn-default btn-sm" type="reset" (click)="d()"><span translate="common.cancel">Cancel</span></button>
      <button class="btn btn-secondary btn-sm" type="submit" [disabled]="userState.inProgress"><span translate="billing_info.submit">Submit</span></button>
      <app-loading-spinner [showSpinner]="userState.inProgress"></app-loading-spinner>
    </div>
  </form>

  <ng-template #codeSent>
    <form [formGroup]="codeForm" (submit)="onVerifyCodeSubmit()">
      <div class="modal-body bg-faded">
        <div class="text-holder text-dark text-medium">
          <p translate="settings.forwarding.enter_code">Please enter the verification code sent to provided email address.</p>
          <div class="mx-auto mt-2 pt-sm-2">
            <div class="form">
              <div class="form-group form-group-sm">
                <label for="verifyForwardingAddress" class="d-block text-muted text-left hidden-sm-up"
                translate="settings.forwarding.address">Forwarding Address</label>
                <input class="form-control text-dark" id="verifyForwardingAddress" autocomplete="off"
                       [placeholder]="'settings.forwarding.address'| translate" type="email" name="verifyForwardingAddress" formControlName="email"
                       required/>
                <ng-container *ngIf="codeForm.controls['email'].errors && showFormErrorMessages">
                <span *ngIf="codeForm.controls['email'].errors.required" class="validate-message"
                translate="settings.forwarding.address_req">The address is required.
                </span>
                  <span *ngIf="codeForm.controls['email'].errors.pattern" class="validate-message"
                  translate="settings.forwarding.address_invalid">The address is invalid.
                </span>
                </ng-container>
              </div>
              <div class="form-group form-group-sm">
                <label for="verificationCode" class="d-block text-muted text-left hidden-sm-up"
                translate="settings.forwarding.verif_code">Verification Code</label>
                <input class="form-control text-dark" id="verificationCode" autocomplete="off"
                       [placeholder]="'settings.forwarding.verif_code'| translate" type="number" name="forwardingAddress" formControlName="code"
                       required/>
                <ng-container *ngIf="codeForm.controls['code'].errors && showFormErrorMessages">
                <span *ngIf="codeForm.controls['code'].errors.required" class="validate-message"
                translate="settings.forwarding.code_req">The verification code is required.
                </span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="errorMessage" class="l-alert l-alert-danger mb-3">
          {{ errorMessage }}
        </div>
      </div>
      <div class="modal-footer justify-content-center justify-content-sm-end">
        <button class="btn btn-default btn-sm" type="reset" (click)="d()"><span translate="common.cancel">Cancel</span></button>
        <button class="btn btn-secondary btn-sm" type="submit" [disabled]="userState.inProgress" translate="billing_info.submit">Submit</button>
        <app-loading-spinner [showSpinner]="userState.inProgress"></app-loading-spinner>
      </div>
    </form>
  </ng-template>


</ng-template><!-- /. Add forwarding address modal ends -->

<!-- Confirm delete forwarding address modal -->
<ng-template #confirmDeleteAddressModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong>Confirm Delete</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="text-holder text-dark text-medium">
      <p translate="settings.forwarding.delete_message">Are you sure you want to delete forwarding address?</p>
    </div>
  </div>
  <div class="modal-footer justify-content-center justify-content-sm-end">
    <button (click)="d()" class="btn btn-default btn-sm" role="button"><span translate="common.cancel">Cancel</span></button>
    <button (click)="deleteAddress()" class="btn btn-danger btn-sm" role="button"><span translate="common.delete">Delete</span></button>
  </div>

</ng-template><!-- /.Confirm delete forwarding address modal ends -->
