

<div class="mail-listing">
  <div class="mail-list-row" *ngFor="let mail of mails">
      <div class="mail-list-inner-row" [ngClass]="{'is-unread': !mail.read, 'is-read': mail.read}" *ngIf="mail.folder == 'trash'">
          <div class="mail-list-col">
              <div class="mail-list-col-row">
                  <div class="mail-list-col-item mail-checkbox">
                      <div class="fancy-field-group">
                          <input class="d-none fancy-field-control" id={{mail.id}} name="[]" type="checkbox" [(ngModel)]="mail.checked"/>
                          <label for={{mail.id}} class="fancy-field-empty"></label>
                      </div>
                  </div>
                  <div class="mail-list-col-item mail-status">
                      <div class="mail-status-type" [ngClass]="{'is-fav': mail.starred}">
                          <i class="icon icon-star-filled"></i>
                      </div>
                  </div>
                  <div class="mail-list-col-item mail-from-name">
                      <span>{{mail.sender}}</span>
                  </div>
              </div>
          </div>
          <div class="mail-list-col mail-list-col-lg">
              <div class="mail-desc">
                  <!-- <div class="mail-delete-badge">
                      <span class="badge badge-warning">Delete in 5.25</span>
                  </div> -->
                  <p [innerHTML]="mail.subject">
                      <!-- <small>
                          <strong>Unpleasant nor diminution.</strong> Draw part them he an to he roof only. Music leave say doors
                          him. Tore bred form if sigh</small> -->
                  </p>
              </div>
          </div>
          <div class="mail-list-col mail-list-col-xs">
              <div class="mail-list-col-xs-row">
                  <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                  <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                  <div class="mail-list-col-xs-item mail-security-status is-disabled">
                      <i class="icon icon-secured"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="mailbox-footer-actionbar hidden-sm-up">
  <div class="row justify-content-end">

      <div class="col-12 mailbox-actionbar-col">
          <div class="mail-controls d-flex align-items-center justify-content-end">
              <div class="mail-result-text text-muted">
                  <small>1-50 of 2346</small>
              </div>
              <div class="mail-nav-control">
                  <button role="button" class="mail-nav-control-prev">
                      <i class="icon icon-chevron-left"></i>
                  </button>
                  <button role="button" class="mail-nav-control-next">
                      <i class="icon icon-chevron-right"></i>
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>