<div class="row">
  <div class="col-sm-6 mb-4 mb-sm-0">
      <a class="v-card square-card bg-faded has-border br-4" routerLink="/donate/stripe"  >
          <div class="square-card-content">
              <figure>
                  <img alt="Donate via CREDIT/DEBIT Card" class="img" src="assets/images/donate/donate-by-card.png" />
              </figure>
          </div>
          <div class="square-card-footer">
              <div class="donate-text text-secondary text-uppercase">
                  <strong>Donate via CREDIT/DEBIT Card</strong>
              </div>
          </div>
      </a>
  </div>
  <div class="col-sm-6">
      <a class="v-card square-card bg-faded has-border br-4" routerLink="/donate/bitcoin">
          <div class="square-card-content">
              <figure>
                  <img alt="Donate via bitcoin" class="img" src="assets/images/donate/bitcoin.png" />
              </figure>
          </div>
          <div class="square-card-footer">
              <div class="donate-text text-secondary text-uppercase">
                  <strong>Donate via bitcoin</strong>
              </div>
          </div>
      </a>
  </div>
</div>
