<!-- Custom Domain Section -->
<section id="domains" class="mailbox-section mt-4">
  <div class="mailbox-section-body pt-0">
    <div class="desc-card-holder mt-sm-3 mt-md-0">
      <div class="row">
        <div class="col-md-12 mb-4 mb-md-0">
          <!-- Current Domains Part -->
          <div *ngIf="!isCreateOrganization">
            <div class="desc-card">
              <div class="desc-card-header ui-header ui-header-bordered border-all-corner border-bottom-0">
                <h5 class="ui-header-subtitle text-dark mb-0 d-inline-block">
                  <a class="anchor" aria-hidden="true" (click)="onAnchoredLink('organization')">
                    <i class="fas fa-link link-icon"></i>
                  </a>
                  <strong>Organization</strong>
                </h5>
              </div>
              <div class="desc-card-body bg-faded domain-body">
                <button
                  class="btn btn-sm btn-secondary btn-add-domain text-small"
                  *ngIf="userState?.isPrime"
                  (click)="onAddNewOrganization()"
                >
                  <span>Create Organization</span>
                </button>
                <div class="py-4 error-message" *ngIf="!userState?.isPrime && userState?.customDomainsLoaded">
                  <span [translate]="'settings.domains_and_users.premium_feature'">
                    This is a premium feature,please</span
                  >
                  <a class="cursor-pointer" (click)="gotoPricingPlans()">
                    &nbsp;
                    <span [translate]="'settings.domains_and_users.upgrade'">upgrade</span>
                  </a>
                  &nbsp;
                  <span [translate]="'settings.domains_and_users.use_feature'"> in order to use this feature. </span>
                </div>

                <app-loading-spinner [showSpinner]="userState?.inProgress" class="loading-spinner">
                </app-loading-spinner>
              </div>
            </div>
          </div>
          <!-- Add New Organization Part -->
          <div class="desc-card" *ngIf="isCreateOrganization">
            <app-create-organizer></app-create-organizer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
