<footer id="mailboxFooter" class="mailbox-footer">
    <div class="mailbox-footer-inner">
        <ul class="mailbox-footer-menu justify-content-center justify-content-sm-start">
            <li>
                <a href="">
                    <u translate="common.report_bug">Report a bug</u>
                </a>
            </li>
            <li>
                <a href="">
                    <u [innerHTML]="'common.terms_and_privacy' | translate">Terms & Privacy</u>
                </a>
            </li>
            <li>
                <a href="" class="text-primary">
                    <u translate="common.upgrade_account">Upgrade account</u>
                </a>
            </li>
        </ul>
    </div>
</footer>