@import '../../../styles/base/variables';
@import '../../../styles/vendors/include-media/include-media';
@import '../../../styles/config/include-media-config';
@import '../../../styles/vendors/ceaser/ceaser-easing';

// == Mailbox footer
#mailboxFooter {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  // margin-left: 290px;
  padding: 1.5rem 0.938rem;
  background: $brand-white;

  @include media(">=ipad") {
    padding: 0.5rem 1.563rem;
  }

  // @include media("<ipad", ">sm") {
  // 	margin-left: 68px;
  // }

  // @include media(">=ipad") {
  // 	margin-left: 290px;
  // }
}

.mailbox-footer-menu {
  display: flex;
  align-items: center;
  margin: 0 -0.5rem;
  padding: 0 0;
  font-size: 0.75rem;
  line-height: 1;
  list-style: none;

  > li {
    padding: 0 0.5rem;

    > a {
      position: relative;
      display: block;
      color: $brand-gray;
      &:hover {
        color: $brand-primary;
      }

      &::after {
        position: absolute;
        top: 50%;
        right: -0.5rem;
        content: "";
        border-right: 1px solid $brand-gray;
        height: 10px;
        transform: translateY(-50%);
      }
    }

    &:last-of-type > a::after {
      display: none;
    }
  }
}
