<!-- FOOTER SECURE EMAIL BLOCK -->
<section class="l-block secure-email-block is-clipped top top-left gap-p-sm bg-faded text-dark text-center">
  <div class="container">
      <header class="l-block-header">
          <figure class="secure-logo-holder">
              <img alt="" class="img logo-lg" src="assets/images/logo.svg" />
          </figure>
          <div class="row justify-content-center">
              <div class="col-sm-10 col-md-7">
                  <div class="text-card">
                      <h2 class="l-block-title  mb-3 pb-1">Register
                          <strong>World’s Most Secure Email</strong> Now!</h2>
                      <h4 class="l-block-subtitile  mb-3 pb-2">Send unbreakable emails and protect your key professional and personal details trough
                          next-gen encryption.</h4>
                      <a href="" class="btn btn-lg btn-gradient-primary">upgrade to prime</a>
                  </div>
              </div>
          </div>
      </header>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.FOOTER SECURE EMAIL BLOCK ENDS -->