@import './base/variables';

// Dark Variables
// Background
$dark-background-1: #20273e;
$dark-background-2: #363d51;
$background-3: #fafafa;
$dark-background-tag: #efefef;
$background-color-info: #f5f5f5;
$background-color-info-dark: $dark-background-2;
// Border
$dark-border-color: #323a4c;
$dark-border-color-1: rgba(0, 0, 0, 0.125);
$dark-border-color-1-dark: #474e61;
$dark-border-color-2: #e0e0e0;
$dark-border-color-2-dark: #474e61;
$dark-border-color-3: #f2f2f2;
$light-border-color-4: #fafafa;
$border-color-5-light: #8a9095;
$border-color-5-dark: #394061;
// $dark-border-color-3-dark: #fff;
// Text
$compose-input-text-color-light: #464a4c;
$compose-input-text-color-dark: #fff;
$dark-text-color-1: rgba(0, 0, 0, 0.38);
$dark-text-color-2: rgba(0, 0, 0, 0.54);
$dark-text-color-tag: #444;
$placeholder-text-color-dark: #cccccc;

$zero-width-pixel: 0;
$one-width-pixel: 1px;
$two-width-pixel: 2px;

// General
$text-dark-color: rgba(0, 0, 0, 0.87);
$text-dark-color-dark: #fff;

$text-gray-dark-color: $gray-dark;
$text-gray-dark-color-dark: #fff;

$text-secondary-color: $brand-secondary;
$text-secondary-color-dark: #fff;

$after-color: inherit;
$after-color-dark: #fff;

$dropdown-item-color: $gray-dark;
$dropdown-item-color-dark: #fff;

$dark-action-menu-background: #fff;
$dark-action-menu-background-dark: $dark-background-2;
$dark-action-btn-background: #fafafa;
$dark-action-btn-background-dark: $dark-background-2;
$dark-action-btn-border-color: $dark-border-color-2;
$dark-action-btn-border-color-dark: $dark-border-color-1-dark;
$dark-action-btn-text-color: $dark-text-color-1;
$dark-action-btn-text-color-dark: #fff;
$dark-action-btn-hover-background: #fafafa;
$dark-action-btn-hover-background-dark: $dark-background-2;

$action-btn-selected-background-dark: $dark-background-1;
$action-btn-selected-background-light: $border-color-5-light;

$dark-dropdown-item-text-color: #292b2c;
$dark-dropdown-item-text-color-dark: #fff;
$dark-dropdown-item-border-color: transparent;
$dark-dropdown-item-border-color-dark: $dark-border-color-1-dark;

$mailbox-content-background: inherit;
$mailbox-content-background-dark: $dark-background-1;

$action-bar-border-bottom-color: $input-border-color;
$action-bar-border-bottom-color-dark: $dark-border-color;

// Checkbox
$checkbox-list-border-color: #cccaca;
$checkbox-list-border-color-dark: #fff;
$checkbox-select-all-border-color: $dark-text-color-1;
$checkbox-select-all-border-color-dark: #fff;
$checkbox-background-border-color: transparent;
$checkbox-background-border-color-dark: #fff;

// Modal & ...
$theme-bg-faded: $brand-faded;
$theme-bg-light: inherit;
$theme-bg-white: #fff;
$theme-bg-modal-dark: $dark-background-2;
$modal-header-footer-background: #fff;
$modal-header-footer-background-dark: darken($theme-bg-modal-dark, 3%);
$modal-header-footer-border-radius: 2px;
$modal-header-footer-border-radius-dark: 0;
$modal-header-footer-border-color: #eceeef;
$modal-header-footer-border-color-dark: #eceeef;

// SideBar

$siderbar-background-color: #34495e;
$siderbar-background-color-dark: #151e34;

$sidebar-right-border-color: transparent;
$sidebar-right-border-color-dark: $dark-border-color;

$sidebar-right-border-width: 0px;
$sidebar-right-border-width-dark: 2px;

$sidebar-bottom-background-color: #29394e;
$sidebar-bottom-background-color-dark: #151e34;

// NavBar
$navbar-action-menu-button-hover-text-color-light: #8a9095;

$navbar-background-color: $brand-faded;
$navbar-background-color-dark: $dark-background-1;

$navbar-border-color: $dropdown-border-color;
$navbar-border-color-dark: transparent;

$navbar-border-width: 1px;
$navbar-border-width-dark: 0;

$navbar-border-bottom-color: $dropdown-border-color;
$navbar-border-bottom-color-dark: $dark-border-color;

$navbar-border-bottom-width: 1px;
$navbar-border-bottom-width-dark: 1px;

$navbar-search-form-border-color: transparent;
$navbar-search-form-border-color-dark: #474e61;

$navbar-search-button-background: #34495e;
$navbar-search-button-background-dark: #182034;
$navbar-search-button-border-color: #34495e;
$navbar-search-button-border-color-dark: transparent;

// Mail, Contacts, List
$mail-list-row-background-color: inherit;
$mail-list-row-background-read-color: transparent;
$mail-list-row-background-unread-color: #f5f5f5;
$mail-list-row-background-checked-color:  rgba(241, 196, 15, 0.12);
$mail-list-row-background-selected-color: #ffc;
$mail-list-row-background-active-color: $brand-secondary!important;
$mail-list-row-background-color-dark: $dark-background-1;
$mail-list-row-background-color-selected-dark: #373c50;

$mail-list-row-color: inherit;
$mail-list-row-read-color: $brand-gray;
$mail-list-row-unread-color: $brand-black!important;
$mail-list-row-checked-color: inherit;
$mail-list-row-selected-color: inherit;
$mail-list-row-active-color: $brand-white!important;
$mail-list-row-color-dark: #fff!important;

$mail-list-row-border-bottom-color: #e0e0e0;
$mail-list-row-border-bottom-color-dark: $dark-border-color;

$mailbox-main-header-background: inherit;
$mailbox-main-header-background-dark: $dark-background-1;
$mailbox-main-header-color: inherit;
$mailbox-main-header-color-dark: #fff;

// Compose
$compose-receiver-tag-input-placeholder-color-light: #757575;
$compose-receiver-tag-input-placeholder-color-dark: #fff;
$compose-receiver-tag-shadow-light: #d4d1d1;
$compose-receiver-tag-shadow-dark: #151e35;

// Contacts
$contacts-list-body-border: #f5f5f5;
$contacts-list-body-border-dark: $dark-border-color;
$contact-list-header-color: inherit;
$contact-list-header-color-dark: #fff;

// Footer
$footer-background: $brand-white;
$footer-background-dark: $dark-border-color;
$footer-color: $brand-gray;
$footer-color-dark: #fff;

// Settings - Tab
$settings-nav-link-text-color: #616161;
$dark-background-settings-tab-active: #f4f4f4;
$dark-background-settings-tab-active-dark: #182034;
$dark-settings-tab-border-color: #f5f5f5;
$dark-settings-tab-border-color-dark: $dark-border-color-1-dark;
// Settings - Plan
$settings-plan-item-color: #2e4053;
$settings-plan-item-color-dark: #fff;
$settings-plan-select-btn-shadow-light: #e8dcdc;
$settings-plan-select-btn-shadow-dark: #151e35;
$settings-plan-sub-item-border-color-light: #fff;
// Settings - Whitelist
$settings-whitelist-icon-color: $brand-light-gray;
$settings-whitelist-icon-color-dark: #fff;
$settings-whitelist-fa-ban-color: #e74c3c;
$settings-whitelist-fa-ban-color-dark: #fff;
$settings-whitelist-fa-user-circle-color: #1d6fa5;
$settings-whitelist-fa-user-circle-color-dark: #fff;
// Settings - Domains
$settings-domains-action-hover-color: #949494;
$settings-domains-action-hover-color-dark: #fff;
// Settings - Folders
$settings-folders-sort-btn-background-light: rgb(239, 239, 239);
$settings-folders-sort-btn-background-dark: #182034;
// Settings - Forwarding
$settings-forwarding-switcher-text-color-light: rgba(0, 0, 0, 0.12);
$settings-forwarding-switcher-text-color-dark: #fff;

$variables: (
  --input-text-color: (#000, #fff),
  --compose-input-text-color: ($compose-input-text-color-light, $compose-input-text-color-dark),
  --text-placeholder-color: ($dark-text-color-1, $placeholder-text-color-dark),
  --text-muted-color: ($text-muted, $brand-white),
  --text-dark-color: ($text-dark-color, $text-dark-color-dark),
  --text-gray-dark-color: ($text-gray-dark-color, $text-gray-dark-color-dark),
  --text-secondary-color: ($text-secondary-color, $text-secondary-color-dark),
  --after-color: ($after-color, $after-color-dark),
  --dropdown-item-color: ($dropdown-item-color, $dropdown-item-color-dark),
  --dark-border-color-1: ($dark-border-color-1, $dark-border-color-1-dark),
  --dark-zero-one-width: ($zero-width-pixel, $one-width-pixel),
  --dark-one-zero-width: ($one-width-pixel, $zero-width-pixel),
  --dark-lightgray-white-color: (lightgray, #fff),
  --dark-text-color-1: ($dark-text-color-1, $text-dark-color-dark),
  --dark-text-color-2: ($dark-text-color-2, $text-dark-color-dark),
  --dark-background-tag: ($dark-background-tag, $dark-background-2),
  --dark-text-color-tag: ($dark-text-color-tag, $text-dark-color-dark),
  --dark-nav-link-background: (transparent, $dark-background-2),
  --background-color-info: ($background-color-info, $background-color-info-dark),
  --background-3: ($background-3, $dark-background-2),
  --dark-border-width-2-0: ($two-width-pixel, $zero-width-pixel),
  --border-color-5: ($border-color-5-light, $border-color-5-dark),
  
  --dark-border-color-2: ($dark-border-color-2, $dark-border-color-2-dark),
  --dark-text-color-black-white: (#000, #fff),

  --checkbox-list-border-color: ($checkbox-list-border-color, $checkbox-list-border-color-dark),
  --checkbox-select-all-border-color: ($checkbox-select-all-border-color, $checkbox-select-all-border-color-dark),
  --checkbox-background-border-color: ($checkbox-background-border-color, $checkbox-background-border-color-dark),

  --dark-action-btn-background: ($dark-action-btn-background, $dark-action-btn-background-dark),
  --dark-action-btn-border-color: ($dark-action-btn-border-color, $dark-action-btn-border-color-dark),
  --dark-action-btn-text-color: ($dark-action-btn-text-color, $dark-action-btn-text-color-dark),
  --dark-action-menu-background: ($dark-action-menu-background, $dark-action-menu-background-dark),
  --dark-action-btn-hover-background: ($dark-action-btn-hover-background, $dark-action-btn-hover-background-dark),
  --dark-dropdown-item-text-color: ($dark-dropdown-item-text-color, $dark-dropdown-item-text-color-dark),
  --dark-dropdown-item-border-color: ($dark-dropdown-item-border-color, $dark-dropdown-item-border-color-dark),

  --theme-bg-faded: ($theme-bg-faded, $theme-bg-modal-dark),
  --theme-bg-light: ($theme-bg-light, $theme-bg-modal-dark),
  --theme-bg-white: ($theme-bg-white, $theme-bg-modal-dark),
  --modal-header-footer-background: ($modal-header-footer-background, $modal-header-footer-background-dark),
  --modal-header-footer-border-radius: ($modal-header-footer-border-radius, $modal-header-footer-border-radius-dark),
  --modal-header-footer-border-color: ($modal-header-footer-border-color, $modal-header-footer-border-color-dark),
  --action-bar-border-bottom-color: ($action-bar-border-bottom-color, $action-bar-border-bottom-color-dark),

  --mailbox-content-background: ($mailbox-content-background, $mailbox-content-background-dark),

  --siderbar-background-color: ($siderbar-background-color, $siderbar-background-color-dark),
  --sidebar-right-border-color: ($sidebar-right-border-color, $sidebar-right-border-color-dark),
  --sidebar-right-border-width: ($sidebar-right-border-width, $sidebar-right-border-width-dark),
  --sidebar-bottom-background-color: ($sidebar-bottom-background-color, $sidebar-bottom-background-color-dark),

  --navbar-action-menu-button-active-background: ($navbar-action-menu-button-hover-text-color-light, $dark-background-1),
  --navbar-action-menu-button-hover-text-color: ($navbar-action-menu-button-hover-text-color-light, #fff),
  --navbar-background-color: ($navbar-background-color, $navbar-background-color-dark),
  --navbar-border-color: ($navbar-border-color, $navbar-border-color-dark),
  --navbar-border-width: ($navbar-border-width, $navbar-border-width-dark),
  --navbar-border-bottom-color: ($navbar-border-bottom-color, $navbar-border-bottom-color-dark),
  --navbar-border-bottom-width: ($navbar-border-bottom-width, $navbar-border-bottom-width-dark),
  --navbar-search-form-border-color: ($navbar-search-form-border-color, $navbar-search-form-border-color-dark),
  --navbar-search-button-background: ($navbar-search-button-background, $navbar-search-button-background-dark),
  --navbar-search-button-border-color: ($navbar-search-button-border-color, $navbar-search-button-border-color-dark),

  --mail-list-row-background-color: ($mail-list-row-background-color, $mail-list-row-background-color-dark),
  --mail-list-row-background-read-color: ($mail-list-row-background-read-color, $mail-list-row-background-color-dark),
  --mail-list-row-background-unread-color: ($mail-list-row-background-unread-color, $mail-list-row-background-color-dark),
  --mail-list-row-background-checked-color: ($mail-list-row-background-checked-color, $mail-list-row-background-color-dark),
  --mail-list-row-background-selected-color: ($mail-list-row-background-selected-color, $mail-list-row-background-color-selected-dark),
  --mail-list-row-background-active-color: ($mail-list-row-background-active-color, $mail-list-row-background-color-dark),

  --mail-list-row-color: ($mail-list-row-color, $mail-list-row-color-dark),
  --mail-list-row-read-color: ($mail-list-row-read-color, $mail-list-row-color-dark),
  --mail-list-row-unread-color: ($mail-list-row-unread-color, $mail-list-row-color-dark),
  --mail-list-row-checked-color: ($mail-list-row-checked-color, $mail-list-row-color-dark),
  --mail-list-row-selected-color: ($mail-list-row-selected-color, $mail-list-row-color-dark),
  --mail-list-row-active-color: ($mail-list-row-active-color, $mail-list-row-color-dark),
  --mail-list-row-border-bottom-color: ($mail-list-row-border-bottom-color, $mail-list-row-border-bottom-color-dark),

  --compose-receiver-tag-shadow: ($compose-receiver-tag-shadow-light, $compose-receiver-tag-shadow-dark),

  --contacts-list-body-border: ($contacts-list-body-border, $contacts-list-body-border-dark),
  --mailbox-main-header-background: ($mailbox-main-header-background, $mailbox-main-header-background-dark),
  --mailbox-main-header-color: ($mailbox-main-header-color, $mailbox-main-header-color-dark),
  --contact-list-header-color: ($contact-list-header-color, $contact-list-header-color-dark),

  --footer-background: ($footer-background, $footer-background-dark),
  --footer-color: ($footer-color, $footer-color-dark),

  --settings-plan-border-color: ($dark-border-color-3, $dark-border-color-1-dark),
  --settings-plan-sub-item-border-color: ($settings-plan-sub-item-border-color-light, $dark-border-color-1-dark),
  --settings-bills-border-color: ($light-border-color-4, $dark-border-color-1-dark),
  --settings-nav-link-text-color-dark: ($settings-nav-link-text-color, $text-dark-color-dark),
  --settings-plan-item-color: ($settings-plan-item-color, $settings-plan-item-color-dark),
  --settings-plan-select-btn-shadow: ($settings-plan-select-btn-shadow-light, $settings-plan-select-btn-shadow-dark),
  
  --settings-whitelist-icon-color: ($settings-whitelist-icon-color, $settings-whitelist-icon-color-dark),
  --settings-whitelist-fa-ban-color: ($settings-whitelist-fa-ban-color, $settings-whitelist-fa-ban-color-dark),
  --settings-whitelist-fa-user-circle-color: ($settings-whitelist-fa-user-circle-color, $settings-whitelist-fa-user-circle-color-dark),
  --settings-domains-action-hover-color: ($settings-domains-action-hover-color, $settings-domains-action-hover-color-dark),
  --dark-background-settings-tab-active: ($dark-background-settings-tab-active, $dark-background-settings-tab-active-dark),
  --dark-settings-tab-border-color: ($dark-settings-tab-border-color, $dark-settings-tab-border-color-dark),
  --settings-folders-sort-btn-background: ($settings-folders-sort-btn-background-light, $settings-folders-sort-btn-background-dark),
  --settings-forwarding-switcher-text-color: ($settings-forwarding-switcher-text-color-light, $dark-text-color-tag),
  --settings-forwarding-switcher-text-color-reverse: ($settings-forwarding-switcher-text-color-dark, $dark-text-color-1),

  --mail-composer-header-background: ($brand-secondary, $dark-background-1),

  --compose-receiver-tag-input-placeholder-color: ($compose-receiver-tag-input-placeholder-color-light, $compose-receiver-tag-input-placeholder-color-dark),

  --action-btn-selected-background: ($action-btn-selected-background-light, $action-btn-selected-background-dark),
)