// start change password

.change-password-modal {
  .modal-body {
    padding: 1.125rem 0.938rem 1.5rem 0.938rem !important;
  }
}

//end change password

.form-control {
  &[type="text"] {
    + span .fa-eye {
      display: none;
    }
  }

  &[type="password"] {
    + span .fa-eye-slash {
      display: none;
    }
  }
}

//START Organization create component

.org-user-add-modal .modal-dialog {
  max-width: 600px;
}

//END Organization create component
