// start change password

.change-password-modal {
  .modal-body {
    padding: 1.125rem 0.938rem 1.5rem 0.938rem !important;
  }
}

//end change password

.form-control {
  &[type="text"] {
    + span .fa-eye {
      display: none;
    }
  }

  &[type="password"] {
    + span .fa-eye-slash {
      display: none;
    }
  }
}

//START Organization create component

.org-user-add-modal .modal-dialog {
  max-width: 600px;
}

//END Organization create component


.error-message {
  font-size: 16px;
  color: $brand-danger;
}

app-custom-domains {
  .mat-stepper-vertical, .mat-stepper-horizontal {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    word-break: break-all;
  }

  .mat-step {
    &:nth-of-type(1) {
      .mat-step-header .mat-step-icon {
        background-color: #e74c3c;
      }
    }

    &:nth-of-type(2) {
      .mat-step-header .mat-step-icon {
        background-color: #e74c3c;
      }
    }

    &:nth-of-type(3) {
      .mat-step-header .mat-step-icon {
        background-color: #e74c3c;
      }
    }
  }

  .mat-step-header .mat-step-icon {
    width: 1.875rem;
    height: 1.875rem;
    background-color: rgba(0, 0, 0, 0.38);

    @include media("<=sm") {
      width: 1.5625rem;
      height: 1.5625rem;
    }
  }

  .mat-vertical-content-container.mat-stepper-vertical-line {
    margin-left: 36px;
    @include media("<=sm") {
      margin-left: 0;
    }
  }

  div.mat-vertical-content-container {
    margin-left: 36px;
    @include media("<=sm") {
      margin-left: 0;
    }
  }

  .mat-vertical-stepper-header.mat-step-header {
    pointer-events: none !important;
  }

  .mat-step-header .mat-step-icon-not-touched {
    width: 1.875rem;
    height: 1.875rem;
    @include media("<=sm") {
      width: 1.5625rem;
      height: 1.5625rem;
    }
  }

  .mat-step-header .mat-step-label {
    font-size: 1.125rem;
    width: 100%;
    @include media("<=sm") {
      font-size: 1rem;
    }
  }

  .mat-step-header .mat-step-label {
    color: rgba(0, 0, 0, 0.87);

    &.mat-step-label-active {
      &.mat-step-label-selected {
        color: #e74c3c;
      }
    }
  }
}

.mailbox-sub-content {
  height: calc(100vh - 115px);
  overflow-y: scroll;
}

app-mail-settings {

  @media (min-width: 1000px) {
    ngb-tabset {
      ul.nav-tabs.nav {
        position: absolute;
        z-index: 10;
        background: white;
        width: 100%;
      }

      div.tab-content {
        padding-top: 77px;
      }
    }
  }

  .timezone-block {
    .mat-form-field-appearance-legacy .mat-form-field-infix {
      border: 1px solid #e0e0e0;
      color: black;
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}

app-mail-detail {
  blockquote, .blockquote {
    font-size: 1rem;
    line-height: 1.43;
  }

  .mail-content {
    p {
      margin-bottom: 0;
    }
  }
}

// Modal styles for encryption to non CTemplar users
.encrypt-non-ctemplar {
  label {
    margin-bottom: 0.25rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }
}


.subject-loading-spinner {
  height: 20px;
  margin-top: -9px;
}

.cdk-overlay-container {
  z-index: 10000 !important;
}

// Keyboard shortcuts modal
.help-modal {
  min-width: 650px !important;

  .title {
    padding: 0 0 10px !important;

    h3 {
      font-weight: bold;
    }
  }

  .keys {
    .key__container {
      margin-top: -5px;

      .key {
        float: left;
        width: 41px;
        height: 35px;
        text-align: center;
      }
    }
  }
}


.decryption-spinner {
  img {
    width: 150px;
  }

  div {
    color: #29394e;
  }
}

.create-folder-modal {
  .modal-dialog {
    max-width: 660px !important;
  }
}

.help-modal .keys .key__container .key {
  line-height: 21px;
}

.user-billing-upgrade-modal {
  padding-right: 1.5rem !important;
}

app-compose-mail {
  tag-input-dropdown {
    .ng2-dropdown-menu {
      width: 350px !important;
    }
  }
}

// start: dark mode-styles
body {
  background: #20273e;
  color: white;
}

aside#mailbox-sidebar, .mailbox-sidebar-inner .mailbox-sidebar-footer {
  background: #151e34;
  border-right: 2px solid #323a4c;
}

nav.navbar.mailbox-navbar {
  background: #20273e;
  border: 0;
  border-bottom: 1px solid #323a4c;
}

tr.mail-list-row, tr.mail-list-row.is-read, tr.mail-list-row.is-unread, tr.mail-list-row.is-selected,
div.mail-list-row, div.mail-list-row.is-read, div.mail-list-row.is-unread, div.mail-list-row.is-selected,
.mail-contact .mail-list-row {
  background: #20273e !important;
  color: white !important;
  border-bottom: 1px solid #323a4c !important;
}

.mail-contact-body.is-bordered, .mail-contact-header.mail-list-row {
  border: 1px solid #323a4c !important;
}

tr.mail-list-row.is-selected {
  background: #373c50 !important;
}

.text-dark, a.text-dark:focus, a.text-dark:hover, a.dropdown-item {
  color: white !important;
}

.mail-list-row.is-unread .mail-from-name, .mail-list-row.is-unread .mail-subject {
  font-size: 15px;
}

.mailbox-actionbar {
  border-bottom: 1px solid #323a4c !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mail-checkbox .mat-checkbox .mat-checkbox-frame,
.select-all-checkbox .mat-checkbox .mat-checkbox-frame {
  border: 2px solid white !important;
}

.mail-controls div.mail-result-text.text-muted > small {
  color: white;
}

.search-form div.form-group {
  border: solid 1px #474e61;
}

.search-form .search-btn {
  background: #182034;
  border: 0;
}

.mailbox-actionbar .mailbox-actionbar-menu > li > a,
app-mail-header .mailbox-actions-menu > li a,
div.mailbox-actionbar div.mail-nav-control button,
.mailbox-actionbar-menu > li .dropdown-toggle,
.mailbox-dropdown .dropdown-menu,
.mailbox-dropdown .dropdown-menu a.dropdown-item:hover,
.mailbox-dropdown .dropdown-menu a.dropdown-item:active,
.mailbox-dropdown .dropdown-menu a.dropdown-item:focus,
.dropdown-menu,
textarea, input, textarea::placeholder, input::placeholder,
button.actions-btn,
.modal-header, .modal-body,
.help-icon .icon-button {
  background: #363d51 !important;
  border: solid 1px #474e61 !important;
  color: white !important;
}

.mailbox-actionbar .mailbox-actionbar-menu > li > a:hover,
app-mail-header .mailbox-actions-menu > li a:hover,
app-generic-folder div.mailbox-actionbar div.mail-nav-control button:hover,
.help-icon .icon-button:hover {
  border: solid 1px #394061 !important;
}

.mailbox-dropdown .dropdown-menu a.dropdown-item {
  border: solid 1px #363d51 !important;
}

textarea, input, textarea::placeholder, input::placeholder {
  border: 0 !important;
}

// end: dark mode-styles
