// Colors
$color-primary: #34495e;
$color-white: #fff;
$color-light-grey: #fafafa;
$color-light-blue: #3498db;
$color-blue: #34495e;
$color-dark-blue: #2c3e50;
$color-red: #c0392b;
$color-light-red: #e74c3c;
$color-yellow: #f39c12;
$color-light-yellow: #f1c40f;
$color-blue-disabled: #abb2b9;
$color-red-disabled: #e6b0ab;
$color-yellow-disabled: #fbd8a1;

// General
$general-border-color: #e0e0e0;

// Forms
$forms-border-color: #e0e0e0;
$forms-placeholder-color: #a6a6a6;