// Colors
$color-primary: #34495e;
$color-white: #fff;
$color-light-grey: #fafafa;
$color-light-blue: #3498db;
$color-red: #c0392b;
$color-light-red: #e74c3c;

// Forms
$forms-border-color: #e0e0e0;
$forms-placeholder-color: #a6a6a6;