<div class="modal-body bg-faded">
  <div class="text-holder text-dark text-medium">
    <p>Insert the code we've just emailed you and the new password you want. Remember that after inserting the correct code all your old encrypted data like contacts and emails, including attachments, will be unrecoverable.</p>
    <div class="login-content-holder mx-auto mt-4 pt-sm-2">
      <div class="form">
        <form (ngSubmit)="onReset()" #reset="ngForm">
          <div class="form-group">
            <label for="code" class="d-block text-muted text-left hidden-sm-up">Code</label>
            <input class="form-control form-control-lg" id="code" placeholder="Code" name="code" required [(ngModel)]="model.code">
          </div>
          <div class="form-group">
            <label for="password" class="d-block text-muted text-left hidden-sm-up">Choose password</label>
            <input class="form-control form-control-lg" id="password" placeholder="Choose password" type="password" name="password" required [(ngModel)]="model.password">
          </div>
          <div class="form-group">
            <label for="password2" class="d-block text-muted text-left hidden-sm-up">Choose password</label>
            <input class="form-control form-control-lg" id="password2" placeholder="Confirm password" type="password" name="password2" required [(ngModel)]="model.password2">
          </div>
          <div class="form-group form-user-actions text-center mb-0">
            <button class="btn btn-gradient-primary btn-sm reset-btn" type="submit" [disabled]="!reset.form.valid">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
