.expand-collapse {
  position: absolute;
  right: 12px;
}

.folder-batch {
  background: #4d5f71;
  color: white;
  padding: 0 6px;
  border-radius: 2px;
  height: 20px;
  line-height: 18px;
  min-width: 55px;
  text-align: center;
  overflow: hidden;
  max-width: 10rem;
  text-overflow: ellipsis;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  right: 40px;
  top: 23px;
}

.mail-header {
  border: solid 1px #e5e5e5;
  margin: 5px;
  padding: 5px 1rem;
}