<div class="main ui container">
  <div class="page heading ui center aligned basic segment">
    <h1 class="section-title">About <span>CTemplar</span></h1>
    <p class="section-description">We’re Building an Internet that <span>Protects Privacy</span>, Starting with Email</p>
  </div>

  <div class="ui grid featured-description">
    <div class="eight wide column">
      We are scientists, engineers, and developers drawn together by a shared vision of protecting civil liberties online. This is why we created CTemplar, an easy to use secure email service with built-in end-to-end encryption and state of the art security features. Our goal is to build an internet that respects privacy and is secure against cyberattacks.
    </div>
    <div class="eight wide column">
      We are committed to developing and widely distributing the tools necessary to protect your data online. Our team combines deep mathematical and technical knowledge from the world's top research institutions with expertise in building easy to use user interfaces. Together, we are building the encrypted communication technologies of the future.
    </div>
  </div>

  <div class="ui center aligned basic segment">
    <a class="uppercase ui large button btn-blue" routerLink="/security">Explore our security features</a>
  </div>
</div>

<div class="ui secondary basic segment">
  <div class="ui container">
    <div class="ui grid description-wrapper">
      <div class="nine wide column">
        <div class="description">
          <p>Since our founding team met at CERN and created CTemaplar, CTemaplar Technologies AG has grown into a global leader in online security. Today, we are the world's largest secure email provider with over one million users. In addition to our headquarters in Geneva, Switzerland, we have support centers in San Francisco, CA, and Skopje, Macedonia. Our global presence allows us to provide 24/7 support and monitoring of mission critical applications for all our customers.</p>
          <p>We believe privacy and security are universal values which cross borders. Inclusion and diversity are core company values. Collectively, our team of experts from around the world speak English, French, German, Italian, Spanish, Czech, Macedonian, Chinese and Russian.</p>
          <p>CTemaplar is supported by more than 10,000 individuals from around the world who participated in our record-breaking crowdfunding campaign. Additional backers include <a href="#">Charles River Ventures</a> and the <a href="#">Fondation Genevoise pour l'Innovation Technologique (FONGIT)</a>, a non-profit foundation financed by the <a href="#">Swiss Federal Commission for Technology</a> and Innovation for the public good. We are also advised by the <a href="#">MIT Venture Mentoring Service</a>.</p>
        </div>
      </div>
      <div class="seven wide column">
        <div class="ui large image">
          <img src="https://placeimg.com/450/300/tech">
          <span class="info">CTemaplar is global leader in online security and largets secure email provider.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui hidden section divider"></div>
<div class="last ui container">
  <h2 class="ui header blog-latest">Latest From <b>Our Blog</b></h2>
  <app-blog-latest></app-blog-latest>
  <div class="ui center aligned basic segment">
    <a routerLink="/blog">Read more from our blog</a>
  </div>
</div>
