<div class="main ui container">
  <div class="page heading ui center aligned basic segment">
    <h1 class="uppercase">About us</h1>
    <h2>We're building an Internet that protects privacy, starting with email.</h2>
  </div>
  <div class="ui horizontal piled segments">
    <div class="ui very padded segment">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="ui very padded segment">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="ui center aligned basic segment">
    <a class="uppercase ui large red button" routerLink="/security">Explore our security features</a>
  </div>
</div>

<div class="ui secondary basic segment">
  <div class="ui container">
    <div class="ui items">
      <div class="item">
        <div class="ui large image">
        <img src="https://placeimg.com/450/300/tech">
      </div>
        <div class="middle aligned content">
          <div class="ui large header">
            Short history and philosophy
          </div>
          <div class="description">
            <p>CTemplar is the most secure encrypted email service available today. Our servers are located in Iceland, recognized as the premier location for internet privacy. The Icelandic government has demonstrated itself to be at the forefront of internet privacy and vigorously enforces the right to free of government intrusion.</p>
            <p>CTemplar's legal department has researched all aspects of internet privacy in various jurisdictions in order to assure that our servers are domiciled in the most secure location available.</p>
            <p>Our legal department continues to research internet security and privacy laws throughout the world so that we may constantly provide users with the maximum level of internet privacy.</p>
            <p>CTemplar views internet privacy as a dynamic issue.  It is an evolving landscape. Accordingly, static solutions will not afford your data the level of protection demanded by those who value security.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui hidden section divider"></div>
<div class="last ui container">
  <h1 class="ui header">Latest from our blog</h1>
  <app-blog-latest></app-blog-latest>
  <div class="ui center aligned basic segment">
    <a routerLink="/blog"> View all the publications <i class="right arrow icon"></i></a>
  </div>
</div>
