<!-- PAGE INTRO SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq pb-0 text-center">
  <div class="container">
    <header class="l-block-header text-center">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 px-sm-5 px-md-0">
          <h1 class="page-title text-uppercase text-secondary mb-3 pb-1">
            <strong>About</strong> CTEMPLAR</h1>
          <h3 class="l-block-subtitle mb-0 text-dark fw-light">As the government continues to function completely outside the realm of accountability, all of us—reporter, missionary,
            student, businessperson, citizen—become one person, in need of privacy and protection.</h3>
        </div>
      </div>
    </header>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.PAGE INTRO SECTION ENDS -->

<!-- TWO COLUMN TILE SECTION :: WHY I STARTED CTEMPLAR -->
<section class="l-block l-block-tile bg-white gap-p-sm">
  <div class="container container-lg">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-md-7 flex-md-last mb-3 mb-sm-4 mb-md-0 pb-2 pb-sm-0">
          <div class="tile-card px-lg text-center text-md-left pl-md-4">
            <h2 class="l-block-title text-secondary mb-3 mb-sm-4 pb-1 hidden-md-up">Why I started
              <strong> CTemplar</strong>
            </h2>
            <figure>
              <img alt="" class="img" src="assets/images/about/about-img-1.jpg" />
            </figure>
          </div>
        </div>
        <div class="col-md-5">
          <div class="tile-card">
            <h2 class="l-block-title text-secondary mb-3 pb-1 hidden-md-down">Why I started
              <strong> CTemplar</strong>
            </h2>
            <p>The idea to create this service first began when I heard about the atrocities happening in the Middle East, to
              the innocents and to humanity. Looking around, it would seem the larger world was too busy to pay much attention,
              distracted by their own affairs or helpless to offer assistance.
              <br/> As just one man with limited capabilities, what could I do? Months went by as I pondered this question, finally
              realizing I must use my own strengths to wage a larger fight against the oppression I see in the world. As
              a result, I turned to technology—something I know and understand—to create a system of communication so strong
              and resilient I would trust it with my own life.
              <br/>
              <br/>Through this effort to protect communications through encryption, an entirely new service has emerged, one
              that will never sell out to corporate investors or be weakened by international agendas— CTemplar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.TWO COLUMN TILE SECTION ENDS -->

<!-- TWO COLUMN TILE INVERSE SECTION :: WHY CTEMPLAR -->
<section class="l-block l-block-tile pb-0 bg-faded is-clipped is-clipped-lg top top-right bottom bottom-left">
  <div class="container container">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-md-6 mb-3 mb-sm-4 mb-md-0 pb-2 pb-sm-0">
          <div class="tile-card px-lg text-center text-md-left">
            <h2 class="l-block-title text-secondary hidden-md-up mb-3 mb-sm-4 pb-1">Why
              <strong> CTemplar?</strong>
            </h2>
            <figure>
              <img alt="" class="img" src="assets/images/about/about-img-2.jpg" />
            </figure>
          </div>
        </div>

        <div class="col-md-6">
          <div class="tile-card pl-md-4">
            <h2 class="l-block-title text-secondary hidden-md-down mb-3 pb-1">Why
              <strong> CTemplar?</strong>
            </h2>
            <h4 class="title-horz-line text-secodary-faded">
              <strong>Nearly a thousand years ago there was a group of men known as the Knights Templar. They protected the wandering
                pilgrims who wanted nothing more than to visit the Holy Land and find a way to achieve spirituality.</strong>
            </h4>
            <p>The Templar safeguarded travelers’ paths by monitoring the roadways and helping them find a successful journey.
              The Templar stood for righteousness, willing to lay down their lives for the poor and the weak, even if it
              led to their death.
              <br/> Today, there are many people in the world still suffering from this same fear once felt by the innocents,
              as
              <a href="">they look for ways to live their lives in peace</a> and without intrusion. Perhaps you are one of them. I believe
              we now find ourselves in need of a new Templar, one that can deliver protection against the ongoing invasion
              of our personal lives.
              <br/> Little by little, your privacy is being stolen away—as is mine—and the time is now to reclaim our rights,
              our freedoms, our anonymity, and to remember the strength of those who came before us, ready and willing to
              wield a weapon in their own defense. And for us, for modern society, that tool is technology.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.TWO COLUMN TILE SECTION ENDS -->

<!-- TWO COLUMN TILE SECTION :: WHO DOES CTEMPLAR PROJECT -->
<section class="l-block l-block-tile bg-white is-clipped is-clipped-lg top top-left">
  <div class="container container-lg">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-md-7 flex-md-last mb-3 mb-sm-4 mb-sm-0 pb-2 pb-sm-0">
          <div class="tile-card px-lg text-center text-md-left pl-md-4">
            <h2 class="l-block-title text-secondary hidden-md-up mb-3 mb-sm-4  pb-1">Who Does CTemplar Protect?</h2>
            <figure>
              <img alt="" class="img" src="assets/images/about/about-img-3.png" />
            </figure>
          </div>
        </div>
        <div class="col-md-5">
          <div class="tile-card">
            <h2 class="l-block-title text-secondary hidden-md-down mb-3 pb-1">Who Does CTemplar Protect?</h2>
            <p>CTemplar is a powerful tool for everyone from the oppressed to journalists and businesses. Here’s a list of a
              few of the types of people who can benefit from CTemplar’s privacy:</p>
            <ul class="lists lists-editor lists-circle-arrow">
              <li>Educators and missionaries under threat of persecution and death</li>
              <li>Refugees fleeing from oppressive regimes in their home country</li>
              <li>Reporters in war-torn and/or dictator-led countries</li>
              <li>Students looking for communication but finding only oppression</li>
              <li>Someone working in a business environment where competitor surveillance runs rampant</li>
              <li>Consumers who want to protect their financial information</li>
              <li>A relatively safe and comfortable individual who worries about privacy</li>
            </ul>
            <p>Regardless of who you are and what you seek, this encrypted service is here to help you find your way. If you
              need
              <span class="text-dark">
                <strong>assurance that your message</strong>
              </span>, your vision, and your words will be protected from the eyes of those who would hamper them—this service is
              for you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.TWO COLUMN TILE SECTION ENDS -->

<!-- TWO COLUMN TILE INVERSE SECTION :: CTEMPLAR's LEGAL STANCE -->
<section class="l-block l-block-tile pb-0 bg-faded is-clipped is-clipped-lg top top-left bottom bottom-right">
  <div class="container container">
    <div class="l-block-body">
      <div class="row align-items-center">
        <div class="col-md-6 mb-3 mb-sm-4 mb-md-0 pb-2 pb-sm-0">
          <div class="tile-card px-lg text-center text-md-left">
            <h2 class="l-block-title text-secondary hidden-md-up mb-3 mb-sm-4 pb-1">CTemplar’s Legal Stance</h2>
            <figure>
              <img alt="" class="img ctemplar-stace-img" src="assets/images/about/about-img-4.png" />
            </figure>
          </div>
        </div>

        <div class="col-md-6">
          <div class="tile-card pl-md-4">
            <h2 class="l-block-title text-secondary hidden-md-down mb-3 pb-1">CTemplar’s Legal Stance
              <strong> CTemplar</strong>
            </h2>
            <p>CTemplar’s legal team views internet privacy as a dynamic issue. It is an evolving landscape. Accordingly, static solutions will not afford your data the level of protection demanded by those who value security.<br/><br/>Our legal department continues to research internet security and privacy laws throughout the world so that we may constantly provide users with the maximum level of internet privacy.<br/><br/> We have researched all aspects of internet privacy in various jurisdictions in order to assure that our servers are domiciled in the most secure location av Our servers are located in Iceland, recognized as the premier location for internet privacy. The Icelandic government has demonstrated itself to be at the forefront of internet privacy and vigorously enforces the right to be free of government intrusion.</p>
            <p class="text-center text-md-left">
              <a href="" class="btn btn-secondary btn-lg mt-2">Explore our security features</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section><!-- /.TWO COLUMN TILE SECTION ENDS -->

<!-- Rendering latest blog component -->
<app-blog-sample [mode] = "mode" [numberOfColumns] ="numberOfColumns"></app-blog-sample>
