<div class="mailbox-sub-content">
	<section class="mailbox-section">
    	<header class="ui-header ui-header-bordered border-top-0">
    		<h3 class="ui-header-title text-dark mb-0"><strong>Dashboard</strong></h3>
    	</header>
    </section>
    <section class="mailbox-section">
    	<div class="mailbox-section-body pt-0">
    		<div class="desc-card-holder">
                <div class="row">
                    <div class="col-md-6 mb-4 mb-sm-0">
                        <div class="desc-card">
                            <div class="desc-card-header ui-header ui-header-bordered border-top-0 border-bottom-0">
                                <h5 class="ui-header-subtitle text-dark mb-0"><strong>Overview</strong></h5>
                            </div>
                            <div class="desc-card-body">
                                <ul class="info-list list-styled text-dark">
                                    <li class="info-list-item">
                                        <div class="info-list-text info-list-label">Username</div>
                                        <div class="info-list-text info-list-val">temporalshift</div>
                                    </li>
                                    <li class="info-list-item">
                                        <div class="info-list-text info-list-label">Domains</div>
                                        <div class="info-list-text info-list-val">Feature coming soon!</div>
                                    </li>
                                    <li class="info-list-item align-items-start">
                                        <div class="info-list-text info-list-label">Addresses</div>
                                        <div class="info-list-text info-list-val">
                                            <div class="info-list-val-text">1. More available soon!</div>
                                            <div class="info-list-val-text">737.61 Mb of 5.00 Gb</div>
                                        </div>
                                    </li>
                                    <li class="info-list-item">
                                        <div class="info-list-text info-list-label">Storage</div>
                                        <div class="info-list-text info-list-val">
                                            <div class="progress progress-secondary progress-lg">
                                                <div class="progress-bar" role="progressbar" style="width:30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="desc-card">
                            <div class="desc-card-header ui-header ui-header-bordered border-top-sm-0 border-bottom-0">
                                <h5 class="ui-header-subtitle text-dark mb-0"><strong>My Subscription</strong></h5>
                            </div>
                            <div class="desc-card-body">
                                <ul class="info-list info-list-lg list-styled text-dark">
                                    <li class="info-list-item">
                                        <div class="info-list-item-row">
                                            <div class="info-list-text info-list-label">
                                                <span class="info-list-label-text">Plans</span>
                                                <span class="info-list-label-text">Prime Plan</span>
                                            </div>
                                            <div class="info-list-text info-list-val"><strong>$8</strong><span class="text-muted">/mo</span></div>
                                        </div>
                                        <div class="info-list-item-row">
                                            <div class="info-list-text info-list-label">
                                                <span class="info-list-label-text" style="visibility: hidden">Plans</span>
                                                <span class="fw-light">+10 addresses</span>
                                            </div>
                                            <div class="info-list-text info-list-val"><strong>$2</strong><span class="text-muted">/mo</span></div>
                                        </div>
                                    </li>
                                    <li class="info-list-item">
                                        <div class="info-list-text info-list-label">Total Price</div>
                                        <div class="info-list-text info-list-val">$66/annually</div>
                                    </li>
                                    <li class="info-list-item">
                                        <div class="info-list-text info-list-label">Billing Cycle End</div>
                                        <div class="info-list-text info-list-val">Apr 20, 2018</div>
                                    </li>
                                    <li class="info-list-item">
                                        <div class="info-list-text info-list-label">Payment</div>
                                        <div class="info-list-text info-list-val">Credit Card</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
	</section>
	<section class="mailbox-section">
		<div class="ui-header ui-header-bordered position-relative">
    		<h5 class="ui-header-subtitle text-dark mb-0"><strong>Account Type</strong></h5>
            <div class="l-alert l-alert-danger l-alert-is-floated d-inline-block text-center hidden-md-up">
                <div class="l-alert-inner">
                    <div>Free plan available only for 250 Mb Storage. &nbsp;&nbsp;&nbsp;<a href=""><u>Clear Storage</u></a></div>
                </div>
            </div>
    	</div>
    	<div class="mailbox-section-body">
    		<div class="container container-sm">
            	<div class="package-card-holder settings-package-card-holder">
                    <ul class="package-xs-tab list-style-none mt-0 hidden-sm-up">
			          <li class="active" [class.is-active]="1 === selectedIndex">
			            <a role="button" (click)="toggleSlides(1);">Prime</a>
			          </li>
			          <li [class.is-active]="2 === selectedIndex">
			            <a role="button" (click)="toggleSlides(2);">Free</a>
			          </li>
			        </ul>
                    <div class="row flex-nowrap row-lg">
                        <div class="col-sm-6 flex-sm-last package-prime-col active-slide" [class.is-active-slide]="1 === selectedIndex">
                            <div class="package-card package-card-prime is-shadowed bg-white text-dark">
                                <header class="package-card-header text-center"><h2 class="text-white m-0"><strong>Prime</strong></h2></header>
                                <div class="package-card-body">
                                    <ul class="package-list mb-0 list-style-none pl-0">
                                        <li class="package-list-item has-border"><i class="fa fa-check text-green"></i>1 User</li>
										<li class="package-list-item has-border has-icon-center">
											<i class="fa fa-check text-green"></i>
											<!-- <select class="form-control package-storage-select">
												<option selected>50 Mb Storage</option>
												<option>100 Mb Storage</option>
												<option>100 Mb Storage</option>
												<option>200 Mb Storage</option>
												<option>300 Mb Storage</option>
												<option>400 Mb Storage</option>
												<option>500 Mb Storage</option>
											</select> -->
											<div class="btn-dropdown btn-dropdown-lg btn-dropdown-select">
												<div ngbDropdown class="storage-select-dropdown">
													<button ngbDropdownToggle role="button" id="storageDropdownMenuButton">5 Gb Storage</button>
													<div ngbDropdownMenu aria-labelledby="storageDropdownMenuButton">
														<a class="dropdown-item" href="">10 Gb Storage + $4/MO </a>
														<a class="dropdown-item" href="">15 Gb Storage + $8/MO</a>
														<a class="dropdown-item" href="">20 Gb Storage + $12/MO</a>
														<a class="dropdown-item" href="">25 Gb Storage + $16/MO</a>
													</div>
												</div>
											</div>
										</li>
                                        <li class="package-list-item has-border"><i class="fa fa-check text-green"></i>1 E-mail Address</li>
                                        <li class="package-list-item"><i class="fa fa-check text-green"></i>100 Messages per Day</li>
                                        <li class="package-list-item"><i class="fa fa-check text-green"></i>200 Folders</li>
                                        <li class="package-list-item"><i class="fa fa-check text-green"></i>Normal Support</li>
                                        <li class="package-list-item"><i class="fa fa-check text-green"></i>Dead Mans Timer</li>
										<li class="package-list-item"><i class="fa fa-check text-green"></i>Delayed Delivery Timer
										</li>
										<li class="package-list-item"><i class="fa fa-check text-green"></i>Self Destruct Timer</li>
										<li class="package-list-item"><i class="fa fa-check text-green"></i>Encryption for non-CTemplar Users</li>
									</ul>
									<div class="package-coming-soon mt-3 mt-sm-4">
										<h6 class="text-muted mb-3 mb-sm-4"><a href=""><u>Features to be added to this package soon:</u></a></h6>
										<!-- <ul class="package-list mb-0 list-style-none pl-0">
											<li class="package-list-item"><i class="fa fa-check text-green"></i>1 Custom Domain</li>
											<li class="package-list-item"><i class="fa fa-check text-green"></i>+4 Email Address’s (5 Total)</li>
											<li class="package-list-item"><i class="fa fa-check text-green"></i>Custom Filters</li>
											<li class="package-list-item"><i class="fa fa-check text-green"></i>Autoresponder</li>
											<li class="package-list-item"><i class="fa fa-check text-green"></i>Notifications</li>
										</ul> -->
									</div>
								</div>
								<footer class="package-card-footer">
									<div class="package-text-holder package-text-holder-sm">
										<ul class="pay-type-list list-style-none mb-0 pl-0">
											<li>
												<div class="row row-xs">
													<div class="col-8">
														<div class="fancy-field-group">
															<input class="d-none fancy-field-control" id="pay-monthly" name="[]" type="radio" checked />
															<label for="pay-monthly">Pay Monthly</label>
														</div>
													</div>
													<div class="col-4 text-right">
														<div class="pay-price"><strong>$8</strong><span class="text-muted">/mo</span></div>
													</div>
												</div>
											</li>
											<li>
												<div class="row row-xs">
													<div class="col-8">
														<div class="fancy-field-group">
															<input class="d-none fancy-field-control" id="pay-annullay" name="[]" type="radio" />
															<label for="pay-annullay">Pay Annually</label>
															<span class="badge">-20%</span>
														</div>
													</div>
													<div class="col-4 text-right">
														<div class="pay-price"><strong>$6.4</strong><span class="text-muted">/mo</span></div>
														<div class="small text-muted">Billed as $65/yr</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="package-actions text-center">
                                        <div class="pb-2 mb-3">
                                            <a href="" class="btn-link text-uppercase text-primary"><strong>Current Plan</strong></a>
                                        </div>
										<a href="" class="btn btn-lg btn-gradient-primary">Select Prime $8/<span class="text-normal">mo</span></a>
									</div>
								</footer>
                            </div>
                        </div>
                        <div class="col-sm-6 package-basic-col" [class.is-active-slide]="2 === selectedIndex">
                            <div class="package-card package-card-basic bg-faded text-dark">
                                <header class="package-card-header text-center"><h2 class="text-white m-0"><strong>Free</strong></h2></header>
                                <div class="package-card-body">
                                    <ul class="package-list mb-0 list-style-none pl-0">
                                        <li class="package-list-item has-border"><i class="fa fa-check text-green"></i>1 User</li>
                                        <li class="package-list-item has-border"><i class="fa fa-check text-green"></i>250 Mb Storage</li>
                                        <li class="package-list-item has-border"><i class="fa fa-check text-green"></i>1 E-mail Address</li>
                                        <li class="package-list-item"><i class="fa fa-check text-green"></i>100 Messages per Day</li>
                                        <li class="package-list-item"><i class="fa fa-check text-green"></i>3 Folders</li>
                                        <li class="package-list-item"><i class="fa fa-check text-green"></i>Limited Support</li>
                                        <li class="package-list-item"><i class="fa fa-times text-danger"></i><del>Dead Mans Timer</del></li>
										<li class="package-list-item"><i class="fa fa-times text-danger"></i><del>Delayed Delivery Timer</del>
										</li>
										<li class="package-list-item"><i class="fa fa-times text-danger"></i><del>Self Destruct Timer</del></li>
										<li class="package-list-item"><i class="fa fa-times text-danger"></i><del>Encryption for non-CTemplar Users</del></li>
                                    </ul>
								</div>
								<footer class="package-card-footer text-center">
									<div class="package-text-holder">
										<h2 class="m-0 fw-light text-muted">free</h2>
									</div>
									<div class="package-actions">
                                        <a href="" class="btn-link text-uppercase text-info"><strong>Current Plan</strong></a>
										<a href="" class="btn btn-lg btn-gradient-info d-none">Select Free</a>
									</div>
								</footer>
                            </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
	</section>
</div>