<div class="main ui container">

  <div class="ui text container">
    <div class="page heading ui center aligned basic segment plan">
      <h1 class="section-title">Create your account</h1>
    </div>
  </div>

  <div class="ui two column centered grid">
    <div class="row">
      <div class="column align-center">
        <div class="featured-light-content">
          <p>Take back your privacy! Creating your secure email account takes
            less than 2 minutes</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column number-wrapper">
        <span class="number">1</span>
        <h2>Username and domain</h2>
        <p class="description">This will be your new Ctemplar email address.</p>

        <div class="ui grid">
          <div class="eight wide column">
            <div class="ui large wide input">
              <input type="text" placeholder="Choose username">
            </div>
          </div>
          <div class="one wide column align-center">
            <span class="at">@</span>
          </div>
          <div class="seven wide column">
            <div class="ui large wide input">
              <input type="text" value="ctemplar.com">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column number-wrapper">
        <span class="number">2</span>
        <h2>Password</h2>

        <div class="ui grid">
          <div class="sixteen wide column">
            <div class="ui large wide input">
              <input type="password" placeholder="Choose password">
            </div>
          </div>
        </div>

        <div class="ui grid">
          <div class="sixteen wide column">
            <div class="ui large wide input">
              <input type="password" placeholder="Confirm password">
            </div>
          </div>
        </div>

        <div class="featured-light-content margin-top">
          <p><span class="red">!</span> If you lose your password, you will not be able to read your emails</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column number-wrapper">
        <span class="number">3</span>
        <h2>Recovery email (optional)</h2>
        <p class="description">This is used to recover your account if you get locked out or forget your password</p>

        <div class="ui grid">
          <div class="sixteen wide column">
            <div class="ui large wide input">
              <input type="text" placeholder="Recovery email">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="uppercase ui button btn-blue">Create account</button>
    </div>
    <div class="row">
      <p class="info-1">By clicking Create Account you agree to abide by <a href="#">Terms and Conditions</a></p>
    </div>
    <div class="row">
      <p class="info-2"><a href="#">Already have an Account?</a></p>
    </div>
  </div>
</div>
