<!-- PAGE SECTION -->
<section class="l-block l-block-text bg-white text-center text-white gap-p-eq has-cover"
         style="background-image: url(assets/images/user-actions/login-bg.jpg); margin-top: -20px"
>
  <div class="container container-xs">
    <header class="l-block-header position-relative">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 px-sm-5 px-md-0">
          <h1 class="l-block-title text-white text-uppercase">
            <strong>User Login</strong>
          </h1>
        </div>
      </div>
    </header>
    <div class="l-block-body px-xs">
      <div class="l-content-holder login-content-holder mx-auto mt-md-0">
        <div class="form">          
          <form class="login-form" [formGroup]="loginForm" #form="ngForm" (ngSubmit)="login(loginForm.value)">
            <div *ngIf="errorMessage" class="login-form__failed">{{ errorMessage }}</div>
            <div class="form-group" [ngClass]="{'is-validate': loginForm.controls.username.invalid && showFormErrors}">
              <label for="loginUsername" class="d-block text-faded text-left hidden-sm-up">Username</label>
              <div class="input-group">
                <span class="input-group-addon password-toggle bg-white text-muted" id="passwordToggle" (click)="toggleFocus($event,'username', usernameVC)">
                  <i class="fa fa-keyboard"></i>
                </span>
                <input #usernameVC [ngx-virtual-keyboard]="true" [ngx-virtual-keyboard-layout]="layout" [ngx-virtual-keyboard-disabled]="false" class="form-control form-control-lg" id="username_noSpan" placeholder="Username" 
                type="text" name="username" formControlName="username" required/>
              </div>
                <span *ngIf="loginForm.controls['username'].errors && showFormErrors" id="email-valid" class="validate-message">
                <span *ngIf="loginForm.controls['username'].errors.required">The username is required.</span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'is-validate': loginForm.controls.password.invalid && showFormErrors}">
              <label for="loginPassword" class="d-block text-faded text-left hidden-sm-up">Password</label>
              <div class="input-group">
                <span  class="input-group-addon password-toggle bg-white text-muted" id="keyboardToggle" (click)="toggleFocus($event, 'password', passwordVC)">
                  <i class="fa fa-keyboard"></i>
                </span>
                <input #passwordVC  [attr.type]="password"  formControlName="password" class="form-control form-control-lg border-right-0" id="password_noSpan" placeholder="Password"
                  aria-describedby="passwordToggle" name="password" [ngx-virtual-keyboard]="true" [ngx-virtual-keyboard-layout]="layout" [ngx-virtual-keyboard-disabled]="false" required/>
                <span class="input-group-addon password-toggle bg-white text-muted" id="passwordToggle" (click)="togglePassword(loginForm.controls['password'])">
                  <i class="fa fa-eye"></i>
                  
                </span>
              </div>
              <span *ngIf="loginForm.controls['password'].errors && showFormErrors" class="validate-message">
                <span *ngIf="loginForm.controls['password'].errors.required">The password is required.</span>
              </span>
            </div>
            <div class="form-group form-user-actions mt-4 pt-sm-2">
              <button class="btn btn-gradient-primary btn-lg login-btn" role="button" type="submit">Login</button>
            </div>
          </form>
        </div>
        <div class="form-alternative-content">
          <div class="reset-password mb-0 mb-sm-1">
            <a class="text-faded" (click)="open(content)" role="button">
              <small>
                <u>Reset Password</u>
              </small>
            </a>
          </div>
          <div class="create-account">
            <a routerLink="/signup" class="text-white">
              <strong>
                <u>Create Account</u>
              </strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.PAGE SECTION ENDS -->

<img *ngIf="isLoading" class="loading-icon" src="assets/icons/spinner.svg" />

<ng-template #content let-c="close" let-d="dismiss" class="modal-type-default">
  <div class="modal-header text-center justify-content-center">
    <h3 class="modal-title w-100 text-dark" id="resetPasswordModalLabel">
      <strong>Reset Password</strong>
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="text-holder text-dark text-medium">
      <p>We will send a reset code to your
        <a href="">recovery email</a> to reset your password. </p>
      <p>Your encryption key is connected to your password. Because of this you will not be able to decrypt old emails if you
        reset your password.</p>
      <p>If you did not set a recovery email then your account is not recoverable.</p>

      <div class="login-content-holder mx-auto mt-4 pt-sm-2">
        <div class="form">
          <form [formGroup]="resetForm" #form="ngForm" (ngSubmit)="resetPassword(resetForm.value)">
            <div *ngIf="errorMessage" class="reset-form__failed">{{ errorMessage }}</div>
            <div class="form-group">
              <label for="resetPasswordUsername" class="d-block text-muted text-left hidden-sm-up">Username to Reset</label>
              <input appOnScreenKeyboard class="form-control form-control-lg" id="resetPasswordUsername" placeholder="Username to reset" type="text" formControlName="name" required />
              <span *ngIf="resetForm.controls['name'].errors && showFormErrors" id="name-valid" class="validate-message">
                <span *ngIf="resetForm.controls['name'].errors.required">The username is required.</span>
              </span>
            </div>
            
            <div class="form-group">
              <label for="resetPasswordemail" class="d-block text-muted text-left hidden-sm-up">Recovery Email</label>                 
              <input class="form-control form-control-lg" id="resetPasswordemail" placeholder="Recovery email" type="text" formControlName="email" required/>
              <span *ngIf="resetForm.controls['email'].errors && showFormErrors" id="email-valid" class="validate-message">
                <span *ngIf="resetForm.controls['email'].errors.required">The recovery email is required.</span>
              </span>
            </div>
            
            <div class="form-group form-user-actions text-center mb-0">
              <button class="btn btn-gradient-primary btn-sm reset-btn" role="button" type="submit">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>