@import '../../../styles/base/variables';

$error-red: #e94e4c;
.is-validate {
    #loginUsername {
        border-color: $error-red;
    }
    .validate-message {
        display: block;
        margin-bottom: 0.375rem;
        color: $error-red;
        font-size: 0.875rem; 
        text-align: left;       
    }

    .input-group {
        border: 1px solid  $error-red;
        border-radius: 4px;

        .form-control {
            border: 0;
        }
    }
}

.form-control {
    &:focus {
        border-color: $dropdown-border-color !important;
    }
}

.login-form {
    position: relative;
    padding-top: 13px;

    &__failed {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        text-align: center;
        color: $error-red;
    }
    .form-group {
        position: relative;
        margin-bottom: 1rem;
    }

    .validate-message {
        // position: absolute;
        // left: 0px;
    }
}