$error-red: #e94e4c;
.is-validate {
    #loginUsername {
        border-color: $error-red;
    }
    .validate-message {
        font-size: 12px;
        color: $error-red;
    }

    .input-group {
        border: 1px solid  $error-red;
        border-radius: 4px;
    }
}

.login-form {
    .form-group {
        position: relative;
    }

    .validate-message {
        position: absolute;
        left: 0px;

    }
}