@import '../../../styles/base/variables';

$error-red: #e94e4c;
.is-validate {
  #loginUsername {
    border-color: $error-red;
  }
  .validate-message {
    display: block;
    margin-bottom: 0.375rem;
    color: $error-red;
    font-size: 0.875rem;
    text-align: left;
  }

  .input-group {
    border: 1px solid $error-red;
    border-radius: 4px;

    .form-control {
      border: 0;
    }
  }
}

.form-control {
  &:focus,
  &:focus + .input-group-addon {
    border-color: $dropdown-border-color !important;
  }
  &[type="text"]{
    + span .fa-eye {
      display: none;
    }
  }
  &[type="password"]{
    + span .fa-eye-slash {
      display: none;
    }
  }
}

.login-form {
  // position: relative;
  // padding-top: 13px;

  &__failed {
    text-align: center;
    color: #e94e4c;
    font-size: 16px;
    float: left;
    margin-bottom: 10px;
    min-width: 100%;
  }
  .form-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .validate-message {
    // position: absolute;
    // left: 0px;
  }
}

.info-text {
  line-height: 27px;
}

.remember-me {
  input[type="checkbox"].fancy-field-control-lg + label.fancy-field-empty::after {
    width: 6px !important;
    top: 4px !important;
    left: 7px !important;
  }
}

.main-body {
  min-height: 317px;
}