<div class="btn-dropdown btn-dropdown-lg btn-dropdown-select">
    <div ngbDropdown class="storage-select-dropdown">
        <button class="dropdown-toggle" type="button" id="storageDropdownMenuButton" ngbDropdownToggle>
            {{ selectedStorage.type }}
        </button>
        <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="storageDropdownMenuButton">
            <a class="dropdown-item" (click)="onItemSelect(item)" *ngFor="let item of storageList">{{ item.type }}
                ${{item.money }}/MO </a>
        </div>
    </div>
</div>
