<section class="mailbox-section">
  <header class="ui-header ui-header-bordered">
    <h5 class="ui-header-subtitle text-dark mb-0"><strong translate="settings.security_settings">Security
      settings</strong></h5>
  </header>
  <div class="mailbox-section-body mailbox-section-body-sm">
    <div class="form-content-holder">
      <div class="form-content-row">
        <div class="row label-align">
          <div class="col-sm-3">
            <label for="securityPassword" class="form-label mb-sm-0" translate="settings.password">Password</label>
          </div>
          <div class="col-sm-7 col-md-5">
            <input class="form-control form-control-sm" id="securityPassword" type="password"
                   [disabled]="true"
                   value="********"/>
            <span class="form-label-text mt-1">
                                            <a href="javascript:void(0);" role="button" class="text-uppercase btn-link"
                                               (click)="openChangePasswordModal()"><strong>
                                                    <u translate="settings.change_now">Change now</u></strong></a></span>
          </div>
        </div>
      </div>

      <div class="form-content-row">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <label class="form-label mb-sm-0" translate="page_pricing.two_factore_auth">2 Factor authentication</label>
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="row row-sm">
              <a *ngIf="!settings.enable_2fa" (click)="get2FASecret(); auth2FAForm={auth2FAStep:1, enable_2fa: true}"
                 href="javascript:void(0);" class="col-12 text-uppercase btn-link" role="button"><strong>
                <u translate="settings.security.set_up_2FA">Set up 2 Factor authentication</u></strong></a>
              <a *ngIf="settings.enable_2fa" (click)="disable2FA()"
                 href="javascript:void(0);" class="col-12 text-uppercase btn-link" role="button"><strong>
                  <u translate="settings.security.disable_2FA">Disable 2 Factor authentication</u></strong></a>
            </div>
          </div>
        </div>
      </div>

      <div class="form-content-row">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <label for="recoveryMail" class="form-label mb-sm-0" translate="settings.recovery_email">Recovery
              email</label>
          </div>
          <form class="col-sm-7 col-md-5" autocomplete="off">
            <input class="form-control form-control-sm" id="recoveryMail" type="email" name="email"
                   autocomplete="off" [(ngModel)]="settings.recovery_email" [ngModelOptions]="{ updateOn: 'blur'}"
                   (change)="updateSettings('recovery_email', $event.target.value)"
                   placeholder="example@mail.com"/>
          </form>
        </div>
      </div>

    </div>
  </div>

  <header class="ui-header ui-header-bordered">
    <h5 class="ui-header-subtitle text-dark mb-0"><strong translate="settings.compose.encryption">Encryption</strong></h5>
  </header>
  <div class="mailbox-section-body mailbox-section-body-sm">
    <div class="form-content-holder">
      <div class="form-content-row"
           ngbTooltip="{{planType===planTypeEnum.FREE?('settings.security.upgrade_to_paid'| translate):''}}">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <label class="form-label mb-sm-0" translate="settings.security.subjects_encryption">Subjects encryption</label>
          </div>
          <div [class.disabled]="planType===planTypeEnum.FREE" class="col-sm-7 col-md-5 subject-encryption">
            <div class="row row-sm">
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="subjectEncryption1"
                         name="[2]" type="radio" (click)="updateSettings('is_subject_encrypted', true)"
                         [checked]="settings?.is_subject_encrypted"/>
                  <label for="subjectEncryption1" translate="common.enabled">Enabled</label>
                </div>
              </div>
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="subjectEncryption2"
                         name="[2]" type="radio" (click)="updateSettings('is_subject_encrypted', false)"
                         [checked]="!settings?.is_subject_encrypted"/>
                  <label for="subjectEncryption2" translate="common.disabled">Disabled</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-content-row">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <label class="form-label mb-sm-0" translate="settings.security.contacts_encryption">Contacts encryption</label>
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="row row-sm">
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="contactsEncryption1"
                         name="[3]" type="radio" (click)="openConfirmEncryptContactsModal()"
                         [checked]="isContactsEncrypted"/>
                  <label for="contactsEncryption1" translate="common.enabled">Enabled</label>
                </div>
              </div>
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="contactsEncryption2"
                         name="[3]" type="radio" (click)="openDecryptContactsModal()"
                         [checked]="!isContactsEncrypted"/>
                  <label for="contactsEncryption2" translate="common.disabled">Disabled</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header class="ui-header ui-header-bordered">
    <h5 class="ui-header-subtitle text-dark mb-0"><strong translate="settings.security.phishing_protection">Phishing Protection</strong></h5>
  </header>
  <div class="mailbox-section-body mailbox-section-body-sm">
    <div class="form-content-holder">
      <div class="form-content-row">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <label class="form-label mb-sm-0" translate="settings.security.anti_phishing">Anti Phishing</label>
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="row row-sm">
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="phishingProtection1"
                         name="[phishingProtection]" type="radio" (click)="updateAntiPhishing(true)"
                         [checked]="settings.is_anti_phishing_enabled"/>
                  <label for="phishingProtection1" translate="common.enabled">Enabled</label>
                </div>
              </div>
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="phishingProtection2"
                         name="[phishingProtection]" type="radio" (click)="updateAntiPhishing(false)"
                         [checked]="!settings.is_anti_phishing_enabled"/>
                  <label for="phishingProtection2" translate="common.disabled">Disabled</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center my-3" *ngIf="settings.is_anti_phishing_enabled">
          <div class="col-sm-3">
            <label class="form-label mb-sm-0" translate="settings.security.phishing_phrase_title">Anti Phishing Phrase</label>
          </div>
          <div class="col-sm-7 col-md-5">
            <input class="form-control form-control-sm" id="antiPhishingPhrase" type="text" name="antiPhishingPhrase"
                   autocomplete="off" [(ngModel)]="settings.anti_phishing_phrase" [ngModelOptions]="{ updateOn: 'blur'}"
                   (change)="updateSettings('anti_phishing_phrase', $event.target.value)"/>
          </div>
        </div>
        <div class="info-card mt-2 full-width">
          <span translate="settings.security.anti_phishing_phrase">
          The Anti-Phishing phrase allows users to link a custom word or phrase of your choice to your CTemplar account.
          Once set, if you ever log into your webmail and your Anti-Phishing phrase is either missing or incorrect,
          you may be the victim of phishing. You should immediately confirm that you are visiting </span>
          <a href="https://ctemplar.com">https://ctemplar.com</a>. <span translate="settings.security.malicious_site"> If you are not, then a malicious site might have your
          login credentials for your CTemplar account. To prevent harm to your account, you should immediately visit </span>
          &nbsp;    <a href="https://ctemplar.com">https://ctemplar.com </a> <span translate="settings.security.and_change_password">and change your password.</span>
        </div>
      </div>
      <div class="form-content-row">
        <div class="row align-items-center">
        </div>
      </div>
    </div>
  </div>
</section>

<!--Decrypt Contacts Modal-->
<ng-template #decryptContactsModal let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-sm-center align-items-center text-sm-center">
    <h3 class="modal-title w-100 text-dark" id="decryptContactsModal">
      <strong *ngIf="isDecryptingContacts; else decryptingTitle" translate="settings.security.decrypting_contacts">Decrypting contacts</strong>
      <ng-template #decryptingTitle>
        <strong translate="settings.security.confirm_disable_contacts">Confirm disable contacts encryption</strong>
      </ng-template>
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="closeDecryptContactsModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div *ngIf="isDecryptingContacts; else decryptingContacts" class="px-4">
      <label translate="settings.security.contacts_being_decrypt">Please be patient while your contacts are being decrypted, don't close your browser.</label>
      <div align="center" *ngIf="!contactsState?.loaded && contactsState?.totalContacts===0">
        <app-loading-spinner [showSpinner]="true"></app-loading-spinner>
      </div>
      <div class="my-4" *ngIf="contactsState?.loaded || contactsState?.totalContacts!==0">
        <div class="info-list-val-text text-center">
          {{contactsState.noOfDecryptedContacts}} <span translate="settings.of">of </span> {{contactsState.totalContacts}}
          <span translate="settings.security.contacts_decrypted">contacts decrypted</span>
        </div>
        <div class="progress progress-secondary progress-lg">
          <div class="progress-bar" role="progressbar"
               [style.width.%]="((contactsState.noOfDecryptedContacts/contactsState.totalContacts)*100)"
               [attr.aria-valuenow]="contactsState.noOfDecryptedContacts"
               aria-valuemin="0"
               [attr.aria-valuemax]="contactsState.totalContacts"></div>
        </div>
      </div>
      <div *ngIf="contactsState.noOfDecryptedContacts===contactsState.totalContacts && contactsState.loaded">
        <div class="mb-4 green" translate="settings.security.all_contacts_decrypt">
          All contacts decrypted successfully
        </div>
        <div align="right" class="mt-3">
          <button (click)="closeDecryptContactsModal()" class="btn btn-secondary btn-sm cursor-pointer"
          translate="settings.compose.close">Close</button>
        </div>
      </div>
    </div>
    <ng-template #decryptingContacts>
      <div class="px-4">
        <label>
          <label translate="settings.security.disable_contact_decrypt">Are you sure you want to disable contacts encryption?</label><br>
          <b translate="settings.security.note">Note:</b> <span translate="settings.security.disabling_contacts">
          Disabling contacts encryption can take several minutes depending upon the number of contacts you have.
          After you confirm, all your contacts will be decrypted inside your browser and saved on server. </span>
        </label>
        <div align="right" class="mt-3">
          <button (click)="confirmDecryptContacts()" class="btn btn-secondary btn-sm cursor-pointer"
          translate="settings.compose.confirm">Confirm</button>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>

<ng-template #confirmEncryptContactsModal let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-sm-center align-items-center text-sm-center">
    <h3 class="modal-title w-100 text-dark" id="confirmContactsEncryptionModal">
      <strong translate="settings.security.decrypting_contacts">Decrypting contacts</strong>
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="px-4">
      <div class="row row-sm">
        <span translate="settings.security.enabling_contacts">By enabling contacts encryption</span>
        <ul>
          <li translate="settings.security.all_contacts_encrypted">All your contacts will be encrypted</li>
          <li translate="settings.security.contacts_suggestion">Contacts suggestion on compose email won't be available anymore</li>
          <li translate="settings.security.contacts_search">Contacts can't be searched anymore</li>

        </ul>
      </div>
      <div align="right" class="mt-3">
        <button (click)=" d();updateSettings('is_contacts_encrypted', true);"
                class="btn btn-secondary btn-sm cursor-pointer" translate="settings.compose.confirm">Confirm
        </button>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #auth2FAModal let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-sm-center align-items-center text-sm-center">
    <h3 class="modal-title w-100 text-dark" id="auth2FAModal">
      <strong>{{auth2FAForm.enable_2fa ? ('settings.security.set_up'| translate) : ('settings.disable'| translate)}}
        <span translate="page_pricing.two_factore_auth">2 Factor authentication</span></strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded py-4">
    <div class="align-items-center  px-4" *ngIf="auth2FA">
      <ng-container *ngIf="auth2FAForm.auth2FAStep === 1">
        <div *ngIf="!auth2FA.inProgress">
          <div class="card-body text-center">
            <div class="mb-4" translate="settings.security.scan_following_QR">Scan the following QR code with your 2 Factor authentication app to set up your account.
              You can also enter the secret key manually in order to setup.
            </div>
            <img class="mb-3" style="height: 270px"
                 src="{{apiUrl}}qr-code/?size=300x300&data={{auth2FA.secret_url}}"
                 alt="QR">
            <div class="bg-white px-3 py-3">
              <span class="text-dark"><b>Secret: </b>{{ auth2FA.secret }}</span>
              <button mat-icon-button (click)="copyToClipboard(auth2FA.secret)"
                      class="copy-btn">
                <i class="material-icons">file_copy</i>
              </button>
            </div>
          </div>
          <div align="right" class="mt-3">
            <button (click)="auth2FAForm.auth2FAStep=2" class="btn btn-secondary btn-sm cursor-pointer"
            translate="settings.next">Next</button>
          </div>
        </div>
        <div align="center">
          <app-loading-spinner [showSpinner]="auth2FA.inProgress"></app-loading-spinner>
        </div>
      </ng-container>
      <div *ngIf="auth2FAForm.auth2FAStep === 2">
        <div>
          <div class="form-group form-group-sm">
            <label for="password" class="d-block text-muted text-left hidden-sm-up" translate="settings.password">Password</label>
            <div class="input-group">
              <input #password class="form-control form-control-lg" id="password" [placeholder]="'settings.password'| translate"
                     [(ngModel)]="auth2FAForm.password"
                     type="password"/>
              <span class="input-group-addon password-toggle bg-white text-muted"
                    (click)="togglePassword(password)">
                                    <i class="fa fa-eye"></i>
                                    <i class="fa fa-eye-slash"></i>
                                </span>
            </div>
            <span class="validate-message" *ngIf="auth2FAForm.submitted && !auth2FAForm.password" translate="settings.security.enter_acc_password">
              Please enter your account password.
            </span>
          </div>
          <div class="form-group form-group-sm">
            <label for="passcode" class="d-block text-muted text-left hidden-sm-up" translate="settins.security.passcode">Passcode</label>
            <div class="input-group">
              <input class="form-control form-control-lg" id="passcode"
                     [placeholder]="'settings.security.gen_by_2FA'| translate"
                     [(ngModel)]="auth2FAForm.passcode"
                     type="text"/>
            </div>
            <span class="validate-message" *ngIf="auth2FAForm.submitted && !auth2FAForm.passcode" translate="settings.security.enter_passcode_2FA">
              Please enter passcode generated by 2FA app.
            </span>
          </div>
        </div>
        <div class="modal-footer justify-content-sm-end">
          <button class="btn btn-default btn-sm cursor-pointer" type="reset" (click)="d()"><span
                  translate="common.cancel">Cancel</span></button>
          <button class="btn btn-secondary btn-sm cursor-pointer"
                  (click)="update2FA(auth2FAForm.enable_2fa); d()"
                  [disabled]="!auth2FAForm.passcode || !auth2FAForm.password">
            {{auth2FAForm.enable_2fa ? ('settings.enable'| translate) : ('settings.disable'| translate)}}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Change password Modal -->
<ng-template #changePasswordModal let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-sm-center align-items-center text-sm-center">
    <h3 class="modal-title w-100 text-dark" id="changePasswordModalLabel"><strong
            translate="settings.security.change_password">Change Password</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div>
      <p class="text-holder text-dark text-medium" translate="settings.security.message">
        Your encryption key is connected to your password. You have the option to either keep all the data and
        encryption
        keys and just change the password or you can delete all the data and generate new encryption keys. Choose your
        option carefully.
      </p>
    </div>
    <div class="text-holder text-dark text-medium">
      <div class="password-content-holder mx-auto mt-2 pt-sm-2">
        <div class="form">
          <form [formGroup]="changePasswordForm" (submit)="changePassword()">
            <div [class.disabled]="inProgress">
              <div class="form-group form-group-sm">
                <label for="oldPassword" class="d-block text-muted text-left hidden-sm-up"
                       translate="settings.security.old_password">
                  Old Password</label>
                <div class="input-group">
                  <input #oldPasswordInput class="form-control form-control-lg" id="oldPassword"
                         formControlName="oldPassword" [placeholder]="'settings.security.old_password'| translate"
                         type="password"/>
                  <span class="input-group-addon password-toggle bg-white text-muted"
                        (click)="togglePassword(oldPasswordInput)">
                                    <i class="fa fa-eye"></i>
                                    <i class="fa fa-eye-slash"></i>
                                </span>
                </div>
                <span *ngIf="changePasswordForm.controls['oldPassword'].errors && showChangePasswordFormErrors"
                      class="validate-message">
                                <span *ngIf="changePasswordForm.controls['oldPassword'].errors.required"
                                      translate="settings.security.old_password_req">Old password is required.</span>
                            </span>
              </div>
              <div class="form-group form-group-sm">
                <label for="newPassword" class="d-block text-muted text-left hidden-sm-up"
                       translate="settings.new_password">New Password</label>
                <div class="input-group">
                  <input #newPasswordInput class="form-control form-control-lg" id="newPassword"
                         formControlName="password" [placeholder]="'settings.new_password'| translate" type="password"/>
                  <span class="input-group-addon password-toggle bg-white text-muted"
                        (click)="togglePassword(newPasswordInput)">
                                    <i class="fa fa-eye"></i>
                                    <i class="fa fa-eye-slash"></i>
                                </span>
                </div>
                <span *ngIf="changePasswordForm.controls['password'].errors && showChangePasswordFormErrors"
                      class="validate-message">
                                <span *ngIf="changePasswordForm.controls['password'].errors.required"
                                      translate="settings.security.new_password_req">New password is required.</span>
                            </span>
              </div>
              <div class="form-group form-group-sm">
                <label for="confirmNewPassword" class="d-block text-muted text-left hidden-sm-up"
                       translate="settings.confirm_new_password">Confirm New Password</label>
                <div class="input-group">
                  <input #confirmNewPasswordInput class="form-control form-control-lg" id="confirmNewPassword"
                         formControlName="confirmPwd" [placeholder]="'settings.confirm_new_password'| translate"
                         type="password"/>
                  <span class="input-group-addon password-toggle bg-white text-muted"
                        (click)="togglePassword(confirmNewPasswordInput)">
                                    <i class="fa fa-eye"></i>
                                    <i class="fa fa-eye-slash"></i>
                                </span>
                </div>
                <span *ngIf="changePasswordForm.controls['confirmPwd'].errors && showChangePasswordFormErrors"
                      class="validate-message">
                                <span translate="create_account.passwords_not_match">Passwords do not match.</span>
                            </span>
              </div>

              <div class="form-content-row">
                <label class="font-weight-bold notice" translate="settings.security.data_message">Select option to
                  keep/delete data!</label><br>
                <div class="row align-items-center">
                  <div class="col-sm-7 col-md-5">
                    <div class="row row-sm">
                      <div class="col-6 flex-auto-col" (click)="deleteData=false;">
                        <div class="fancy-field-group">
                          <input class="d-none fancy-field-control fancy-field-control-sm" id="keep_data1"
                                 [checked]="!deleteData"
                                 name="[1]" type="radio"/>
                          <label for="keep_data1" translate="settings.security.keep_data">Keep data</label>
                        </div>
                      </div>
                      <div class="col-6 flex-auto-col" (click)="deleteData=true;">
                        <div class="fancy-field-group">
                          <input class="d-none fancy-field-control fancy-field-control-sm" id="keep_data2"
                                 [checked]="deleteData"
                                 name="[1]" type="radio"/>
                          <label for="keep_data2" translate="settings.security.encryption_key_message">Delete all data
                            and generate new encryption keys</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-3" *ngIf="inProgress && deleteData">
              <span class="notice">Note : </span>
              <span translate="settings.security.encryption_key_progress"> Generating new encryption keys is in progress, it can take several minutes, please wait for it to complete!</span>
            </div>
            <div class="form-group form-user-actions text-center mb-0 mt-3">
              <button class="btn btn-gradient-primary btn-sm reset-btn"
                      [disabled]="inProgress"
                      role="button" type="submit">
                <span translate="billing_info.submit">Submit</span>
              </button>
              <app-loading-spinner [showSpinner]="inProgress"></app-loading-spinner>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template><!-- /.Change password Modal ends -->
