.password-content-holder {
  max-width: 416px;
}

.notice {
  color: red;
}

.subject-encryption.disabled {
  pointer-events: none;
  cursor: not-allowed;

  label {
    color: rgba(0, 0, 0, 0.38) !important;
  }

  input[type="radio"].fancy-field-control:checked + label::after {
    background: rgba(0, 0, 0, 0.38) !important;
  }

  input[type="radio"].fancy-field-control:checked + label::before {
    border-color: rgba(0, 0, 0, 0.38) !important;
  }
}
