@import '../../../styles/variables';

.content-wrapper {
  margin-bottom: 30px;
}

.page.heading {
  padding-bottom: 20px;
}

.featured-light-content {
  border-radius: 2px;
  padding: 20px 65px;
  background-color: #fcfcfc;

  &.margin-top {
    margin-top: 20px;
  }

  p {
    text-align: left;
    font-size: 14px;
    color: #848484;
  }
}

.ui.input input {
  padding: 14px 15px;
}

.number-wrapper {
  position: relative;

  .number {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background: #fafafa;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 4px 7px 0 rgba(6, 0, 68, 0.15);
    display: block;
    height: 32px;
    width: 32px;
    padding: 6px 11px;
    top: 23px;
    left: -31px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 900;
  color: #212121;
}

.description {
  font-size: 14px;
  color: #757575;
  margin-top: -10px;
}

.ui.large.wide {
  width: 100%;
}

.at {
  font-size: 24px;
  font-style: italic;
  color: #000;
  position: relative;
  top: 12px;
  left: -5px;
}

.red {
  color: #CE0B24;
}

.info-1 {
  font-size: 12px;
  display: block;
  color: #808080;
  margin-top: -10px;
  margin-bottom: -10px;

  a {
    font-size: 12px;
    font-style: normal;
  }
}

.info-2 {
  font-size: 16px;
  display: block;
  margin-bottom: 50px;

  a {
    font-size: 16px;
    font-style: normal;
  }
}
