<div class="mail-composer-body">
  <form>
    <div class="mail-compose-field-group">
      <!-- 'From' field -->
      <div class="mail-compose-field">
        <span class="mail-label label-from">{{ 'settings.compose.from' | translate }}</span>
        <div class="col-sm p-0">
          <div class="btn-dropdown btn-dropdown-select btn-dropdown-lg">
            <div ngbDropdown class="dropdown-sm">
              <button
                ngbDropdownToggle
                class="dropdown-toggle border-0 from-text"
                id="fromEmailDropdownMenuButton"
                role="button"
                [disabled]="attachments?.length > 0"
              >
                <app-composer-encryption-type-icon
                  [isAutocrypt]="true"
                  [autocryptInfo]="autocryptInfo"
                ></app-composer-encryption-type-icon>
                <!--                <app-composer-encryption-type-icon [isAutocrypt]="true" [isAutocryptEncrypt]="true" [autocryptInfo]="autocryptInfo"></app-composer-encryption-type-icon>-->
                {{ selectedMailbox?.email | emailFormat: selectedMailbox?.display_name }}
              </button>
              <div
                *ngIf="!attachments || attachments.length === 0"
                ngbDropdownMenu
                class="from-dropdown"
                aria-labelledby="fromEmailDropdownMenuButton"
              >
                <ng-container *ngFor="let mailbox of mailBoxesState?.mailboxes">
                  <a
                    class="dropdown-item from-text"
                    *ngIf="mailbox.is_enabled"
                    (click)="onFromChanged(mailbox, selectedMailbox)"
                    >{{ mailbox.email }}</a
                  >
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 'From' field -->
      <!-- 'To' field -->
      <div class="mail-compose-field mail-compose-field-to" #receiverInput>
        <span class="mail-label label-to">{{ 'settings.compose.to' | translate }}</span>
        <tag-input
          [(ngModel)]="mailData.receiver"
          *ngIf="isLoaded"
          name="to"
          [placeholder]="' '"
          [secondaryPlaceholder]="'settings.compose.recipient_email' | translate"
          [onTextChangeDebounce]="100"
          [onlyFromAutocomplete]="false"
          [addOnBlur]="true"
          [editable]="true"
          [separatorKeys]="[',']"
          [separatorKeyCodes]="[13]"
          [(inputText)]="inputTextValue"
          [onAdding]="beforeAddReceiver"
          (onAdd)="onAddingReceiver($event, mailData.receiver)"
          (onRemove)="handleRemoveRecipient('receiver')"
          [addOnPaste]="false"
          (onTagEdited)="onTagEdited($event)"
          (click)="onClick()"
          #input
        >
          <ng-template let-item="item" let-index="index">
            <app-circle-bar-spinner
              [showSpinner]="getUserKeyFetchingStatus(item.email)"
              [color]="night_mode ? '#fff' : '#333333'"
            ></app-circle-bar-spinner>
            <app-receiver-email-chip
              [contacts]="clonedContacts"
              [email]="item.email"
              [isContactEncrypted]="userState.settings.is_contacts_encrypted"
              [blacklist]="blacklist"
              [whitelist]="whitelist"
              [autocryptInfo]="autocryptInfo"
              [encryptionTypeMap]="receiverEncryptTypeMap"
            ></app-receiver-email-chip>
            <delete-icon (click)="input.removeItem(item, index)"></delete-icon>
          </ng-template>
          <tag-input-dropdown
            [showDropdownIfEmpty]="false"
            [appendToBody]="false"
            [displayBy]="'display'"
            [identifyBy]="'email'"
            [autocompleteItems]="contacts"
          >
            <ng-template let-item="item" let-index="index">
              <div class="compose-contacts-container">
                <img src="assets/images/user-icon-grey.png" alt="user-image" />
                <div class="compose-contacts-userinfo">
                  <div>{{ item.name }}</div>
                  <div>{{ item.email }}</div>
                </div>
              </div>
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
        <div class="extra-mail-label">
          <span class="mail-label mail-floated-label" (click)="options.isCcVisible = !options.isCcVisible">Cc</span>
          <span class="mail-label mail-floated-label mr-0" (click)="options.isBccVisible = !options.isBccVisible"
            >Bcc</span
          >
        </div>
      </div>
      <!-- 'To' field -->
      <!-- 'Cc' field -->
      <div class="mail-compose-field" [ngClass]="{ 'd-none': !options.isCcVisible }" #ccReceiverInput>
        <span class="mail-label label-cc">Cc:</span>
        <tag-input
          [(ngModel)]="mailData.cc"
          name="cc"
          [placeholder]="' '"
          [secondaryPlaceholder]="'settings.compose.cc_email' | translate"
          [onTextChangeDebounce]="100"
          [onlyFromAutocomplete]="false"
          [addOnBlur]="true"
          [editable]="true"
          [separatorKeys]="[',']"
          [separatorKeyCodes]="[13]"
          [(inputText)]="ccInputTextValue"
          [onAdding]="beforeAddReceiver"
          (onAdd)="onAddingReceiver($event, mailData.cc)"
          (onRemove)="handleRemoveRecipient('ccReceiver')"
          [addOnPaste]="false"
          (onTagEdited)="ccOnTagEdited($event)"
          (click)="onCcClick()"
          #ccInput
        >
          <ng-template let-item="item" let-index="index">
            <app-circle-bar-spinner
              [showSpinner]="getUserKeyFetchingStatus(item.email)"
              [color]="night_mode ? '#fff' : '#333333'"
            ></app-circle-bar-spinner>
            <app-receiver-email-chip
              [contacts]="clonedContacts"
              [email]="item.email"
              [isContactEncrypted]="userState.settings.is_contacts_encrypted"
              [blacklist]="blacklist"
              [whitelist]="whitelist"
              [autocryptInfo]="autocryptInfo"
              [encryptionTypeMap]="receiverEncryptTypeMap"
            ></app-receiver-email-chip>
            <delete-icon (click)="ccInput.removeItem(item, index)"></delete-icon>
          </ng-template>
          <tag-input-dropdown
            [showDropdownIfEmpty]="false"
            [appendToBody]="false"
            [displayBy]="'display'"
            [identifyBy]="'email'"
            [autocompleteItems]="contacts"
          >
            <ng-template let-item="item" let-index="index">
              <div class="compose-contacts-container">
                <img src="assets/images/user-icon-grey.png" alt="user-image" />
                <div class="compose-contacts-userinfo">
                  <div>{{ item.name }}</div>
                  <div>{{ item.email }}</div>
                </div>
              </div>
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
      </div>
      <!-- 'Cc' field -->
      <!-- 'Bcc' field -->
      <div class="mail-compose-field" [ngClass]="{ 'd-none': !options.isBccVisible }" #bccReceiverInput>
        <span class="mail-label label-bcc">Bcc:</span>
        <tag-input
          [(ngModel)]="mailData.bcc"
          name="bcc"
          [placeholder]="' '"
          [secondaryPlaceholder]="'settings.compose.bcc_email' | translate"
          [onTextChangeDebounce]="100"
          [onlyFromAutocomplete]="false"
          [addOnBlur]="true"
          [editable]="true"
          [separatorKeys]="[',']"
          [separatorKeyCodes]="[13]"
          [(inputText)]="bccInputTextValue"
          [onAdding]="beforeAddReceiver"
          (onAdd)="onAddingReceiver($event, mailData.bcc)"
          (onRemove)="handleRemoveRecipient('bccReceiver')"
          [addOnPaste]="false"
          (onTagEdited)="bccOnTagEdited($event)"
          (click)="onBccClick()"
          #bccInput
        >
          <ng-template let-item="item" let-index="index">
            <app-circle-bar-spinner
              [showSpinner]="getUserKeyFetchingStatus(item.email)"
              [color]="night_mode ? '#fff' : '#333333'"
            ></app-circle-bar-spinner>
            <app-receiver-email-chip
              [contacts]="clonedContacts"
              [email]="item.email"
              [isContactEncrypted]="userState.settings.is_contacts_encrypted"
              [blacklist]="blacklist"
              [whitelist]="whitelist"
              [autocryptInfo]="autocryptInfo"
              [encryptionTypeMap]="receiverEncryptTypeMap"
            ></app-receiver-email-chip>
            <delete-icon (click)="bccInput.removeItem(item, index)"></delete-icon>
          </ng-template>
          <tag-input-dropdown
            [showDropdownIfEmpty]="false"
            [appendToBody]="false"
            [displayBy]="'display'"
            [identifyBy]="'email'"
            [autocompleteItems]="contacts"
          >
            <ng-template let-item="item" let-index="index">
              <div class="compose-contacts-container">
                <img src="assets/images/user-icon-grey.png" alt="user-image" />
                <div class="compose-contacts-userinfo">
                  <div>{{ item.name }}</div>
                  <div>{{ item.email }}</div>
                </div>
              </div>
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
      </div>
      <!-- 'Bcc' field -->
      <!-- 'Subject' field -->
      <div class="mail-compose-field">
        <span class="mail-label label-subject mail-subject">{{ 'settings.compose.subject' | translate }}</span>
        <input
          type="text"
          class="mail-compose-control"
          name="subject"
          [(ngModel)]="mailData.subject"
          (ngModelChange)="valueChanged$.next(mailData.subject); onSubjectChange(mailData.subject)"
          id="subject"
          #subjectInput
        />
      </div>
      <!-- 'Subject' field -->
    </div>
  </form>
  <!-- Main Content field -->
  <div class="mail-compose-editable-body">
    <div class="mail-compose-box has-custom-scroll" id="editor-cover-scroller">
      <div class="mail-compose-box-inner">
        <div class="mail-compose-editable-box" (drop)="onFilesDrop($event)">
          <ckeditor
            #composerEditorElementRef
            id="editor"
            class="editor"
            *ngIf="draftMail?.is_html"
            [editor]="DecoupledEditor"
            (ready)="onEditorReady($event)"
          ></ckeditor>

          <div *ngIf="!draftMail?.is_html">
            <textarea
              class="plain-editor"
              name="content"
              [(ngModel)]="mailData.content"
              (ngModelChange)="valueChanged$.next(mailData.content)"
              id="content"
              rows="1"
              [ngStyle]="{ 'font-family': settings.plain_text_font ? settings.plain_text_font : 'monospace' }"
            >
            </textarea>
          </div>
        </div>
        <input
          type="file"
          #imageInput
          accept="image/*"
          multiple
          (change)="onImagesSelected($event.target.files)"
          style="display: none"
        />
        <input type="file" #fileInput multiple (change)="onFilesSelected($event.target.files)" style="display: none" />
        <div class="attach-uploader-holder" *ngIf="attachments?.length > 0">
          <ng-container *ngFor="let file of attachments">
            <div class="attach-uploader" *ngIf="!file.isRemoved && !(file.is_inline && file.progress === 100)">
              <div class="attach-name">
                <div class="file-name">{{ file.name }}</div>
                <div class="attach-size" *ngIf="file.size">({{ file.size }})</div>
              </div>
              <div class="progress" *ngIf="file.progress !== 100">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [style.width]="file.progress + '%'"
                  [attr.aria-valuenow]="file.progress"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <button
                type="button"
                role="button"
                (click)="removeAttachment(file)"
                class="attach-uploader-close"
                placement="top"
                [ngbTooltip]="'settings.remove' | translate"
              >
                <i class="icon icon-cross"></i>
              </button>
            </div>
          </ng-container>
        </div>
        <div #attachmentHolder style="height: 30px"></div>
      </div>
    </div>
  </div>
  <!-- Main Content field -->

  <!-- attach images modal -->
  <ng-template #attachImagesModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title w-100 text-dark">
        <strong>{{ 'settings.compose.attach_images' | translate }}</strong>
      </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-faded">
      <div class="mail-actions-form-holder modal-mail-actions-form-holder">
        <div class="form-group">{{ 'settings.compose.select_file' | translate }}</div>
        <div class="form-group">
          <label for="imageURL">Image URL</label>
          <input
            type="text"
            #imageURL
            id="imageURL"
            class="form-control"
            [placeholder]="'settings.compose.image_url' | translate"
          />
        </div>
        <div class="form-group text-right mb-0">
          <button
            type="button"
            (click)="imageInput.value = ''; imageInput.click(); d()"
            class="btn btn-success btn-sm mr-1"
            role="button"
          >
            <span>{{ 'settings.compose.attach_files' | translate }}</span>
          </button>
          <button type="button" (click)="onAttachImageURL(imageURL.value)" class="btn btn-success btn-sm" role="button">
            <span>{{ 'settings.compose.attach_url' | translate }}</span>
          </button>
        </div>
      </div>
    </div> </ng-template
  ><!-- /.attach images modal ends -->

  <!-- self destruct datetime picker modal -->
  <ng-template #selfDestructModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title w-100 text-dark">
        <strong>{{ 'settings.compose.self_dest_email' | translate }}</strong>
        <ng-container
          [ngTemplateOutlet]="learnMore"
          [ngTemplateOutletContext]="{ link: 'https://ctemplar.com/help/answer/using-the-self-destruct-timer/' }"
        >
        </ng-container>
      </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-faded">
      <div class="mail-actions-form-holder modal-mail-actions-form-holder">
        <div class="form-group">{{ 'settings.compose.email_deleted' | translate }} ({{ settings.timezone }})</div>
        <div class="row">
          <div class="col-7 form-group">
            <label class="form-inline">{{ 'settings.compose.select_date' | translate }}</label>
            <ngb-datepicker
              class="bg-white ng-datepicker ng-datepicker-265"
              ngbAutofocus
              [(ngModel)]="selfDestruct.date"
              [minDate]="datePickerMinDate"
              (ngModelChange)="changeSelfDestruct()"
            >
            </ngb-datepicker>
          </div>
          <div class="col-5 form-group">
            <label class="form-inline">{{ 'settings.compose.select_time' | translate }}</label>
            <ngb-timepicker
              [(ngModel)]="selfDestruct.time"
              [meridian]="selfDestruct.meridian"
              (ngModelChange)="changeSelfDestruct()"
            ></ngb-timepicker>
          </div>
        </div>
        <label class="form-group"
          >{{ 'mail_detail.delete_in' | translate }} {{ selfDestructTimeString | remainingTime }}</label
        >
        <div *ngIf="selfDestruct.error" class="l-alert l-alert-danger mb-3">{{ selfDestruct.error }}</div>
        <div class="form-group text-center btns-xs-3 mb-0">
          <button type="button" (click)="setSelfDestructValue()" class="btn btn-success btn-sm mr-1" role="button">
            <span>{{ 'settings.compose.confirm' | translate }}</span>
          </button>
          <button type="button" (click)="clearSelfDestructValue()" class="btn btn-primary btn-sm mr-1" role="button">
            Clear
          </button>
          <button (click)="d()" class="btn btn-secondary btn-sm" role="button">
            {{ 'common.cancel' | translate }}
          </button>
        </div>
      </div>
    </div> </ng-template
  ><!-- /.self destruct datetime picker modal ends -->

  <!-- delayed delivery datetime picker modal -->
  <ng-template #delayedDeliveryModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title w-100 text-dark">
        <strong>{{ 'settings.compose.delayed_delivery' | translate }}</strong>
        <ng-container
          [ngTemplateOutlet]="learnMore"
          [ngTemplateOutletContext]="{
            link: 'https://ctemplar.com/help/answer/delay-or-schedule-sending-email-messages/'
          }"
        >
        </ng-container>
      </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-faded">
      <div class="mail-actions-form-holder modal-mail-actions-form-holder">
        <div class="form-group">{{ 'settings.compose.email_on_datetime' | translate }} ({{ settings.timezone }})</div>
        <div class="row">
          <div class="col-7 form-group">
            <label class="form-inline">{{ 'settings.compose.select_date' | translate }}</label>
            <ngb-datepicker
              class="bg-white ng-datepicker ng-datepicker-265"
              ngbAutofocus
              [(ngModel)]="delayedDelivery.date"
              [minDate]="datePickerMinDate"
              (ngModelChange)="changeDelayDeliver()"
            ></ngb-datepicker>
          </div>
          <div class="col-5 form-group">
            <label class="form-inline">{{ 'settings.compose.select_time' | translate }}</label>
            <ngb-timepicker
              [(ngModel)]="delayedDelivery.time"
              [meridian]="delayedDelivery.meridian"
              (ngModelChange)="changeDelayDeliver()"
            ></ngb-timepicker>
          </div>
        </div>
        <label class="form-group"
          >{{ 'mail_detail.delay_delivery' | translate }} {{ delayDeliverTimeString | remainingTime }}</label
        >
        <div *ngIf="delayedDelivery.error" class="l-alert l-alert-danger mb-3">{{ delayedDelivery.error }}</div>
        <div class="form-group text-center btns-xs-3 mb-0">
          <button type="button" (click)="setDelayedDeliveryValue()" class="btn btn-success btn-sm mr-1" role="button">
            {{ 'settings.compose.confirm' | translate }}
          </button>
          <button type="button" (click)="clearDelayedDeliveryValue()" class="btn btn-primary btn-sm mr-1" role="button">
            {{ 'settings.compose.clear' | translate }}
          </button>
          <button (click)="d()" class="btn btn-secondary btn-sm" role="button">
            {{ 'common.cancel' | translate }}
          </button>
        </div>
      </div>
    </div> </ng-template
  ><!-- /.delayed delivery datetime picker modal ends -->

  <!-- dead man timer modal -->
  <ng-template #deadManTimerModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title w-100 text-dark">
        <strong>{{ 'settings.compose.dead_man_timer' | translate }}</strong>
        <ng-container
          [ngTemplateOutlet]="learnMore"
          [ngTemplateOutletContext]="{ link: 'https://ctemplar.com/help/answer/setting-up-a-dead-mans-timer/' }"
        >
        </ng-container>
      </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-faded">
      <div class="mail-actions-form-holder modal-mail-actions-form-holder">
        <div class="form-group">{{ 'settings.compose.email_sent_timer' | translate }}</div>
        <form (submit)="setDeadManTimerValue()">
          <div class="form-group">
            <label class="form-inline" for="deadman-days">{{ 'settings.compose.days' | translate }}</label>
            <input
              type="number"
              class="form-control"
              id="deadman-days"
              name="deadman-days"
              ngbAutofocus
              [(ngModel)]="deadManTimer.days"
            />
          </div>
          <div class="form-group">
            <label class="form-inline" for="deadman-hours">{{ 'settings.compose.hours' | translate }}</label>
            <input
              type="number"
              class="form-control"
              id="deadman-hours"
              name="deadman-hours"
              [(ngModel)]="deadManTimer.hours"
            />
          </div>
          <div class="form-group text-center btns-xs-3 mb-0">
            <button type="submit" class="btn btn-success btn-sm mr-1" role="button">
              {{ 'settings.compose.confirm' | translate }}
            </button>
            <button type="reset" (click)="clearDeadManTimerValue()" class="btn btn-primary btn-sm mr-1" role="button">
              {{ 'settings.compose.clear' | translate }}
            </button>
            <button (click)="d()" class="btn btn-secondary btn-sm" role="button">
              {{ 'common.cancel' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div> </ng-template
  ><!-- /.dead man timer modal ends -->

  <!-- Insert link modal -->
  <ng-template #insertLinkModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title w-100 text-dark">
        <strong>{{ 'settings.compose.insert_link' | translate }}</strong>
      </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-faded">
      <div class="mail-actions-form-holder modal-mail-actions-form-holder">
        <form (submit)="insertLink(insertLinkData.text, insertLinkData.link)">
          <div class="form-group">
            <label class="form-inline" for="text-to-display">{{
              'settings.compose.text_to_display' | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              id="text-to-display"
              name="text-to-display"
              [(ngModel)]="insertLinkData.text"
            />
          </div>
          <div class="form-group">
            <label class="form-inline" for="link-to">{{ 'settings.compose.link_to' | translate }}</label>
            <input type="text" class="form-control" id="link-to" name="link-to" [(ngModel)]="insertLinkData.link" />
          </div>
          <div class="form-group text-center btns-xs-3 mb-0">
            <button (click)="d()" class="btn btn-secondary btn-sm" role="button">
              {{ 'common.cancel' | translate }}
            </button>
            <button
              type="submit"
              class="btn btn-success btn-sm ml-2"
              [disabled]="!insertLinkData.text || !insertLinkData.link"
              role="button"
            >
              OK
            </button>
          </div>
        </form>
      </div>
    </div> </ng-template
  ><!-- /.Insert link modal ends -->

  <!-- encryption modal -->
  <ng-template #encryptionModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title w-100 text-dark">
        <strong>{{ 'settings.compose.encrypt_for_non' | translate }}</strong>
        <ng-container
          [ngTemplateOutlet]="learnMore"
          [ngTemplateOutletContext]="{
            link: 'https://ctemplar.com/help/answer/sending-encrypted-email-to-non-ctemplar-users/'
          }"
        >
        </ng-container>
      </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-faded encrypt-non-ctemplar">
      <div class="mail-actions-form-holder modal-mail-actions-form-holder">
        <form [formGroup]="encryptForm" (submit)="onSubmitEncryption()">
          <div class="form-group">
            <label for="encrypt-password">{{ 'settings.compose.message_password' | translate }}</label>
            <div class="input-group">
              <input
                #encryptPasswordInput
                type="password"
                class="form-control form-control-lg"
                id="encrypt-password"
                ngbAutofocus
                formControlName="password"
                [placeholder]="'settings.compose.message_password' | translate"
              />
              <span
                class="input-group-addon password-toggle bg-white text-muted"
                (click)="encryptPasswordInput.type = encryptPasswordInput.type === 'password' ? 'text' : 'password'"
              >
                <i class="fa fa-eye"></i> <i class="fa fa-eye-slash"></i>
              </span>
            </div>
            <span *ngIf="encryptForm.controls['password'].errors && showEncryptFormErrors" class="validate-message">
              <span *ngIf="encryptForm.controls['password'].errors.required">
                {{ 'settings.compose.message_password_req' | translate }}
              </span>
            </span>
          </div>
          <div class="form-group">
            <label for="confirm-encrypt-password">{{ 'create_account.confirm_password' | translate }}</label>
            <div class="input-group">
              <input
                #encryptConfirmPasswordInput
                type="password"
                class="form-control form-control-lg"
                id="confirm-encrypt-password"
                formControlName="confirmPwd"
                [placeholder]="'create_account.confirm_password' | translate"
              />
              <span
                class="input-group-addon password-toggle bg-white text-muted"
                (click)="
                  encryptConfirmPasswordInput.type =
                    encryptConfirmPasswordInput.type === 'password' ? 'text' : 'password'
                "
              >
                <i class="fa fa-eye"></i>
                <i class="fa fa-eye-slash"></i>
              </span>
            </div>
            <span *ngIf="encryptForm.controls['confirmPwd'].errors && showEncryptFormErrors" class="validate-message">
              <span>{{ 'create_account.passwords_not_match' | translate }}</span>
            </span>
          </div>
          <div class="form-group">
            <label for="password-hint">{{ 'settings.compose.password_hint' | translate }}</label>
            <input
              type="text"
              id="password-hint"
              class="form-control"
              formControlName="passwordHint"
              [placeholder]="'settings.compose.password_hint' | translate"
            />
          </div>
          <div class="form-group">
            <label>{{ 'settings.compose.encrypt_message_expire' | translate }}</label>
            <div class="row">
              <div class="col-3">
                <label class="form-inline" for="encryption-expire-days">{{
                  'settings.compose.days' | translate
                }}</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="days"
                  min="0"
                  max="5"
                  name="encrypt-non-ctemplar-days"
                />
              </div>
              <div class="col-3">
                <label class="form-inline" for="encryption-expire-hours">{{
                  'settings.compose.hours' | translate
                }}</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="hours"
                  min="0"
                  max="24"
                  name="encrypt-non-ctemplar-hours"
                />
              </div>
            </div>
            <div>
              <span
                *ngIf="
                  showEncryptFormErrors &&
                  (encryptForm.controls['days'].errors ||
                    encryptForm.controls['hours'].errors ||
                    encryptForm.controls['hours'].value + encryptForm.controls['days'].value * 24 === 0 ||
                    encryptForm.controls['hours'].value + encryptForm.controls['days'].value * 24 > 120)
                "
                class="validate-message"
              >
                {{ 'settings.compose.expiry_time_message' | translate }}
              </span>
            </div>
          </div>
          <div class="form-group text-center mb-0">
            <button type="submit" class="btn btn-success btn-sm mr-1" role="button">
              {{ 'settings.compose.confirm' | translate }}
            </button>
            <button type="button" (click)="clearEncryption()" class="btn btn-primary btn-sm mr-1" role="button">
              {{ 'settings.compose.clear' | translate }}
            </button>
            <button (click)="d()" class="btn btn-secondary btn-sm" role="button">
              {{ 'common.cancel' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div> </ng-template
  ><!-- /.encryption modal ends -->
  <!-- Confirm send email without subject modal -->
  <ng-template #confirmationModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title w-100 text-dark">
        <strong [translate]="'settings.compose.confirm_send'">Confirm Send </strong>
      </h3>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="onCancelEmptyMailContentClick()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-faded">
      <div class="mail-actions-form-holder modal-mail-actions-form-holder">
        <div class="form-group">
          <span [translate]="'settings.compose.send_without_all'">
            Are you sure, send this message without a subject or text in the body?</span
          >
        </div>
        <div class="form-group text-right mb-0">
          <button (click)="onCancelEmptyMailContentClick()" class="btn btn-secondary btn-sm mr-2" role="button">
            <span [translate]="'common.cancel'">Cancel</span>
          </button>
          <button (click)="sendEmail()" class="btn btn-danger btn-sm" role="button" [disabled]="userState?.inProgress">
            <span [translate]="'settings.compose.send'">Send</span>
          </button>
          <app-loading-spinner [showSpinner]="userState?.inProgress"></app-loading-spinner>
        </div>
      </div>
    </div> </ng-template
  ><!-- /.Confirm send email without subject modal ends -->
  <!-- Close Confirm modal -->
  <ng-template #closeConfirmationModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title w-100 text-dark">
        <strong [translate]="'settings.compose.confirm_close'">Confirm Close</strong>
      </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-faded">
      <div class="mail-actions-form-holder modal-mail-actions-form-holder">
        <div class="form-group">
          <span [translate]="'settings.compose.close_during_uploading'">
            Are you sure to close? the upload and encryption process will be lost if you close before uploading is not
            completed.</span
          >
        </div>
        <div class="form-group text-right mb-0">
          <button (click)="d()" class="btn btn-secondary btn-sm mr-2" role="button">
            <span [translate]="'common.cancel'">Cancel</span>
          </button>
          <button (click)="closeComposeConfirm()" class="btn btn-danger btn-sm" role="button">
            <span [translate]="'settings.compose.confirm'">Confirm</span>
          </button>
        </div>
      </div>
    </div> </ng-template
  ><!-- /.Close Confirm modal ends -->
  <ng-template #learnMore let-link="link">
    <a
      ngbTooltip="Learn more"
      target="_blank"
      rel="noreferrer noopener"
      class="learn-more-info-icon position-absolute"
      [href]="link"
      ><i class="far fa-question-circle"></i>
    </a>
  </ng-template>
  <!-- Discard Mail Confirm modal -->
  <ng-template #confirmDeleteDraftModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title w-100 text-dark">
        <strong [translate]="'settings.compose.confirm_delete_draft_title'">Confirm Delete Draft</strong>
      </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-faded">
      <div class="mail-actions-form-holder modal-mail-actions-form-holder">
        <div class="form-group">
          <span [translate]="'settings.compose.confirm_delete_draft_message'">
            Are you sure you want to discard this mail?</span
          >
        </div>
        <div class="form-group text-right mb-0">
          <button (click)="d()" class="btn btn-secondary btn-sm mr-2" role="button">
            <span [translate]="'common.cancel'">Cancel</span>
          </button>
          <button (click)="discardEmail()" class="btn btn-danger btn-sm" role="button">
            <span [translate]="'settings.compose.confirm'">Confirm</span>
          </button>
        </div>
      </div>
    </div> </ng-template
  ><!-- /.Close Confirm modal ends -->
  <!-- Mixed Contacts Warning modal -->
  <ng-template #warningMixedContactsModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title w-100 text-dark">
        <strong [translate]="'settings.warning'">Warning</strong>
      </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-faded">
      <div class="mail-actions-form-holder modal-mail-actions-form-holder">
        <div class="form-group">
          <span [translate]="'settings.compose.mixed_contacts_warning_message'">
            End to End Encryption will be disabled because one or more participants doesn't support encryption.</span
          >
        </div>
        <div class="form-group text-right mb-0">
          <button (click)="d()" class="btn btn-secondary btn-sm mr-2" role="button">
            <span [translate]="'common.ok'">Ok</span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- /.Mixed Contacts Warning modal ends -->
</div>
