.ql-font-hiragino-sans {
  font-family: 'Hiragino Sans', sans-serif;
}

.ql-font-lato {
  font-family: 'Lato', sans-serif;
}

.ql-font-roboto {
  font-family: Roboto, sans-serif;
}

.ql-font-abril-fatface {
  font-family: 'Abril Fatface', sans-serif;
}

.ql-font-andale-mono {
  font-family: 'Andale Mono', sans-serif;
}

.ql-font-arial {
  font-family: Arial, sans-serif;
}

.ql-font-times-new-roman {
  font-family: Times New Roman, serif;
}
