.ql-container {
    font-size: 14px;
}

.from-text{
    font-size: 14px;
}
.mail-subject {
    width: 55px;
}

.plain-editor {
    height: 248px;
    border: 0;
    width: 100%;
    padding: 5px 10px;
    resize: none;
    font-size: 14px;
}

textarea:disabled {
    background: transparent !important;
}

.from-dropdown {
    overflow-y: auto;
    max-height: 310px;
}

.learn-more-info-icon {
    margin-top: -5px;
}
