<div class="mail-composer-body">
  <form>
    <div class="mail-compose-field-group">
      <div class="mail-compose-field mail-compose-field-to">
        <span class="mail-label label-to">To:</span>
        <tag-input [(ngModel)]="mailData.receiver"
                   *ngIf="isLoaded"
                   name="to"
                   [placeholder]="' '"
                   secondaryPlaceholder="Enter recipient email"
                   [onTextChangeDebounce]="100"
                   [onlyFromAutocomplete]="false"
                   [addOnBlur]="true"
                   (onAdd)="valueChanged$.next(mailData.receiver)"
                   (onRemove)="valueChanged$.next(mailData.receiver)">
          <tag-input-dropdown [showDropdownIfEmpty]="false"
                              [appendToBody]="false"
                              [displayBy]="'email'"
                              [identifyBy]="'id'"
                              [autocompleteItems]="contacts">
            <ng-template let-item="item" let-index="index">
              {{ item.email }}
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
        <div class="extra-mail-label">
                            <span class="mail-label mail-floated-label"
                                  (click)="options.isCcVisible = !options.isCcVisible">Cc</span>
          <span class="mail-label mail-floated-label mr-0"
                (click)="options.isBccVisible = !options.isBccVisible">Bcc</span>
        </div>
      </div>
      <div class="mail-compose-field" [ngClass]="{'d-none' : !options.isCcVisible}">
        <span class="mail-label label-cc">Cc:</span>
        <tag-input [(ngModel)]="mailData.cc"
                   name="cc"
                   [placeholder]="' '"
                   secondaryPlaceholder="Enter Cc email"
                   [onTextChangeDebounce]="100"
                   [onlyFromAutocomplete]="false"
                   [addOnBlur]="true"
                   (onAdd)="valueChanged$.next(mailData.cc)"
                   (onRemove)="valueChanged$.next(mailData.cc)">
          <tag-input-dropdown [showDropdownIfEmpty]="false"
                              [appendToBody]="false"
                              [displayBy]="'email'"
                              [identifyBy]="'id'"
                              [autocompleteItems]="contacts">
            <ng-template let-item="item" let-index="index">
              {{ item.email }}
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
      </div>
      <div class="mail-compose-field" [ngClass]="{'d-none' : !options.isBccVisible}">
        <span class="mail-label label-bcc">Bcc:</span>
        <tag-input [(ngModel)]="mailData.bcc"
                   name="bcc"
                   [placeholder]="' '"
                   secondaryPlaceholder="Enter Bcc email"
                   [onTextChangeDebounce]="100"
                   [onlyFromAutocomplete]="false"
                   [addOnBlur]="true"
                   (onAdd)="valueChanged$.next(mailData.bcc)"
                   (onRemove)="valueChanged$.next(mailData.bcc)">
          <tag-input-dropdown [showDropdownIfEmpty]="false"
                              [appendToBody]="false"
                              [displayBy]="'email'"
                              [identifyBy]="'id'"
                              [autocompleteItems]="contacts">
            <ng-template let-item="item" let-index="index">
              {{ item.email }}
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
      </div>
      <div class="mail-compose-field">
        <span class="mail-label label-subject">Subject:</span>
        <textarea class="mail-compose-control" name="subject" [(ngModel)]="mailData.subject"
                  (change)="valueChanged$.next(mailData.subject)"
                  id="subject" rows="1"></textarea>
      </div>
    </div>
  </form>
  <div class="mail-compose-editable-body">
    <div class="mail-compose-box has-custom-scroll">
      <div class="mail-compose-box-inner">
        <div class="mail-compose-editable-box">
          <div #editor></div>
        </div>
        <input type="file"
               #imageInput
               accept="image/*"
               multiple
               (change)="onImagesSelected($event.target.files)"
               style="display:none">
        <input type="file"
               #fileInput
               multiple
               (change)="onFilesSelected($event.target.files)"
               style="display:none">
        <div class="attach-uploader-holder" *ngIf="attachments?.length>0">
          <ng-container *ngFor="let file of attachments">
            <div class="attach-uploader" *ngIf="!file.isRemoved && !(file.isInline && file.progress === 100)">
              <div class="attach-name">
                <div class="file-name">{{file.name}}</div>
                <div class="attach-size" *ngIf="file.size">({{file.size}})</div>
              </div>
              <div class="progress" *ngIf="file.progress !== 100">
                <div class="progress-bar" role="progressbar" [style.width]="file.progress + '%'"
                     [attr.aria-valuenow]="file.progress" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <button type="button" role="button" (click)="removeAttachment(file)"
                      class="attach-uploader-close" placement="top" ngbTooltip="Remove">
                <i class="icon icon-cross"></i>
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mail-composer-footer">
  <div class="mail-composer-actions-row d-flex align-items-center">
    <div class="mail-composer-actions-col mail-composer-actions-col-lg">
      <ul class="mail-composer-actions d-flex align-items-center">
        <li class="send-mail-item">
          <button class="btn btn-sm btn-secondary btn-mail-send btn-xs-rounded"
                  (click)="sendEmail()"
                  [disabled]="inProgress"
                  role="button"
                  placement="top"
                  ngbTooltip="{{inProgress ? 'Wait for the changes to save': 'Send Mail'}}">
            <i class="hidden-sm-up icon icon-paper-plane"></i><span
                  class="hidden-xs-down">Send</span>
          </button>
        </li>
        <li>
          <div ngbDropdown [autoClose]="false" placement="top" class="dropdown">
            <button ngbDropdownToggle class="actions-btn mail-typo-btn hide-arrow"
                    id="typoDropdownMenu" role="button" placement="top"
                    ngbTooltip="Text formatting"><i class="icon icon-text-color"></i></button>
            <div ngbDropdownMenu class="typo-actions-dropdown-menu is-centered"
                 aria-labelledby="typoDropdownMenu">
              <div #toolbar class="mail-comopser-typo-actions-holder">
                <ul class="mail-composer-actions d-flex align-items-center justify-content-end">
                  <li class="pr-0">
                    <div ngbDropdown placement="top" class="dropup">
                      <button ngbDropdownToggle role="button"
                              class="actions-btn mail-font-family-btn border-right-0 border-radius-r-0"
                              id="typoFamilyDropdownMenu"><i
                              class="icon icon-text-size"></i></button>
                      <div ngbDropdownMenu class="typo-family-dropdown-menu"
                           aria-labelledby="typoFamilyDropdownMenu">
                        <div class="typo-holder">
                          <ul class="typo-list list-styled">
                            <li>
                              <button value="hiragino-sans"
                                      class="ql-font typo-select-link">Hiragino
                                Sans
                              </button>
                            </li>
                            <li>
                              <button value="lato"
                                      class="ql-font typo-select-link">Lato
                              </button>
                            </li>
                            <li>
                              <button value="roboto"
                                      class="ql-font typo-select-link">Roboto
                              </button>
                            </li>
                            <li>
                              <button value="abril-fatface"
                                      class="ql-font typo-select-link">Abril
                                Fatface
                              </button>
                            </li>
                            <li>
                              <button value="andale-mono"
                                      class="ql-font typo-select-link">Andale Mono
                              </button>
                            </li>
                            <li>
                              <button value="arial"
                                      class="ql-font typo-select-link">Arial
                              </button>
                            </li>
                            <li>
                              <button value="times-new-roman"
                                      class="ql-font typo-select-link">Times New
                                Roman
                              </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="pl-0">
                    <div ngbDropdown placement="top" class="dropup">
                      <button ngbDropdownToggle role="button"
                              class="actions-btn mail-font-family-btn"
                              id="typoSizeDropdownMenu"><i
                              class="icon icon-text-size-alt"></i></button>
                      <div ngbDropdownMenu class="typo-size-dropdown-menu"
                           aria-labelledby="typoSizeDropdownMenu">
                        <div class="typo-holder">
                          <ul class="typo-list list-styled">
                            <li>
                              <button value="10px"
                                      class="ql-size typo-select-link is-small">
                                Small
                              </button>
                            </li>
                            <li>
                              <button value=""
                                      class="ql-size typo-select-link is-normal">
                                Normal
                              </button>
                            </li>
                            <li>
                              <button value="18px"
                                      class="ql-size typo-select-link is-large">
                                Large
                              </button>
                            </li>
                            <li>
                              <button value="32px"
                                      class="ql-size typo-select-link is-huge">
                                Huge
                              </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="pr-0">
                    <button role="button"
                            class="ql-bold actions-btn mail-bold-btn border-right-0 border-radius-r-0">
                      <i class="icon icon-bold"></i></button>
                  </li>
                  <li class="px-0">
                    <button role="button"
                            class="ql-italic actions-btn mail-italic-btn border-right-0 border-radius-0">
                      <i class="icon icon-italic"></i></button>
                  </li>
                  <li class="px-0">
                    <button role="button"
                            class="ql-underline actions-btn mail-underline-btn border-right-0 border-radius-0">
                      <i class="icon icon-underline"></i></button>
                  </li>
                  <li class="pl-0">
                    <div ngbDropdown placement="top" class="dropdown">
                      <button ngbDropdownToggle
                              class="actions-btn mail-font-color-btn border-radius-l-0"
                              id="typoColorDropdownMenu" role="button"><i
                              class="icon icon-text-color"></i></button>
                      <div ngbDropdownMenu class="left-0"
                           aria-labelledby="typoColorDropdownMenu">
                        <div class="color-picker-holder">
                          <div class="row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                              <div class="color-picker">
                                <div class="color-picker-title"><strong>Background
                                  Color</strong></div>
                                <ul class="color-picker-list d-flex flex-wrap">
                                  <li *ngFor="let color of colors">
                                    <button class="ql-background color-shape"
                                            [class.border-lightgrey]="color==='#ffffff'"
                                            [value]="color"
                                            [style.background]="color"></button>
                                  </li>
                                </ul>
                              </div>
                            </div>

                            <div class="col-sm-6 mb-3 mb-sm-0">
                              <div class="color-picker">
                                <div class="color-picker-title"><strong>Text
                                  Color</strong></div>
                                <ul class="color-picker-list d-flex flex-wrap">
                                  <li *ngFor="let color of colors">
                                    <button class="ql-color color-shape"
                                            [class.border-lightgrey]="color==='#ffffff'"
                                            [value]="color"
                                            [style.background]="color"></button>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="pr-0">
                    <button role="button"
                            class="ql-align actions-btn mail-align-right-btn border-right-0 border-radius-r-0"
                            value="right">
                      <i class="icon icon-text-align-right"></i></button>
                  </li>
                  <li class="px-0">
                    <button role="button"
                            class="ql-align actions-btn mail-align-center-btn border-right-0 border-radius-0"
                            value="center">
                      <i class="icon icon-text-align-center"></i></button>
                  </li>
                  <li class="pl-0">
                    <button role="button"
                            class="ql-align actions-btn mail-align-left-btn border-radius-l-0">
                      <i class="icon icon-text-align-left"></i></button>
                  </li>

                  <li class="pr-0">
                    <button role="button"
                            class="ql-list actions-btn mail-unorder-list-btn border-right-0 border-radius-r-0"
                            value="bullet">
                      <i class="icon icon-unorder-list"></i></button>
                  </li>
                  <li class="px-0">
                    <button role="button"
                            class="ql-list actions-btn mail-order-list-btn border-right-0 border-radius-0"
                            value="ordered">
                      <i class="icon icon-ordered-list"></i></button>
                  </li>
                  <li class="px-0">
                    <button role="button"
                            class="ql-indent actions-btn mail-indent-decrease-btn border-right-0 border-radius-0"
                            value="-1">
                      <i class="icon icon-indent-decrease"></i></button>
                  </li>
                  <li class="px-0">
                    <button role="button"
                            class="ql-indent actions-btn mail-indent-increase-btn border-right-0 border-radius-0"
                            value="+1">
                      <i class="icon icon-indent-increase"></i></button>
                  </li>
                  <li class="pl-0">
                    <button role="button"
                            class="ql-blockquote actions-btn mail-quote-right-btn border-radius-l-0">
                      <i
                              class="icon icon-quote-right"></i></button>
                  </li>

                  <li>
                    <button role="button" type="button"
                            class="ql-image actions-btn mail-attach-image-btn"><i
                            class="icon fa fa-image"></i></button>
                  </li>

                  <li>
                    <button role="button"
                            class="ql-clean actions-btn mail-format-clear-btn"><i
                            class="icon icon-format-clear"></i></button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <button type="button" role="button" (click)="fileInput.value = ''; fileInput.click()"
                  class="actions-btn mail-attach-btn" placement="top"
                  ngbTooltip="Attachments"><i class="icon icon-attachment"></i></button>
        </li>
        <li class="pr-0">
          <button role="button" type="button" (click)="openEncryptionModal()"
                  class="actions-btn mail-envelop-btn border-radius-r-0"
                  placement="top" ngbTooltip="Encryption"><i class="icon icon-mail"></i></button>
        </li>
        <li class="px-0" [ngbTooltip]="!userState.isPrime? 'Prime only feature' : ''">
          <button role="button" type="button" (click)="openSelfDestructModal()"
                  class="actions-btn mail-clock-btn border-left-0 border-radius-0"
                  [ngClass]="{'badge badge-warning text-white': selfDestruct.value}"
                  placement="top" ngbTooltip="Self-destructing timer" [disabled]="!userState.isPrime"><i
                  class="icon icon-clock"></i>
          </button>
        </li>
        <li class="px-0" [ngbTooltip]="!userState.isPrime? 'Prime only feature' : ''">
          <button type="button" role="button" (click)="openDelayedDeliveryModal()"
                  class="actions-btn mail-self-timer-btn border-left-0  border-radius-l-0"
                  [ngClass]="{'badge badge-success text-white': delayedDelivery.value}"
                  placement="top" ngbTooltip="Delayed delivery" [disabled]="!userState.isPrime"><i
                  class="icon icon-self-timer"></i>
          </button>
        </li>
        <li class="px-0" [ngbTooltip]="!userState.isPrime? 'Prime only feature' : ''">
          <button type="button" role="button" (click)="openDeadManTimerModal()"
                  class="actions-btn mail-dead-btn  border-left-0  border-radius-l-0"
                  [ngClass]="{'badge badge-danger text-white': deadManTimer.value}"
                  placement="top" ngbTooltip="Dead Man's timer" [disabled]="!userState.isPrime"><i
                  class="icon icon-dead"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="mail-composer-actions-col mail-composer-actions-col-sm">
      <ul class="mail-composer-actions d-flex align-items-center justify-content-end">
        <li class="pr-1" *ngIf="inProgress || draftMail?.id">
          <span>{{inProgress ? 'Saving...': 'Saved'}}</span>
        </li>
        <li class="pr-0">
          <button role="button"
                  (click)="saveInDrafts()"
                  [disabled]="inProgress"
                  class="actions-btn mail-save-disk-btn border-right-0 border-radius-r-0"
                  placement="top" ngbTooltip="Save to drafts"><i class="icon icon-save-disk"></i>
          </button>
        </li>
        <li class="pl-0">
          <button role="button"
                  (click)="discardEmail()"
                  [disabled]="inProgress"
                  class="actions-btn mail-garbage-btn border-radius-l-0" placement="top"
                  ngbTooltip="Delete draft"><i class="icon icon-garbage"></i></button>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- attach images modal -->
<ng-template #attachImagesModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong>Attach Images</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group">
        Select files from your computer or enter a URL
      </div>
      <div class="form-group">
        <label for="imageURL">Image URL</label>
        <input type="text" #imageURL id="imageURL" class="form-control" placeholder="Enter image URL">
      </div>
      <div class="form-group text-right mb-0">
        <button type="button" (click)="imageInput.value = ''; imageInput.click(); d();"
                class="btn btn-success btn-sm" role="button">Attach Files
        </button>
        <button type="button" (click)="onAttachImageURL(imageURL.value)" class="btn btn-success btn-sm"
                role="button">Attach URL
        </button>
      </div>
    </div>
  </div>
</ng-template><!-- /.attach images modal ends -->

<!-- self destruct datetime picker modal -->
<ng-template #selfDestructModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong>Self Destruct Email</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group">
        Email will be deleted on selected datetime
      </div>
      <div class="form-group">
        <label class="form-inline">Select Date</label>
        <ngb-datepicker class="bg-white ng-datepicker ng-datepicker-265"
                        [(ngModel)]="selfDestruct.date"
                        [minDate]="datePickerMinDate"></ngb-datepicker>
      </div>
      <div class="form-group">
        <label class="form-inline">Select Time</label>
        <ngb-timepicker [(ngModel)]="selfDestruct.time"></ngb-timepicker>
      </div>
      <div *ngIf="selfDestruct.error" class="l-alert l-alert-danger mb-3">
        {{selfDestruct.error}}
      </div>
      <div class="form-group text-center btns-xs-3 mb-0">
        <button type="button" (click)="setSelfDestructValue()" class="btn btn-success btn-sm" role="button">
          Confirm
        </button>
        <button type="button" (click)="clearSelfDestructValue()" class="btn btn-primary btn-sm" role="button">
          Clear
        </button>
        <button (click)="d()" class="btn btn-secondary btn-sm" role="button">Cancel</button>
      </div>
    </div>
  </div>
</ng-template><!-- /.self destruct datetime picker modal ends -->

<!-- delayed delivery datetime picker modal -->
<ng-template #delayedDeliveryModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong>Delayed Delivery</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group">
        Email will be sent on selected datetime
      </div>
      <div class="form-group">
        <label class="form-inline">Select Date</label>
        <ngb-datepicker class="bg-white ng-datepicker ng-datepicker-265"
                        [(ngModel)]="delayedDelivery.date"
                        [minDate]="datePickerMinDate"></ngb-datepicker>
      </div>
      <div class="form-group">
        <label class="form-inline">Select Time</label>
        <ngb-timepicker [(ngModel)]="delayedDelivery.time"></ngb-timepicker>
      </div>
      <div *ngIf="delayedDelivery.error" class="l-alert l-alert-danger mb-3">
        {{delayedDelivery.error}}
      </div>
      <div class="form-group text-center btns-xs-3 mb-0">
        <button type="button" (click)="setDelayedDeliveryValue()" class="btn btn-success btn-sm" role="button">
          Confirm
        </button>
        <button type="button" (click)="clearDelayedDeliveryValue()" class="btn btn-primary btn-sm"
                role="button">Clear
        </button>
        <button (click)="d()" class="btn btn-secondary btn-sm" role="button">Cancel</button>
      </div>
    </div>
  </div>
</ng-template><!-- /.delayed delivery datetime picker modal ends -->

<!-- dead man timer modal -->
<ng-template #deadManTimerModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong>Dead Man&apos;s Timer</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group">
        Email will be sent when timer expires. Logging into
        your account resets the timer. This email can be
        watched in the "Outbox" page.
      </div>
      <form (submit)="setDeadManTimerValue()">
        <div class="form-group">
          <label class="form-inline" for="deadman-days">Days</label>
          <input type="number" class="form-control" id="deadman-days" name="deadman-days"
                 [(ngModel)]="deadManTimer.days">
        </div>
        <div class="form-group">
          <label class="form-inline" for="deadman-hours">Hours</label>
          <input type="number" class="form-control" id="deadman-hours" name="deadman-hours"
                 [(ngModel)]="deadManTimer.hours">
        </div>
        <div class="form-group text-center btns-xs-3 mb-0">
          <button type="submit" class="btn btn-success btn-sm" role="button">
            Confirm
          </button>
          <button type="reset" (click)="clearDeadManTimerValue()" class="btn btn-primary btn-sm" role="button">
            Clear
          </button>
          <button (click)="d()" class="btn btn-secondary btn-sm" role="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</ng-template><!-- /.dead man timer modal ends -->

<!-- encryption modal -->
<ng-template #encryptionModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong>Encrypt Email</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <h3>Encrypt for non-Ctemplar mail users</h3>
      <form [formGroup]="encryptForm" #form="ngForm" (ngSubmit)="messageEncrypt()">
        <div class="form-group">
          <label for="message-password">Message Password</label>
          <input type="password" id="message-password" class="form-control"
                 placeholder="Message pasword" formControlName="password">
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" id="confirm-password" class="form-control"
                 placeholder="Confirm password" formControlName="confirmPwd">
        </div>
        <div class="form-group">
          <label for="password-hint">Password Hint</label>
          <input type="text" id="password-hint" class="form-control"
                 placeholder="Hint">
        </div>
        <div class="form-group text-small">
          Encrypted messages to non-Ctemplar recipients will expire in 28-days unless a shorter expiration
          time is set.
        </div>
        <div class="form-group text-center mb-0">
          <button type="submit" class="btn btn-success btn-sm" role="button">Confirm</button>
          <button type="reset" (click)="d()" class="btn btn-secondary btn-sm" role="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</ng-template><!-- /.encryption modal ends -->
