.ql-container {
    font-size: 14px;
}

.from-text{
    font-size: 14px;
}
.mail-subject {
    width: 55px;
}

.plain-editor {
    height: 248px;
    border: 0;
    width: 100%;
    padding: 5px 10px;
    resize: none;
    font-size: 14px;
}

textarea:disabled {
    background: transparent !important;
}

.from-dropdown {
    overflow-y: auto;
    max-height: 310px;
}

.learn-more-info-icon {
    margin-top: -5px;
}
.menu-btn {
    button {
        font-size: inherit !important;
        height: inherit !important;
        color: rgba(0, 0, 0, 0.38);
    }
    .btn-more {
        background: #f5f5f5;
    }
    .dropdown-size {
        min-width: 152px;
        max-width: 152px;
    }
    a {
        color: black;
    }
    .item {
        margin-left: -25px;
    }
}

.pop-up-reply {
    button {
        padding: 0 !important;
    }
}
