// PAGE INTRO SECTION 
section.l-block.l-block-text.bg-white.text-center.gap-p-eq.pb-0
  .container.container-xs
    header.l-block-header.position-relative
      .row.justify-content-center
        .col-sm-12.col-md-10.px-sm-5.px-md-0
          h1.l-block-title.text-uppercase.text-secondary
            strong Media Kit
  // /.Site container ends 
// /.PAGE INTRO SECTION ENDS 
// MEDIA KIT SECTION GROUP 
section.l-block-group.l-mediakit-block-group
  .container
    // MEDIA KIT LOGO BRANDS 
    section.l-block.bg-white.text-center.gap-p-eq.pt-0.px-md
      header.l-block-header.position-relative
        .row.justify-content-center
          .col-sm-12.col-md-10.px-sm-3.px-md-0
            h2.text-secondary
              | CTemplar
              strong Logos and Badges
            h4.l-block-subtitle.text-dark.fw-light.mb-0
              | These images may be freely used, provided the accompanying media refers back to
              a.text-dark(href='')
                u http://ctemplar.com
      .l-block-body
        .row
          .col-sm-6.col-md-3.mb-4.mb-sm-5.mb-md-0
            .v-card.media-card.bg-secondary.br-4.position-relative
              .media-card-content
                figure.media-pic
                  img(src='/assets/images/media-kit/mediakit-logo1.svg')
            .media-actions.mt-3
              ul.media-actions-list.list-style-none.text-uppercase.pl-0.mb-0
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Eps
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Png
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Svg
          .col-sm-6.col-md-3.mb-4.mb-sm-5.mb-md-0
            .v-card.media-card.bg-secondary.br-4.position-relative
              .media-card-content
                figure.media-pic
                  img(src='/assets/images/media-kit/mediakit-logo2.svg')
            .media-actions.mt-3
              ul.media-actions-list.list-style-none.text-uppercase.pl-0.mb-0
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Eps
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Png
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Svg
          .col-sm-6.col-md-3.mb-4.mb-sm-0
            .v-card.media-card.bg-secondary.br-4.position-relative
              .media-card-content
                figure.media-pic
                  img(src='/assets/images/media-kit/mediakit-logo3.svg')
            .media-actions.mt-3
              ul.media-actions-list.list-style-none.text-uppercase.pl-0.mb-0
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Eps
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Png
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Svg
          .col-sm-6.col-md-3
            .v-card.media-card.bg-secondary.br-4.position-relative
              .media-card-content
                figure.media-pic
                  img(src='/assets/images/media-kit/mediakit-logo4.svg')
            .media-actions.mt-3
              ul.media-actions-list.list-style-none.text-uppercase.pl-0.mb-0
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Eps
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Png
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Svg
    // /.MEDIA KIT LOGO BRANDS ENDS 
    // MEDIA KIT WALLPAPERS BRANDS 
    section.l-block.bg-white.text-center.gap-p-eq.pt-0.px-md
      header.l-block-header.position-relative
        .row.justify-content-center
          .col-sm-12.col-md-10.px-sm-3.px-md-0
            h2.text-secondary.mb-0
              | CTemplar
              strong Wallpapers
      .l-block-body
        .row
          .col-sm-6.col-md-3.mb-4.mb-sm-5
            .v-card.media-card.br-4.position-relative
              .media-card-content.p-0
                figure.media-pic
                  img(src='/assets/images/media-kit/wallpaper-img1.jpg')
            .media-actions.mt-3
              ul.media-actions-list.list-style-none.text-uppercase.pl-0.mb-0
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Jpg
          .col-sm-6.col-md-3.mb-4.mb-sm-5
            .v-card.media-card.br-4.position-relative
              .media-card-content.p-0
                figure.media-pic
                  img(src='/assets/images/media-kit/wallpaper-img2.jpg')
            .media-actions.mt-3
              ul.media-actions-list.list-style-none.text-uppercase.pl-0.mb-0
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Jpg
          .col-sm-6.col-md-3.mb-4.mb-sm-5
            .v-card.media-card.br-4.position-relative
              .media-card-content.p-0
                figure.media-pic
                  img(src='/assets/images/media-kit/wallpaper-img3.jpg')
            .media-actions.mt-3
              ul.media-actions-list.list-style-none.text-uppercase.pl-0.mb-0
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Jpg
          .col-sm-6.col-md-3.mb-4.mb-sm-5
            .v-card.media-card.br-4.position-relative
              .media-card-content.p-0
                figure.media-pic
                  img(src='/assets/images/media-kit/wallpaper-img4.jpg')
            .media-actions.mt-3
              ul.media-actions-list.list-style-none.text-uppercase.pl-0.mb-0
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Jpg
          .col-sm-6.col-md-3.mb-4.mb-sm-5.mb-md-0
            .v-card.media-card.br-4.position-relative
              .media-card-content.p-0
                figure.media-pic
                  img(src='/assets/images/media-kit/wallpaper-img5.jpg')
            .media-actions.mt-3
              ul.media-actions-list.list-style-none.text-uppercase.pl-0.mb-0
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Jpg
          .col-sm-6.col-md-3.mb-4.mb-sm-5.mb-md-0
            .v-card.media-card.br-4.position-relative
              .media-card-content.p-0
                figure.media-pic
                  img(src='/assets/images/media-kit/wallpaper-img6.jpg')
            .media-actions.mt-3
              ul.media-actions-list.list-style-none.text-uppercase.pl-0.mb-0
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Jpg
          .col-sm-6.col-md-3.mb-4.mb-sm-0
            .v-card.media-card.br-4.position-relative
              .media-card-content.p-0
                figure.media-pic
                  img(src='/assets/images/media-kit/wallpaper-img7.jpg')
            .media-actions.mt-3
              ul.media-actions-list.list-style-none.text-uppercase.pl-0.mb-0
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Jpg
          .col-sm-6.col-md-3
            .v-card.media-card.br-4.position-relative
              .media-card-content.p-0
                figure.media-pic
                  img(src='/assets/images/media-kit/wallpaper-img8.jpg')
            .media-actions.mt-3
              ul.media-actions-list.list-style-none.text-uppercase.pl-0.mb-0
                li
                  a(href='')
                    strong
                      i.fas.fa-download
                      | Jpg
    // /.MEDIA KIT WALLPAPERS BRANDS ENDS 
  // /.Site container ends 
// /.MEDIA KIT SECTION GROUP ENDS 
