<div class="desc-card">
  <div class="desc-card-header ui-header ui-header-bordered border-all-corner border-bottom-0 position-relative">
    <h5 class="ui-header-subtitle text-dark mb-0"><strong>Users</strong>
      <app-loading-spinner [showSpinner]="false"
                           optionalClasses="custom-domains-spinner"></app-loading-spinner>
    </h5>
    <div class="beta-users"
         placement="left"
         ngbTooltip="This is beta feature and free for all as long as it is in beta, once it is fully released, you will be charged for it.">
      Beta
      <i class="material-icons info-icon">info_outline</i>
    </div>
  </div>
  <div class="desc-card-body bg-faded users-body">
    <button class="btn btn-secondary users-add-button text-small"
            *ngIf="customDomains?.length>0;else noCustomDomain"
            (click)="openAddUserModal()">
      <span>Add User</span>
    </button>

    <ng-template #noCustomDomain>
      <div class="py-4 error-message" *ngIf="userState?.customDomainsLoaded">
        Please add a custom domain first in order to add users.
      </div>
    </ng-template>

    <app-loading-spinner class="loading-spinner" [showSpinner]="organizationState?.inProgress"></app-loading-spinner>

    <div *ngIf="users?.length>0">
      <ul class="ui-list ui-list-styled list-styled users-list">
        <li class="ui-list-item ui-list-item-xs-full">
          <div class="row row-xs align-items-center">
            <div class="col-4">
              <div class="form-label mb-0 font-weight-bold">
                Domain
              </div>
            </div>
            <div class="col-4 font-weight-bold ">
              User
            </div>
            <div class="col-4 font-weight-bold ">
              Recovery Email
            </div>
          </div>
        <li class="ui-list-item ui-list-item-xs-full" *ngFor="let user of users;">
          <div class="row row-xs align-items-center">
            <div class="col-3">
              <div class="form-label text-dark mb-0">
                {{user.domain}}
              </div>
            </div>
            <div class="col-3 text-dark">
              {{user.username}}
            </div>

            <div class="col-3 text-dark">
              {{user.recovery_email}}
            </div>

            <div class="col-3 text-right">
              <a class="text-muted" [ngbTooltip]="'settings.delete' | translate"
                 (click)="openConfirmDeleteModal(user)"><i class="icon icon-garbage"></i></a>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>


<!-- Add user modal -->
<ng-template #addUserModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong>Add User</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeAddUserModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded" *ngIf="isAddingUser">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group">


        <!--User Add form-->
        <div class="form">
          <form class="user-add-form" [formGroup]="addUserForm" #form="ngForm" (ngSubmit)="submitAddUser()">
            <div>
              <div class="form-step-card">
                <label class="text-dark mb-0">
                  <strong translate="create_account.username_and_domain">Username and domain</strong>
                </label>
                <div class="form-group position-relative">
                  <div class="form-inline userame-field-group"
                       [ngClass]="{'is-validate': addUserForm.controls.username.invalid && (addUserForm.controls.username.touched || submitted)}">
                    <label for="username" class="d-block text-muted text-left hidden-sm-up"
                           translate="create_account.choose_username">Choose
                      username</label>
                    <input class="form-control text-dark mb-3 mb-sm-0 username-container" id="username"
                           [placeholder]="'create_account.choose_username' | translate" type="text" name="username"
                           formControlName="username"/>
                    <span class="domain-separator text-center text-dark">@</span>
                    <div class="btn-dropdown btn-dropdown-select username-container">
                      <div ngbDropdown class="dropdown-sm">
                        <button ngbDropdownToggle
                                class="dropdown-toggle custom-domains-dropdown"
                                id="custom-domains"
                                role="button">
                          <div>{{addUserForm.get('domain').value}}</div>
                        </button>
                        <div ngbDropdownMenu
                             aria-labelledby="signatureEmailAddressDropdownMenuButton">
                          <a class="dropdown-item"
                             *ngFor="let customDomain of customDomains"
                             (click)="addUserForm.get('domain').setValue(customDomain);addUserForm.get('username').reset()">
                            {{customDomain}}</a>
                        </div>
                      </div>
                    </div>

                    <ng-container *ngIf="newAddressOptions.inProgress; else showIcons">
                      <app-loading-spinner class="username-availability-spinner"
                                           [showSpinner]="true"></app-loading-spinner>
                    </ng-container>
                    <ng-template #showIcons>
                      <i class="fas fa-check green input-icon"
                         *ngIf="newAddressOptions.usernameExists === false && !addUserForm.controls['username'].errors"></i>
                      <i class="fas fa-times text-danger input-icon"
                         *ngIf="newAddressOptions.usernameExists === true || (addUserForm.controls['username'].errors &&
                         (addUserForm.controls['username'].touched || submitted))"></i>
                    </ng-template>
                  </div>
                  <span *ngIf="userExistError"
                        class="validate-message">{{userExistError}}</span>
                  <ng-container *ngIf="addUserForm.controls['username'].errors &&
                                    (addUserForm.controls['username'].touched || submitted); else usernameExistsBlock">

                    <span class="validate-message"
                          *ngIf="addUserForm.controls['username'].errors;">
                      <ng-container *ngIf="addUserForm.controls['username'].errors.pattern; else usernameLengthBlock">
                        The username must start with a letter or a number and end with a letter or number.It may only
                        contain <em>a-z</em>, <em>A-Z</em>, <em>0-9</em> or <em>._-</em> ‌characters and
                        it must be between 2 and 128 characters.

                      </ng-container>
                      <ng-template #usernameLengthBlock>
                        <ng-container
                                *ngIf="addUserForm.controls['username'].errors.maxlength">
                          The username must be between 2 and 128 characters.
                        </ng-container>
                      </ng-template>
                    </span>

                    <span *ngIf="addUserForm.controls['username'].errors.required"
                          class="validate-message">The username is required.</span>

                  </ng-container>
                  <ng-template #usernameExistsBlock>
                      <span *ngIf="newAddressOptions.usernameExists === true"
                            class="validate-message">Username already exists.
                        </span>
                  </ng-template>
                </div>
              </div>
              <div>
                <label class="text-dark mb-0">
                  <strong translate="settings.password">Password</strong>
                </label>
                <div class="form-group position-relative">
                  <label for="choosePassword" class="d-block text-muted text-left hidden-sm-up">Choose
                    Password</label>
                  <div class="input-group">
                    <input #input class="form-control border-right-0" id="choosePassword"
                           [placeholder]="'create_account.choose_password' | translate" type="password"
                           aria-describedby="passwordToggle" name="password"
                           formControlName="password">
                    <span class="input-group-addon password-toggle bg-white text-muted"
                          id="passwordToggle" (click)="togglePassword(input)">
                      <i class="fa fa-eye"></i>
                      <i class="fa fa-eye-slash"></i>
                    </span>
                  </div>
                  <i class="fas fa-check green password-ok input-icon"
                     *ngIf="addUserForm.controls['password']?.value?.length>0 && addUserForm.controls['password']?.value?.length<=128"></i>
                  <div *ngIf="addUserForm.controls['password'].errors &&
                                    (addUserForm.controls['password'].touched || submitted)"
                       class="validate-message">
                    <ng-container *ngIf="addUserForm.controls['password'].errors.required">The password is required.
                    </ng-container>
                    <ng-container *ngIf="addUserForm.controls['password'].errors.maxlength">The password must be less
                      than 128 characters.
                    </ng-container>
                  </div>
                </div>
                <div class="form-group position-relative">
                  <label for="confirmPassword" class="d-block text-muted text-left hidden-sm-up">Confirm
                    Password</label>
                  <div class="input-group"
                       [ngClass]="{'is-validate': addUserForm.controls.confirmPwd.invalid && !addUserForm.controls.confirmPwd.pristine}">
                    <input #input2 class="form-control border-right-0" id="confirmPassword"
                           [placeholder]="'create_account.confirm_password' | translate " type="password"
                           aria-describedby="cofirmpasswordToggle" name="confirmPwd"
                           formControlName="confirmPwd">
                    <span class="input-group-addon password-toggle bg-white text-muted"
                          id="cofirmpasswordToggle" (click)="togglePassword(input2)">
                      <i class="fa fa-eye"></i>
                      <i class="fa fa-eye-slash"></i>
                    </span>
                  </div>
                  <i class="fas fa-check green password-ok input-icon"
                     *ngIf="!addUserForm.controls['confirmPwd'].errors"></i>
                  <span *ngIf="addUserForm.controls['confirmPwd'].errors &&
                                    (!addUserForm.controls.confirmPwd.pristine || submitted)"
                        class="validate-message">
                    <span translate="create_account.passwords_not_match">Passwords do not match.</span>
                  </span>
                </div>
              </div>

              <div [ngClass]="{'is-validate': addUserForm.get('recoveryEmail').invalid && addUserForm.controls['recoveryEmail'].touched}">
                <label class="text-dark mb-0">
                  <strong translate="create_account.recovery_email_optional">Recovery email (optional)</strong>
                </label>
                <div class="form-group">
                  <label for="recoveryEmail" class="d-block text-muted text-left hidden-sm-up"
                         translate="settings.recovery_email">Recovery email
                  </label>
                  <input class="form-control text-dark" id="recoveryEmail"
                         [placeholder]="'settings.recovery_email' | translate " type="email" name="recoveryEmail"
                         formControlName="recoveryEmail"/>
                  <span *ngIf="addUserForm.controls['recoveryEmail'].errors && addUserForm.controls['recoveryEmail'].touched"
                        id="email-valid1"
                        class="validate-message">The email is invalid.
                  </span>
                </div>
              </div>


              <div class="form-group text-center">
                <button class="btn btn-lg btn-secondary"
                        [disabled]="isAddingUserInProgress"
                        type="submit" role="button">
                  <span>Add User</span>
                </button>
                <app-loading-spinner [showSpinner]="isAddingUserInProgress"></app-loading-spinner>
              </div>
              <div *ngIf="errorMessage" class="validate-message">
                {{ errorMessage }}
              <br>
                Note: We only allow 5 users per domain until the feature is in beta.
              </div>
            </div>
          </form>
        </div>
        <!--User Add form END-->


      </div>
    </div>
  </div>
</ng-template><!-- Add User modal ends -->

<!-- Confirm user delete modal -->
<ng-template #confirmDeleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong translate="contacts.delete.title">Confirm Delete</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group">
        <span translate="contacts.delete.message">Are you sure, you want to delete</span>
        <strong>{{ selectedUser?.username }}</strong>?<br>
        <span class="warning"><span class="warning-text">Warning</span>: All the associated data (if any) of this user will also be deleted.</span>
      </div>
      <div class="form-group text-right mb-0">
        <app-loading-spinner [showSpinner]="organizationState.isDeleteInProgress"></app-loading-spinner>
        <button (click)="cancelDelete()" class="btn btn-secondary btn-sm mr-2"
                [disabled]="organizationState.isDeleteInProgress"
                translate="common.cancel"
                role="button">Cancel
        </button>
        <button (click)="confirmDelete()" class="btn btn-danger btn-sm"
                translate="common.delete"
                [disabled]="organizationState.isDeleteInProgress"
                role="button">Delete
        </button>
      </div>
    </div>
  </div>
</ng-template><!-- /.Confirm delete modal ends -->

