.storage-select-dropdown > .dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.billing-header {
  position: relative;

  button {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 10;
  }
}

.pricing-plans {
  margin-top: 1rem;

  .heading {
    height: 25px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-left: 2px;
  }

  .plan-titles {
    div {
      text-align: left !important;
      padding-left: 1rem !important;
    }
  }

  .plan-item {
    background: var(--bg-faded);
    height: 190px;
    border-left: 2px solid var(--settings-dashboard-plan-border-color);
    border-top: var(--width-0-1) solid var(--settings-dashboard-plan-border-color);
    border-bottom: var(--width-0-1) solid var(--settings-dashboard-plan-border-color);
    padding-top: 10px;

    div {
      color: var(--settings-dashboard-plan-text-color);
    }

    .select-btn {
      height: 20px;
      line-height: 0;
      border-color: transparent;
      color: white !important;
      box-shadow: 5px 10px 10px var(--settings-dashboard-plan-btn-box-shadow);
      max-width: 90%;
      width: 100px;
      min-width: unset;
      margin-top: 1.5rem;

      &:hover {
        opacity: 0.9;
      }
    }

    .current-plan-upgrade {
      margin-top: 1rem;
      color: #757575;
      margin-bottom: 0;
      font-weight: bold;
    }

    .current-plan {
      color: #757575;
      font-weight: bold;
      font-size: 14px;
    }

    .plan-title-info {
      font-size: 13px;
      height: 40px;
      margin: 5px 0 15px 0;

      .monthly-price {
        font-size: 17px;
      }
    }
  }

  .plan-sub-item {
    background: var(--bg-faded);
    border: 1px solid var(--settings-dashboard-plan-border-color);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    label {
      margin-bottom: 0;
    }
  }
}

.bold {
  font-weight: bold;
}

.switch-payment-type {
  font-size: 16px;
  position: absolute;
  top: -30px;
  left: 50px;
  width: 500px;
  text-transform: none;
  z-index: 1;
}

.pricing-plans-list {
  .col-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
