.storage-select-dropdown > .dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.billing-header {
  position: relative;

  button {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 10;
  }
}

.pricing-plans {
  margin-top: 1rem;

  .plan-item {
    background: #fafafa;
    height: 150px;

    div {
      color: #2e4053;
    }

    .btn {
      height: 20px;
      line-height: 0;
    }

    .free-plan {
      background: #f7c300 !important;
    }

    .prime-plan {
      background: #fb8c02 !important;
    }

    .knight-plan {
      background: #f72025 !important;
    }

    .marshall-plan {
      background: #d70c15 !important;
    }

    .paragon-plan {
      background: #3a68e0 !important;
    }

    .champion-plan {
      background: #3a35c7 !important;
    }
  }
}
