<span class="organization-stepper-desc mb-3">
  Do NOT forget this password. If you forget it, you will not be able to manage your organization.
</span>
<form [formGroup]="passwordForm">
  <div class="form-group">
    <label
      for="choosePassword"
      class="d-block text-muted text-left hidden-sm-up"
      [translate]="'create_account.choose_password'"
      >Choose Password</label
    >
    <div class="input-group">
      <input
        #input
        class="form-control border-right-0"
        id="choosePassword"
        [placeholder]="'create_account.choose_password' | translate"
        type="password"
        aria-describedby="passwordToggle"
        name="password"
        formControlName="password"
      />
      <span
        class="input-group-addon password-toggle bg-white text-muted"
        id="passwordToggle"
        (click)="togglePassword(input)"
      >
        <i class="fa fa-eye"></i>
        <i class="fa fa-eye-slash"></i>
      </span>
    </div>
    <i
      class="fas fa-check green input-ok"
      *ngIf="
        passwordForm.controls['password']?.value?.length >= 8 &&
        passwordForm.controls['password']?.value?.length <= 128 &&
        !passwordForm.controls['password'].errors?.pattern
      "
    ></i>
    <div
      *ngIf="passwordForm.controls['password'].errors && (passwordForm.controls['password'].touched || submitted)"
      class="validate-message"
    >
      <ng-container *ngIf="passwordForm.controls['password'].errors.required">
        <p class="validate-error-message" [translate]="'create_account.password_required'">The password is required.</p>
      </ng-container>
      <ng-container
        *ngIf="passwordForm.controls['password'].errors.minlength || passwordForm.controls['password'].errors.maxlength"
      >
        <p class="validate-error-message">The password must be between 8 and 128 characters.</p>
      </ng-container>
      <ng-container *ngIf="passwordForm.controls['password'].errors.pattern">
        <p class="validate-error-message" [translate]="'account_init.password_criteria_msg'">
          The password must contain at least 1 lowercase letter, 1 uppercase letter, 1 number and 1 special character.
        </p>
      </ng-container>
    </div>
  </div>
  <div class="form-group">
    <label
      for="confirmPassword"
      class="d-block text-muted text-left hidden-sm-up"
      [translate]="'create_account.confirm_password'"
      >Confirm Password</label
    >
    <div
      class="input-group"
      [ngClass]="{
        'is-validate': passwordForm.controls.confirmPwd.invalid && !passwordForm.controls.confirmPwd.pristine
      }"
    >
      <input
        #input2
        class="form-control border-right-0"
        id="confirmPassword"
        [placeholder]="'create_account.confirm_password' | translate"
        type="password"
        aria-describedby="cofirmpasswordToggle"
        name="confirmPwd"
        formControlName="confirmPwd"
      />
      <span
        class="input-group-addon password-toggle bg-white text-muted"
        id="cofirmpasswordToggle"
        (click)="togglePassword(input2)"
      >
        <i class="fa fa-eye"></i>
        <i class="fa fa-eye-slash"></i>
      </span>
    </div>
    <i class="fas fa-check green input-ok" *ngIf="!passwordForm.controls['confirmPwd'].errors"></i>
    <span
      *ngIf="passwordForm.controls['confirmPwd'].errors && (!passwordForm.controls.confirmPwd.pristine || submitted)"
      class="validate-message"
    >
      <span [translate]="'create_account.passwords_not_match'">Passwords do not match.</span>
    </span>
  </div>
  <button type="submit" class="btn btn-sm btn-secondary mt-3" (click)="next.emit()">
    <span class="text-small">NEXT</span>
  </button>
</form>
