// General
.ui.button {
  border-radius: 2px;
  border: solid 1px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  padding: 15px 40px;
  transition: none;

  &.disabled {
    background-color: $color-blue-disabled;
    border-color: $color-blue-disabled;
  }

  &.btn-blue {
    color: $color-white;
    background-image: linear-gradient(259deg, $color-blue, $color-dark-blue);
    border-color: $color-blue;

    &:hover, &:focus {
      background: $color-blue;
    }

    &.disabled {
      background-color: $color-blue-disabled;
      border-color: $color-blue-disabled;
    }
  }

  &.btn-red {
    color: $color-white;
    background-image: linear-gradient(259deg, $color-light-red, $color-red);
    border-color: $color-red;

    &:hover, &:focus {
      background: $color-red;
    }

    &.disabled {
      background-color: $color-red-disabled;
      border-color: $color-red-disabled;
    }
  }

  &.btn-yellow {
    color: $color-white;
    background-image: linear-gradient(252deg, $color-light-yellow, $color-yellow);
    border: solid 1px $color-yellow;

    &:hover, &:focus {
      background: #f39c12;
    }

    &.disabled {
      background-color: $color-yellow-disabled;
      border-color: $color-yellow-disabled;
    }
  }

  &.btn-small {
    font-size: 12px;
    padding: 10px 25px;
    height: 32px;
  }
}

// Inbox
.app-mail {
  .ui.button.btn-red {
    background-image: none;
    background-color: #e74c3c;
    border-color: #c0392b;

    &:hover, &:focus {
      background: #ff4d3b;
      border-color: #c0392b;
    }

    &:active {
      background: #c0392b;
      border-color: #c0392b;
    }

    &.disabled {
      background: #f6b8b1;
      border-color: #f6b8b1;
    }
  }
}

.ui.button {
  &.btn-inbox {
    background: $inbox-btn-background-color;
    border-color: $inbox-btn-border-color;
    padding: 8px 19px;

    svg-icon {
      position: relative;
      top: -1px;
    }

    .menu {
      border: 1px solid $inbox-btn-border-color;
      border-radius: 2px;
      margin-top: 3px;
      box-shadow: none;
      background-color: $color-light-grey;
      padding: 10px 0;

      .item {
        font-size: 12px;
        padding: 7px 25px !important;
        color: rgba(0, 0, 0, 0.87);

        &:hover {
          background-color: $color-white;
        }
      }
    }

    &:hover {
      border-color: $color-light-grey-variant !important;
      position: relative;
      z-index: 1;
    }

    &.active {
      &:hover {
        background-color: $inbox-btn-background-color;
        border-color: $inbox-btn-border-color;
      }
    }
  }
}
