label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 10px;
  display: inline-block;
}

input, textarea, select {
  font-size: 16px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.38);
  border-color: $forms-border-color;

  &::placeholder {
    color: $forms-placeholder-color;
  }
}

.ui.labeled.input > .label {
  background: #fff;
  border: solid 1px $forms-border-color;
  border-left: none;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  min-width: 50%;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: $color-white !important;
  background-image: none !important;
  color: rgba(0, 0, 0, 0.38) !important;
}