.ui.image > .ui.ribbon.label {
  left: auto;
  right: 27px;
  padding: 5px 7px;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 10px;
  font-style: normal;

  &:after {
    border: none;
  }
}