<div class="app-mail">
  <div class="header">Add to blacklist</div>
  <div class="content">
    <form class="ui form">
      <div class="ui grid">
        <div class="four wide column">
          <span class="label">Name:</span>
        </div>
        <div class="twelve wide column">
          <input type="text">
        </div>
      </div>
      <div class="ui grid">
        <div class="four wide column">
          <span class="label">E-mail:</span>
        </div>
        <div class="twelve wide column">
          <input type="text">
        </div>
      </div>
    </form>
  </div>
  <div class="footer align-right">
    <button class="uppercase ui button btn-small btn-blue">Add</button>
  </div>
</div>
