<!-- PAGE INTRO SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq pb-0 text-center">
  <div class="container">
    <header class="l-block-header text-center">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 px-sm-5 px-md-0">
          <h1 class="page-title text-uppercase text-secondary">
            <strong>Blog</strong>
          </h1>
        </div>
      </div>
    </header>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.PAGE INTRO SECTION ENDS -->

<!-- BLOG GRID -->
<section class="l-block news-block gap-p-eq pt-0 bg-white">
  <div class="container">
    <div class="l-block-body">
      <div class="row">
        <!-- BLOG FIRST POST WITH FULL WIDTH -->
        <article class="col-12 mb-4 mb-sm-5 first-post" *ngIf="bigPost as post">
          <a routerLink="/blog/{{ post.slug }}/" class="d-block news-card-holder">
            <div class="news-card news-card-full px-lg position-relative">
              <div class="row">
                <div class="col-md-6">
                  <figure class="news-pic-holder mb-md-0 position-relative">
                    <img-spinner [class]="'img news-img'" [src]="post.image_featured" ></img-spinner>
                    <span class="badge badge-sm badge-info text-uppercase">
                      <strong>{{ post.category }}</strong>
                    </span>
                  </figure>
                </div>
                <div class="col-md-6">
                  <div class="news-card-body">
                    <h4 class="news-card-title">{{ post.name }}</h4>
                    <div>{{ post.text }}</div>
                  </div>
                  <footer class="news-card-footer">
                    <ul class="news-meta-list">
                      <li>{{ post.date }}</li>
                      <li>
                        <u>{{ post.comments_count }} comments</u>
                      </li>
                    </ul>
                  </footer>
                </div>
              </div>
            </div>
          </a>
        </article>
        <!-- BLOG FIRST POST WITH FULL WIDTH ENDS -->
        <app-pages-posts-grid [posts]="pagePosts"></app-pages-posts-grid>
      </div>
    </div>
    <footer class="l-block-footer text-center">
      <button class="btn btn-lg btn-secondary" (click)="getMorePosts()" [disabled]="pageMax">
        <span>Show more posts</span>
      </button>
    </footer>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.BLOG GRID ENDS -->
