<div class="col-sm-6 package-basic-col" [class.is-active-slide]="selectedIndex === 2">
    <div class="package-card package-card-basic is-shadowedx bg-faded text-dark">
        <header class="package-card-header text-center">
            <h2 class="text-white m-0">
                <strong>Free</strong>
            </h2>
        </header>
        <div class="package-card-body">
            <ul class="package-list mb-0 list-style-none pl-0">
                <li class="package-list-item has-border">
                    <i class="fa fa-check text-green"></i>1 User
                </li>
                <li class="package-list-item has-border">
                    <i class="fa fa-check text-green"></i>250 Mb Storage
                </li>
                <li class="package-list-item has-border">
                    <i class="fa fa-check text-green"></i>1 E-mail Address
                </li>
                <li class="package-list-item">
                    <i class="fa fa-check text-green"></i>100 Messages per Day
                </li>
                <li class="package-list-item">
                    <i class="fa fa-check text-green"></i>3 Folders
                </li>
                <li class="package-list-item">
                    <i class="fa fa-check text-green"></i>Limited Support
                </li>
                <li class="package-list-item">
                    <i class="fa fa-times text-danger"></i>
                    <del>Dead Mans Timer</del>
                </li>
                <li class="package-list-item">
                    <i class="fa fa-times text-danger"></i>
                    <del>Delayed Delivery Timer</del>
                </li>
                <li class="package-list-item">
                    <i class="fa fa-times text-danger"></i>
                    <del>Self Destruct Timer</del>
                </li>
                <li class="package-list-item">
                    <i class="fa fa-times text-danger"></i>
                    <del>Encryption for non-CTemplar Users</del>
                </li>
            </ul>
        </div>
        <footer class="package-card-footer text-center">
            <div class="package-text-holder">
                <h2 class="m-0 fw-light">free</h2>
            </div>
            <div class="package-actions">
                <a routerLink="/create-account" class="btn btn-lg btn-gradient-info">Select Free</a>
            </div>
        </footer>
    </div>
</div>
