<!-- PAGE INTRO SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq">
  <div class="container container-xs">
    <header class="l-block-header position-relative text-center">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 px-sm-5 px-md-0">
          <h1 class="l-block-title text-uppercase text-secondary">
            <strong>Privacy Policy</strong>
          </h1>
        </div>
      </div>
    </header>
    <div class="l-block-body px-xs">
      <div class="static-text-holder">
        <p>
          <small>Our privacy policy continues our commitment to serve you and explains how we intend to protect your privacy. We
            are responsible for the protection of your personal data and we take this responsibility very seriously. All
            basic customer data in CTemplar are encrypted end-to-end. This Privacy Policy covers CTemplar’s (“CTemplar”)
            treatment of information we collect when you are on our site and when you use our services. CTemplar has created
            this privacy statement to demonstrate our firm commitment to protect your privacy and to fully disclose what
            information we collect and how we use it. </small>
        </p>

        <p>
          <small>This privacy notice discloses the privacy practices for CTemplar and our website www.ctemplar.com (“Site”). This
            privacy notice applies solely to information collected by this website, except where stated otherwise. It will
            notify you of the following:</small>
        </p>

        <ul>
          <li>
            <small>what information we collect;</small>
          </li>
          <li>
            <small>how it is secured;</small>
          </li>
          <li>
            <small>how policy changes will be communicated;</small>
          </li>
          <li>
            <small>how to address concerns over misuse of personal data.</small>
          </li>
        </ul>

        <h3>
          <strong>Information Collection, Use, and Sharing</strong>
        </h3>
        <p>
          <small>We are the sole owners of the information collected on this site. We only have access to/collect information that
            you voluntarily give us via email or other direct contact from you. We will not disclose your personal data including
            your email address to third parties, categorically. There will be no sale of data. Unless you ask us not to,
            we may contact you via email in the future to tell you about specials, new products or services, or changes to
            this privacy policy. </small>
        </p>

        <h3>
          <strong>Your Access to and Control Over Information</strong>
        </h3>
        <p>
          <small>You may opt out of any future contacts from us at any time. You can do this by changing your contact preferences
            on the site, or by contacting us via the email address or phone number provided on our website.</small>
        </p>

        <h3>
          <strong>Registration</strong>
        </h3>
        <p>
          <small>In order to use this website, a user must first complete the registration form. During registration a user is required
            to give certain information (such as name and email address). This information is used to enable your use of
            the Site.</small>
        </p>

        <h3>
          <strong>Sharing</strong>
        </h3>
        <p>
          <small>We will not disclose your personal data including your email address to third parties, categorically. We use a
            credit card processing company to bill users. These companies do not retain, share, store or use personally identifiable
            information for any secondary purposes.</small>
        </p>
        <p>
          <small>We may partner with another party to provide specific services. When the user signs up for these services, we will
            share names, or other contact information that is necessary for the third party to provide these services. These
            parties are not allowed to use personally identifiable information except for the purpose of providing these
            services.</small>
        </p>

        <h3>
          <strong>Security</strong>
        </h3>
        <p>
          <small>We take all reasonable precautions to protect your information. When you submit sensitive information via the website,
            your information is protected both online and offline.</small>
        </p>
        <p>
          <small>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted
            to us in a secure way. </small>
        </p>
        <p>
          <small>While we use encryption to protect sensitive information transmitted online, we also protect your information offline.
            Only employees who need the information to perform a specific job (e.g. billing or customer service) are granted
            access to personally identifiable information. The computers/servers on which we store personally identifiable
            information are kept in a secure environment.</small>
        </p>

        <h3>
          <strong>Links</strong>
        </h3>
        <p>
          <small>This web site may contain links to other sites. Please be aware that we are not responsible for the content or
            privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read
            the privacy statements of any other site that collects personally identifiable information.</small>
        </p>

        <h3>
          <strong>Surveys & Contests</strong>
        </h3>
        <p>
          <small>From time-to-time our site may request information via surveys or contests. Participation in these surveys or contests
            is completely voluntary and you may choose whether or not to participate and therefore disclose this information.
            Information requested may include contact information (such as name and address), and demographic information
            (such as zip code, age level). Contact information will be used to notify the winners and award prizes. Survey
            information will be used for purposes of monitoring or improving the use and satisfaction of this site.</small>
        </p>

        <h3>
          <strong>Compliance and Cooperation with Regulatory Authorities</strong>
        </h3>
        <p>
          <small>We regularly review our compliance with our Privacy Policy. We also adhere to several self-regulatory frameworks.
            When we receive formal written complaints, we will contact the person who made the complaint to follow up. We
            work with the appropriate regulatory authorities, including local data protection authorities, to resolve any
            complaints regarding the transfer of personal data that we cannot resolve with our users directly. Requests made
            by regulatory authorities for subscriber information will be responded to by CTemplar asserting all legal claims
            to refuse compliance. </small>
        </p>
        <p>
          <small>If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at
            CTemplar or via email at
            <a href="" class="text-muted">
              <u>support@ctemplar.com</u>
            </a>.</small>
        </p>

        <h3>
          <strong>Aggregated Information</strong>
        </h3>
        <p>
          <small>We do not provide aggregated usage or tracking information to third parties.</small>
        </p>

        <h3>
          <strong>HTML verification and email tracking</strong>
        </h3>
        <p>
          <small>When receiving email from us, we may place a small piece of code in that email to determine whether or not you
            can accept HTML images and whether or not you viewed and/or clicked on links contained in the email. This process
            does not leave any information on your computer, nor does it collect information from your computer. Email opt-outs.
            In the event you decide to unsubscribe from our newsletters or promotional emails we will honor your request
            within thirty business days.</small>
        </p>

        <h3>
          <strong>Information on Children</strong>
        </h3>
        <p>
          <small>CTemplar does not knowingly collect information from children under the age of 18. On-line registration is restricted
            to adults. Persons under 18: Do not send any information about yourself to us – including information such as
            your name, address, or e-mail address. We do not knowingly collect personally identifiable information from children
            under 18. In the event that we learn we have collected any personal information from a child under the age of
            18 without verification of parental consent, we will delete that information from our database as quickly as
            possible. </small>
        </p>

        <h3>
          <strong>Updating Visitor Information</strong>
        </h3>
        <p>
          <small>Registered users have the option of accessing, correcting, updating and modifying Personal and/or Financial Information,
            or visitor profile, at any time and as often as desired. You may elect to stop receiving marketing material from
            xxx or on behalf of external third party business partners. Users may choose to stop receiving such communications
            at any time by visiting their member profile page or by following instructions at the end of any such e-mail
            received.</small>
        </p>

        <h3>
          <strong>Cookies</strong>
        </h3>
        <p>
          <small>A "cookie" is a bit of data sent by a Web site through the browser to the computer of the user visiting the site,
            and enables the site to return the results the browser expects. xxx uses temporary, session-specific cookies
            to ensure visits to its Web site are smooth and customized for the visitor. Such cookies allow us to provide
            a visitor's browser with information tailored to the visitor's preferences and needs. xxx also uses permanent
            or persistent cookies that remain on a visitor's computer after the visitor leaves the Web site.</small>
        </p>
        <p>
          <small>If you do not want your browser to accept cookies, you can turn off the cookie acceptance option in the browser's
            settings. However, disabling the cookie support function of the browser will prevent our Web site from functioning
            properly and you may not be able to utilize fully all of the site's features and information.</small>
        </p>
        <p>
          <small>We use advertising companies to develop banner ads for our Digital Offering. These ads may contain cookies. These
            companies collect cookies sent to your browser through the banner ads and we do not have control or access to
            this data. Information may be collected from a third party through the use of cookies and web beacons to measure
            website traffic.</small>
        </p>

        <h3>
          <strong>Pixel Tags</strong>
        </h3>
        <p>
          <small>This Site may also use pixel tags, also known as beacons, spotlight tags or web bugs, to improve our understanding
            of site traffic, visitor behavior, and response to promotional campaigns, as a supplement to our server logs
            and other methods of traffic and response measurement. Pixel tags are sometimes used in conjunction with small
            JavaScript-based applications, also for the purpose of traffic measurement. We may also implement pixel tags
            provided by other companies, for the same purpose. You can disable pixel tags by changing your browser settings
            to omit images and disable JavaScript; or there are commercial software packages available that can omit pixel
            tags and most advertisements.</small>
        </p>

        <h3>
          <strong>Your Acceptance of these Terms</strong>
        </h3>
        <p>
          <small>By using our Site you signify your acceptance of the terms of this Privacy Policy. If you do not agree to the terms
            of this Privacy Policy, please do not use the Site and exit immediately.</small>
        </p>

        <h3>
          <strong>Your Rights</strong>
        </h3>
        <p>
          <small>The site may contain links to and from partner and/or affiliate websites. If you follow a link to their sites,
            please note that these sites have their own privacy policy and that xxx does not accept any responsibility or
            liability for protection of personal data which you may submit to a third party's site. You are recommended to
            check the wording of the relevant privacy policies before you submit any personal data to those sites. </small>
        </p>

        <h3>
          <strong>In The Event of Sale or Bankruptcy</strong>
        </h3>
        <p>
          <small>The ownership of EPC may change at some point in the future. Should that occur, we want to be able to maintain
            a relationship with you. In the event of a sale, merger, public offering, bankruptcy or other change in control
            of xxx, your information may be shared with the person or business that owns or controls this site. Opting out
            of receiving information from third parties will not affect our right to transfer your information to a new owner,
            but your choices will continue to be respected regarding the use of your information. You will be notified as
            described below in “Changes to Privacy Policy”. </small>
        </p>

        <h3>
          <strong>Changes to Privacy Policy</strong>
        </h3>
        <p>
          <small>CTemplar may amend this policy from time to time. If we make any material changes we will notify you by email (sent
            to the e-mail address specified in your account) or by means of a notice on this website prior to the change
            becoming effective. We encourage you to periodically review this page for the latest information on our privacy
            practices. If we make any substantial changes in the way we use your personal information, we will notify you
            by posting a prominent notice in our privacy policy or in other locations on our Web site or by sending you an
            email to inform you of our updated privacy policy. </small>
        </p>

        <h3>
          <strong>Spam</strong>
        </h3>
        <p>
          <small>We don't like it, we don't support it, and we don't engage in it. If you do not want to receive e-mail from us
            in the future, please let us know by contacting Customer Service at support@ctemplar.com. Be sure to specify
            whether you want to be removed from a certain e-mail list or all of our product e-mail lists.</small>
        </p>

        <h3>
          <strong>Customer Service</strong>
        </h3>
        <p>
          <small>Email: support@ctemplar.com
            <br/> Phone: xxx-xxx-xxxx
            <br/> Address: 100 Main St., Suite 100, Anywhere, USA</small>
        </p>

        <h3>
          <strong>Questions?</strong>
        </h3>
        <p>
          <small>If you have any questions on our Privacy Policy, or complaints about our handling of your Personal and/or Financial
            Information, you can contact us at xxx-xxx-xxxx or
            <a href="" class="text-muted">
              <u>support@ctemplar.com</u>
            </a>.</small>
        </p>


      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.PAGE INTRO SECTION ENDS -->

<!-- SECURE EMAIL BLOCK -->
<section class="l-block secure-email-block is-clipped top top-left gap-p-sm bg-faded text-dark text-center">
  <div class="container">
    <header class="l-block-header">
      <figure class="secure-logo-holder">
        <img alt="" class="img logo-lg" src="assets/images/logo.svg" />
      </figure>
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-7">
          <div class="text-card">
            <h2 class="l-block-title  mb-3 pb-1">Register
              <strong>World’s Most Secure Email</strong> Now!</h2>
            <h4 class="l-block-subtitile  mb-3 pb-2">Send unbreakable emails and protect your key professional and personal details trough next-gen encryption.</h4>
            <a href="" class="btn btn-lg btn-gradient-primary">upgrade to prime</a>
          </div>
        </div>
      </div>
    </header>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.SECURE EMAIL BLOCK ENDS -->