.margin-top {
  margin-top: 10px !important;
}

.margin-top-none {
  margin-top: 0 !important;
}

.checkbox {
  position: relative;
  top: 10px;

  label {
    padding-left: 22px !important;
    font-size: 12px;
  }
}