@import '../../../styles/variables';

.items {
  padding: 3rem 0;
}

.main.container {
  padding-bottom: 20px !important;
}

.secondary.basic.segment {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 90%);
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
  padding: 80px 15px;
  background: $color-light-grey;

  .description {
    font-size: 15px;
  }
}

.piled {
  p, li, b {
    font-size: 20px;
    line-height: 30px;
  }
}

.featured-description {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
}

.description-wrapper {
  padding: 30px 0;

  img {
    border-radius: 4px;
  }

  .info {
    font-size: 12px;
    font-style: italic;
    text-align: right;
    display: block;
    margin-top: 6px;
    color: rgba(0, 0, 0, 0.54);
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.54);

    a {
      font-style: normal;
    }
  }
}