<!-- App outer -->
<!-- <div class="app-outer" [class.resize-active]="windowIsResized" [ngClass]="{ 'app-outer-secondary': this.router.url !== '/' && !isMail, 'app-outer-mailbox': isMail }"> -->
<div class="app-outer" [class.resize-active]="windowIsResized">
    <!-- Rendering app header component -->
    <app-header [hidden]="isMail"></app-header>
    <!-- App main content body -->
    <main id="main" role="main">
        <div class="content">
            <!-- Render Routed Contents -->
            <router-outlet></router-outlet>
        </div>
        <!-- /.App content ends -->
    </main>
    <!-- /.App main content body ends -->
    <!-- Rendering app footer component -->
    <app-footer [hidden]="isMail"></app-footer>
</div> <!-- App outer ends -->
