<!-- App outer -->
<div class="app-outer" [class.resize-active]="windowIsResized" [ngClass]="{ 'app-outer-secondary': this.router.url !== '/' && this.router.url !== '/mail', 'app-outer-mailbox': this.router.url === '/mail' }">
    <!-- Rendering app header component -->
    <app-header *ngIf="this.router.url !== '/mail'"></app-header>
    <!-- App main content body -->
    <main id="main" role="main">
        <div class="content">
            <!-- Render Routed Contents -->
            <router-outlet></router-outlet>
        </div>
        <!-- /.App content ends -->
    </main>
    <!-- /.App main content body ends -->
    <!-- Rendering app footer component -->
    <app-footer *ngIf="this.router.url !== '/mail'"></app-footer>
</div> <!-- App outer ends -->
