<app-loading [isLoading]="isLoading" [quote]="quote"></app-loading>
<div class="app-outer" id="app-outer-id" [class.resize-active]="windowIsResized" *ngIf="!isLoading" [class.app-outer-secondary]="!isMail">
  <app-header [hidden]="hideHeader"></app-header>
  <main id="main" role="main">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-footer [hidden]="hideHeader"></app-footer>
</div>
<cookie-law #cookieLaw>
  Cookies are required to use CTemplar. Please enable cookies in your browser, if it is disabled. <a href="https://ctemplar.com/help/answer/ctemplar-cookie/" target="_blank" rel="noopener noreferrer">Learn more</a>
</cookie-law>
