<div class="l-block-body px-xs">
  <div id="secure-message-reply-card d-block" class="ui-card">
    <div class="ui-card-body">
      <div class="msg-reply-card">
        <div class="msg-reply-card-header position-relative d-sm-flex justify-content-sm-start align-items-sm-center">
          <h5 class="text-dark mb-0">
            <strong>{{ sourceMessage.subject }}</strong>
          </h5>
          <button role="button" class="close ui-card-dismiss ml-sm-auto hidden-md-up">
            <i class="icon icon-cross text-dark"></i>
          </button>
        </div>
        <div class="msg-reply-address-row">
          <div class="msg-reply-address">
            <span class="text-muted">To: </span>
            <span class="text-muted">&lt;{{ sourceMessage.sender }}&gt;</span>
          </div>
        </div>
        <div class="msg-reply-card-body">
          <div class="msg-reply-card-innerbody has-custom-scroll has-custom-scroll-sm">
            <div class="secure-message-editor mail-compose-editable-box">
<!--              <div #editor></div>-->
              <ckeditor #composerEditorElementRef id="editor" class="editor" [editor]="DecoupledEditor" (ready)="onEditorReady($event)"></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-card-footer mail-composer-footer">
      <div class="mail-composer-actions-row d-flex align-items-center">
        <div class="mail-composer-actions-col mail-composer-actions-col-lg">
          <ul class="mail-composer-actions d-flex align-items-center">
            <li class="send-mail-item">
              <button
                class="btn btn-sm btn-secondary btn-mail-send btn-xs-rounded"
                (click)="onSend()"
                [disabled]="inProgress"
                role="button"
                placement="top"
                ngbTooltip="{{ inProgress ? 'Sending...' : 'Send Mail' }}"
              >
                <i class="hidden-sm-up icon icon-paper-plane"></i><span class="hidden-xs-down">Send</span>
              </button>
            </li>
            <li>
              <div ngbDropdown [autoClose]="'outside'" placement="top-left" class="dropdown">
                <button
                  ngbDropdownToggle
                  class="actions-btn mail-typo-btn hide-arrow"
                  id="typoDropdownMenu"
                  role="button"
                  placement="top"
                  ngbTooltip="Text formatting"
                >
                  <i class="icon icon-text-color"></i>
                </button>
                <div ngbDropdownMenu class="typo-actions-dropdown-menu" aria-labelledby="typoDropdownMenu">
                  <div #toolbar class="mail-comopser-typo-actions-holder ckeditor-composer-toolbar-container">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="mail-composer-actions-col mail-composer-actions-col-sm">
          <ul class="mail-composer-actions d-flex align-items-center justify-content-end">
            <li class="pr-1" *ngIf="inProgress">
              <span>Sending...</span>
            </li>
            <li class="pl-0">
              <button
                role="button"
                (click)="onCancel()"
                [disabled]="inProgress"
                class="btn btn-sm btn-outline-danger"
                placement="top"
                ngbTooltip="Cancel"
              >
                Cancel
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
