/*
** @partial : _type.scss
*/

// == Typograhy styles

// == Typo families mixins
$ff_list: lato, roboto;
$ff_val: $font-family-lato, $font-family-roboto;

@include make_font_families($ff_list, $ff_val);

// == Para
p, .para, address, blockquote {
    &:last-child {
        margin-bottom: 0;
    }
}

.small {
    font-size: 12px;
}

.fw-r {
    font-weight: 400;
}

// == Headings
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    
}

h1, .h1 {
    margin-bottom: 0.75rem;
    @include media("<=sm") {
        font-size: 1.5rem;
    }

    @include media("<ipad", ">sm") {
        margin-bottom: 1rem;
        font-size: 1.875rem;
    }

    @include media(">=ipad") {
        margin-bottom: 1.25rem;
    }
}

h2, .h2 {
    margin-bottom: 1.5rem;
    @include media("<=sm") {
        font-size: 1.25rem;
    }
}

h3, .h3 {
    @include media("<=sm") {
        font-size: 1rem;
    }

    @include media("<ipad", ">sm") {
        font-size: 1.125rem;
    }
}

h4, .h4 {
    margin-bottom: 0.938rem;
    @include media("<=sm") {
        font-size: 1rem;
    }
}