/**
* @partial : _variables.scss
*/

// transition: all ceaser($easeInOutQuint) 0.35s;

/** 
* ==============================================================================
*     Defining custom variables to be used throughout the project
* ==============================================================================
*/

// == DEFINING PATH REALTED VARIABLES TO ACCESS THE RESOURCES
$assets:                "assets/";
$images:                "../images/";
$content:               "../../contents/";
$fonts:                 "../fonts/";

// == Z-INDEX MASTER LIST

$zindex-neg:              -1;
$zindex-zero:              0;
$zindex-default:           1;
$zindex-high:              2;
$zindex-top:               1000;

/** 
* ==============================================================================
*     Overriding bootstrap's varaibles with own brand's variables
* ==============================================================================
*/

//== Colors
//
//## Brand colors for use across Bootstrap.

$brand-primary:			    #e74c3c;
$brand-secondary:		    #091f35;
$brand-success:			    #3498db;
$brand-info:			    #f1c40f;
$brand-warning:			    #f39c12;
$brand-danger:			    #e62739;
$brand-white:			    #ffffff;
$brand-black:			    #212121;
$brand-gray:			    rgba(0, 0, 0, 0.54);
$brand-light-gray:     		rgba(0, 0, 0, 0.38);
$brand-blue:                #3498db;
$menu-link:                 rgba(255, 255, 255, 0.7);
$brand-inverse:				$brand-black;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $brand-white;
$body-color:            rgba(0, 0, 0, 0.54);;
//** Global text color on `<body>`.
$text-color:            $brand-gray;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-lato:  		    "Lato", Helvetica, Arial, sans-serif;
$font-family-roboto:  	 		"Roboto", Helvetica, Arial, sans-serif;
$font-family-base:        		$font-family-lato;
$font-family-std-base:        	$font-family-roboto;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
// $small-font-size:		86.6025%;
$font-size-h1: 			      3.5rem;
$font-size-h2: 			      1.875rem;
$font-size-h3: 			      1.5rem;
$font-size-h4: 			      1.25rem;
$font-size-h5: 			      1.125rem;
$font-size-h6: 			      0.875rem;
$font-size-lg:				  1rem;

$headings-line-height:   	  1.21;
$line-height-base: 			  1.5;

// $font-size-base:          		16px;

//** Unit-less `line-height` for use in components like buttons.
// $line-height-base:        1.25; // 20/14

$font-weight-normal: 			normal;
$font-weight-bold:				bold;
$headings-font-weight:			300;
$headings-font-family:			$font-family-base;

//** Headings small color
$headings-small-color:     		$brand-gray;


//** Global textual link color.
$link-color:            	$brand-blue;
//** Link hover color set via `darken()` function.
$link-hover-color:      	darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: 	none;

//** Text muted color
$text-muted:              $brand-gray;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
	xs: 0,
	sm: 768px,
	md: 1024px,
	lg: 1200px,
	xl: 1440px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-xs-max-width: 1170px;

$container-max-widths: (
	xs: $container-xs-max-width,
);

// == Buttons

$btn-padding-y: 				0.938rem;
$btn-padding-x: 				0.938rem;
$btn-padding-x-sm:				0.625rem;
$btn-padding-y-sm:				0.5633rem;
$btn-border-radius: 			2px;
$btn-font-weight: 				600;
$btn-line-height: 				1;

// == Dropdowns
$dropdown-min-width:			74px;
$dropdown-margin-top: 			0;
$border-radius:					2px;
$dropdown-padding-y: 			0;
$dropdown-box-shadow:			0px 0px 0px 0px rgba(0,0,0,0.01), 0 5px 32px 10px rgba(0,0,0,0.05);
$dropdown-item-padding-x:		1.375rem;
$dropdown-link-active-bg:		#f7f7f7;
$dropdown-link-active-color:	$brand-black;