@import '~styles/base/variables';

.folder-item {
  .show-ellipses {
    display: flex;
    align-items: center;

    span {
      margin-right: 2px;
    }
  }

  .folder-color-box {
    height: 1rem;
    width: 1rem;
  }

  .folder-name {
    vertical-align: sub;
  }
}

.folders-list {
  height: auto;
  border-top: 1px solid $dropdown-border-color;
  border-bottom: 1px solid $dropdown-border-color;
}

.sort-alphabetic-btn {
  background-color: var(--settings-folders-sort-btn-background);
  color: rgba(0, 0, 0, 0.38);
  min-width: 40px;
  margin: 0 10px;
  border: var(--dark-zero-one-width) solid var(--dark-border-color-1);
}

