@import '~styles/base/variables';

.folder-item {
  .show-ellipses {
    display: flex;
    align-items: center;

    span {
      margin-right: 2px;
    }
  }

  .folder-color-box {
    height: 1rem;
    width: 1rem;
  }

  .folder-name {
    vertical-align: sub;
  }
}

.folders-list {
  height: auto;
  border-top: 1px solid var(--dropdown-border-color);
  border-bottom: 1px solid var(--dropdown-border-color);
}

.sort-alphabetic-btn {
  color: rgba(0, 0, 0, 0.38);
  min-width: 40px;
  margin: 0 10px;
}

.drag-drop-handle {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
