<div class="btn-dropdown btn-dropdown-sm btn-dropdown-select mt-4 mt-sm-0">
    <div ngbDropdown class="currency-select-dropdown">
        <button class="dropdown-toggle" type="button" id="currencyDropdownMenuButton" ngbDropdownToggle>
            <strong>USD</strong>
        </button>
        <div ngbDropdownMenu class="ext-center" aria-labelledby="currencyDropdownMenuButton">
            <a class="dropdown-item" href="">Ru</a>
            <a class="dropdown-item" href="">Es</a>
        </div>
    </div>
</div>
