<!-- PAGE SECTION -->
<section class="l-block l-block-text bg-white text-center gap-p-eq">
  <div class="container container-xs">
    <header class="l-block-header position-relative">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 px-sm-5 px-md-0">
          <h1 class="l-block-title text-uppercase text-secondary">
            <strong>Onion Site</strong>
          </h1>
        </div>
      </div>
    </header>
    <div class="l-block-body px-xs">
      <div class="l-content-holder">
        <figure class="onions-pic-holder mx-auto mb-4 mb-sm-5">
          <img alt="" class="img" src="assets/images/onions/onions-img.png" />
        </figure>
        <div class="row justify-content-center">
          <div class="col-sm-11 col-md-9">
            <h4 class="l-block-subtitle text-dark fw-light mb-4">Tor is free software for enabling anonymous communication. CTemplar now has an official onion site:</h4>
            <a href="" class="btn btn-secondary btn-lg onion-lg-btn">http://ctemplar42u6fulx.onion</a>
          </div>
        </div>
        <div class="text-holder text-left pt-2 pt-sm-0 mt-4 mt-sm-6 mt-md-7">
          <h2 class="text-secondary text-center pb-2">Additional Security
            <strong> Benefits With TOR</strong>
          </h2>
          <p>
            <small>To use our Tor hidden service (also known as an onion site), you must have Tor installed or use Tor browser.
              Instructions on how to set up Tor to access your encrypted mailbox can be
              <a href="" class="text-muted">
                <u>found here</u>.</a>
              <br/>
              <br/> Using Tor to access CTemplar is optional, but in some situations, it may bring additional security benefits.
              More information about how CTemplar utilizes Tor to protect your privacy can be
              <a href="" class="text-muted">
                <u>found here</u>
              </a>.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.PAGE SECTION ENDS -->
