<!-- PAGE SECTION -->
<section class="l-block l-block-text bg-white text-center gap-p-eq">
    <div class="container container-xs">
        <header class="l-block-header position-relative">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 px-sm-5 px-md-0">
                    <h1 class="l-block-title text-uppercase text-secondary">
                        <strong>Onion Site</strong>
                    </h1>
                </div>
            </div>
        </header>
        <div class="l-block-body px-xs">
            <div class="l-content-holder">
                <figure class="onions-pic-holder mx-auto mb-4 mb-sm-5">
                    <img alt="" class="img" src="assets/images/onions/onions-img.png"/>
                </figure>
                <div class="row justify-content-center">
                    <div class="col-sm-11 col-md-9">
                        <h4 class="l-block-subtitle text-dark fw-light mb-4">
                            CTemplar has an Onion address</h4>
                        <span class="btn-onion-lg">
                            <a href="http://ctemplar42u6fulx.onion/">http://ctemplar42u6fulx.onion/</a>
                        </span>
                    </div>
                </div>
                <div class="text-holder text-left pt-2 pt-sm-0 mt-4 mt-sm-6 mt-md-7">
                    <h2 class="l-block-title text-center pb-2">Additional Security
                        <strong> Benefits With Tor</strong>
                    </h2>
                    <div>
                        <p style="text-align: justify">
                        Tor is free software for enabling anonymous communication.
                        Tor directs Internet traffic through a free, worldwide,
                        volunteer overlay network consisting of more than seven
                        thousand relays to conceal a user's location and usage
                        from anyone conducting network surveillance or traffic analysis.
                        </p>
                        You must download Tor to be able to use it.
                        You can download it here:
                        <a href="https://www.torproject.org/projects/torbrowser.html.en" target="_blank">
                            https://www.torproject.org/projects/torbrowser.html.en</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Site container ends -->
</section>
<!-- /.PAGE SECTION ENDS -->
