app-mailbox-header
main#main
  .content
    router-outlet
app-mailbox-footer
.mailbox-content-outer
  app-mailbox-sidebar
  .mailbox-main-content
    app-mailbox-header
    router-outlet
    app-mailbox-footer
