.app-outer
  main#main
    .content
      .mailbox-content-outer
        app-mailbox-sidebar
        .mailbox-main-content
          app-mailbox-header
          router-outlet
          app-mailbox-footer
          
    
//-     router-outlet
//-     app-mailbox-header
//-     app-mailbox-footer
