<!-- PAGE INTRO SECTION -->
<section class="l-block l-block-text bg-white text-center gap-p-eq pb-0">
	<div class="container container-xs">
		<header class="l-block-header position-relative">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 px-sm-5 px-md-0">
					<h1 class="l-block-title text-uppercase text-secondary"><strong>Media Kit</strong></h1>
                </div>
            </div>
        </header>
    </div><!-- /.Site container ends -->
</section><!-- /.PAGE INTRO SECTION ENDS -->

<!-- MEDIA KIT SECTION GROUP -->
<section class="l-block-group l-mediakit-block-group">
	<div class="container">
		<!-- MEDIA KIT LOGO BRANDS -->
		<section class="l-block bg-white text-center gap-p-eq pt-0 px-md">
			<header class="l-block-header position-relative">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 px-sm-3 px-md-0">
						<h2 class="text-secondary">CTemplar<strong>Logos and Badges</strong></h2>
						<h4 class="l-block-subtitle text-dark fw-light mb-0">These images may be freely used, provided the accompanying media refers back to <a href="" class="text-dark"><u>http://ctemplar.com</u></a></h4>
                    </div>
                </div>
            </header>
            <div class="l-block-body">
            	<div class="row">
            		<div class="col-sm-6 col-md-3 mb-4 mb-sm-5 mb-md-0">
            			<div class="v-card media-card bg-secondary br-4 position-relative">
            				<div class="media-card-content">
            					<figure class="media-pic">
									<app-spinner-image [class]="'img media-img'" [src]="'assets/images/media-kit/mediakit-logo1.svg'" ></app-spinner-image>
            					</figure>
            				</div>
            			</div>
            			<div class="media-actions mt-3">
            				<ul class="media-actions-list list-style-none text-uppercase pl-0 mb-0">
            					<li><a href=""><strong><i class="fas fa-download"></i>Eps</strong></a></li>
            					<li><a href=""><strong><i class="fas fa-download"></i>Png</strong></a></li>
            					<li><a href=""><strong><i class="fas fa-download"></i>Svg</strong></a></li>
            				</ul>
            			</div>
            		</div>

            		<div class="col-sm-6 col-md-3 mb-4 mb-sm-5 mb-md-0">
            			<div class="v-card media-card bg-secondary br-4 position-relative">
            				<div class="media-card-content">
            					<figure class="media-pic">
									<app-spinner-image [class]="'img media-img'" [src]="'assets/images/media-kit/mediakit-logo2.svg'" ></app-spinner-image>
            					</figure>
            				</div>
            			</div>
            			<div class="media-actions mt-3">
            				<ul class="media-actions-list list-style-none text-uppercase pl-0 mb-0">
            					<li><a href=""><strong><i class="fas fa-download"></i>Eps</strong></a></li>
            					<li><a href=""><strong><i class="fas fa-download"></i>Png</strong></a></li>
            					<li><a href=""><strong><i class="fas fa-download"></i>Svg</strong></a></li>
            				</ul>
            			</div>
            		</div>

            		<div class="col-sm-6 col-md-3 mb-4 mb-sm-0">
            			<div class="v-card media-card bg-secondary br-4 position-relative">
            				<div class="media-card-content">
            					<figure class="media-pic">
									<app-spinner-image [class]="'img media-img'" [src]="'assets/images/media-kit/mediakit-logo3.svg'" ></app-spinner-image>
            					</figure>
            				</div>
            			</div>
            			<div class="media-actions mt-3">
            				<ul class="media-actions-list list-style-none text-uppercase pl-0 mb-0">
            					<li><a href=""><strong><i class="fas fa-download"></i>Eps</strong></a></li>
            					<li><a href=""><strong><i class="fas fa-download"></i>Png</strong></a></li>
            					<li><a href=""><strong><i class="fas fa-download"></i>Svg</strong></a></li>
            				</ul>
            			</div>
            		</div>

            		<div class="col-sm-6 col-md-3">
            			<div class="v-card media-card bg-secondary br-4 position-relative">
            				<div class="media-card-content">
            					<figure class="media-pic">
									<app-spinner-image [class]="'img media-img'" [src]="'assets/images/media-kit/mediakit-logo4.svg'" ></app-spinner-image>
            					</figure>
            				</div>
            			</div>
            			<div class="media-actions mt-3">
            				<ul class="media-actions-list list-style-none text-uppercase pl-0 mb-0">
            					<li><a href=""><strong><i class="fas fa-download"></i>Eps</strong></a></li>
            					<li><a href=""><strong><i class="fas fa-download"></i>Png</strong></a></li>
            					<li><a href=""><strong><i class="fas fa-download"></i>Svg</strong></a></li>
            				</ul>
            			</div>
            		</div>
            	</div>
            </div>
		</section><!-- /.MEDIA KIT LOGO BRANDS ENDS -->

		<!-- MEDIA KIT WALLPAPERS BRANDS -->
		<section class="l-block bg-white text-center gap-p-eq pt-0 px-md">
			<header class="l-block-header position-relative">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 px-sm-3 px-md-0">
						<h2 class="text-secondary mb-0">CTemplar <strong>Wallpapers</strong></h2>
                    </div>
                </div>
            </header>
            <div class="l-block-body">
            	<div class="row">
            		<div class="col-sm-6 col-md-3 mb-4 mb-sm-5">
            			<div class="v-card media-card br-4 position-relative">
            				<div class="media-card-content p-0">
            					<figure class="media-pic">
									<app-spinner-image [class]="'img media-img'" [src]="'assets/images/media-kit/wallpaper-img1.jpg'" ></app-spinner-image>
            					</figure>
            				</div>
            			</div>
            			<div class="media-actions mt-3">
            				<ul class="media-actions-list list-style-none text-uppercase pl-0 mb-0">
            					<li><a href=""><strong><i class="fas fa-download"></i>Jpg</strong></a></li>
            				</ul>
            			</div>
            		</div>
            		<div class="col-sm-6 col-md-3 mb-4 mb-sm-5">
            			<div class="v-card media-card br-4 position-relative">
            				<div class="media-card-content p-0">
            					<figure class="media-pic">
									<app-spinner-image [class]="'img media-img'" [src]="'assets/images/media-kit/wallpaper-img2.jpg'" ></app-spinner-image>
            					</figure>
            				</div>
            			</div>
            			<div class="media-actions mt-3">
            				<ul class="media-actions-list list-style-none text-uppercase pl-0 mb-0">
            					<li><a href=""><strong><i class="fas fa-download"></i>Jpg</strong></a></li>
            				</ul>
            			</div>
            		</div>
            		<div class="col-sm-6 col-md-3 mb-4 mb-sm-5">
            			<div class="v-card media-card br-4 position-relative">
            				<div class="media-card-content p-0">
            					<figure class="media-pic">
									<app-spinner-image [class]="'img media-img'" [src]="'assets/images/media-kit/wallpaper-img3.jpg'" ></app-spinner-image>
            					</figure>
            				</div>
            			</div>
            			<div class="media-actions mt-3">
            				<ul class="media-actions-list list-style-none text-uppercase pl-0 mb-0">
            					<li><a href=""><strong><i class="fas fa-download"></i>Jpg</strong></a></li>
            				</ul>
            			</div>
            		</div>
            		<div class="col-sm-6 col-md-3 mb-4 mb-sm-5">
            			<div class="v-card media-card br-4 position-relative">
            				<div class="media-card-content p-0">
            					<figure class="media-pic">
									<app-spinner-image [class]="'img media-img'" [src]="'assets/images/media-kit/wallpaper-img4.jpg'" ></app-spinner-image>
            					</figure>
            				</div>
            			</div>
            			<div class="media-actions mt-3">
            				<ul class="media-actions-list list-style-none text-uppercase pl-0 mb-0">
            					<li><a href=""><strong><i class="fas fa-download"></i>Jpg</strong></a></li>
            				</ul>
            			</div>
            		</div>
            		<div class="col-sm-6 col-md-3 mb-4 mb-sm-5 mb-md-0">
            			<div class="v-card media-card br-4 position-relative">
            				<div class="media-card-content p-0">
            					<figure class="media-pic">
									<app-spinner-image [class]="'img media-img'" [src]="'assets/images/media-kit/wallpaper-img5.jpg'" ></app-spinner-image>
            					</figure>
            				</div>
            			</div>
            			<div class="media-actions mt-3">
            				<ul class="media-actions-list list-style-none text-uppercase pl-0 mb-0">
            					<li><a href=""><strong><i class="fas fa-download"></i>Jpg</strong></a></li>
            				</ul>
            			</div>
            		</div>
            		<div class="col-sm-6 col-md-3 mb-4 mb-sm-5 mb-md-0">
            			<div class="v-card media-card br-4 position-relative">
            				<div class="media-card-content p-0">
            					<figure class="media-pic">
									<app-spinner-image [class]="'img media-img'" [src]="'assets/images/media-kit/wallpaper-img6.jpg'" ></app-spinner-image>
            					</figure>
            				</div>
            			</div>
            			<div class="media-actions mt-3">
            				<ul class="media-actions-list list-style-none text-uppercase pl-0 mb-0">
            					<li><a href=""><strong><i class="fas fa-download"></i>Jpg</strong></a></li>
            				</ul>
            			</div>
            		</div>
            		<div class="col-sm-6 col-md-3 mb-4 mb-sm-0">
            			<div class="v-card media-card br-4 position-relative">
            				<div class="media-card-content p-0">
            					<figure class="media-pic">
            					</figure><app-spinner-image [class]="'img media-img'" [src]="'assets/images/media-kit/wallpaper-img7.jpg'" ></app-spinner-image>
            				</div>
            			</div>
            			<div class="media-actions mt-3">
            				<ul class="media-actions-list list-style-none text-uppercase pl-0 mb-0">
            					<li><a href=""><strong><i class="fas fa-download"></i>Jpg</strong></a></li>
            				</ul>
            			</div>
            		</div>
            		<div class="col-sm-6 col-md-3">
            			<div class="v-card media-card br-4 position-relative">
            				<div class="media-card-content p-0">
            					<figure class="media-pic">
            					</figure><app-spinner-image [class]="'img media-img'" [src]="'assets/images/media-kit/wallpaper-img8.jpg'" ></app-spinner-image>
            				</div>
            			</div>
            			<div class="media-actions mt-3">
            				<ul class="media-actions-list list-style-none text-uppercase pl-0 mb-0">
            					<li><a href=""><strong><i class="fas fa-download"></i>Jpg</strong></a></li>
            				</ul>
            			</div>
            		</div>
            	</div>
            </div>
		</section><!-- /.MEDIA KIT WALLPAPERS BRANDS ENDS -->
	</div><!-- /.Site container ends -->
</section><!-- /.MEDIA KIT SECTION GROUP ENDS -->
