<!-- HERO BANNER -->
<section class="hero hero-home has-cover text-center pt-5"
         style="background-image: url(assets/images/home/hero-banner.png);">
    <div class="hero-content text-white mt-1">
        <h1 class="hero-title fw-light" [innerHTML]="'home_page.take_back_liberty' | translate" >Secure your privacy with the world’s most advanced encrypted email service.</h1>
        <h3 class="hero-subtitle fw-light" [innerHTML]="'home_page.send_unbreakable_email' | translate">
          Send unbreakable emails and secure your professional and
          personal details with next-gen encryption and storage on Icelandic
          servers, protected by the world’s strongest data privacy laws.</h3>
        <a routerLink="/signup" class="btn btn-lg btn-gradient-primary" translate="home_page.signup_for_free">Sign up for free</a>
    </div>
</section>
<!-- /.HERO BANNER ENDS -->