<!-- HERO BANNER -->
<section class="hero hero-home has-cover text-center pt-5"
         style="background-image: url(assets/images/home/banner.png);">
    <div class="hero-content text-white mt-1">
        <h1 class="hero-title fw-light">
          Armored Email
          Anonymous<br>
          Encrypted<br>
        </h1>
        <a routerLink="/signup" class="btn btn-lg btn-gradient-primary" translate="home_page.signup_for_free">Sign up for free</a>
    </div>
</section>
<!-- /.HERO BANNER ENDS -->