<section class="mailbox-section">
  <header class="ui-header ui-header-bordered">
    <h5 class="ui-header-subtitle text-dark mb-0"><strong>Filters</strong>
      <app-loading-spinner [showSpinner]="userState?.inProgress"></app-loading-spinner>
    </h5>
  </header>
  <div class="mailbox-section-body mailbox-section-body-sm">
    <div class="form-content-holder">
      <ul class="ui-list ui-list-styled list-styled">
        <li *ngFor="let filter of filters" class="ui-list-item ui-list-item-xs-full">
          <div class="row row-xs align-items-center">
            <div class="col-10 col-sm-8 show-ellipses">
              {{filter.name}}
            </div>
            <div class="col-2 col-sm-4">
              <ul class="setting-actions-list d-flex align-items-center justify-content-end list-styled text-right">
                <li><a (click)="openCustomFilterModal(filter)" role="button"><i class="icon icon-edit"></i></a></li>
                <li><a (click)="confirmDeleteFilter(filter)" role="button"><i class="icon icon-garbage"></i></a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div class="info-card">
        <p>Add a filter to perform actions such as automatically labeling or archiving.</p>
        <a href="javascript:void(0);" class="text-uppercase btn-link" role="button"
           (click)="openCustomFilterModal()"><strong><u>Add
          custom filter</u></strong></a>
      </div>
    </div>
  </div>
</section>


<!-- Add custom filter Modal -->
<ng-template #customFilterModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark" id="customFilterModalLabel"><strong>Custom filter</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form ngNativeValidate class="signup-form" [formGroup]="createFilterForm" (submit)="onSubmit()">
    <div class="modal-body bg-faded">
      <div class="form-content-holder">
        <div class="form-group">
          <div class="row align-items-center">
            <div class="col-sm-3">
              <label class="form-label mb-sm-0" for="filterName">Filter name:</label>
            </div>
            <div class="col-sm-9">
              <div class="form-content-row mb-0">
                <input class="form-control form-control-sm" id="filterName" type="text" formControlName="name"/>
                <span class="validate-message" *ngIf="hasDuplicateFilterName">Filter name already exists.</span>
                <span *ngIf="createFilterForm.controls['name'].errors && createFilterForm.controls['name'].touched"
                      id="username-valid" class="validate-message">
                  <span *ngIf="createFilterForm.controls['name'].errors.required">Filter name is required.</span>
                  <span *ngIf="createFilterForm.controls['name'].errors.maxlength">Filter name must be less than 64 characters.</span>
              </span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="form-label mb-sm-0">Condition:</label>
            </div>
            <div class="col-sm-9">
              <div class="form-content-row form-content-row-sm">
                <div class="btn-dropdown btn-dropdown-select">
                  <div ngbDropdown class="dropdown-sm">
                    <button type="button" ngbDropdownToggle id="filterParameterDropdownMenuBtn" role="button">
                      {{createFilterData.parameter ? 'If the ' + createFilterData.parameter : 'Select condition'}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="filterParameterDropdownMenuBtn">
                      <a (click)="createFilterData.parameter = filterParameter.SUBJECT" class="dropdown-item">
                        If the subject
                      </a>
                      <a (click)="createFilterData.parameter = filterParameter.SENDER" class="dropdown-item">
                        If the sender
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-content-row form-content-row-sm">
                <div class="btn-dropdown btn-dropdown-select">
                  <div ngbDropdown class="dropdown-sm">
                    <button type="button" ngbDropdownToggle id="filterConditionDropdownMenuBtn" role="button"
                            [disabled]="!createFilterData.parameter">
                      {{createFilterData.condition === filterCondition.STARTSWITH ? 'starts with' :
                      createFilterData.condition}}
                    </button>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right"
                         aria-labelledby="filterConditionDropdownMenuBtn">
                      <a (click)="createFilterData.condition = filterCondition.CONTAINS" class="dropdown-item">
                        contains
                      </a>
                      <a (click)="createFilterData.condition = filterCondition.STARTSWITH" class="dropdown-item">
                        starts with
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-content-row mb-0">
                <input *ngIf="!createFilterData.condition; else showFilterTextField" type="text"
                       class="form-control form-control-sm" placeholder="text or pattern" disabled>
                <ng-template #showFilterTextField>
                  <input type="text" id="filterTextField" formControlName="filterText"
                         class="form-control form-control-sm" placeholder="text or pattern"/>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mb-0">
          <div class="row">
            <div class="col-sm-3">
              <label class="form-label mb-sm-0">Actions:</label>
            </div>
            <div class="col-sm-9">
              <div class="form-content-row form-content-row-sm">
                <div class="row row-sm align-items-center">
                  <div class="col-sm-4">
                    <div class="fancy-field-group">
                      <input formControlName="moveTo" id="filterMoveTo"
                             class="d-none fancy-field-control fancy-field-control-sm" type="checkbox"/>
                      <label for="filterMoveTo">move to</label>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="btn-dropdown btn-dropdown-select">
                      <div ngbDropdown class="dropdown-sm">
                        <button type="button" ngbDropdownToggle class="has-icon text-capitalize"
                                id="filterFolderDropdownMenuBtn" role="button"
                                [disabled]="!createFilterForm.controls['moveTo'].value">
                          <i class="icon icon-{{folderIcons[createFilterData.folder] || 'icon-folder'}}"></i>
                          {{createFilterData.folder || 'Select folder'}}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="filterFolderDropdownMenuBtn" class="folder-dropdown">
                          <a (click)="createFilterData.folder = mailFolderType.INBOX" class="dropdown-item has-icon">
                            <i class="icon {{folderIcons[mailFolderType.INBOX]}}"></i>Inbox</a>
                          <a (click)="createFilterData.folder = mailFolderType.ARCHIVE" class="dropdown-item has-icon">
                            <i class="icon {{folderIcons[mailFolderType.ARCHIVE]}}"></i>Archive</a>
                          <a (click)="createFilterData.folder = mailFolderType.SPAM" class="dropdown-item has-icon">
                            <i class="icon {{folderIcons[mailFolderType.SPAM]}}"></i>Spam</a>
                          <a (click)="createFilterData.folder = mailFolderType.TRASH" class="dropdown-item has-icon">
                            <i class="icon {{folderIcons[mailFolderType.TRASH]}}"></i>Trash</a>
                          <a *ngFor="let folder of customFolders" class="dropdown-item has-icon"
                             (click)="createFilterData.folder = folder.name">
                            <i class="icon icon-folder"></i><p class="folder-dropdown-item">{{folder.name}}</p></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-content-row">
                <div class="row row-sm align-items-center">
                  <div class="col-6 flex-auto-col">
                    <div class="fancy-field-group">
                      <input formControlName="markAsRead" id="filterMarkAsRead"
                             class="d-none fancy-field-control fancy-field-control-sm" type="checkbox"/>
                      <label for="filterMarkAsRead">mark as read</label>
                    </div>
                  </div>
                  <div class="col-8 flex-auto-col">
                    <div class="fancy-field-group">
                      <input formControlName="markAsStarred" id="filterMarkAsStarred"
                             class="d-none fancy-field-control fancy-field-control-sm" type="checkbox"/>
                      <label for="filterMarkAsStarred">mark as starred</label>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div *ngIf="errorMessage" class="l-alert l-alert-danger mt-3">
        {{errorMessage}}
      </div>
    </div>
    <div class="modal-footer justify-content-center justify-content-sm-end">
      <button class="btn btn-secondary btn-sm" type="submit" [disabled]="userState?.inProgress">Submit</button>
      <app-loading-spinner [showSpinner]="userState?.inProgress"></app-loading-spinner>
    </div>
  </form>
</ng-template><!-- /.Add custom filter ends -->

<!-- Confirm delete filter modal -->
<ng-template #deleteFilterModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong>Confirm Delete</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group">
        Are you sure, you want to delete filter <b>"{{selectedFilter?.name}}"</b>?
      </div>
      <div class="form-group text-right mb-0">
        <button (click)="d()" class="btn btn-secondary btn-sm mr-2" role="button">Cancel</button>
        <button (click)="deleteFilter()" class="btn btn-danger btn-sm" role="button">
          Delete
        </button>
      </div>
    </div>
  </div>
</ng-template><!-- /.Confirm delete filter modal ends -->
