.news-img {
    width: 100%;
    object-fit: cover;
}

.loader-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .news-img, .loader-area {
        height: 205px;
    }
}

@media (min-width: 768px) {
    .news-img, .loader-area {
        height: 270px;
    }
}

@media (max-width: 768px) {
    .news-img, .loader-area {
        height: 350px;
    }
}
