<div class="header uppercase">Create your account</div>
<div class="content">
  <form (keydown.enter)="signUp()" #form="ngForm">
    <sui-message *ngIf="error" class="error" [isDismissable]="false">
      <p>{{ error  }}</p>
    </sui-message>
    <div *ngIf="error" class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <label>1. Username</label>
    <div class="ui large fluid labeled input" [ngClass]="{'error': !username.valid && !username.pristine}">
      <input [(ngModel)]="user.username" #username="ngModel" name="username" placeholder="Choose username" autofocus required>
      <div class="ui label">
        @ctemplar.com
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <label>2. Password</label>
    <div class="ui large fluid input" [ngClass]="{'error': !password.valid && !password.pristine}">
      <input [(ngModel)]="user.password" #password="ngModel" name="password" placeholder="Choose password" type="password" required>
    </div>
    <!-- <div class="ui hidden divider"></div> -->
    <!-- <div class="ui checkbox"> -->
    <!--   <input [(ngModel)]="user.newsletter" #newsletter="ngModel" type="checkbox" name="newsletter" checked> -->
    <!--   <label>Subscribe to newsletter</label> -->
    <!-- </div> -->
    <!-- <br> -->
    <!-- <div class="ui checkbox"> -->
    <!--   <input type="checkbox" name="tos" required> -->
    <!--   <label>I accept TOS</label> -->
    <!-- </div> -->
  </form>
</div>

<div class="actions">
  <button (click)="signUp()" [disabled]="!form.form.valid" class="ui button btn-red">Create Account</button>
</div>
