<div class="app-mail">
  <div class="header">Add payment method</div>
  <div class="content">
    <form class="ui form">
      <div class="ui grid">
        <div class="four wide column">
          <span class="label">Type:</span>
        </div>
        <div class="twelve wide column">
          <select class="ui fluid dropdown">
            <option>credit card</option>
          </select>
        </div>
      </div>
      <div class="ui grid">
        <div class="four wide column">
          <span class="label">Name on card:</span>
        </div>
        <div class="twelve wide column">
          <input type="text">
        </div>
      </div>
      <div class="ui grid margin-top-none">
        <div class="four wide column">
          <span class="label">Card number:</span>
        </div>
        <div class="twelve wide column">
          <input type="text">
        </div>
      </div>
      <div class="ui grid margin-top-none">
        <div class="four wide column">
          <span class="label">Expiry date:</span>
        </div>
        <div class="twelve wide column">
          <div class="ui grid">
            <div class="eight wide column">
              <select class="ui fluid dropdown">
                <option>01</option>
              </select>
            </div>
            <div class="eight wide column">
              <select class="ui fluid dropdown">
                <option>2018</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="ui grid margin-top-none">
        <div class="four wide column">
          <span class="label">Security code:</span>
        </div>
        <div class="twelve wide column">
          <div class="ui grid">
            <div class="eight wide column">
              <input type="text">
            </div>
            <div class="eight wide column"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer align-right">
    <button class="uppercase ui button btn-small btn-blue">Add</button>
  </div>
</div>
