/**
* Global scss file which includes some global style rules
*/

/* Web page customized selection feature */
@include selection($brand-primary, $brand-white);

// == Root element
html {
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;

	@include media(">=ipad") {
		font-size: 16px;
	}
}

// == Utilities
figure {
	margin-bottom: 0;
}

img, .img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

// Input fields
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}