/**
* Header scss file which includes style rules related to header
*/

// == topnav bar :: header
.topnavbar {
    padding: 0.938rem 0;
    transition: all ceaser($easeInOutQuint) 0.35s;

    .menu-opened & {
        background: transparentize($brand-secondary, 0.1);
    }
}

// == header logo
.navbar-brand {
    display: flex;
    align-items: center;
    color: $brand-white !important;
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 1;
}

.navbar-brand-logo {
    margin-right: 5px;
    max-width: 20px;
}

// == Navbar menu col
.navbar-menu-col {
    display: flex;
    justify-content: flex-end;
}

// == User actions
.list-style-none {
    list-style: none;
}

.dropdown-toggle {
    &::after {
        display: none !important;
    }

    &::before {
        position: absolute;
        top: 50%;
        right: 0.6rem;
        margin-top: -0.15rem;
        content: "";
        border-style: solid;
        border-width: .0938rem .0938rem 0 0;
        width: 0.41rem;
        height: 0.41rem;
        transform: translateY(-50%) rotate(135deg);
    }
}

.lang-selector {
    width: 2.875rem;
    height: 1.875rem;

    .dropdown-toggle {
        padding: 0.325rem 0.4rem 0.48899rem;
        background: transparent;
        border: solid 1px rgba(224, 224, 224, 0.22);
        border-radius: 2px;
        color: $brand-white;
        cursor: pointer;
        font-family: $font-family-lato;
        font-size: 0.875rem;
        line-height: 1.14;
        width: 100%;
        text-align: left;
    }
}

// == Dropdown override
.dropdown-item {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    
    &:not(:last-child) {
        border-bottom: 1px solid rgba(224,224,224,0.5);
    }
}