/**
* Utilities scss file which includes utilities style rules
*/

// == Element Positioning
.position {
	&-absolute {
		position: absolute;
	}

	&-relative {
		position: relative;
	}

	&-static {
		position: static;
	}
}

// == Full absolute position element
%position-abs-full {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@content;
}

// == Full position for pseudo elemets
%position-abs-pseudo-full {
	@extend %position-abs-full !optional;
	content: "";
	@content;
}

// == Parent width link
.link-stacked {
	@extend %position-abs-full !optional;
	z-index: $zindex-default;
}

// == Mask overlay
.mask-overlay {
	position: relative;
	&::before {
		@extend %position-abs-full !optional;
		z-index: $zindex-zero;
		content: "";
		background: transparentize($brand-black, 0.5);
	}
}