.title {
  width: 290px;
  height: 40px;
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.submit-display-name-btn {
  width: 151px;
  height: 48px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
}

.modal-sm .modal-dialog .btn {
  font-size: 1.12rem !important;
}

.display-name-input {
  width: 504px;
  height: 48px;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
}

.copy-btn {
  border: 0;
  cursor: pointer;
  float: right;
}
