// PAGE INTRO SECTION 
section.l-block.l-block-text.bg-white.gap-p-eq.pb-0.text-center
  .container
    header.l-block-header.text-center
      .row.justify-content-center
        .col-sm-12.col-md-8.px-sm-5.px-md-0
          h1.page-title.fw-light.text-uppercase.text-secondary.mb-3.pb-1
            strong About
            | CTEMPLAR
          h3.l-block-subtitle.mb-0.text-dark.fw-light As the government continues to function completely outside the realm of accountability, all of us—reporter, missionary, student, businessperson, citizen—become one person, in need of privacy and protection.
// /.PAGE INTRO SECTION ENDS 
// TWO COLUMN TILE SECTION :: WHY I STARTED CTEMPLAR 
section.l-block.l-block-tile.bg-white.gap-p-sm
  .container.container-lg
    .l-block-body
      .row.align-items-center
        .col-md-7.flex-md-last.mb-3.mb-sm-4.mb-md-0.pb-2.pb-sm-0
          .tile-card.px-lg.text-center.text-md-left.pl-md-4
            h2.l-block-title.fw-light.text-secondary.mb-3.mb-sm-4.pb-1.hidden-md-up
              | Why I started
              strong CTemplar
            figure
              img(src='/assets/images/about/about-img-1.jpg')
        .col-md-5
          .tile-card
            h2.l-block-title.fw-light.text-secondary.mb-3.pb-1.hidden-md-down
              | Why I started
              strong CTemplar
            p
              | The idea to create this service first began when I heard about the atrocities happening in the Middle East, to the innocents and to humanity. Looking around, it would seem the larger world was too busy to pay much attention, distracted by their own affairs or helpless to offer assistance.
              br
              | As just one man with limited capabilities, what could I do? Months went by as I pondered this question, finally realizing I must use my own strengths to wage a larger fight against the oppression I see in the world. As a result, I turned to technology—something I know and understand—to create a system of communication so strong and resilient I would trust it with my own life.
              br
              br
              | Through this effort to protect communications through encryption, an entirely new service has emerged, one that will never sell out to corporate investors or be weakened by international agendas— CTemplar.
// /.TWO COLUMN TILE SECTION ENDS 
// TWO COLUMN TILE INVERSE SECTION :: WHY CTEMPLAR 
section.l-block.l-block-tile.pb-0.bg-faded.is-clipped.is-clipped-lg.top.top-right.bottom.bottom-left
  .container.container
    .l-block-body
      .row.align-items-center
        .col-md-6.mb-3.mb-sm-4.mb-md-0.pb-2.pb-sm-0
          .tile-card.px-lg.text-center.text-md-left
            h2.l-block-title.fw-light.text-secondary.hidden-md-up.mb-3.mb-sm-4.pb-1
              | Why
              strong CTemplar?
            figure
              img(src='/assets/images/about/about-img-2.jpg')
        .col-md-6
          .tile-card.pl-md-4
            h2.l-block-title.fw-light.text-secondary.hidden-md-down.mb-3.pb-1
              | Why
              strong CTemplar?
            h4.title-horz-line.text-secondary-faded
              strong Nearly a thousand years ago there was a group of men known as the Knights Templar. They protected the wandering pilgrims who wanted nothing more than to visit the Holy Land and find a way to achieve spirituality.
            p
              | The Templar safeguarded travelers’ paths by monitoring the roadways and helping them find a successful journey. The Templar stood for righteousness, willing to lay down their lives for the poor and the weak, even if it led to their death.
              br
              | Today, there are many people in the world still suffering from this same fear once felt by the innocents, as they look for ways to live their lives in peace and without intrusion. Perhaps you are one of them. I believe we now find ourselves in need of a new Templar, one that can deliver protection against the ongoing invasion of our personal lives.
              br
              | Little by little, your privacy is being stolen away—as is mine—and the time is now to reclaim our rights, our freedoms, our anonymity, and to remember the strength of those who came before us, ready and willing to wield a weapon in their own defense. And for us, for modern society, that tool is technology.
// /.TWO COLUMN TILE SECTION ENDS 
// TWO COLUMN TILE SECTION :: WHO DOES CTEMPLAR PROJECT 
section.l-block.l-block-tile.bg-white.is-clipped.is-clipped-lg.top.top-left
  .container.container-lg
    .l-block-body
      .row.align-items-center
        .col-md-7.flex-md-last.mb-3.mb-sm-4.mb-sm-0.pb-2.pb-sm-0
          .tile-card.px-lg.text-center.text-md-left.pl-md-4
            h2.l-block-title.fw-light.text-secondary.hidden-md-up.mb-3.mb-sm-4.pb-1
              | Who Does
              strong CTemplar
              | Protect?
            figure
              img(src='/assets/images/about/about-img-3.png')
        .col-md-5
          .tile-card
            h2.l-block-title.fw-light.text-secondary.hidden-md-down.mb-3.pb-1
              | Who Does
              strong CTemplar
              | Protect?
            p CTemplar is a powerful tool for everyone from the oppressed to journalists and businesses. Here’s a list of a few of the types of people who can benefit from CTemplar’s privacy:
            ul.lists.lists-editor.lists-circle-arrow
              li Educators and missionaries under threat of persecution and death
              li Refugees fleeing from oppressive regimes in their home country
              li Reporters in war-torn and/or dictator-led countries
              li Students looking for communication but finding only oppression
              li Someone working in a business environment where competitor surveillance runs rampant
              li Consumers who want to protect their financial information
              li A relatively safe and comfortable individual who worries about privacy
            p
              | Regardless of who you are and what you seek, this encrypted service is here to help you find your way. If you need
              span.text-dark
                strong assurance that your message
              | , your vision, and your words will be protected from the eyes of those who would hamper them—this service is for you.
// /.TWO COLUMN TILE SECTION ENDS 
// TWO COLUMN TILE INVERSE SECTION :: CTEMPLAR's LEGAL STANCE 
section.l-block.l-block-tile.pb-0.bg-faded.is-clipped.is-clipped-lg.top.top-left.bottom.bottom-right
  .container.container
    .l-block-body
      .row.align-items-center
        .col-md-6.mb-3.mb-sm-4.mb-md-0.pb-2.pb-sm-0
          .tile-card.px-lg.text-center.text-md-left
            h2.l-block-title.fw-light.text-secondary.hidden-md-up.mb-3.mb-sm-4.pb-1
              | CTemplar’s
              strong Legal Stance
            figure
              img(src='/assets/images/about/about-img-4.png')
        .col-md-6
          .tile-card.pl-md-4
            h2.l-block-title.fw-light.text-secondary.hidden-md-down.mb-3.pb-1
              | CTemplar’s
              strong Legal Stance
            p
              | CTemplar’s legal team views internet privacy as a dynamic issue. It is an evolving landscape. Accordingly, static solutions will not afford your data the level of protection demanded by those who value security.
              br
              br
              | Our legal department continues to research internet security and privacy laws throughout the world so that we may constantly provide users with the maximum level of internet privacy.
              br
              br
              | We have researched all aspects of internet privacy in various jurisdictions in order to assure that our servers are domiciled in the most secure location av Our servers are located in Iceland, recognized as the premier location for internet privacy. The Icelandic government has demonstrated itself to be at the forefront of internet privacy and vigorously enforces the right to be free of government intrusion.
            p.text-center.text-md-left
              a.btn.btn-secondary.btn-lg.mt-2(href='') Explore our security features
// /.TWO COLUMN TILE SECTION ENDS 
// OUR BLOG POSTS 
section.l-block.news-block.gap-p-eq.bg-white
  .container
    header.l-block-header.text-center
      h2.l-block-title
        | Latest From
        strong Our Blog
    app-pages-posts-grid
    footer.l-block-footer.text-center
      a.text-success(routerLink='/blog')
        em
          u Read more from our blog
// /.OUR BLOG POSTS ENDS 
