<form class="mail-actions-form" (submit)="createNewContact()" #newContactForm="ngForm">
  <!-- Contact Name-->
  <div class="form-group">
    <div class="md-errors-spacer" *ngIf="contactName.errors || !contactName.untouched">
      <div *ngIf="contactName.errors && contactName.errors.required">
        <span class="d-block text-right error-msg is-sm">{{ 'contacts.save.name_required' | translate }}</span>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-2">
        <label class="form-label mb-sm-0" for="contactName">
          <span>{{ 'common.name' | translate }}</span
          ><sup>*</sup></label
        >
      </div>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" id="contactName" name="name" required #contactName="ngModel" [(ngModel)]="newContactModel.name" [placeholder]="'contacts.contact_name' | translate" type="text" />
      </div>
    </div>
  </div>
  <!-- Contact Email-->
  <div class="form-group is-repeatable add-button">
    <div class="md-errors-spacer" *ngIf="contactEmail.errors">
      <div *ngIf="contactEmail.errors.required">
        <span class="d-block text-right error-msg is-sm">{{ 'contacts.save.email_req' | translate }}</span>
      </div>
      <div *ngIf="contactEmail.errors.pattern">
        <span class="d-block text-right error-msg is-sm">{{ 'contacts.save.email_not_valid' | translate }}</span>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-2">
        <label class="form-label mb-sm-0" for="contactEmail">
          <span>{{ 'common.email' | translate }}</span
          ><sup>*</sup></label
        >
      </div>
      <div class="col-sm-10">
        <div class="position-relative">
          <input class="form-control form-control-sm" id="contactEmail" name="email" required [(ngModel)]="newContactModel.email" #contactEmail="ngModel" [placeholder]="'contacts.type_email' | translate" type="text" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" />
          <i class="fas fa-cogs advanced-settings-icon cursor-pointer" ngbTooltip="Advanced Settings" *ngIf="!internalUser && !contactEmail.errors" (click)="onShowAdvancedSettings()" [disabled]="inProgress"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Encryption for InternalUsers-->
  <!-- <div class="form-group add-button" *ngIf="!internalUser">
    <div class="row align-items-center">
      <div class="col-sm-2 encryptionLabel">
        <label class="form-label mb-sm-0" for="enableEncryption">{{ 'contacts.encryption' | translate }}</label>
      </div>
      <div class="col-sm-10" id="contactEncryptionCheckbox">
        <mat-checkbox type="checkbox" [checked]="newContactModel.enabled_encryption" [(ngModel)]="newContactModel.enabled_encryption" [name]="newContactModel.id"> </mat-checkbox>
      </div>
    </div>
  </div> -->
  <!-- Contact Encryption Public Key-->
  <!-- <div class="form-group add-button" *ngIf="newContactModel.enabled_encryption && !internalUser">
    <div class="row align-items-center">
      <div class="col-sm-2">
        <label class="form-label mb-sm-0" for="contactPublicKey">{{ 'contacts.publickey' | translate }}</label>
      </div>
      <div class="col-sm-10">
        <textarea class="form-control form-control-sm resize-off" id="contactPublicKey" [placeholder]="'contacts.publickey' | translate" name="public_key" [(ngModel)]="newContactModel.public_key" rows="3"></textarea>
      </div>
      <button class="add-button-link contact-publickey-clear" (click)="clearPublicKey()">
        <em class="fas fa-times"></em>
      </button>
    </div>
  </div> -->
  <div class="mb-2 hidden-xs-down">&nbsp;</div>
  <!-- Contact Phone Number 1-->
  <div class="form-group add-button">
    <div class="row align-items-center">
      <div class="col-sm-2">
        <label class="form-label mb-sm-0" for="contactPhone1">{{ 'common.phone' | translate }}</label>
      </div>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" id="contactPhone1" name="phone" [(ngModel)]="newContactModel.phone" [placeholder]="'common.phone' | translate" type="text" />
      </div>
    </div>
  </div>
  <!-- Contact Phone Number 2-->
  <div class="form-group is-repeatable add-button">
    <div class="row align-items-center">
      <div class="col-sm-2">
        <label class="form-label mb-sm-0" for="contactPhone2">{{ 'contacts.phone2' | translate }}</label>
      </div>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" id="contactPhone2" [placeholder]="'common.phone' | translate" name="phone2" [(ngModel)]="newContactModel.phone2" type="text" />
      </div>
    </div>
  </div>
  <!-- Contact Address-->
  <div class="form-group is-repeatable add-button">
    <div class="row">
      <div class="col-sm-2">
        <label class="form-label pt-sm-2 mb-sm-0" for="contactAddress">{{ 'contacts.address' | translate }}</label>
      </div>
      <div class="col-sm-10">
        <textarea class="form-control form-control-sm resize-off" id="contactAddress" [placeholder]="'contacts.address' | translate" name="address" [(ngModel)]="newContactModel.address" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="mb-2 hidden-xs-down">&nbsp;</div>
  <!-- Contact Note-->
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <label class="form-label pt-sm-2 mb-sm-0" for="contactNote">{{ 'contacts.note' | translate }}</label>
      </div>
      <div class="col-sm-10">
        <textarea class="form-control form-control-sm resize-off" id="contactNote" [placeholder]="'contacts.a_note' | translate" name="note" [(ngModel)]="newContactModel.note" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="hidden-sm-up">&nbsp;</div>
  <div class="error-msg" *ngIf="newContactForm.submitted && newContactForm.invalid">
    {{ 'contacts.save.error' | translate }}
  </div>
  <!-- Save button-->
  <div class="form-group text-right mb-0" *ngIf="newContactModel.enabled_encryption && !newContactModel.public_keys; else submitSaveContact">
    <div class="saveContactSubmit" ngbTooltip="Public Key can't be empty when encryption is enabled.">
      <button type="submit" disabled class="btn btn-secondary btn-sm" role="button">
        {{ 'common.save' | translate }}
      </button>
    </div>
    <app-loading-spinner [showSpinner]="inProgress"></app-loading-spinner>
  </div>
  <ng-template #submitSaveContact>
    <div class="form-group text-right mb-0">
      <button type="submit" [disabled]="inProgress" class="btn btn-secondary btn-sm" role="button">
        {{ 'common.save' | translate }}
      </button>
      <app-loading-spinner [showSpinner]="inProgress"></app-loading-spinner>
    </div>
  </ng-template>
</form>

<!--Advanced Settings Modal-->
<ng-template #advancedSettingsModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark" id="createFoldersModalLabel">
      <strong>Advanced Settings</strong>
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div>
      <p class="text-holder text-dark text-medium">This change is available for only non-CTemplar recipients. 
        <a href="#">Learn more</a>
      </p>
    </div>
    <div class="mt-3">
      <!-- Encryption Flag section -->
      <div class="form-content-row mb-2">
        <div class="row align-items-center">
          <div class="col-sm-4">
            <label class="form-label mb-0"> Encrypt </label>
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="row row-sm">
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="isEncrypt1" name="[1]" type="radio" [checked]="newContactModel.enabled_encryption" (click)="onClickIsEncrypt(true)" />
                  <label for="isEncrypt1" [translate]="'common.enabled'">Enabled</label>
                </div>
              </div>
              <div class="col-6 flex-auto-col">
                <div class="fancy-field-group">
                  <input class="d-none fancy-field-control fancy-field-control-sm" id="isEncrypt2" name="[1]" type="radio" [checked]="!newContactModel.enabled_encryption" (click)="onClickIsEncrypt(false)" />
                  <label for="isEncrypt2" [translate]="'common.disabled'">Disabled</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Encryption Scheme section -->
      <div class="form-content-row mb-2">
        <div class="row">
          <div class="col-sm-4">
            <label class="form-label mb-sm-0"> Encryption Scheme </label>
            <ng-template #encryptionSchemeTooltip>
              <div class="text-left">
                PGP Encryption Scheme to be used when encrypting.
              </div>
              <div class="text-left">
                Note that PGP/Inline is only available for Plain Text Messages
              </div>
            </ng-template>
            <i class="fas fa-info-circle ml-1" [ngbTooltip]="encryptionSchemeTooltip"></i>
          </div>
          <div class="col-sm-8">
            <div class="btn-dropdown btn-dropdown-select">
              <div ngbDropdown class="dropdown-sm">
                <button type="button" ngbDropdownToggle id="filterParameterDropdownMenuBtn" role="button" [disabled]="!newContactModel.enabled_encryption">
                  <span *ngIf="!newContactModel.encryption_scheme"> Select scheme </span>
                  <span *ngIf="newContactModel.encryption_scheme"> {{newContactModel.encryption_scheme}} </span>
                </button>
                <div ngbDropdownMenu aria-labelledby="filterParameterDropdownMenuBtn">
                  <a class="dropdown-item text-medium" (click)="onSelectEncryptionScheme('PGP/MIME')">
                    <span>PGP/MIME</span>
                  </a>
                  <a class="dropdown-item text-medium" (click)="onSelectEncryptionScheme('PGP/INLINE')">
                    <span>PGP/INLINE</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Public keys section -->
      <div class="form-content-row mb-2 mt-4 text-medium">
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-between">
              <label class="form-label mb-0"> Public Keys </label>
              <input type="file" #importKeyFileTag accept=".txt" (change)="onSelectNewKeyFile($event.target.files)" style="display: none" />
              <div>
                <a (click)="importKeyFileTag.click()">
                  <i class="fas fa-plus-circle"></i>
                  Add Key
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2" *ngIf="selectedContactPulbicKeys && selectedContactPulbicKeys.length > 0">
          <div class="col-sm-12 key-list-container">
            <div class="row key-list-header mb-1">
              <div class="col-sm-2 key-list-header-item text-right">
              </div>
              <div class="col-sm-5 key-list-header-item">
                <label class="form-label mb-0"> Fingerprint </label>
              </div>
              <div class="col-sm-3 key-list-header-item">
                <label class="form-label mb-0"> Key Type </label>
              </div>
              <div class="col-sm-2 key-list-header-item">
                <label class="form-label mb-0"> Actions </label>
              </div>
            </div>
            <div class="row key-list-row" *ngFor="let key of selectedContactPulbicKeys">
              <div class="col-sm-2 key-list-row-item text-right">
                <i *ngIf="key.is_primary" class="fa fa-check" aria-hidden="true" ngbTooltip="This public key will be used to encrypt outgoing messages"></i>
                <ng-template #userIdMismatchTooltip>
                  <div class="text-left">
                    This key is NOT assigned to {{selectedContact.email}}
                  </div>
                  <div class="text-left">
                    Assigned User: {{ key.parsedEmails && key.parsedEmails.length > 0 ? key.parsedEmails[0] : "N/A" }}
                  </div>
                </ng-template>
                <i *ngIf="!keyMatchStatusForEmail[key.fingerprint]" class="fas fa-exclamation-triangle ml-2" aria-hidden="true" [ngbTooltip]="userIdMismatchTooltip"></i>
              </div>
              <div class="col-sm-5 key-list-row-item show-ellipses">
                {{key.fingerprint}}
              </div>
              <div class="col-sm-3 key-list-row-item">
                {{key.key_type}}
              </div>
              <div class="col-sm-2 key-list-row-item text-left">
                <a [href]="downloadUrls[key.fingerprint] | safe: 'url'" ngbTooltip="Download public key" [download]="'publickey.' + this.selectedContact.email + '.asc'"><i class="fa fa-download cursor-pointer mr-2" aria-hidden="true"></i></a>
                <a ngbTooltip="Remove public key" (click)="onRemovePublicKey(key)"><i class="far fa-trash-alt cursor-pointer mr-2" aria-hidden="true"></i></a>
                <a ngbTooltip="Set as primary" *ngIf="newContactModel.enabled_encryption" (click)="onSetPrimary(key)"><i *ngIf="!key.is_primary" class="far fa-check-circle cursor-pointer" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-holder text-dark text-medium">
      <div class="mx-auto mt-2 pt-sm-2">
        <app-loading-spinner [showSpinner]="inProgress || isImportingKey"></app-loading-spinner>
        <button type="button" class="btn btn-secondary btn-sm">
          Save
        </button>
      </div>
    </div>
  </div>
</ng-template>
