<form class="mail-actions-form"
      (submit)="createNewContact()"
      #newContactForm="ngForm">
    <div class="form-group">
        <div class="row align-items-center">
            <div class="col-sm-2">
                <label class="form-label mb-sm-0" for="contactName">Name<sup>*</sup></label>
            </div>
            <div class="col-sm-10">
                <input class="form-control form-control-sm" id="contactName"
                       name="name" required
                       [(ngModel)]="newContactModel.name"
                       placeholder="Curtis Scott" type="text"/>
            </div>
        </div>
    </div>
    <div class="form-group has-error is-repeatable">
        <span class="d-block text-right error-msg is-sm">Check is e-mail information right</span>
        <div class="row align-items-center">
            <div class="col-sm-2">
                <label class="form-label mb-sm-0" for="contactEmail">Email<sup>*</sup></label>
            </div>
            <div class="col-sm-10">
                <input class="form-control form-control-sm error" id="contactEmail"
                       name="email" required
                       [(ngModel)]="newContactModel.email"
                       placeholder="Curtis_Scottgmail.com" type="text"/>
            </div>
        </div>
        <button class="btn-clone" role="button"><i class="icon icon-plus"></i></button>
    </div>
    <div class="mb-2 hidden-xs-down">&nbsp;</div>
    <div class="form-group">
        <div class="row align-items-center">
            <div class="col-sm-2">
                <label class="form-label mb-sm-0" for="contactPhone1">Phone</label>
            </div>
            <div class="col-sm-10">
                <input class="form-control form-control-sm" id="contactPhone1"
                       name="phone"
                       [(ngModel)]="newContactModel.phone"
                       placeholder="+73409853498" type="text"/>
            </div>
        </div>
    </div>
    <div class="form-group is-repeatable">
        <div class="row align-items-center">
            <div class="col-sm-2">
                <label class="form-label mb-sm-0" for="contactPhone2">Phone2</label>
            </div>
            <div class="col-sm-10">
                <input class="form-control form-control-sm" id="contactPhone2" placeholder="+734920"
                       name="phone2"
                       [(ngModel)]="newContactModel.phone2"
                       type="text"/>
            </div>
        </div>
        <button class="btn-clone" role="button"><i class="icon icon-plus"></i></button>
    </div>
    <div class="form-group is-repeatable">
        <div class="row">
            <div class="col-sm-2">
                <label class="form-label pt-sm-2 mb-sm-0" for="contactAddress">Address</label>
            </div>
            <div class="col-sm-10">
                                    <textarea class="form-control resize-off" id="contactAddress" placeholder="Address"
                                              name="address"
                                              [(ngModel)]="newContactModel.address"
                                              rows="3"></textarea>
            </div>
        </div>
        <button class="btn-clone" role="button"><i class="icon icon-plus"></i></button>
    </div>
    <div class="mb-2 hidden-xs-down">&nbsp;</div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <label class="form-label pt-sm-2 mb-sm-0" for="contactNote">Note</label>
            </div>
            <div class="col-sm-10">
                                    <textarea class="form-control resize-off" id="contactNote" placeholder="Note"
                                              name="note"
                                              [(ngModel)]="newContactModel.note"
                                              rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="hidden-sm-up">&nbsp;</div>
    <div class="error-msg" *ngIf="newContactForm.submitted && newContactForm.invalid">
        Please fill in required fields.
    </div>
    <div class="form-group text-center mb-0">
        <input type="submit"
               [disabled]="inProgress"
               class="btn btn-secondary btn-sm" role="button"
               value="Save">
        <app-loading-spinner [showSpinner]="inProgress"></app-loading-spinner>
    </div>
</form>