textarea {
  &.form-control {
    min-height: 7rem;
  }
}

#contactNote {
  min-height: 4.25rem;
}

.contact-publickey-clear {
  border: 1px solid grey;
  border-radius: 50%;
  opacity: 0.7;
}

.form-label,
.form-control {
  font-size: 14px;
}

.error-msg.is-sm {
  font-size: 0.75rem;
}

.saveContactSubmit {
  float: right;
}

.encryptionLabel {
  margin-bottom: .5rem;
}