<!-- welcome -->
<div class="app-welcome ui inverted vertical center aligned segment">
  <div class="ui text container">
    <h1><b>Take Back Your Liberty</b> with Encrypted Communication</h1>
    <h2>Send unbreakable emails and protect your key professional and personal details trough next-gen encryption</h2>
    <div *ngIf="usersService.signedIn()" class="uppercase ui huge button btn-red" [routerLink]="['/mail']">Open mailbox</div>
    <div *ngIf="!usersService.signedIn()" class="uppercase ui huge button btn-red" (click)="signUp()">Sign up for free</div>
  </div>
</div>
<!-- /welcome -->
