/**
* Global scss file which includes some global style rules
*/

/* Web page customized selection feature */
@include selection($brand-primary, $brand-white);

// == Root element
html {
	font-size: 16px;
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;

	// @include media(">=ipad") {
	// 	font-size: 16px;
	// }
}

body {
	height: 100%;
}

// == app outer wrapper
.app-outer {
	overflow-x: hidden;
	position: relative;
	
	// == inner page app outer
	.inner-template &,
	&.app-outer-secondary {
		padding-top: 3.625rem;

		@include media(">sm") {
			padding-top: 4.5rem;
		}

		@include media(">=laptop") {
			padding-top: 5rem;
		}
	}

	&.app-outer-mailbox {
		padding-top: 0 !important;
	}
}

// == custom container
.container-lg {
	max-width: 1310px;
	width: 100%;
}

.container-xs {
	max-width: 775px;
	width: 100%;
}

.container-sm {
	max-width: 905px;
	width: 100%;
}

// == Grid
.row-lg {
	@include media(">=ipad") {
		margin-right: -2.188rem;
		margin-left: -2.188rem;

		>[class*="col-"] {
			padding-right: 2.188rem;
			padding-left: 2.188rem;
		}
	}
}

.row-xs {
	margin-right: -0.125rem;
	margin-left: -0.125rem;

	>[class*="col-"] {
		padding-right: 0.125rem;
		padding-left: 0.125rem;
	}
}

// == Utilities
figure {
	margin-bottom: 0;
}

img, .img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

a {
	transition: all ceaser($easeInOutQuint) 0.35s;
	&:focus {
		outline: 0;
	}
}

// Input fields
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
	box-shadow: none;
	outline: 0 !important
}

button {
	box-shadow: none;
	font-family: $font-family-lato;
	outline: 0 !important
}