/**
* Header scss file which includes style rules related to header
*/

// == topnav bar :: header
.topnavbar {
    padding: 0.938rem 0.938rem; //~0.938rem; //~0.875rem 1.875rem;
    background: transparent;
    transition: all ease-in-out 0.35s;

    &.has-menu-shown {
        background: transparentize($brand-secondary, 0.1);
    }

    @include media(">sm") {
        padding: 1.188rem 0.938rem; //1.25rem 0;//~0.938rem; //~0.875rem 1.875rem;
    }

    @include media(">=ipad") {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem; //~1.875rem; //~0.875rem 1.875rem;

        // == is stuck on page scroll
        &.header-is-stuck {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    @include media(">=laptop") {
        padding-right: 1.875rem;
        padding-left: 1.875rem;
    }

    // == secondary / inner page header
    &-secondary {
        background-image: linear-gradient(267deg, #34495e, #2c3e50);
        box-shadow: 0 2px 4px 0 rgba($brand-light-gray, 0.38);
    }

    // == is stuck on page scroll
    &.header-is-stuck {
        background-image: linear-gradient(267deg, #34495e, #2c3e50);
        box-shadow: 0 2px 4px 0 rgba($brand-light-gray, 0.38);
    }
}

// == header columns
.navbar-brand-col {
    flex: 0 0 125px;
    max-width: 125px;
    @include media(">sm") {
        flex: 0 0 15%;
        max-width: 15%;
    }
}

// == Navbar menu col
.navbar-menu-col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 calc(100% - 125px);
    max-width: calc(100% - 125px);
    @include media(">sm") {
        flex: 0 0 85%;
        max-width: 85%;
    }
}

// == header logo
.navbar-brand {
    display: flex;
    align-items: center;
    color: $brand-white !important;
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 1;

    @include media(">sm") {
        font-size: 1.25rem;
    }
}

.navbar-brand-logo {
    margin-right: 5px;
    max-width: 20px;

    @include media(">sm") {
        margin-right: 10px;
        max-width: 32px;
    }
}

// == User actions
.list-style-none {
    list-style: none;
}

@include media(">sm") {
    .user-actions-list {
        margin-right: -0.75rem;
        margin-left: -0.75rem;
        padding: 0 0 0 2.5rem !important;
    }

    .user-actions-item {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
}

.external-page-user-actions-list {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.user-actions-item.is-external-page {
    @include media("<=sm") {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
}

.user-actions-list {
    display: flex;
    align-items: center;

    @include media("<ipad", ">sm") {
        padding-left: 0.25rem !important;
    }
}

.user-actions-item:not(.btn-dropdown):not(.is-external-page) {
    @include media(">sm", "<ipad") {
        position: absolute;
        right: 21rem;

        &:nth-of-type(2) {
            right: 13.25rem;
        }
    }
}