/**
* Utilities scss file which includes utilities style rules
*/

// == Element Positioning
.position {
	&-absolute {
		position: absolute !important;
	}

	&-relative {
		position: relative !important;
	}

	&-static {
		position: static !important;
	}
}

.position-sm-static {
	@include media(">=ipad") {
		position: static !important;
	}
}

// == Border utilities
.border-top-md-0 {
	@include media(">=ipad") {
		border-top: 0 !important;
	}
}

.border-top-sm-0 {
	@include media(">sm") {
		border-top: 0 !important;
	}
}

// == Gaps
.pb-xs-0 {
	@include media("<=sm") {
		padding-bottom: 0 !important;
	}
}

// .border-radius-0 {
// 	border-radius: 0 !important
// }

.border-radius-left-0 {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important
}

.border-radius-right-0 {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important
}

// == Full absolute position element
%position-abs-full {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

// == Full position for pseudo elemets
%position-abs-pseudo-full {
	@extend %position-abs-full !optional;
	content: "";
}

// == Parent width link
.link-stacked {
	@extend %position-abs-full !optional;
	z-index: $zindex-default;
}

// == Mask overlay
.mask-overlay {
	position: relative;
	&::before {
		@extend %position-abs-full !optional;
		z-index: $zindex-zero;
		content: "";
		background: transparentize($brand-black, 0.5);
	}
}

// == Has background cover
.has-cover {
	@include make-bkg-image();
}

// == Is shadowed
.is-shadowed {
	box-shadow: 0px 10px 40px 0px transparentize($brand-success, 0.9)
}

// == Disable transition in window resize
.resize-active * {
	transition: none !important
}

// == border radius
.br-4 {
	border-radius: 4px;
}

// == No background
.no-bg {
	background: transparent !important;
}

// == Icon sizes
.icon-xs {
	font-size: 0.5rem;
}

.icon-sm {
	font-size: 0.625rem;
}

.icon-md {
	font-size: 1.25rem;
}

// == Disable page scrolling
.no-scroll {
	overflow: hidden;
}

// == Custom background colors
.bg-transparent {
	background: transparent !important;
}

// == Scrollbar styling
.has-custom-scroll::-webkit-scrollbar {
	background: $brand-white;
	width: 4px;
	height: 10px;

	@include media(">sm") {
		width: 10px;
		height: 10px;
	}
}

.has-custom-scroll::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

.has-custom-scroll::-webkit-scrollbar-corner {
	background-color: transparent;
}

.has-custom-scroll::-webkit-scrollbar-track {
	background-color: #e8e8e8;
}

.has-custom-scroll::-webkit-scrollbar-thumb {
	background-color: #d8d8d8;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10), inset 0 -1px 0 rgba(0,0,0,0.07);
}