@import '../../../styles/base/variables';

// == Mailbox navbar
.mailbox-navbar {
	padding: 0.5rem 1.563rem;
	background-color: $brand-faded;
	border: 1px solid $dropdown-border-color;
}

// == Search form
.search-form {
	.form-control {
		padding-right: 3.438rem + 0.938rem
	}

	.search-btn {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		padding-right: 0.938rem;
		padding-left: 0.938rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		min-width: 55px;
	}
}

// == User actions icons
.mailbox-actions-menu {
	margin: 0 -0.5rem;
	padding: 0 0;
	list-style: none;

	>li {
		padding: 0 0.5rem;

		>a {
			display: block;
			padding: 0.219rem 0.688rem;
			border: 1px solid $dropdown-border-color;
			color: $brand-light-gray;
			font-size: 1.5rem;
			text-align: center;
		}
	}

	.lang-dropdown .dropdown-toggle {
		padding-top: 0.938rem;
		padding-bottom: 0.938rem;
		color: $brand-light-gray;
		height: 3rem;
		width: 4.625rem;

		&::before {
			margin-top: 0rem;
		}
	}

	.fa-globe {
		margin-right: 0.25rem;
	}
}

.mailbox-dropdown .show.dropdown .dropdown-toggle {
	color: $brand-secondary;
	&::before {
		margin-top: 0.1rem;
		border-color: $brand-secondary;
	}
}

.mailbox-lang .dropdown-menu {
	margin-top: 2px;
	padding: 0.625rem 0;
	background-color: $brand-faded;

	>.dropdown-item {
		padding: 0 0.938rem;
		border-bottom: 0;
		font-size: 0.875rem;
		line-height: 1.2;

		&:not(:last-of-type) {
			margin-bottom: 0.5rem;
		}
	}
}

// == Actions bar
.mailbox-actionbar {
	padding: 1rem 1.563rem;
	border-bottom: 1px solid $input-border-color;
}

.mailbox-actionbar-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -0.75rem;
	padding: 0 0;
	list-style: none;

	>li {
		padding: 0 0.75rem;
		>a,
		.dropdown-toggle {
			display: flex;
			align-items: center;
			padding: 0.219rem 0.688rem;
			background: #f5f5f5;
			border: 1px solid $input-border-color;
			border-radius: 2px;
			color: rgba(0,0,0,0.38);			
			height: 2rem;
			width: 3.5rem;

			&.disabled {
				pointer-events: none;
				color: $input-border-color !important;

				&::before {
					border-color: $input-border-color !important;
				}
			}
		}

		>a {
			justify-content: center;
		}

		.dropdown-toggle::before {
			border-color: $gray-9e9e9e;
		}

		&:nth-of-type(2),
		&:nth-of-type(3) {
			>a {
				border-right: 0;
				border-radius: 0;
			}
		}

		&:nth-of-type(4) {
			>a {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		&.mailbox-dropdown-lg {
			a,
			.dropdown-toggle {
				font-size: 0.625rem;
				width: 4.500rem;
				letter-spacing: 0.5px;
				text-transform: uppercase;
			}
		}
	}

	.fancy-field-group {
		display: block;
		margin-top: -0.1rem;
		line-height: 1;
	}
}

.mail-result-text {
	margin-right: 0.75rem;
}

.mail-nav-control {
	display: flex;
	align-items: center;
	justify-content: ceter;

	[class*="mail-nav-control-"] {
		background: #f5f5f5;
		border: 1px solid $dropdown-border-color;
		border-radius: 2px;
		color: $gray-9e9e9e;
		font-size: 0.75rem;
		height: 2rem;
		width: 2rem;
		line-height: 2rem;

		&:first-of-type {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:last-of-type {
			border-left: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		.fa {
			display: block;
			line-height: 1;
		}
	}
}