<div class="app-mail-header">
  <div class="ui large action input">
    <input type="text" placeholder="Search...">
    <button class="ui large icon button btn-small btn-blue btn-search">
      <svg-icon class="svg-icon" src="/assets/img/inbox/header/search.svg"></svg-icon>
    </button>
  </div>
  <div class="ui buttons right floated">
    <button class="ui large icon button left">
      <svg-icon class="svg-icon" src="/assets/img/inbox/header/apps.svg"></svg-icon>
    </button>
    <div class="buttons-group">
      <button class="ui large icon button dropdown notifications-dropdown" suiDropdown>
        <svg-icon class="svg-icon" src="/assets/img/inbox/header/bell.svg"></svg-icon>
        <span class="badge red">4</span>
        <div class="menu" suiDropdownMenu>
          <div class="item">
            <p><span>5 mins ago:</span> You used all storage. Please <a href="#">upgrade your account</a> or delete some messages.</p>
          </div>
          <div class="item">
            <p><span>3 hours ago:</span> Up to denoting subjects sensible feelings it indulged directly. We dwelling elegance do shutters appetite yourself diverted.</p>
          </div>
          <div class="item">
            <p><span>1 day ago:</span> Draw part them he an to he roof only. Music leave say doors him. Staying he no looking if do opinion. Sentiments way understood end partiality and his.</p>
          </div>
          <div class="item">
            <p><span>7 days ago:</span> She literature sentiments any contrasted. Aware joy sense young now tears china shy. </p>
          </div>
          <div class="item last">
            <p><a href="#">All notifications (43)</a></p>
          </div>
        </div>
      </button>
      <button class="ui large icon button dropdown" suiDropdown>
        <svg-icon class="svg-icon" src="/assets/img/inbox/header/gear.svg"></svg-icon>
        <div class="menu" suiDropdownMenu>
          <div class="item" [routerLink]="['/mail', 'settings']">General</div>
          <div class="item" [routerLink]="['/mail', 'settings']">Security</div>
          <div class="item" [routerLink]="['/mail', 'settings']">Appearance</div>
          <div class="item" [routerLink]="['/mail', 'settings']">Filters</div>
          <div class="item" [routerLink]="['/mail', 'settings']">Multi-users</div>
          <div class="item" [routerLink]="['/mail', 'settings']">Domains</div>
          <div class="item" [routerLink]="['/mail', 'settings']">Payments</div>
          <div class="item" [routerLink]="['/mail', 'settings']">Keys</div>
          <div class="item" [routerLink]="['/mail', 'settings']">Donate</div>
        </div>
      </button>
      <button class="ui large icon button dropdown user-dropdown" suiDropdown>
        <svg-icon class="svg-icon" src="/assets/img/inbox/header/user.svg"></svg-icon>
        <span class="badge blue">F</span>
        <div class="menu" suiDropdownMenu>
          <div class="item">
            <img src="http://via.placeholder.com/32x32" class="avatar">
            <span class="badge blue">Free</span>
            <div class="content">
              <span class="name">John Simpson</span>
              <span class="email">johnsimson@ctemplar.com</span>
              <div class="ui horizontal list links">
                <a class="item">
                  Upgrade
                </a>
                <a class="item sign-out" (click)="usersService.signOut()">
                  Sign Out
                </a>
              </div>
            </div>
          </div>
          <div class="item disabled">
            <img src="http://via.placeholder.com/32x32" class="avatar">
            <span class="badge red">Officer</span>
            <div class="content">
              <span class="name">Sara Jenister</span>
              <span class="email">sarajen@ctemplar.com</span>
              <div class="ui horizontal list links">
                <a class="item">
                  Sign In
                </a>
              </div>
            </div>
          </div>
          <div class="item last">
            <p><a href="#">Add Account</a></p>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
