.ui.cards > .card, .featured-card, .detailed-post {
  box-shadow: none !important;
  text-decoration: none;

  .image {
    img {
      border-radius: 4px;
    }
  }

  .content {
    border: none;
    padding: 0;
    margin-top: 15px;

    .header {
      font-size: 18px;
      font-style: normal;
      color: rgba(0, 0, 0, 0.87);
      text-decoration: none;
    }

    .description {
      font-size: 12px !important;
      font-style: normal;
      color: rgba(0, 0, 0, 0.54) !important;
    }
  }

  .extra {
    font-size: 12px;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.38);
  }

  &:hover {
    transform: none !important;
  }

  .content {
    position: relative;

    .extra-wrapper {
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-left: 20px;
    }
  }
}