.ui.modal {
  border-radius: 4px;
  min-width: 510px;

  .header {
    font-size: 14px !important;
    letter-spacing: 0.7px;
    color: $color-primary;
    padding: 20px;
    border-bottom: none;
  }

  .close.icon {
    top: 22px;
    right: 20px;
    height: 12px;
    width: 12px;
    background-image: url(/assets/img/cross.svg);
    background-repeat: no-repeat;
    margin: 0;

    &:before {
      content: '';
    }
  }
  
  img.close.icon {
    display: block;
    top: 14px;
    right: 15px;
    height: 20px;
    width: 20px;
  }

  .content {
    background: $color-light-grey;
  }

  .actions {
    background: $color-light-grey;
    border-top: none;
    text-align: center;
    padding-bottom: 20px;
  }

  .app-mail {
    .header {
      background: $color-light-grey;
      border-bottom: 1px solid $modal-border-color;
      font-size: 14px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.87);
    }

    .content {
      padding: 20px 20px 25px 20px;

      .label {
        font-size: 12px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.54);
      }

      input {
        padding: 7px 15px;
        height: 32px;
        border-radius: 2px;
      }
    }

    .footer {
      background: $modal-footer-background-color;
      padding: 15px 20px;

      .button {
        margin: 0;
      }
    }
  }
}