@import '../../../styles/base/variables';
@import '../../../styles/vendors/include-media/include-media';
@import '../../../styles/config/include-media-config';
@import '../../../styles/vendors/ceaser/ceaser-easing';

// // == Actions bar
// .mailbox-actionbar {
// 	padding: 1rem 0.938rem;
// 	border-bottom: 1px solid $input-border-color;

// 	@include media(">=ipad") {
// 		padding-right: 1.563rem;
// 		padding-left: 1.563rem;
// 	}

// 	.mailbox-actionbar-col {
// 		@include media("<ipad", ">sm") {
// 			&:first-of-type {
// 				flex: 0 0 70%;
// 				max-width: 70%;
// 			}

// 			&:last-of-type {
// 				flex: 0 0 30%;
// 				max-width: 30%;
// 			}
// 		}
// 	}
// }

// .mailbox-actionbar-menu,
// .more-xs-options-list {
// 	display: flex;
// 	flex-wrap: wrap;
// 	align-items: center;
// 	margin: 0 -0.375rem;
// 	padding: 0 0;
// 	list-style: none;

// 	@include media(">sm") {
// 		margin: 0 -0.75rem;
// 	}

// 	>li {
// 		padding: 0 0.375rem;

// 		@include media("<=sm") {
// 			&.more-xs-options {
// 				>.dropdown>.dropdown-toggle {
// 					justify-content: center;
// 					border-left: 0;
// 					border-radius: 0 2px 2px 0;

// 					&::before {
// 						display: none;
// 					}
// 				}
// 			}

// 			&.checkbox-dropdown {				
// 				.dropdown-toggle  {
// 					width: 3.5rem;
// 				}
// 			}
// 		}

// 		@include media(">sm") {
// 			padding: 0 0.75rem;
// 		}

// 		>a,
// 		.dropdown-toggle {
// 			display: flex;
// 			align-items: center;
// 			padding: 0.219rem 0.688rem;
// 			background: #f5f5f5;
// 			border: 1px solid $input-border-color;
// 			border-radius: 2px;
// 			color: rgba(0,0,0,0.38);			
// 			height: 2rem;
// 			width: 2.52rem;

// 			@include media(">sm") {
// 				height: 2rem;
// 				width: 3.5rem;
// 			}

// 			&.disabled {
// 				pointer-events: none;
// 				color: darken($input-border-color, 5%) !important;

// 				&::before {
// 					border-color: darken($input-border-color, 5%) !important;
// 				}
// 			}
// 		}

// 		>a {
// 			justify-content: center;
// 		}

// 		.dropdown-toggle::before {
// 			border-color: $gray-9e9e9e;
// 		}

// 		&:nth-of-type(2),
// 		&:nth-of-type(3) {
// 			>a {
// 				border-right: 0;
// 				border-radius: 0;
// 			}
// 		}

// 		&:nth-of-type(4) {
// 			>a {
// 				border-top-left-radius: 0;
// 				border-bottom-left-radius: 0;
// 			}
// 		}

// 		&.mailbox-dropdown-lg {
// 			>a,
// 			.dropdown-toggle {
// 				font-size: 0.625rem;
// 				width: 4.500rem;
// 				letter-spacing: 0.5px;
// 				text-transform: uppercase;
// 			}
// 		}
// 	}

// 	.iconncy-field-group {
// 		display: block;
// 		margin-top: -0.1rem;
// 		line-height: 1;
// 	}

// 	@include media("<=sm") {
// 		.show>.dropdown-toggle {
// 			color: $brand-secondary;
// 			&::before {
// 				border-color: $brand-secondary;
// 			}
// 		}
// 	}
// }

// // == Divider
// .divider-item {
// 	margin: 0.375rem 0.938rem;
// 	border-top: 1px solid $divider-color;
// }

// // == Mailbox small screen options
// .more-xs-options {
// 	.mobiledOptionsDropdown {
// 		padding: 0.75rem 0.938rem;
// 		background: $brand-faded;
// 		&.dropdown-menu {
// 			margin-top: 1px;
// 			right: 0;
// 			left: auto !important;
// 		}

// 		.dropdown-toggle {
// 			width: 3.5rem;
// 		}

// 		.dropdown-menu {
// 			top: 42px !important;
// 			left: -67px !important;
// 		}
// 	}

// 	.more-xs-options-list {
// 		flex-wrap: nowrap;
// 	}
// }

// .mail-result-text {
// 	margin-right: 0.75rem;
// }

// .mail-nav-control {
// 	display: flex;
// 	align-items: center;
// 	justify-content: ceter;

// 	[class*="mail-nav-control-"] {
// 		background: #f5f5f5;
// 		border: 1px solid $dropdown-border-color;
// 		border-radius: 2px;
// 		color: $gray-9e9e9e;
// 		font-size: 0.75rem;
// 		height: 2rem;
// 		width: 2rem;
// 		line-height: 2rem;

// 		&:first-of-type {
// 			border-top-right-radius: 0;
// 			border-bottom-right-radius: 0;
// 		}

// 		&:last-of-type {
// 			border-left: 0;
// 			border-top-left-radius: 0;
// 			border-bottom-left-radius: 0;
// 		}

// 		.icon {
// 			display: block;
// 			line-height: 1;
// 		}
// 	}
// }

// .checkbox-dropdown .dropdown {
// 	.dropdown-menu {
// 		width: 112px;
// 	}
// }

// .folders-dropdown {
// 	.dropdown-menu {
// 		width: 206px;
// 	}
// }

// .dropdown-item {
// 	.icon {
// 		margin-right: 0.625rem;
// 	}
// }

// .more-options-dropdown {
// 	.dropdown-menu {
// 		width: 160px;

// 		@include media("<=sm") {
// 			right: 0;
// 			left: auto !important;
// 		}
// 	}
// }

// .folder-color-box {
// 	display: inline-block;
// 	margin-right: 1.125rem;
// 	border-radius: 2px;
// 	height: 0.5rem;
// 	width: 0.5rem;
// 	vertical-align: middle;
// 	border: solid 1px rgba(0, 0, 0, 0.12);

// 	&.is-success {
// 		background: #2ecc71;

// 	}

// 	&.is-info {
// 		background: #9b59b6;
// 	}

// 	&.is-warning {
// 		background: #f1c40f;
// 	}
// }

// == Listings
.mail-list-row {
	position: relative;
	padding: 0.75rem 0.938rem;
	border-bottom: 1px solid $input-border-color;
	font-size: 0.75rem;
	line-height: 1;

	@include media(">=ipad") {
		padding: 1rem 1.563rem;
	}

	&.is-unread {
		color: $brand-black !important;
	}

	&.is-read {
		background: #f5f5f5;
		color: $brand-gray;
	}

	&.is-checked {
		background: rgba(241, 196, 15, 0.12);
	}
}

.mail-list-inner-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -0.625rem;
}

.mail-list-inner-row > .mail-list-col {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 0.625rem;
	
	@include media(">sm") {
		flex: 0 0 27%;
		max-width: 27%;
	}

	@include media(">=ipad") {
		flex: 0 0 25%;
		max-width: 25%;
	}

	@include media(">=laptop") {
		flex: 0 0 20%;
		max-width: 20%;
	}

	@include media(">=desktop") {
		flex: 0 0 17%;
		max-width: 17%;
	}
}

.mail-list-inner-row > .mail-list-col-lg {
	@include media(">sm") {
		flex: 0 0 55%;
		max-width: 55%;
	}

	@include media(">=ipad") {
		flex: 0 0 57%;
		max-width: 57%;
	}

	@include media(">=laptop") {
		flex: 0 0 65%;
		max-width: 65%;
	}

	@include media(">=desktop") {
		flex: 0 0 70%;
		max-width: 70%;
	}
}

.mail-list-inner-row > .mail-list-col-xs {
	@include media("<=sm") {
		&.mail-list-col-xs {
			position: absolute;
			top: 0.938rem;
			right: 0.375rem;
		}
	}

	@include media(">sm") {
		flex: 0 0 18%;
		max-width: 18%;
	}

	@include media(">=ipad") {
		flex: 0 0 18%;
		max-width: 18%;
	}

	@include media(">=laptop") {
		flex: 0 0 15%;
		max-width: 15%;
	}

	@include media(">=desktop") {
		flex: 0 0 13%;
		max-width: 13%;
	}
}

.mail-list-col-row {
	display: flex;
	align-items: center;
	margin: 0 -0.375rem;
}

.mail-list-col-row > .mail-list-col-item {
	padding: 0 0.375rem;

	@include media("<=sm") {
		&.mail-status {
			position: absolute;
			top: 2.75rem;
			right: 0.375rem;
		}
	}
}

.mail-list-col-xs-row {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0 -0.5rem;

	@include media(">=laptop") {
		margin: 0 -0.75rem;
	}
}

.mail-list-col-xs-row > .mail-list-col-xs-item {
	padding: 0 0.5rem;

	@include media(">=laptop") {
		padding: 0 0.75rem;
	}
}

.mail-list-row {
	.icon-star {
		font-size: 0.938rem;
		color: $input-border-color;
	}

	&.is-unread .mail-from-name {
		font-weight: bold;
	}

	.mail-file-size, 
	.mail-sent-date {
		font-size: 0.625rem;

		@include media("<=sm") {
			font-size: 0.75rem;
		}
	}

	.mail-security-status.is-disabled {
		color: $input-border-color;
	}

	.mail-security-status {
		color: #34495e;
	}

	.mail-status-type .icon-star  {
		color: $dropdown-border-color;
	}
	
	.mail-status-type.is-fav .icon-star-filled {
		color: $brand-warning;
	}

	.icon {
		font-size: 0.938rem;
	}

	.mail-from-name {
		@include media("<=sm") {
			font-size: 1rem;
		}
	}

	.mail-desc {
		display: flex;
		align-items: center;

		@include media("<=sm") {
			flex-wrap: wrap;
			margin-top: 0.5rem;
			padding-left: 1.875rem;
			padding-right: 0.938rem;
			line-height: 1.29;

			small {
				font-size: 0.875rem;
			}
		}

		@include media(">sm") {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.mail-delete-badge {
	margin-right: 0.938rem;

	@include media("<=sm") {
		margin: 0 0 0.5rem 0;
		display: block;
		width: 100%;
	}

	.badge {
		padding: 0.21rem 0.5rem 0.23rem 0.5rem;
		line-height: 1;
	}
}

// // == Mailbox actions control in small screen
// .mailbox-footer-actionbar {
// 	margin: 1.5rem 0 0.938rem;
// 	padding: 0 0.938rem;
// }


// // == Mail action bar common styles
// .mail-result-text {
// 	margin-right: 0.75rem;
// }

// .mail-nav-control {
// 	display: flex;
// 	align-items: center;
// 	justify-content: ceter;

// 	[class*="mail-nav-control-"] {
// 		background: #f5f5f5;
// 		border: 1px solid $dropdown-border-color;
// 		border-radius: 2px;
// 		color: $gray-9e9e9e;
// 		font-size: 0.75rem;
// 		height: 2rem;
// 		width: 2rem;
// 		line-height: 2rem;

// 		&:first-of-type {
// 			border-top-right-radius: 0;
// 			border-bottom-right-radius: 0;
// 		}

// 		&:last-of-type {
// 			border-left: 0;
// 			border-top-left-radius: 0;
// 			border-bottom-left-radius: 0;
// 		}

// 		.icon {
// 			display: block;
// 			line-height: 1;
// 		}
// 	}
// }