<div class="mailbox-actionbar">
    <div class="row">
        <div class="col-12 col-sm-8 mailbox-actionbar-col">
            <ul class="mailbox-actionbar-menu">
                <li class="btn-dropdown mailbox-dropdown checkbox-dropdown">
                    <div ngbDropdown>
                        <button ngbDropdownToggle class="dropdown-toggle" role="button" id="langDropdownMenuButton">
                            <span class="fancy-field-group">
                                <input class="d-none fancy-field-control checked-type-minus" id="mailboxBulkActions" name="[]" type="checkbox" />
                                <label for="mailboxBulkActions" class="fancy-field-empty"></label>
                            </span>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="langDropdownMenuButton">
                            <a class="dropdown-item" href="">All</a>
                            <a class="dropdown-item" href="">Read</a>
                            <a class="dropdown-item" href="">Unread</a>
                            <a class="dropdown-item" href="">Starred</a>
                            <a class="dropdown-item" href="">Unstarred</a>
                        </div>
                    </div>
                </li>
                <li class="pr-0">
                    <a href="" class="disabled"><i class="icon icon-archive"></i></a>
                </li>
                <li class="pr-0 pl-0 hidden-xs-down">
                    <a href="" class="disabled"><i class="icon icon-warning"></i></a>
                </li>
                <li class="pl-0">
                    <a href="" class="disabled"><i class="icon icon-garbage"></i></a>
                </li>
                <li class="btn-dropdown more-xs-options pl-0 hidden-sm-up">
                    <div ngbDropdown>
                        <a ngbDropdownToggle role="button" id="dropdownConfig"><i class="icon icon-ellipsis-v"></i></a>
                        <div ngbDropdownMenu class="mobiledOptionsDropdown"  aria-labelledby="dropdownConfig">
                            <ul class="more-xs-options-list">
                                <li>
                                    <a href="" class="disabled"><i class="icon icon-warning"></i></a>
                                </li>
                                <li class="btn-dropdown mailbox-dropdown folders-dropdown">
                                    <div ngbDropdown>
                                        <button ngbDropdownToggle class="disabledx" role="button"><i class="icon icon-folder"></i></button>
                                        <div ngbDropdownMenu  aria-labelledby="langDropdownMenuButton">
                                            <a class="dropdown-item" href=""><span class="folder-color-box is-success"></span>Folder 1</a>
                                            <a class="dropdown-item" href=""><span class="folder-color-box is-info"></span>Another Folder 21</a>
                                            <a class="dropdown-item" href=""><span class="folder-color-box is-warning"></span>Folder 33</a>
                                            <a class="dropdown-item" href=""><i class="icon icon-inbox"></i>Inbox</a>
                                            <a class="dropdown-item" href=""><i class="icon icon-inbox"></i>Draft</a>
                                            <a class="dropdown-item" href=""><i class="icon icon-archive"></i>Archive</a>
                                            <span class="divider-item d-block"></span>
                                            <a class="dropdown-item" href="" data-toggle="modal" data-target="#createFoldersModal"><i class="icon icon-folder"></i>Create folder</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="btn-dropdown mailbox-dropdown folders-dropdown hidden-xs-down">
                    <div ngbDropdown>
                        <button ngbDropdownToggle class="dropdown-toggle disabledx" role="button"><i class="icon icon-folder"></i></button>
                        <div ngbDropdownMenu  aria-labelledby="langDropdownMenuButton">
                            <a class="dropdown-item" href=""><span class="folder-color-box is-success"></span>Folder 1</a>
                            <a class="dropdown-item" href=""><span class="folder-color-box is-info"></span>Another Folder 21</a>
                            <a class="dropdown-item" href=""><span class="folder-color-box is-warning"></span>Folder 33</a>
                            <a class="dropdown-item" href=""><i class="icon icon-inbox"></i>Inbox</a>
                            <a class="dropdown-item" href=""><i class="icon icon-inbox"></i>Draft</a>
                            <a class="dropdown-item" href=""><i class="icon icon-archive"></i>Archive</a>
                            <span class="divider-item d-block"></span>
                            <a class="dropdown-item" href="" data-toggle="modal" data-target="#createFoldersModal"><i class="icon icon-folder"></i>Create folder</a>
                        </div>
                    </div>
                </li>
                <li class="btn-dropdown mailbox-dropdown mailbox-dropdown-lg more-options-dropdown">
                    <div ngbDropdown class="dropdown">
                        <button ngbDropdownToggle class="dropdown-toggle disabledx" role="button" id="langDropdownMenuButton" >More</button>
                        <div ngbDropdownMenu aria-labelledby="langDropdownMenuButton">
                            <a class="dropdown-item" href="">Add star</a>
                            <a class="dropdown-item" href="">Mark as read</a>
                            <a class="dropdown-item" href="">Mark as unread</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-sm-4 mailbox-actionbar-col hidden-xs-down">
            <div class="mail-controls d-flex align-items-center justify-content-end">
                <div class="mail-result-text text-muted"><small>1-50 of 2346</small></div>
                <div class="mail-nav-control">
                    <button role="button" class="mail-nav-control-prev"><i class="icon icon-chevron-left"></i></button>
                    <button role="button" class="mail-nav-control-next"><i class="icon icon-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mail-listing">
    <!-- <div class="mail-list-row is-unread is-checked">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" checked />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>CTemplar</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <p>
                        <small>
                            <strong>Welcome to CTemplar!</strong> You now have an inbox that is protected by strong encryption. Even
                            we do not have the ability to read your emails.</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-unread">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>Jared Caroll</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <p>
                        <small>
                            <strong>Unpleasant nor diminution.</strong> Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh case as do. Staying he no</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status is-disabled">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-read">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type is-fav">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>Thomas Mitchell</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <p>
                        <small>
                            <strong>Unpleasant nor diminution.</strong> Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh case as do. Staying he no</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status is-disabled">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-read">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>John Simmons</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <p>
                        <small>
                            <strong>Welcome to CTemplar!</strong> You now have an inbox that is protected by strong encryption. Even
                            we do not have the ability to read your emails.</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-read">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type is-fav">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>Thomas Mitchell</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <div class="mail-delete-badge">
                        <span class="badge badge-warning">Delete in 5.25</span>
                    </div>
                    <p>
                        <small>
                            <strong>Unpleasant nor diminution.</strong> Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status is-disabled">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-read">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type is-fav">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>Thomas Mitchell</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <p>
                        <small>
                            <strong>Unpleasant nor diminution.</strong> Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh case as do. Staying he no</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status is-disabled">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-unread">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>John Simmons</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <p>
                        <small>
                            <strong>Welcome to CTemplar!</strong> You now have an inbox that is protected by strong encryption. Even
                            we do not have the ability to read your emails.</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-read">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type is-fav">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>Thomas Mitchell</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <div class="mail-delete-badge">
                        <span class="badge badge-warning">Delete in 5.25</span>
                    </div>
                    <p>
                        <small>
                            <strong>Unpleasant nor diminution.</strong> Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status is-disabled">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-unread">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>Jared Caroll</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <p>
                        <small>
                            <strong>Unpleasant nor diminution.</strong> Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh case as do. Staying he no</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status is-disabled">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-read">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type is-fav">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>Thomas Mitchell</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <p>
                        <small>
                            <strong>Unpleasant nor diminution.</strong> Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh case as do. Staying he no</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status is-disabled">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-read">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>John Simmons</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <p>
                        <small>
                            <strong>Welcome to CTemplar!</strong> You now have an inbox that is protected by strong encryption. Even
                            we do not have the ability to read your emails.</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-read">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type is-fav">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>Thomas Mitchell</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <div class="mail-delete-badge">
                        <span class="badge badge-warning">Delete in 5.25</span>
                    </div>
                    <p>
                        <small>
                            <strong>Unpleasant nor diminution.</strong> Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status is-disabled">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-read">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type is-fav">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>Thomas Mitchell</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <p>
                        <small>
                            <strong>Unpleasant nor diminution.</strong> Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh case as do. Staying he no</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status is-disabled">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-unread">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>John Simmons</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <p>
                        <small>
                            <strong>Welcome to CTemplar!</strong> You now have an inbox that is protected by strong encryption. Even
                            we do not have the ability to read your emails.</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-read">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type is-fav">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>Thomas Mitchell</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <div class="mail-delete-badge">
                        <span class="badge badge-warning">Delete in 5.25</span>
                    </div>
                    <p>
                        <small>
                            <strong>Unpleasant nor diminution.</strong> Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status is-disabled">
                        <i class="icon icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="mail-list-row is-unread">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type">
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>John Simmons</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <p>
                        <small>
                            <strong>Welcome to CTemplar!</strong> You now have an inbox that is protected by strong encryption. Even
                            we do not have the ability to read your emails.</small>
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status">
                        <i class="icon icon-secured"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-list-row is-read" [ngClass]="{'is-unread': !mail.read}" *ngFor="let mail of mails">
        <div class="mail-list-inner-row">
            <div class="mail-list-col">
                <div class="mail-list-col-row">
                    <div class="mail-list-col-item mail-checkbox">
                        <div class="fancy-field-group">
                            <input class="d-none fancy-field-control" id="mailItemCheckbox1" name="[]" type="checkbox" />
                            <label for="mailItemCheckbox1" class="fancy-field-empty"></label>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-status">
                        <div class="mail-status-type" [ngClass]="{'is-fav': mail.starred}">
                            <i class="icon icon-star-filled"></i>
                        </div>
                    </div>
                    <div class="mail-list-col-item mail-from-name">
                        <span>Thomas Mitchell</span>
                    </div>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-lg">
                <div class="mail-desc">
                    <div class="mail-delete-badge">
                        <span class="badge badge-warning">Delete in 5.25</span>
                    </div>
                    <p [innerHTML]= "mail.content | decrypt">
                        <!-- <small>
                            <strong>Unpleasant nor diminution.</strong> Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh</small> -->
                    </p>
                </div>
            </div>
            <div class="mail-list-col mail-list-col-xs">
                <div class="mail-list-col-xs-row">
                    <div class="mail-list-col-xs-item mail-file-size">2.6kB</div>
                    <div class="mail-list-col-xs-item mail-sent-date">Jun 29</div>
                    <div class="mail-list-col-xs-item mail-security-status is-disabled">
                        <i class="icon icon-secured"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mailbox-footer-actionbar hidden-sm-up">
    <div class="row justify-content-end">

        <div class="col-12 mailbox-actionbar-col">
            <div class="mail-controls d-flex align-items-center justify-content-end">
                <div class="mail-result-text text-muted">
                    <small>1-50 of 2346</small>
                </div>
                <div class="mail-nav-control">
                    <button role="button" class="mail-nav-control-prev">
                        <i class="icon icon-chevron-left"></i>
                    </button>
                    <button role="button" class="mail-nav-control-next">
                        <i class="icon icon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>