<div class="main ui text container">

  <div class="page heading ui center aligned basic segment">
    <h1 class="uppercase">Donate</h1>
    <h2>Support our project to make it even stronger.</h2>
    <h3>Your donation will help us to continue with the development of CTemplar as free and open-source software. It is only through the support of the community that we are able to provide our high-end quality service to people all around the world.</h3>
  </div>
  
  <div class="ui three cards">
    <a class="orange card">
      <div class="image">
        <i class="massive bitcoin orange icon"></i>
        <div class="ui divider"></div>
        <span class="orange">Bitcoin</span>
      </div>
    </a>
    <a class="red card">
      <div class="image">
        <i class="massive credit card alternative red icon"></i>
        <div class="ui divider"></div>
        <span class="red">Credit/Debit Card</span>
      </div>
    </a>
    <a class="blue card">
      <div class="image">
        <i class="massive paypal blue icon"></i>
        <div class="ui divider"></div>
        PayPal
      </div>
    </a>
  </div>

  <div class="shake ui center aligned inverted green segment">
    <h2>Thank you for your support!</h2>
  </div>

</div>
