<!-- PAGE INTRO SECTION -->
<section class="l-block l-block-text bg-white text-center gap-p-eq">
  <div class="container container-sm">
    <header class="l-block-header position-relative">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 px-sm-5 px-md-0">
          <h1 class="l-block-title text-uppercase text-secondary">
            <strong>Donate</strong>
          </h1>
          <h2 class="text-dark mb-3 pb-1">
            <strong>Support Our Project</strong> to Make It Even Stronger</h2>
          <h4 class="l-block-subtitle mb-0 text-dark fw-light">Your donation will help us add capacity and continue to develop CTemplar as free and open source software. It is
            only through the support of the community that we are able to continue providing CTemplar to people around the
            world.</h4>
        </div>
      </div>
    </header>
    <div class="l-block-body px-xs">
      <div class="donate-content-holder mx-auto mt-4 mt-sm-5">
        <div class="row">
          <div class="col-sm-6 mb-4 mb-sm-0">
            <div class="square-card bg-faded has-border">
              <div class="square-card-content">
                <figure>
                  <img alt="PayPal Logo" class="img" src="assets/images/donate/payoneer.png" />
                </figure>
              </div>
              <div class="square-card-footer">
                <div class="donate-text text-secondary text-uppercase">
                  <strong>Donate via paypal</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="square-card bg-faded has-border">
              <div class="square-card-content">
                <figure>
                  <img alt="PayPal Logo" class="img" src="assets/images/donate/bitcoin.png" />
                </figure>
              </div>
              <div class="square-card-footer">
                <div class="donate-text text-secondary text-uppercase">
                  <strong>Donate via bitcoin</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-holder pt-2 pt-sm-0 mt-4 mt-sm-6 mt-md-7">
          <h2 class="text-secondary mb-0">
            <strong>Thank you</strong> for your support!</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.PAGE INTRO SECTION ENDS -->

<!-- Rendering mail footer component -->
<app-mail-footer></app-mail-footer>