<!-- PAGE INTRO SECTION -->
<section class="l-block l-block-text bg-white text-center gap-p-eq">
    <div class="container container-sm">
        <header class="l-block-header position-relative">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 px-sm-5 px-md-0">
                    <h1 class="l-block-title text-uppercase text-secondary">
                        <strong>Donate</strong>
                    </h1>
                    <h2 class="text-dark mb-3 pb-1">
                        <strong>Your Support Makes Us Stronger</strong>
                    </h2>
                    <h4 class="l-block-subtitle mb-0 text-dark fw-light">
                        Your donation allows us to strengthen our platform and further develop CTemplar as free and
                        open source software. Ongoing support from the user community is what makes us able to continue
                        providing CTemplar to security conscience people throughout the world.
                    </h4>
                </div>
            </div>
        </header>
        <div class="l-block-body px-xs">
            <div class="l-content-holder donate-content-holder mx-auto mt-4 mt-sm-5">
                
                <!-- Render Payment Options -->
                <router-outlet></router-outlet>
                
                <div class="text-holder pt-2 pt-sm-0 mt-4 mt-sm-6 mt-md-7">
                    <h2 class="text-secondary mb-0">
                        <strong>Thank you</strong> for your support!</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Site container ends -->
</section>
<!-- /.PAGE INTRO SECTION ENDS -->