<section class="l-block l-block-text bg-white text-center text-white gap-p-eq has-cover">
  <div class="container container-xs">
    <header class="l-block-header position-relative mb-md-2">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 px-sm-5 px-md-0">
          <h1 class="l-block-title text-white text-uppercase">
            <strong>User Login</strong>
          </h1>
        </div>
      </div>
    </header>
    <div class="l-block-body px-xs">
      <div class="l-content-holder l-form-content-holder mx-auto mt-md-0">
        <div class="form">
          <form class="position-relative" (ngSubmit)="onSignIn()" #form="ngForm">
            <div class="form-group">
              <label for="username" class="d-block text-faded text-left hidden-sm-up">Username</label>
              <input id="username" class="form-control form-control-lg border-right-0" placeholder="Username" name="username" required [(ngModel)]="model.username">
            </div>
            <div class="form-group">
              <label for="loginPassword" class="d-block text-faded text-left hidden-sm-up">Password</label>
              <div id="loginPassword" class="input-group">
                <input class="form-control form-control-lg border-right-0" [type]="inputType" placeholder="Password" name="password" required [(ngModel)]="model.password">
                <span class="input-group-addon password-toggle bg-white text-muted" (click)="togglePassword()">
                  <i class="fa fa-eye"></i>
                </span>
              </div>
            </div>
            <div class="form-group form-user-actions mt-4 pt-sm-2">
              <button class="btn btn-gradient-primary btn-lg login-btn" type="submit" [disabled]="!form.form.valid">Login</button>
            </div>
          </form>
        </div>
        <div class="form-alternative-content">
          <div class="reset-password mb-0 mb-sm-1">
            <a class="text-faded" (click)="onRecover()"><small><u>Reset Password</u></small></a>
          </div>
          <div class="create-account">
            <a routerLink="/sign-up" class="text-white"><strong><u>Create Account</u></strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
