<div class="main ui container">

  <div class="ui text container">
    <div class="page heading ui center aligned basic segment plan">
      <h1 class="section-title">Account Type</h1>
    </div>
  </div>

  <div class="ui three column grid row centered">
    <div class="column">
      <div class="card yellow">
        <div class="header">
          <h2>Free</h2>
        </div>
        <div class="content">
          <ul class="items-list">
            <li>
              <img src="/assets/img/pages/account-type/check.svg">
              1 User
            </li>
          </ul>
          <ul class="items-list">
            <li>
              <img src="/assets/img/pages/account-type/check.svg">
              500 Mb Storage
            </li>
          </ul>
          <ul class="items-list">
            <li>
              <img src="/assets/img/pages/account-type/check.svg">
              1 E-mail Address
              <span class="info">i</span>
            </li>
          </ul>
          <ul class="items-list">
            <li>
              <img src="/assets/img/pages/account-type/check.svg">
              150 Messages per Day
            </li>
            <li>
              <img src="/assets/img/pages/account-type/check.svg">
              3 Folders / 3 Labels
            </li>
            <li>
              <img src="/assets/img/pages/account-type/check.svg">
              Limited Support
            </li>
            <li class="cross">
              <img src="/assets/img/pages/account-type/cross.svg">
              Email Filters
            </li>
            <li class="cross">
              <img src="/assets/img/pages/account-type/cross.svg">
              Autoresponder
            </li>
            <li class="cross">
              <img src="/assets/img/pages/account-type/cross.svg">
              Catch-All Email
            </li>
            <li class="cross">
              <img src="/assets/img/pages/account-type/cross.svg">
              Multi-User Support
            </li>
            <li class="cross">
              <img src="/assets/img/pages/account-type/cross.svg">
              Hourly backups
            </li>
          </ul>
          <div class="section align-center">
            <button class="uppercase ui button btn-small btn-blue">Add VPN Protection</button>
            <span class="info">i</span>
          </div>
          <div class="section align-center">
            <span class="free">free</span>
          </div>
          <div class="cta-wrapper align-center">
            <button class="uppercase ui btn-yellow button">Downgrade to Free</button>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card red highlighted">
        <div class="header">
          <div class="align-center">
            <h2>Officer</h2>
            <span class="subtitle">$4/month</span>
          </div>
        </div>
        <div class="content">
          <ul class="items-list">
            <li>
              <img src="/assets/img/pages/account-type/check.svg">
              1 User
            </li>
          </ul>
          <ul class="items-list">
            <li>
              <img src="/assets/img/pages/account-type/check.svg">
              5000 Mb Storage
            </li>
          </ul>
          <ul class="items-list">
            <li>
              <img src="/assets/img/pages/account-type/check.svg">
              5 E-mail Address
              <span class="info">i</span>
            </li>
          </ul>
          <ul class="items-list">
            <li>
              <img src="/assets/img/pages/account-type/check.svg">
              1000 Messages per Day
            </li>
            <li>
              <img src="/assets/img/pages/account-type/check.svg">
              200 Folders / 200 Labels
            </li>
            <li>
              <img src="/assets/img/pages/account-type/check.svg">
              Normal Support
            </li>
            <li class="cross">
              <img src="/assets/img/pages/account-type/cross.svg">
              Email Filters
            </li>
            <li class="cross">
              <img src="/assets/img/pages/account-type/cross.svg">
              Autoresponder
            </li>
            <li class="cross">
              <img src="/assets/img/pages/account-type/cross.svg">
              Catch-All Email
            </li>
            <li class="cross">
              <img src="/assets/img/pages/account-type/cross.svg">
              Multi-User Support
            </li>
            <li class="cross">
              <img src="/assets/img/pages/account-type/cross.svg">
              Hourly backups
            </li>
          </ul>

          <div class="section align-center">
            <button class="uppercase ui button btn-small btn-blue">Add VPN Protection</button>
            <span class="info">i</span>
          </div>
          <div class="section pay-type-wrapper align-center">
            <div>
              <div class="field align-left">
                <div class="ui radio checkbox">
                  <input type="radio" name="pay-type" checked="" tabindex="0" class="hidden">
                  <label>Pay Monthly</label>
                  <span class="price"><span>$7</span>/mo</span>
                </div>
              </div>
            </div>
            <div>
              <div class="field align-left">
                <div class="ui radio checkbox">
                  <input type="radio" name="pay-type" tabindex="0" class="hidden">
                  <label>Pay Annually <span class="badge">-20%</span></label>
                  <span class="price with-text"><span>$5.5</span>/mo</span>
                  <span class="info-text">Billed as $65/yr</span>
                </div>
              </div>
            </div>
          </div>
          <div class="cta-wrapper align-center">
            <button class="uppercase ui btn-red button">Update Plus</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
