<!-- PAGE SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq">
  <div class="container container-xs">
    <header class="l-block-header position-relative text-center">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 px-sm-5 px-md-0">
          <h1 class="l-block-title text-uppercase text-secondary"><strong>Terms & Conditions</strong></h1>
        </div>
      </div>
    </header>
    <div class="l-block-body px-xs">
      <div class="static-text-holder">
        <h3><strong>1. ACCEPTANCE OF TERMS</strong></h3>
        <p>
          Welcome to www.ctemplar.com ("Service" or "Site") owned and operated by CTemplar. By clicking "I Agree" on the
          account registration or payment page or using the Site in any way, you are agreeing to comply with and be
          bound by this Agreement, the Privacy Policy, and all rules, policies and disclaimers posted on the Site or
          about which you are notified (collectively "Terms"). If you do not agree with all the Terms, or if you are
          under the age of eighteen (18), do not use the Site. Please review all of the Terms carefully before using the
          Site.
        </p>
        <p>By using the Site, you (i) agree to be bound by the Terms, (ii) represent that you are over the age of
          eighteen (18) and able to form legally binding contracts, (iii) agree and acknowledge that by using the
          Service you are accepting a benefit that cannot be disgorged, (iv) represent that you are neither located in
          sanctioned country nor a prohibited person.</p>
        <p> Please note that these terms provide that if you and CTemplar are unable to resolve any disputes that arise
          between you and CTemplar and the dispute is not resolved informally or through mediation, the dispute will be
          resolved by binding arbitration. Arbitration uses a neutral arbitrator instead of a judge or jury and is
          subject to very limited review by courts. Arbitrators can award the same damages and relief that a court can
          award. You and CTemplar also agree that any claims or disputes cannot be brought as a class action. Please
          carefully review the dispute resolution section below. If you do not accept the arbitration provision then you
          may not use the site.
        </p>

        <h3><strong>2. CTEMPLAR’S RIGHT TO MODIFY TERMS</strong></h3>
        <p>CTemplar may modify any of the Terms at any time by posting them on the Site. Such posting shall constitute
          proper Notice. Changes shall automatically be effective upon posting; provided, however, that those changes
          that CTemplar, in its sole discretion, deems material changes to the Terms will be effective as to an existing
          User upon the earlier of: (1) the agreement of the User; or (2) thirty (30) days after notice to the existing
          User, either via email from a @ctemplar.com email address to the User's email address on file with CTemplar or
          via other means including but not limited to a pop-up or banner, message or other conspicuous notice on the
          Site. If you affirmatively agree to the new terms, your agreement will be effective immediately. You agree to
          make any and all necessary arrangements so that you (and not your spam filter) receive all emails from
          CTemplar’s email addresses. Your use of the Service post-notification will signify your acceptance of the
          changes. If you do not accept the changes, your sole and exclusive remedy is to discontinue using the Site.
          The latest Terms will be posted on the Site, and you should always review them prior to using the Site.
        </p>
        <h3><strong>3. MEMBERSHIP AND SECURITY</strong></h3>
        <p>
          You must be a member to use our services. To become a member you must complete our registration process, which
          requires the selection of a user name and password. You agree to keep your password safe at all times and not
          to disclose it to any other person. We use “<a
                href="https://en.wikipedia.org/wiki/Zero-knowledge_password_proof"
                target="_blank">Zero Knowledge Password</a>” technology so we do not know your
          password and we are not capable of accessing your decrypted data. You are solely responsible for the security
          of your computer system. CTemplar will not be liable for any loss that you may incur if someone else is using
          your account either with or without your knowledge.  You may not use anyone else's account without the
          permission of the account holder. You agree that CTemplar has no responsibility or liability for the deletion,
          corruption or failure to store any messages or other content maintained or transmitted by any CTemplar
          service.
        </p>
        <h3><strong>4. YOUR LICENSE TO ACCESS AND USE THE SERVICES AND OWNERSHIP</strong></h3>
        <p>The content, information, software, designs, materials, functions and data included in and contained on the
          Services (the "Content") are protected by intellectual property and other laws. You must comply with these and
          any other applicable laws when you use the Services.
        </p>
        <p>You may not use the Services in a way that could harm us or any third party. For example, you may not use the
          Services in a way that could:</p>
        <ul>
          <li>Damage or interfere with the proper working of the Services</li>
          <li>Use our platform for anything related to child abuse</li>
          <li>Use our service to distribute spam, viruses or for bulk emailing. We include this because it’s important
            for the continued functioning of our service.
          </li>
          <li>Do anything that could suggest falsely a relationship between us and any other party;or otherwise
            adversely impact the operation of the Services or company
          </li>
        </ul>
        <p>If one or more of these is violated we may limit or terminate your license to use the services or certain
          features of the Services, at any time and for any reason, without prior notice to you including our belief you
          violated these Terms.</p>

        <h3><strong>5. TERM OF CONTRACT, RENEWAL, AND TERMINATION OF SERVICES</strong></h3>
        <p>Unless indicated to the contrary in the respective Service description, the Agreement is effective for an
          indefinite time. The Agreement may be terminated by either party with a notice period of one month to the end
          of each billing cycle. If the contract is not terminated, the contract is automatically renewed with the same
          billing cycle.
        </p>
        <p>This does not affect the right of CTemplar to terminate the Service at-will.</p>
        <p>The termination of additional options, particularly additional accounts or storage space, of the respective
          tariff leaves the general contract unaffected.</p>
        <p> After termination of the contract, CTemplar is no longer obligated to provide the contractual services.</p>
        <h3><strong>6. AVAILABILITY OF SERVICE</strong></h3>
        <p>We will make reasonable commercial efforts to ensure that our web site and our services are available 24
          hours per day without any interruptions. However, we may make our web site and/or our services unavailable at
          any time or restrict access to parts or all of our web site. For example, if we need to update or change our
          servers.
        </p>
        <h3><strong>7. PAYMENT</strong></h3>
        <p>Terms of any sale will be posted by CTemplar and agreed to by you before any sale is consummated. We accept a
          variety of payment options. We may permanently close an account if a stolen credit card or identity was used
          to purchase the Service. CTemplar does not record or store your payment information, a 3rd party payment
          processor is used. Anonymous payment may be made through bitcoin and/or other cryptocurrencies.
        </p>
        <h3><strong>8. DELIVERY</strong></h3>
        <p>Premium service form will be delivered immediately after the payment is confirmed.
        </p>
        <h3><strong>9. REFUNDS</strong></h3>
        <p>You are entitled to a full refund for any paid email-accounts during a 14 day cooling off period after the
          payment.
        </p>
        <h3><strong>10. TERMS AND CONDITIONS SPECIFIC TO MOBILE APPLICATIONS</strong></h3>
        <p>Once you have registered as a User on the Site, you may elect to download and use any available CTemplar
          mobile application(s) (the “Apps”). By downloading and using one or more of the CTemplar App(s), you agree
          that in addition to this Agreement governing your use of the App(s), the following terms and conditions
          specifically applicable to your use of the App(s) (the “Mobile Terms”) also apply to you:
        </p>

        <ol type="a">
          <li>You acknowledge that the Mobile Terms and the Agreement is between you and CTemplar and not Apple or
            Google (ad defined below at (i)) and you understand that CTemplar is solely responsible for the App and
            content thereof;
          </li>
          <li>Your rights to use the App are limited: you may use the App on any device that you own or control as
            permitted by the usage rules set forth in Apple’s App Store and Google Play’s Terms of Service, but you may
            not transfer your rights to use the App to any other person;
          </li>
          <li>CTemplar (and not Apple or Google) is solely responsible for providing any maintenance and support
            services with respect to the App(s) as may be required under applicable law and you acknowledge that Apple
            and Google have no obligation whatsoever to furnish any maintenance and support services with respect to the
            App(s);
          </li>
          <li>Apple and Google are not responsible for any product warranties (if any) that may be applicable to the
            App, whether express or implied by law and in the event of any failure of the App, you may notify Apple or
            Google and Apple or Google will refund the purchase price (if any) for the App(s) to you, and to the maximum
            extent permitted by applicable law, neither Apple, Google nor CTemplar shall have any other warranty
            obligation whatsoever with respect to the App(s), and as between CTemplar and Apple or Google, other claims,
            losses, liabilities, damages costs or expenses attributable to any failure to conform to any warranty (if
            any) shall be CTemplar’s sole responsibility;
          </li>
          <li>You acknowledge that as between CTemplar and Apple and Google, CTemplar (and not Apple or Google) is
            responsible for addressing any of your or any third-party claims related to the App(s) or your possession
            and use of the App(s);
          </li>
          <li>You acknowledge that in the event of any third-party claim that the App(s) or your possession and use of
            the App(s) infringe(s) such third-party’s intellectual property rights, CTemplar and not Apple or Google
            will be solely responsible for the investigation, defense, settlement, and discharge of any such
            intellectual property infringement claim;
          </li>
          <li>You represent and warrant that (i) you are not located in a country that is subject to a U.S. Government
            embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (ii)
            you are not listed on any U.S. Government list of prohibited or restricted parties;
          </li>
          <li>Section 19 (DISPUTE RESOULTION) contains CTemplar’s email and mailing address where you may address
            questions, complaints or claims and the terms related to the App(s);
          </li>
          <li>Section 19 (DISPUTE RESOLUTION) shall govern any dispute that may arise between you and CTemplar related
            to the App(s);
          </li>
          <li>You acknowledge that Apple and Google and their subsidiaries (collectively, “Apple” and “Google”) are
            third-party beneficiaries of the Agreement and upon your download of and use of the App(s) indicating your
            assent and agreement to the Mobile Terms, Apple will have the right (and will be deemed to have accepted the
            right) to enforce the Mobile Terms against you as a third party beneficiary thereof.
          </li>
        </ol>
        <h3><strong>11. LIMITATION OF LIABILITIES</strong></h3>
        <p>IN NO EVENT SHALL CTEMPLAR, ITS PARENTS, SUBSIDIARIES, OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, AGENTS,
          JOINT VENTURERS, CONSULTANTS, SUCCESSORS OR ASSIGNS BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL,
          CONSEQUENTIAL, PUNITIVE OR EXEMPLARY DAMAGES (INCLUDING BUT NOT LIMITED TO LOSS OF BUSINESS, PROFITS, DATA,
          USE, REVENUE OR OTHER ECONOMIC ADVANTAGE), ARISING OUT OF OR IN CONNECTION WITH OUR SITE, OUR SERVICES OR THE
          TERMS BASED ON ANY THEORY, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE LIMITATION OF DAMAGES SET
          FORTH ABOVE IS A FUNDAMENTAL ELEMENT OF THE BASIS OF THE BARGAIN BETWEEN US AND YOU. THIS SITE WOULD NOT BE
          PROVIDED WITHOUT SUCH LIMITATIONS. IN NO EVENT WILL OUR LIABILITY, AND THE LIABILITY OF OUR PARENTS,
          SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AND SUPPLIERS, TO YOU OR ANY THIRD PARTIES IN ANY CIRCUMSTANCE
          EXCEED THE GREATER OF (A) THE AMOUNT PAID TO CTEMPLAR FOR THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE TO
          LIABILITY, OR (B) US$100. SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF
          INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.
        </p>
        <h3><strong>12. INDEMNIFICATION</strong></h3>
        <p>You agree to indemnify and hold CTemplar, its parents, subsidiaries, officers, directors, shareholders,
          employees, agents, joint ventures, consultants, successors and assigns harmless from and against all losses,
          costs, liabilities and expenses including reasonable attorneys fees, asserted by any third-party that are in
          any way due to or arising out of your use of or conduct on the Site.
        </p>
        <h3><strong>13. DISPUTE RESOLUTION</strong></h3>
        <p>If you have a dispute with CTemplar or if CTemplar has a dispute with you and such dispute cannot be resolved
          informally, such dispute will be resolved on an individual basis in accordance with the provisions set forth
          below:
        </p>
        <ol type="a">
          <li>
            Informal Resolution. Prior to initiating mediation or arbitration, the party with a grievance must:
            <ol type="i">
              <li>
                Notify the other party, in writing, of the facts of the dispute and all damages claimed. Such a writing
                must be sent to the User’s email address on file with CTemplar, or support@ctemplar.com, whichever is
                applicable (“Dispute Notification”);
              </li>
              <li>The party receiving the Dispute Notification has thirty (30) days from receipt of the Dispute
                Notification to respond.
              </li>
              <li>The other party then has 15 days to consider the response and reply.</li>
            </ol>
          </li>
          <li>Mediation. If the dispute is not resolved informally, either party may make a demand for mediation, with
            the other party’s consent. If either party requests mediation and both parties consent to mediation, the
            costs of mediation will be borne equally by the parties.
          </li>
          <li>ARBITRATION. IF MEDIATION DOES NOT OCCUR OR IF MEDIATION DOES NOT RESOLVE THE DISPUTE, THEN BOTH PARTIES
            AGREE TO ARBITRATE ANY DISPUTES THEY HAVE WITH THE OTHER SO LONG AS SUCH DISPUTES ARE ARISING OUT OF OR
            RELATED TO THIS AGREEMENT. SPECIFICALLY, YOU AGREE THAT BY AGREEING TO THESE TERMS, YOU ARE EACH WAIVING THE
            RIGHT TO A TRIAL BY JURY INVOLVING ALL DISPUTES, CLAIMS AND CONTROVERSIES, OF ANY SORT OR NATURE, BETWEEN
            US, ARISING OUT OF THE USE OF THE SITE AND WAIVING THE RIGHT TO PARTICIPATE IN A CLASS, COLLECTIVE, OR
            REPRESENTATIVE ACTION REGARDING ANY DISPUTE. YOU UNDERSTAND THAT THIS CONSTITUTES A WAIVER OF ANY AND ALL
            RIGHTS TO PURSUE ANY CLAIM IN ANY COURT. YOU AGREE THAT ANY DISPUTE SHALL BE RESOLVED ON AN INDIVIDUAL BASIS
            ONLY. YOU MUST FILE ANY DEMAND FOR ARBITRATION. SUCH ARBITRATION IS FINAL AND BINDING AND WILL BE GOVERNED
            BY THE COMMERCIAL ARBITRATION RULES AND THE SUPPLEMENTARY PROCEDURES FOR CONSUMER RELATED DISPUTES. THE
            DECISION OF THE ARBITRATOR(S) SHALL BE BINDING AND ENFORCEABLE IN ANY COURT OF COMPETENT JURISDICTION.
          </li>
          <li>CLASS ACTION WAIVER. YOU AND CTEMPLAR EXPRESSLY AGREE THAT: (i) EACH PARTY MUST BRING CLAIMS AGAINST THE
            OTHER ONLY IN AN INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS, MASS,
            COLLECTIVE, OR REPRESENTATIVE PROCEEDING; (ii) THERE SHALL BE NO CLASS CLAIMS, CONSOLIDATION, OR JOINDER
            ALLOWED IN ANY ARBITRATION BETWEEN THE PARTIES; AND (iii) NO CLAIMS MAY BE MADE THROUGH AN ACTION PURPORTING
            TO REPRESENT A CLASS OF USERS OR OTHERWISE ASSERTING CLAIMS ON BEHALF OF A CLASS (“CLASS ACTION WAIVER.
          </li>
        </ol>
      </div>
    </div>
  </div><!-- /.Site container ends -->
</section><!-- /.PAGE SECTION ENDS -->
