/**
* Fancy form fields styles
*/

.fancy-field-group {
}

.fancy-field-control {
    display: none !important;
}

// == Radioboxes
input[type="radio"].fancy-field-control + label {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding-left: 1.625rem;
    color: $brand-light-gray;
    vertical-align: middle;
    cursor: pointer;
    transition: all ceaser($easeInOutQuint) 0.35s;

    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 0;
        content: "";
        transform: translateY(-50%);
        transition: all ceaser($easeInOutQuint) 0.35s;
    }

    &::before {
        background: $brand-white;
        border: 1px solid lighten($brand-light-gray, 50%);
        border-radius: 50%;
        height: 1.25rem;
        width: 1.25rem;
    }

    &::after {
        left: 0.25rem;
        background: transparent;
        border-radius: 50%;
        height: 0.75rem;
        width: 0.75rem;
    }
}

// == Checked
input[type="radio"].fancy-field-control:checked + label {
    color: $brand-secondary;

    &::before {
        border-color: $brand-secondary;
    }
    
    &::after {
        background: $brand-secondary;
    }
}

input[type="radio"].fancy-field-control-sm  + label {
    padding-left: 1.5rem;

    &::before {
        height: 1rem;
        width: 1rem;
    }

    &::after {
        width: 0.5rem;
        height: 0.5rem;
    }
}

// == Checkboxes
input[type="checkbox"].fancy-field-control  + label {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding-left: 1.625rem;
    color: $brand-light-gray;
    vertical-align: middle;
    cursor: pointer;
    transition: all ceaser($easeInOutQuint) 0.35s;

    &.fancy-field-empty {
        padding: 0 0;
        height: 1rem;
        width: 1rem;
    }

    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 0;
        content: "";
        transform: translateY(-50%);
        transition: all ceaser($easeInOutQuint) 0.35s;
    }

    &::before {
        background: $brand-white;
        border: 1px solid lighten($brand-light-gray, 50%);
        border-radius: 2px;
        height: 1rem;
        width: 1rem;
    }

    &::after {
        top: 0.23rem;
        left: 0.37rem;
        height: 9px;
        width: 5px;
        border-color: transparent;
        border-style: solid;
        border-width: 0 2px 2px 0;
        transform: rotate(37deg); //~45deg
    }
}

input[type="checkbox"].fancy-field-control.checked-type-minus + label {
    &::after {
        top: 50%;
        left: 0.25rem;
        background: transparent;
        height: 2px;
        width: 0.5rem;
        transform: translateY(-50%) translateX(0) rotate(0deg);
    }
}

input[type="checkbox"].fancy-field-control-lg  + label.fancy-field-empty {
    height: 1.25rem;
    width: 1.25rem;

    &::before {
        height: 1.25rem;
        width: 1.25rem;
    }

    &::after {
        // top: 0.07rem;
        width: 7px;
        height: 10px;
    }
}

input[type="checkbox"].fancy-field-control-sm  + label {
    &::after {
        top: 0.36rem;
        @include media(">sm") {
            top: 0.25rem;
        }
    }
}

// == Checked
input[type="checkbox"].fancy-field-control:checked + label {
    color: $brand-secondary;

    &::before {
        border-color: $brand-secondary;
    }
    
    &::after {
        border-color: $brand-secondary;
    }
}

input[type="checkbox"].fancy-field-control.checked-type-minus:checked + label {
    &::after {
        background: $brand-secondary;
    }
}

// == Switch toggle fancy field
.toggle-switcher {
    display: flex;
    align-items: center;
    line-height: 1;
}

.toggle-switcher-control + label {
    position: relative;
    margin-bottom: 0;
    margin-right: 1rem;
    background: $brand-faded;
    border: 1px solid $input-border-color;
    border-radius: 0.625rem;
    height: 1.25rem;
    width: 3.750rem;
    transition: all ceaser($easeInOutQuint) 0.35s;

    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 2px;
        border-radius: 0.5rem;
        color: rgba(0, 0, 0, 0.12);
        font-size: 0.5rem;
        width: 1.75rem;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
        transform:  translateY(-50%);
        transition: all ceaser($easeInOutQuint) 0.35s;
    }

    &::before {
        content: "ON";
        width: 1.5rem;
        background: transparent;
    }

    &::after {
        right: 2px;
        left: auto;
        content: "OFF";
        background: #e0e0e0;
    }

    + .toggle-switcher-text {
        color: $brand-light-gray;
    }
}

.toggle-switcher-control:checked + label {
    &::before {
        background: #34495e;
        color: $brand-white;
        width: 1.75rem;
    }

    &::after {
        background: transparent;
        width: 1.5rem;
    }

    + .toggle-switcher-text {
        color: $brand-secondary;
    }
}