@import '../../../styles/variables';

.items {
  padding: 3rem 0;
}

.last.container {
  padding-bottom: calc(6rem + 112.5px) !important;
}

.items {
  .number {
    font-size: 64px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.87);
    line-height: normal;
  }
  .header-content {
    font-size: 32px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87);
    line-height: normal;
    margin: 8px 0 18px;
  }
  .description p{
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.54);
  }
}

.ui.items > .item > .content {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-left: 3rem;
  color: #000000;
  & + .image {
    padding-left: 3rem;
  }
}

.secondary.basic.segment {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 90%);
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
  padding: 50px 15px;
  background: $color-light-grey;
}