<div class="main ui container">
  <div class="page heading ui center aligned basic segment">
    <h1 class="section-title">Security <span>features</span></h1>
  </div>
</div>

<div class="ui container">
  <div class="pt-0 ui items">
    <div class="item">
      <div class="ui large image">
        <img src="/assets/img/pages/security/one.jpg">
      </div>
      <div class="middle aligned content">
        <div class="number">1.</div>
        <div class="header-content">
          Ready to regain your right to privacy?
        </div>
        <div class="description">
          <p>Whether you're sending classified information to your accountant, business, partners, clients, news networks or simply your friends, your emails are automatically encrypted using strong <b>public key cryptography</b> on our Iceland-based servers. Only you and your recipient can decode your emails; we can't even read them.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui secondary basic segment">
  <div class="ui container">
    <div class="ui items">
      <div class="item">
        <div class="middle aligned content">
          <div class="number">2.</div>
          <div class="header-content">
            Benefit from the world's strictest data protection laws
          </div>
          <div class="description">
            <p>Most encrypted email service providers boast about their Swiss data centers. What they don't tell you is the Swiss government has an information sharing agreement with the United States, so your data isn't 100% secure. Iceland has no sharing agreements with the U.S. and maintains the <b>strictest data privacy laws in the world</b>, so your data stays encrypted on our servers and nowhere else.
            </div>
          </div>
          <div class="ui large image">
            <img src="/assets/img/pages/security/two.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui container">
    <div class="ui items">
      <div class="item">
        <a class="ui large image">
          <img src="/assets/img/pages/security/three.jpg">
        </a>
        <div class="middle aligned content">
          <div class="number">3.</div>
          <div class="header-content">
            100% anonymity and ZERO access to your data
          </div>
          <div class="description">
            <p>We don't require any personal information to create your encrypted email account. Simply choose a username and password to set up and access your email interface. For added security, we don't store your IP logs, which can be traced to your anonymous email account. <b>With CTemplar, your privacy is guaranteed.</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui secondary basic segment">
    <div class="ui container">
      <div class="ui items">
        <div class="item">
          <div class="middle aligned content">
            <div class="number">4.</div>
            <div class="header-content">
              Simple-to-use interface just like a regular email account
            </div>
            <div class="description">
              <p>Unlike the old days where encrypted emailing meant complex manual encryption and private server setup, CTemplar does it all for you. Send and receive your emails just like a regular email account and rest assured knowing your privacy is 100% maintained.</p>
            </div>
          </div>
          <a class="ui large image">
            <img src="/assets/img/pages/security/four.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="last ui text container">
    <div class="ui items">
      <div class="item">
        <div class="center aligned content">
          <div class="number">5.</div>
          <div class="header-content">
            Encrypted email to non-CTemplar emails, self-destructing messages & more
          </div>
          <div class="description">
            <p>Your contacts <b>don't require a CTemplar account</b> in order to send and receive encrypted email. However, we recommend everyone use CTemplar email accounts for maximum security since your stored emails and subject lines will be protected, unlike regular accounts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
