<section class="l-block secure-email-block is-clipped top top-left gap-p-sm bg-faded text-dark text-center" *ngIf="showCallToAction$ | async">
  <div class="container">
    <header class="l-block-header">
      <figure class="secure-logo-holder">
        <img class="img logo-lg" src="/assets/images/logo.svg">
      </figure>
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-7">
          <div class="text-card">
            <h2 class="l-block-title mb-3 pb-1">Register <strong>World’s Most Secure Email</strong> Now!</h2>
            <h4 class="l-block-subtitile fw-light mb-3 pb-2">Send unbreakable emails and protect your key professional and personal details trough next-gen encryption.</h4>
            <a class="btn btn-lg btn-gradient-primary" routerLink="/sign-up">Upgrade to prime</a>
          </div>
        </div>
      </div>
    </header>
  </div>
</section>

<footer class="site-footer bg-inverse">
  <div class="container">
    <div class="row footer-widgets">
      <div class="col-6 footer-col footer-col-5">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Company</h4>
          <div class="footer-widget-body">
            <ul class="lists lists-arrow">
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/donate">Donate</a></li>
              <li><a routerLink="/security">Security</a></li>
              <li><a href="https://ctemplar.zendesk.com">Support</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 footer-col footer-col-5">
        <div class="footer-widget">
          <h4 class="footer-widget-title">CTemplar</h4>
          <div class="footer-widget-body">
            <ul class="lists lists-arrow">
              <li><a routerLink="/blog">Blog</a></li>
              <li><a routerLink="/media-kit">Media Kit</a></li>
              <li><a routerLink="/pricing">Pricing</a></li>
              <li><a routerLink="/tor-onion">Tor Onion</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 footer-col footer-col-5">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Legalities</h4>
          <div class="footer-widget-body">
            <ul class="lists lists-arrow">
              <li><a routerLink="/privacy">Privacy Policy</a></li>
              <li><a routerLink="/terms">Terms &amp; Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 footer-col footer-col-5">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Media Profiles</h4>
          <div class="footer-widget-body">
            <ul class="lists lists-arrow">
              <li><a href="https://facebook.com/CTemplarMail">Facebook</a></li>
              <li><a href="https://plus.google.com/101005948959617266833">Google+</a></li>
              <li><a href="https://linkedin.com/company/CTemplarMail/">LinkedIn</a></li>
              <li><a href="https://reddit.com/r/CTemplar/">Reddit</a></li>
              <li><a href="https://twitter.com/CTemplarMail">Twitter</a></li>
              <li><a href="https://youtube.com/channel/UCF7sipFDBGUBuCYCbKcb0MQ">YouTube</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 footer-col footer-col-5">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Office Contact</h4>
          <div class="footer-widget-body">
            <address>
              <i class="fas fa-phone-square"></i> &#049;&#045;&#056;&#048;&#048;&#045;&#051;&#049;&#057;&#045;&#053;&#056;&#050;&#048;
              <br>Orange Project ehf
              <br>Armula 4 &amp; 6
              <br>Reykjavík, 108
              <br>Iceland
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-row text-center">
      <ul class="lists lists-inline lists-dashed footer-lang-list justify-content-center">
        <li class="lists-item active"><a href="javascript:void();" class="lists-link">English</a></li>
        <li class="lists-item"><a href="javascript:void();" class="lists-link">Russian</a></li>
        <li class="lists-item"><a href="javascript:void();" class="lists-link">Spanish</a></li>
      </ul>
      <p class="app-credit small">&copy;2018 CTemplar. All Rights Reserved.</p>
    </div>
  </div>
</footer>
