.advanced-search-container {
  padding: 30px 20px;

  .advanced-search-row {
    margin-top: 10px;
    margin-bottom: 10px;

    .size-container {
      position: relative;
      .size-dropdown-container {
        position: static;
        .size-dropdown-toggle {
          position: absolute;
          width: 30px;
          right: 0;
          top: 0;
          height: 30px;
          border-radius: 0;
        }
      }
    }

    .btn.btn-outline {
      height: 32px;
      font-size: 12px;
      color: var(--body-color);
    }
  }
}

.ng-datepicker {
  .custom-select {
    background-size: 0.75rem !important;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-family: 'Lato', Helvetica, Arial, sans-serif !important;
    width: calc(50% - 0.375rem) !important;
    color: var(--text-dark);

    &:not(:last-of-type) {
      margin-right: 0.375rem;
    }

    //&:focus {
    //  border-color: $brand-secondary;
    //  outline: 0;
    //}
  }
}
