<div class="advanced-search-container">
  <div class="row advanced-search-row">
    <div class="col-3">Keyword</div>
    <div class="col-9">
      <input class="form-control form-control-sm" type="text" name="query" [(ngModel)]="query" />
    </div>
  </div>
  <div class="row advanced-search-row">
    <div class="col-3">Folder</div>
    <div class="col-9">
      <div ngbDropdown>
        <button class="btn btn-outline" id="dropdownFolders" ngbDropdownToggle>{{ getValueFromFolderName }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownSizeUnit">
          <button
            *ngFor="let item of MailFolderTypeName | keyvalue"
            ngbDropdownItem
            (click)="onChangeFolder($event, item.key)"
          >
            {{ item.value }}
          </button>
          <div class="dropdown-divider"></div>
          <button *ngFor="let folder of customFolders" ngbDropdownItem (click)="onChangeFolder($event, folder.name)">
            {{ folder.name }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row advanced-search-row">
    <div class="col-3">From</div>
    <div class="col-9">
      <tag-input
        #fromInput
        [(ngModel)]="fromSearch"
        name="fromSearch"
        [placeholder]="''"
        [secondaryPlaceholder]="''"
        [onTextChangeDebounce]="20"
        [onlyFromAutocomplete]="false"
        [addOnBlur]="true"
        [editable]="true"
        [separatorKeys]="[',']"
        [separatorKeyCodes]="[13]"
        [ngModelOptions]="{ standalone: true }"
      >
        <ng-template let-item="item" let-index="index">
          <span class="tag-content">
            {{ item.value }}
          </span>
          <delete-icon class="delete-icon" (click)="fromInput.removeItem(item, index)"></delete-icon>
        </ng-template>
        <tag-input-dropdown
          [appendToBody]="false"
          [displayBy]="'display'"
          [identifyBy]="'email'"
          [autocompleteItems]="contacts"
        >
          <ng-template let-item="item">
            <div>{{ item.email }}</div>
          </ng-template>
        </tag-input-dropdown>
      </tag-input>
    </div>
  </div>
  <div class="row advanced-search-row">
    <div class="col-3">To</div>
    <div class="col-9">
      <tag-input
        #toInput
        [(ngModel)]="toSearch"
        name="toSearch"
        [placeholder]="''"
        [secondaryPlaceholder]="''"
        [onTextChangeDebounce]="20"
        [onlyFromAutocomplete]="false"
        [addOnBlur]="true"
        [editable]="true"
        [separatorKeys]="[',']"
        [separatorKeyCodes]="[13]"
        [ngModelOptions]="{ standalone: true }"
      >
        <ng-template let-item="item" let-index="index">
          <span class="tag-content">
            {{ item.value }}
          </span>
          <delete-icon class="delete-icon" (click)="toInput.removeItem(item, index)"></delete-icon>
        </ng-template>
        <tag-input-dropdown
          [appendToBody]="false"
          [displayBy]="'display'"
          [identifyBy]="'email'"
          [autocompleteItems]="contacts"
        >
          <ng-template let-item="item">
            <div>{{ item.email }}</div>
          </ng-template>
        </tag-input-dropdown>
      </tag-input>
    </div>
  </div>
  <div class="row advanced-search-row">
    <div class="col-3">Size</div>
    <div class="col-9">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div ngbDropdown class="mt-1">
            <button
              class="btn btn-outline"
              id="dropdownSize"
              ngbDropdownToggle
              (click)="$event.preventDefault(); $event.stopPropagation()"
            >
              {{
                sizeOperator === 'GTE' ? SEARCH_SIZE.GTE : sizeOperator === 'LTE' ? SEARCH_SIZE.LTE : SEARCH_SIZE.EQUALS
              }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownSize">
              <button ngbDropdownItem (click)="onChangeSize($event, 'GTE')">Greater than</button>
              <button ngbDropdownItem (click)="onChangeSize($event, 'LTE')">Less than</button>
              <button ngbDropdownItem (click)="onChangeSize($event, 'EQUALS')">Equal</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <input [(ngModel)]="size" class="form-control form-control-sm mt-1" type="text" />
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div ngbDropdown class="mt-1">
            <button
              class="btn btn-outline border-radius-dropdown-btn"
              id="dropdownSizeUnit"
              ngbDropdownToggle
              (click)="$event.preventDefault(); $event.stopPropagation()"
            >
              {{
                sizeUnit === 'MB'
                  ? SEARCH_SIZE_UNIT.MB
                  : sizeUnit === 'KB'
                  ? SEARCH_SIZE_UNIT.KB
                  : SEARCH_SIZE_UNIT.BYTES
              }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownSizeUnit">
              <button ngbDropdownItem (click)="onChangeSizeUnit($event, 'MB')">MB</button>
              <button ngbDropdownItem (click)="onChangeSizeUnit($event, 'KB')">KB</button>
              <button ngbDropdownItem (click)="onChangeSizeUnit($event, 'BYTES')">Bytes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row advanced-search-row">
    <div class="col-3">Start Date</div>
    <div class="col-9">
      <div class="position-relative">
        <div class="input-group">
          <input
            [value]="
              this.startDate ? dateTimeUtilService.createDateStrFromNgbDateStruct(this.startDate, 'YYYY-MM-DD') : ''
            "
            class="form-control form-control-sm mt-1 border-radius-right-0"
            type="text"
            placeholder="YYYY-MM-DD"
            aria-describedby="startDateToggle"
            [readonly]="true"
            (click)="isShowStartDate = !isShowStartDate"
          />
          <span
            class="input-group-addon date-toggle bg-white mt-1 cursor-pointer"
            (click)="isShowStartDate = !isShowStartDate"
            id="startDateToggle"
          >
            <i [class]="isShowStartDate ? 'fas fa-angle-up' : 'fas fa-angle-down'"></i>
          </span>
        </div>
      </div>
      <div class="input-group mt-2">
        <ngb-datepicker
          #startDateDatePicker
          [(ngModel)]="startDate"
          [skipFirst]="true"
          (clickOutside)="isShowStartDate = false"
          *ngIf="isShowStartDate"
          [maxDate]="endDate ? endDate : calendar.getToday()"
          class="bg-white ng-datepicker ng-datepicker-265 advanced-search-date-picker position-absolute"
        >
        </ngb-datepicker>
      </div>
    </div>
  </div>
  <div class="row advanced-search-row">
    <div class="col-3">End Date</div>
    <div class="col-9">
      <div>
        <div class="input-group">
          <input
            [value]="this.endDate ? dateTimeUtilService.createDateStrFromNgbDateStruct(this.endDate, 'YYYY-MM-DD') : ''"
            class="form-control form-control-sm mt-1 border-radius-right-0"
            type="text"
            placeholder="YYYY-MM-DD"
            aria-describedby="endDateToggle"
            [readonly]="true"
            (click)="isShowEndDate = !isShowEndDate"
          />
          <span
            class="input-group-addon date-toggle bg-white mt-1 cursor-pointer"
            (click)="isShowEndDate = !isShowEndDate"
            id="endDateToggle"
          >
            <i [class]="isShowEndDate ? 'fas fa-angle-up' : 'fas fa-angle-down'"></i>
          </span>
        </div>
      </div>
      <div class="input-group mt-2">
        <ngb-datepicker
          #endDateDatePicker
          [(ngModel)]="endDate"
          *ngIf="isShowEndDate"
          [skipFirst]="true"
          (clickOutside)="isShowEndDate = false"
          [maxDate]="calendar.getToday()"
          [minDate]="startDate ? startDate : null"
          class="bg-white ng-datepicker ng-datepicker-265 advanced-search-date-picker position-absolute"
        >
        </ngb-datepicker>
      </div>
    </div>
  </div>
  <div class="row advanced-search-row mt-3">
    <div class="col-6">
      <mat-checkbox
        class="align-middle mr-2"
        type="checkbox"
        id="sameExactly"
        name="sameExactly"
        [(ngModel)]="sameExactly"
        [ngModelOptions]="{ standalone: true }"
      >
        Same exactly
      </mat-checkbox>
    </div>
    <div class="col-6">
      <mat-checkbox
        class="align-middle mr-2"
        type="checkbox"
        id="hasAttachment"
        name="hasAttachment"
        [(ngModel)]="hasAttachment"
        [ngModelOptions]="{ standalone: true }"
      >
        Has attachment
      </mat-checkbox>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-4">
    <button class="btn btn-outline text-small search-btn" (click)="onClear()">Clear Filter</button>
    <button
      class="btn btn-secondary text-small search-btn"
      (click)="$event.preventDefault(); $event.stopPropagation(); search()"
    >
      Search
    </button>
  </div>
</div>
