<!-- PAGE SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq">
  <div class="container">
    <header class="l-block-header position-relative text-center">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 position-sm-static px-sm-5 px-md-0">
          <h1 class="l-block-title text-uppercase text-secondary">
            <strong [translate]="'page_pricing.select_account_type'">Select account type</strong>
          </h1>
          <h4 class="l-block-subtitle mb-0 text-dark fw-light pb-3" [innerHTML]="'page_pricing.do_not_show_ads' | translate">
            <p>CTemplar is the world's most secure & private email service based on an analysis of technical specifications. <br />**CTemplar can not be used for sending spam or bulk emails</p>
          </h4>
          <p class="mt-3">
            14 Day Money back Guarantee (Cryptocurrency excluded)<br />
            <a href="{{ primaryWebsite }}our-pricing-explained/" target="_blank" rel="noopener noreferrer">Pricing explained</a>
          </p>
        </div>
      </div>
    </header>
    <app-pricing-plans hideHeader="true" blockGapsZero="true"></app-pricing-plans>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.PAGE SECTION ENDS -->
