<!-- PAGE SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq">
  <div class="container container-sm">
    <header class="l-block-header position-relative text-center">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 position-sm-static px-sm-5 px-md-0">
          <h1 class="l-block-title text-uppercase text-secondary">
            <strong>Select account type</strong>
          </h1>
          <div class="btn-dropdown btn-dropdown-sm btn-dropdown-select mt-4 mt-sm-0">
            <div ngbDropdown class="currency-select-dropdown">
              <button class="dropdown-toggle" type="button" id="currencyDropdownMenuButton" ngbDropdownToggle>
                <strong>USD</strong>
              </button>
              <div ngbDropdownMenu class="ext-center" aria-labelledby="currencyDropdownMenuButton">
                <a class="dropdown-item" href="">Ru</a>
                <a class="dropdown-item" href="">Es</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <app-pages-pricing hideHeader="true" blockGapsZero="true"></app-pages-pricing>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.PAGE SECTION ENDS -->