<!-- PAGE SECTION -->
<section class="l-block l-block-text bg-white gap-p-eq">
    <div class="container">
        <header class="l-block-header position-relative text-center">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 position-sm-static px-sm-5 px-md-0">
                    <h1 class="l-block-title text-uppercase text-secondary">
                        <strong translate="page_pricing.select_account_type">Select account type</strong>
                    </h1>
                    <h4 class="l-block-subtitle mb-0 text-dark fw-light pb-3" translate="page_pricing.do_not_show_ads">
                        This site is not supported by ad revenue or the sharing of subscriber data. Instead, CTemplar relies upon subscription revenue
                        to maintain and improve the quality of our service. Revenue from paid accounts is used to further develop CTemplar,
                        as well as support free users. *Ctemplar cannot be used for spam or for sending bulk emails
                    </h4>
                </div>
            </div>
        </header>
        <app-pricing-plans hideHeader="true" blockGapsZero="true"></app-pricing-plans>
    </div>
    <!-- /.Site container ends -->
</section>
<!-- /.PAGE SECTION ENDS -->

