a.disabled {
  pointer-events: none;
  cursor: default;
  color: #9E9E9E;
}

.search-tilte {
  padding: 10px 0 0 24px;
  font-size: 22px;
}

.email-child-count {
  padding-left: 3px;
  color: #757575;
}

.display-emails {
  label {
    max-width: 78%;
    margin-bottom: -2px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
