a.disabled {
  pointer-events: none;
  cursor: default;
  color: #9E9E9E;
}

.search-tilte {
  padding: 10px 0 0 24px;
  font-size: 22px;
}

.email-child-count {
  padding-left: 3px;
  color: #757575;
}

.display-emails {
  label {
    max-width: 78%;
    margin-bottom: -2px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.delete-permanently-btn {
  width: auto;
}

.select-all-checkbox {
  left: 8px;
  position: absolute;
  top: 8px;

  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: rgba(0, 0, 0, 0.38);
  }
}

.encrypted-subject-placeholder {
  font-size: 18px;
}

.encrypted-subject {
  max-width: 120px;
  letter-spacing: 3px;
  font-weight: bold;
}

.mail-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 1px;
  margin-bottom: -5px;
  margin-top: -6px;
}

.mail-file-size {
  position: relative;
  width: 5.5rem;

  .folder-batch {
    background: #4d5f71;
    color: white;
    border-radius: 2px;
    height: 20px;
    line-height: 18px;
    min-width: 50px;
    max-width: 70px;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    right: 30px;
    top: 15px;
    padding: 1px 5px 0;
  }

  i {
    float: right;
  }
}

.fire-wall-protection {
  i {
    font-size: 16px;
  }
}
