<div *ngIf="mailFolder === mailFolderTypes.SEARCH" class="search-tilte">
  <b>Search Results</b>
</div>
<div class="mailbox-actionbar">
  <div class="row">
    <div class="col-12 col-sm-9 mailbox-actionbar-col">
      <ul class="mailbox-actionbar-menu">
        <li class="btn-dropdown mailbox-dropdown checkbox-dropdown">
          <div ngbDropdown>
            <button ngbDropdownToggle class="dropdown-toggle" role="button" id="actionsDropdownMenuButton"
                     placement="top" [ngbTooltip]="'mail_list.select_messages' | translate">
            </button>

            <span class="fancy-field-group select-all-checkbox">
                                <mat-checkbox type="checkbox" id="mailboxBulkActions"
                                              (change)="markAllMails($event.checked)"
                                              [(ngModel)]="selectAll"
                                              [indeterminate]="isSomeEmailsSelected()">
                                </mat-checkbox>
                                <label  for="mailboxBulkActions" class="fancy-field-empty"></label>
            </span>

            <div ngbDropdownMenu aria-labelledby="actionsDropdownMenuButton">
              <a class="dropdown-item" translate="mail_list.all" (click)="markAllMails(true)">All</a>
              <a class="dropdown-item" translate="mail_list.read" (click)="markReadMails()">Read</a>
              <a class="dropdown-item" translate="mail_list.unread" (click)="markUnreadMails()">Unread</a>
              <a class="dropdown-item" translate="mail_list.starred" (click)="markStarredMails()">Starred</a>
              <a class="dropdown-item" translate="mail_list.unstarred" (click)="markUnstarredMails()">Unstarred</a>
            </div>
          </div>
        </li>
        <li class="px-0">
          <a (click)="refresh()" [ngbTooltip]="'mail_list.refresh'| translate" placement="top" class="border-right-0 border-radius-0">
            <i class="material-icons">refresh</i>
          </a>
        </li>
        <li class="px-0" *ngIf="mailFolder !== mailFolderTypes.ARCHIVE">
          <a class="border-right-0 border-radius-right-0" placement="top"
             (click)="moveToFolder(mailFolderTypes.ARCHIVE)"
             [ngbTooltip]="'mail_list.move_to_archive' | translate"
             [ngClass]="{'disabled': noEmailSelected}">
            <i class="icon icon-archive"></i>
          </a>
        </li>
        <li class="pr-0 pl-0 hidden-xs-down" *ngIf="mailFolder !== mailFolderTypes.SPAM">
          <a class="border-radius-0"
             (click)="moveToFolder(mailFolderTypes.SPAM)"
             placement="top" [ngbTooltip]="'mail_list.move_to_spam' |translate"
             [ngClass]="{'border-right-0': mailFolder !== mailFolderTypes.TRASH, 'disabled': noEmailSelected}">
          <i class="icon icon-warning"></i>
          </a>
        </li>
        <li class="px-0">
          <a (click)="moveToTrash()" class="border-radius-left-0" placement="top"
             [ngbTooltip]="(mailFolder !== mailFolderTypes.TRASH) ? ('mail_list.move_to_trash' | translate) : ('mail_list.permanently_delete' | translate)"
             [ngClass]="{'disabled': noEmailSelected}">
          <i class="icon icon-garbage"></i>
          </a>
        </li>
        <li class="btn-dropdown more-xs-options pl-0 hidden-sm-up">
          <div ngbDropdown autoClose="outside">
            <button ngbDropdownToggle class="border-left-0 border-radius-left-0" id="dropdownMoreOptions" role="button">
              <i class="icon icon-more"></i>
            </button>
            <div ngbDropdownMenu class="mobiledOptionsDropdown" aria-labelledby="dropdownMoreOptions">
              <ul class="more-xs-options-list">
                <li>
                  <a class="disabled">
                    <i class="icon icon-warning"></i>
                  </a>
                </li>
                <li class="btn-dropdown mailbox-dropdown folders-dropdown">
                  <div ngbDropdown>
                    <button ngbDropdownToggle class="disabledx" id="extraOptionsDropdownMenuButton" role="button">
                      <i class="icon icon-folder"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="extraOptionsDropdownMenuButton">
                      <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.INBOX)" *ngIf="mailFolder !== mailFolderTypes.INBOX">
                        <i class="icon icon-inbox"></i><span translate="mail_sidebar.inbox">Inbox</span>
                      </a>
                      <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.DRAFT)" *ngIf="mailFolder !== mailFolderTypes.DRAFT">
                        <i class="icon icon-inbox"></i><span translate="mail_sidebar.draft">Draft</span>
                      </a>
                      <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.OUTBOX)" *ngIf="mailFolder !== mailFolderTypes.OUTBOX">
                        <i class="icon icon-archive"></i><span translate="mail_sidebar.outbox">Outbox</span>
                      </a>
                      <ng-container *ngFor="let folder of customFolders; let i=index;">
                        <a class="dropdown-item"
                          *ngIf="mailFolder !== folder.name"
                          (click)="moveToFolder(folder.name)">
                          <i class="folder-color-box icon" [style.background]="folder.color"></i>
                          <span class="folders-list-text">{{folder.name}}</span>
                        </a>
                      </ng-container>
                      <span class="divider-item d-block"></span>
                      <a class="dropdown-item" (click)="openCreateFolderDialog()">
                        <i class="icon icon-folder"></i><span translate="mail_list.create_folder">Create folder</span>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="btn-dropdown mailbox-dropdown folders-dropdown hidden-xs-down"
            *ngIf="!noEmailSelected">
          <div ngbDropdown>
            <button ngbDropdownToggle class="disabledx" id="folderDropdownMenuButton" role="button" placement="top"
                    [ngbTooltip]="'mail_list.move_to' | translate">
            <i class="icon icon-folder"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="folderDropdownMenuButton" class="folder-dropdown">
              <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.INBOX)" *ngIf="mailFolder !== mailFolderTypes.INBOX">
                <i class="icon icon-inbox"></i><span translate="mail_sidebar.inbox">Inbox</span>
              </a>
              <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.DRAFT)" *ngIf="mailFolder !== mailFolderTypes.DRAFT">
                <i class="icon icon-inbox"></i><span translate="mail_sidebar.draft">Draft</span>
              </a>
              <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.OUTBOX)" *ngIf="mailFolder !== mailFolderTypes.OUTBOX">
                <i class="icon icon-draft"></i><span translate="mail_sidebar.outbox">Outbox</span>
              </a>
              <ng-container *ngFor="let folder of customFolders; let i=index;">
                <a class="dropdown-item"
                  *ngIf="mailFolder !== folder.name"
                  (click)="moveToFolder(folder.name)">
                  <i class="folder-color-box icon" [style.background]="folder.color"></i>
                  <span class="folders-list-text">{{folder.name}}</span>
                </a>
              </ng-container>

              <span class="divider-item d-block"></span>
              <a class="dropdown-item" (click)="openCreateFolderDialog()">
                <i class="icon icon-folder"></i><span translate="mail_list.create_folder">Create folder</span>
              </a>
            </div>
          </div>
        </li>
        <li class="btn-dropdown mailbox-dropdown mailbox-dropdown-lg more-options-dropdown pl-0"
            *ngIf="!noEmailSelected">
          <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle class="disabledx" role="button" id="moreOptionsDropdownMenuButton"
                    translate="mail_list.more">
              More
            </button>
            <div id="moreOptionsDropdownMenu" ngbDropdownMenu aria-labelledby="moreOptionsDropdownMenuButton">
              <a class="dropdown-item" (click)="markAsStarred()" translate="mail_list.add_star">Add star</a>
              <a class="dropdown-item" (click)="markAsRead()" translate="mail_list.mark_as_read">Mark as read</a>
              <a class="dropdown-item" (click)="markAsRead(false)" translate="mail_list.mark_as_unread">Mark as
                unread</a>
            </div>
          </div>
        </li>
        <li *ngIf="mailFolder === mailFolderTypes.TRASH && mails?.length > 0">
          <a (click)="confirmEmptyTrash()" class="btn btn-sm" placement="top"
             [ngbTooltip]="'mail_list.delete_messages'| translate">
            <i class="icon icon-garbage position-left"></i> <span translate="mail_list.delete_all"> Delete All</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-sm-3 mailbox-actionbar-col hidden-xs-down">
      <div class="mail-controls d-flex align-items-center justify-content-end" *ngIf="mails?.length>0">
        <div class="mail-result-text text-muted">
          <small>{{ OFFSET+1 }} - {{(LIMIT > MAX_EMAIL_PAGE_LIMIT - OFFSET) ? MAX_EMAIL_PAGE_LIMIT : (OFFSET+LIMIT) }} <span translate="settings.of">of</span> {{ MAX_EMAIL_PAGE_LIMIT }}</small>
        </div>
        <div class="mail-nav-control">
          <button role="button" class="mail-nav-control-prev" (click)="prevPage()">
            <i class="icon icon-chevron-left"></i>
          </button>
          <button role="button" class="mail-nav-control-next" (click)="nextPage()">
            <i class="icon icon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-progress-bar [active]="showProgress"></app-progress-bar>
<div class="mail-listing mailbox-sub-content">
  <div class="table-responsive table-hover table-fixed">
    <table class="table table-inbox">
      <tbody>
      <tr class="bg-white text-center" *ngIf="mails?.length===0 && !showProgress">
        <p class="py-2 mb-0" translate="mail_list.no_conversations">There are no conversations with this label.</p>
        <hr class="mt-0">
      </tr>
      <!--Desktop view html -->
      <tr class="mail-list-row hide-on-mobile" *ngFor="let mail of mails; let i=index"
          [ngClass]="{'is-unread': (!mail.read && mailFolder !== mailFolderTypes.DRAFT && mailFolder !== mailFolderTypes.SENT && mailFolder !== mailFolderTypes.OUTBOX),
          'is-read': (mail.read && mailFolder !== mailFolderTypes.DRAFT && mailFolder !== mailFolderTypes.SENT && mailFolder !== mailFolderTypes.OUTBOX),
          'is-selected':mail.marked}">


        <!-- Check box -->
        <td class="mail-checkbox">
          <div class="fancy-field-group">
            <mat-checkbox [checked]="mail.marked" (change)="toggleEmailSelection(mail, $event.checked)"></mat-checkbox>
          </div>
        </td>

        <!-- Starred Message -->
        <td class="mail-status">
          <a class="mail-status-type" [ngbTooltip]="mail.starred ? ('mail_list.remove_start'| translate) : ('mail_list.start_message'| translate)"  (click)="toggleStarred(mail)" [ngClass]="{'is-fav': mail.starred}">
            <i class="icon icon-star-filled" [ngClass]="{'icon-star': !mail.starred}"></i>
          </a>
        </td>

        <!-- Sender Name -->
        <td class="mail-from-name">
          <a (click)="openMail(mail)" class="text-danger display-emails"
             [ngClass]="{'text-dark': mailFolder !== mailFolderTypes.DRAFT}">
            <ng-container [ngSwitch]="mailFolder">
              <ng-container *ngSwitchCase="mailFolderTypes.DRAFT" class="text-danger"><span translate="mail_sidebar.draft">Draft</span></ng-container>
              <ng-container *ngSwitchCase="mailFolderTypes.SENT">
                <label [ngbTooltip]="mail.receiver_list">{{mail.receiver_list}}</label>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <label [ngbTooltip]="mail.sender_display.email">{{mail.sender_display.name}}</label>
              </ng-container>
              <span *ngIf="mail?.thread_count > 1" class="email-child-count">({{mail.thread_count}})</span>
            </ng-container>
          </a>
        </td>

        <!-- Subject -->
        <td class="mail-inbox-message d-md-block">
          <a (click)="openMail(mail)" class="text-dark">
            <span class="mail-subject">

              <ng-container *ngIf="mailFolder === mailFolderTypes.SENT || mailFolder === mailFolderTypes.INBOX">
                <span class="badge badge-warning mr-2 p-1"
                      *ngIf="mail.destruct_date"><span translate="mail_detail.delete_in">Delete in</span> {{mail.destruct_date | remainingTime}}
                </span>
              </ng-container>

              <ng-container *ngIf="mailFolder === mailFolderTypes.OUTBOX">
                <span class="badge badge-success mr-2 p-1"
                      *ngIf="mail.delayed_delivery"><span translate="mail_detail.delay_delivery">Delay delivery in</span> {{mail.delayed_delivery | remainingTime}}
                </span>
                <span class="badge badge-danger mr-2 p-1"
                      *ngIf="mail.dead_man_duration"><span translate="page_pricing.dead_mans_timer">Dead mans timer</span> {{mail.dead_man_duration | remainingTime:true}}
                </span>
              </ng-container>
              <div class="mail-content">
                  {{mail.subject}}
              </div>
            </span>
          </a>
        </td>

        <!-- Attachment Size -->
        <td class="mail-file-size">
          <i class="icon icon-attachment" *ngIf="mail.has_attachments"></i>
        </td>

        <!-- Inbox Date -->
        <td class="mail-sent-date">
          <ng-container *ngIf="mailFolder === mailFolderTypes.SENT; else createdAt">{{mail.sent_at | momentDate:'MMM D'}}
          </ng-container>
          <ng-template #createdAt>{{mail.created_at | momentDate:'MMM D'}}</ng-template>
        </td>

        <!-- Icon Secured -->
        <td class="mail-security-status" [ngClass]="{'text-faded': (!mail.is_protected && mail?.sender!=='support@ctemplar.com')}">
          <img src="assets/images/features-icon/tower.svg" width="14px" [ngbTooltip]="'home_feature.'">
        </td>

        <!-- Icon Secured -->
        <td class="mail-security-status" [ngClass]="{'text-faded': (!mail.is_protected && mail?.sender!=='support@ctemplar.com')}">
          <i class="icon icon-secured" [ngbTooltip]="(!mail.is_protected && mail?.sender!=='support@ctemplar.com') ? '' : ('mail_detail.encrypted'| translate)" placement="left"></i>
        </td>

      </tr>
      <!--Mobile view html -->
      <tr class="hidden-sm-up mail-list-row show-on-mobile" *ngFor="let mail of mails; let i=index"
          [ngClass]="{'is-unread': (!mail.read && mailFolder !== mailFolderTypes.DRAFT && mailFolder !== mailFolderTypes.SENT && mailFolder !== mailFolderTypes.OUTBOX),
          'is-read': (mail.read && mailFolder !== mailFolderTypes.DRAFT && mailFolder !== mailFolderTypes.SENT && mailFolder !== mailFolderTypes.OUTBOX),
          'is-selected':mail.marked}">
          <td class="mail-checkbox">
              <div class="fancy-field-group">
                  <input class="d-none fancy-field-control" id={{mail.id}} type="checkbox" [ngModel]="mail.marked" (ngModelChange)="toggleEmailSelection(mail, $event)"/>
                  <label for={{mail.id}} class="fancy-field-empty"></label>
              </div>
          </td>
          <td class="mail-from-name">
            <!-- Sender Name -->
              <a (click)="openMail(mail)" class="text-danger display-emails"
                 [ngClass]="{'text-dark': mailFolder !== mailFolderTypes.DRAFT}">
                  <ng-container [ngSwitch]="mailFolder">
                      <ng-container *ngSwitchCase="mailFolderTypes.DRAFT" class="text-danger"><span translate="mail_sidebar.draft">Draft</span></ng-container>
                      <ng-container *ngSwitchCase="mailFolderTypes.SENT">
                        <label [ngbTooltip]="mail.receiver_list">{{mail.receiver_list}}</label>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                          {{mail.sender_display.name}}
                      </ng-container>
                    <span *ngIf="mail?.children_count > 0" class="email-child-count">({{mail.children_count+1}})</span>
                  </ng-container>
              </a>

              <span class="mail-inbox-message d-md-block">
                  <a (click)="openMail(mail)" class="text-dark">
                    <span class="mail-subject">

                      <ng-container *ngIf="mailFolder === mailFolderTypes.SENT || mailFolder === mailFolderTypes.INBOX">
                        <span class="badge badge-warning mr-2 p-1"
                              *ngIf="mail.destruct_date"><span translate="mail_detail.delete_in">Delete in</span> {{mail.destruct_date | remainingTime}}
                        </span>
                      </ng-container>

                      <ng-container *ngIf="mailFolder === mailFolderTypes.OUTBOX">
                        <span class="badge badge-success mr-2 p-1"
                              *ngIf="mail.delayed_delivery"><span translate="mail_detail.delay_delivery">Delay delivery in</span> {{mail.delayed_delivery | remainingTime}}
                        </span>
                        <span class="badge badge-danger mr-2 p-1"
                              *ngIf="mail.dead_man_duration"><span translate="page_pricing.dead_mans_timer">Dead mans timer</span> {{mail.dead_man_duration | remainingTime:true}}
                        </span>
                      </ng-container>
                      <div class="mail-content">
                          {{mail.subject}}
                      </div>
                    </span>
                  </a>
              </span>
              <span class="mail-file-size">
                <i class="icon icon-attachment" *ngIf="mail.has_attachments"></i>
              </span>
              <span class="mail-sent-date">
                  <ng-container *ngIf="mailFolder === mailFolderTypes.SENT; else createdAt">{{mail.sent_at | momentDate:'MMM D'}}
                  </ng-container>
                  <ng-template #createdAt>{{mail.created_at | momentDate:'MMM D'}}</ng-template>
              </span>
          </td>
          <td class="mail-status">
              <span class="mail-security-status" [ngClass]="{'text-faded': (!mail.is_protected && mail?.sender!=='support@ctemplar.com')}">
                <i class="icon icon-secured" [ngbTooltip]="(!mail.is_protected && mail?.sender!=='support@ctemplar.com') ? '' : ('mail_detail.encrypted'| translate)" placement="left"></i>
              </span>
              <a class="mail-status-type" (click)="toggleStarred(mail)" [ngClass]="{'is-fav': mail.starred}">
                  <i class="icon icon-star-filled" [ngClass]="{'icon-star': !mail.starred}"></i>
              </a>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="mailbox-footer-actionbar hidden-sm-up">
  <div class="row justify-content-end">

    <div class="col-12 mailbox-actionbar-col">
      <div class="mail-controls d-flex align-items-center justify-content-end">
        <div class="mail-result-text text-muted">
          <small>1-{{mails?.length}} of {{mails?.length}}</small>
        </div>
        <div class="mail-nav-control">
          <button role="button" class="mail-nav-control-prev">
            <i class="icon icon-chevron-left"></i>
          </button>
          <button role="button" class="mail-nav-control-next">
            <i class="icon icon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Confirm empty trash modal -->
<ng-template #confirmEmptyTrashModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong>Confirm Delete</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group">
        Are you sure, you want to delete all messages in trash?
      </div>
      <div class="form-group text-right mb-0">
        <button (click)="d()" class="btn btn-secondary btn-sm mr-2" role="button">Cancel</button>
        <button (click)="emptyTrashConfirmed()" class="btn btn-danger btn-sm" role="button">
          Delete
        </button>
      </div>
    </div>
  </div>
</ng-template><!-- /.Confirm empty trash modal ends -->
