<div class="main ui container">

  <div class="ui text container">
    <div class="page heading ui center aligned basic segment plan">
      <h1 class="section-title">Pricing <span>plans</span></h1>
      <p>We do not show ads or make money by abusing your privacy. Instead, we depend on your support to keep the service running. Revenue from paid accounts is used to futher develop CTemplar and support free users such as democracy activists and dissidents who need privacy but can't necessarily afford it.</p>
    </div>
  </div>

  <div class="ui four column grid content-wrapper">
    <div class="column">
      <table class="align-left ui very basic striped table left-table">
        <tbody>
          <tr><td class="padded"></td></tr>
          <tr><td>Users</td></tr>
          <tr><td>Storage</td></tr>
          <tr><td>Email addresses</td></tr>
          <tr><td>Messages per day</td></tr>
          <!-- <tr><td>Folders and labels</td></tr> -->
          <tr><td>Support</td></tr>
          <tr><td>Hourly backups</td></tr>
          <tr><td>Email filters</td></tr>
          <tr><td>Autoresponders</td></tr>
          <tr><td>Catch-all address</td></tr>
          <tr><td>Multi-user support</td></tr>
          <tr><td>Hourly backups</td></tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <table class="ui striped black table">
        <tbody>
          <tr>
            <td>
              <span class="uppercase type">Free</span>
              <span class="price">$0</span>
              <span class="period">per month</span>
            </td>
          </tr>
          <tr><td>1</td></tr>
          <tr><td>500 MB</td></tr>
          <tr><td>1</td></tr>
          <tr><td>150</td></tr>
          <!-- <tr><td>3</td></tr> -->
          <tr><td>Limited</td></tr>
          <tr><td><i class="checkmark icon"></i></td></tr>
          <tr><td><i class="remove icon"></i></td></tr>
          <tr><td><i class="remove icon"></i></td></tr>
          <tr><td><i class="remove icon"></i></td></tr>
          <tr><td><i class="remove icon"></i></td></tr>
          <tr><td><i class="remove icon"></i></td></tr>
          <tr *ngIf="usersService.signedIn()"><td><button class="uppercase ui btn-blue btn-small disabled button">Your plan</button></td></tr>
          <tr *ngIf="!usersService.signedIn()"><td><button class="uppercase ui btn-blue btn-small button" (click)="signUp()">Sign Up</button></td></tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <table class="ui striped red table">
        <tbody>
          <tr>
            <td>
              <span class="uppercase type">Officer</span>
              <span class="price red">$7</span>
              <span class="period">per month</span>
            </td>
          </tr>
          <tr><td>1</td></tr>
          <tr><td>5000 MB</td></tr>
          <tr><td>5</td></tr>
          <tr><td>1000</td></tr>
          <!-- <tr><td>200</td></tr> -->
          <tr><td>Normal</td></tr>
          <tr><td><i class="checkmark icon"></i></td></tr>
          <tr><td><i class="checkmark icon"></i></td></tr>
          <tr><td><i class="checkmark icon"></i></td></tr>
          <tr><td><i class="remove icon"></i></td></tr>
          <tr><td><i class="remove icon"></i></td></tr>
          <tr><td><i class="remove icon"></i></td></tr>
          <tr *ngIf="usersService.signedIn()"><td><button class="uppercase ui btn-red btn-small disabled button">Upgrade now!</button></td></tr>
          <tr *ngIf="!usersService.signedIn()"><td><button class="uppercase ui btn-red btn-small disabled button">Coming soon!</button></td></tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <table class="ui striped yellow table">
        <tbody>
          <tr>
            <td>
              <span class="uppercase type">Commander</span>
              <span class="price yellow">$10</span>
              <span class="period">per month</span>
            </td>
          </tr>
          <tr><td>3</td></tr>
          <tr><td>10000 MB</td></tr>
          <tr><td>10</td></tr>
          <tr><td>Unlimited</td></tr>
          <!-- <tr><td>Unlimited</td></tr> -->
          <tr><td>Priority</td></tr>
          <tr><td><i class="checkmark icon"></i></td></tr>
          <tr><td><i class="checkmark icon"></i></td></tr>
          <tr><td><i class="checkmark icon"></i></td></tr>
          <tr><td><i class="checkmark icon"></i></td></tr>
          <tr><td><i class="checkmark icon"></i></td></tr>
          <tr><td><i class="checkmark icon"></i></td></tr>
          <tr *ngIf="usersService.signedIn()"><td><button class="uppercase ui btn-yellow btn-small disabled button">Upgrade now</button></td></tr>
          <tr *ngIf="!usersService.signedIn()"><td><button class="uppercase ui btn-yellow btn-small disabled button">Coming soon!</button></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
