
.mail-detail-content {
  padding-bottom: 3rem;
}

.mail-content {
  position: relative;

  .msg-reply-dropdown {
    position: absolute; 
    right: 20px;
  }
}

.mail-header { 
  border: solid 1px #e5e5e5;
  margin: 5px;
}


.clipped-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  height: 1.1rem;
}

.ellipsis-wrapper {
  background-color: #e8eaed;
  border: none;
  border-radius: 5.5px;
  width: 24px;
  margin-top: 10px;

  .gmail-ellipsis {
    background-image: url(/assets/images/more_horiz_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 11px;
    width: 24px;
    opacity: .54;
  }
}

.mail-from {
  font-size: 14px;
}

.conversation-collapsor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 32px;

  div {
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: #f5f5f5;
  }

  a {
    font-size: .75rem;
    letter-spacing: .3px;
    align-items: center;
    border-radius: 16px;
    box-shadow: inset 0 0 0 1px #dadce0;
    color: #5f6368;
    background-color: white;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 0;
    width: 32px;
    z-index: 1;
  }
}

.spam_reason {
  margin: 0 5px;
  padding: 1rem;
  background: #2e4960;
  color: white;

  .spam_why {
    font-weight: bold;
  }

  .mark_not_spam {
    padding: 10px;
    margin-top: 5px;
    text-transform: none;
    color: white;
    border-color: white;
    background: transparent;

    &:hover {
      background: transparent;
      opacity: 0.8;
    }
  }
}

.folder-batch {
  background: #4d5f71;
  color: white;
  padding: 0 6px;
  border-radius: 2px;
  height: 20px;
  line-height: 18px;
  min-width: 55px;
  text-align: center;
  overflow: hidden;
  max-width: 10rem;
  text-overflow: ellipsis;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  right: 0.938rem;
  top: 14px;
}
