
.conversation-list {
  position: relative;

  .msg-reply-dropdown {
    position: absolute; 
    right: 20px;
  }
}

.download-attachment-wrapper {
  display: inline-block;
  border-radius: 2px;
  background-color: #f5f5f5;

  .download-attachment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #e5e5e5;
    color: #444;

    &:hover {
      border: 1px solid #4177F6;
    }
  }

  .attachment-icon {
    float: left;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    background: #e74b3e;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    margin-right: 5px;
  }

  .attachment-name {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

}

.ellipsis-wrapper {
  background-color: #e8eaed;
  border: none;
  border-radius: 5.5px;
  width: 24px;
  margin-top: 10px;

  .gmail-ellipsis {
    background-image: url(/assets/images/more_horiz_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 11px;
    width: 24px;
    opacity: .54;
  }
}

.mail-from {
  font-size: 14px;
}

.conversation-collapsor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 32px;

  div {
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: #f5f5f5;
  }

  a {
    font-size: .75rem;
    letter-spacing: .3px;
    align-items: center;
    border-radius: 16px;
    box-shadow: inset 0 0 0 1px #dadce0;
    color: #5f6368;
    background-color: white;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 0;
    width: 32px;
    z-index: 1;
  }
}