<app-progress-bar [active]="!mail"></app-progress-bar>

<div class="mailbox-actionbar">
  <div class="row">
    <div class="col-12 col-sm-9 mailbox-actionbar-col">
      <ul class="mailbox-actionbar-menu">
        <li>
          <a placement="top"
             (click)="goBack()">
            <i class="material-icons">keyboard_backspace</i>
          </a>
        </li>
        <li class="px-0" *ngIf="mailFolder !== mailFolderTypes.ARCHIVE">
          <a class="border-right-0 border-radius-right-0" placement="top"
             (click)="moveToFolder(mailFolderTypes.ARCHIVE)"
             [ngbTooltip]="'mail_list.move_to_archive' | translate">
            <i class="icon icon-archive"></i>
          </a>
        </li>
        <li class="pr-0 pl-0 hidden-xs-down" *ngIf="mailFolder !== mailFolderTypes.SPAM">
          <a class="border-radius-0"
             (click)="moveToFolder(mailFolderTypes.SPAM)"
             placement="top" [ngbTooltip]="'mail_list.move_to_spam' |translate"
             [ngClass]="{'border-right-0': mailFolder !== mailFolderTypes.TRASH}">
            <i class="icon icon-warning"></i>
          </a>
        </li>
        <li class="px-0" *ngIf="mailFolder !== mailFolderTypes.TRASH">
          <a (click)="onDelete(mail)" class="border-radius-left-0" placement="top"
             [ngbTooltip]="(mailFolder !== mailFolderTypes.TRASH) ? ('mail_list.move_to_trash' | translate) : ('mail_list.permanently_delete' | translate)">
            <i class="icon icon-garbage"></i>
          </a>
        </li>
        <li class="btn-dropdown more-xs-options pl-0 hidden-sm-up">
          <div ngbDropdown autoClose="outside">
            <button ngbDropdownToggle class="border-left-0 border-radius-left-0" id="dropdownMoreOptions" role="button">
              <i class="icon icon-more"></i>
            </button>
            <div ngbDropdownMenu class="mobiledOptionsDropdown" aria-labelledby="dropdownMoreOptions">
              <ul class="more-xs-options-list">
                <li>
                  <a class="disabled">
                    <i class="icon icon-warning"></i>
                  </a>
                </li>
                <li class="btn-dropdown mailbox-dropdown folders-dropdown">
                  <div ngbDropdown>
                    <button ngbDropdownToggle class="disabledx" id="extraOptionsDropdownMenuButton" role="button">
                      <i class="icon icon-folder"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="extraOptionsDropdownMenuButton">
                      <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.INBOX)" *ngIf="mailFolder !== mailFolderTypes.INBOX">
                        <i class="icon icon-inbox"></i><span translate="mail_sidebar.inbox">Inbox</span>
                      </a>
                      <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.DRAFT)" *ngIf="mailFolder !== mailFolderTypes.DRAFT">
                        <i class="icon icon-inbox"></i><span translate="mail_sidebar.draft">Draft</span>
                      </a>
                      <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.OUTBOX)" *ngIf="mailFolder !== mailFolderTypes.OUTBOX">
                        <i class="icon icon-archive"></i><span translate="mail_sidebar.outbox">Outbox</span>
                      </a>
                      <ng-container *ngFor="let folder of customFolders; let i=index;">
                        <a class="dropdown-item"
                           *ngIf="mailFolder !== folder.name"
                           (click)="moveToFolder(folder.name)">
                          <i class="folder-color-box icon" [style.background]="folder.color"></i>
                          <span class="folders-list-text">{{folder.name}}</span>
                        </a>
                      </ng-container>
                      <span class="divider-item d-block"></span>
                      <a class="dropdown-item" (click)="openCreateFolderDialog()">
                        <i class="icon icon-folder"></i><span translate="mail_list.create_folder">Create folder</span>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="btn-dropdown mailbox-dropdown folders-dropdown hidden-xs-down">
          <div ngbDropdown>
            <button ngbDropdownToggle class="disabledx" id="folderDropdownMenuButton" role="button" placement="top"
                    [ngbTooltip]="'mail_list.move_to' | translate">
              <i class="icon icon-folder"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="folderDropdownMenuButton" class="folder-dropdown">
              <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.INBOX)" *ngIf="mailFolder !== mailFolderTypes.INBOX">
                <i class="icon icon-inbox"></i><span translate="mail_sidebar.inbox">Inbox</span>
              </a>
              <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.DRAFT)" *ngIf="mailFolder !== mailFolderTypes.DRAFT">
                <i class="icon icon-inbox"></i><span translate="mail_sidebar.draft">Draft</span>
              </a>
              <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.OUTBOX)" *ngIf="mailFolder !== mailFolderTypes.OUTBOX">
                <i class="icon icon-draft"></i><span translate="mail_sidebar.outbox">Outbox</span>
              </a>
              <ng-container *ngFor="let folder of customFolders; let i=index;">
                <a class="dropdown-item"
                   *ngIf="mailFolder !== folder.name"
                   (click)="moveToFolder(folder.name)">
                  <i class="folder-color-box icon" [style.background]="folder.color"></i>
                  <span class="folders-list-text">{{folder.name}}</span>
                </a>
              </ng-container>

              <span class="divider-item d-block"></span>
              <a class="dropdown-item" (click)="openCreateFolderDialog()">
                <i class="icon icon-folder"></i><span translate="mail_list.create_folder">Create folder</span>
              </a>
            </div>
          </div>
        </li>
        <li class="btn-dropdown mailbox-dropdown mailbox-dropdown-lg more-options-dropdown pl-0">
          <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle class="disabledx" role="button" id="moreOptionsDropdownMenuButton"
                    translate="mail_list.more">
              More
            </button>
            <div id="moreOptionsDropdownMenu" ngbDropdownMenu aria-labelledby="moreOptionsDropdownMenuButton">
              <a class="dropdown-item" (click)="markAsStarred()" translate="mail_list.add_star">Add star</a>
              <a class="dropdown-item" (click)="markAsRead(mail.id)" translate="mail_list.mark_as_read">Mark as read</a>
              <a class="dropdown-item" (click)="markAsRead(mail.id, false)" translate="mail_list.mark_as_unread">Mark as
                unread</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--Mail Info-->
<ng-container *ngIf="mail">
  <section class="mailbox-section" id="{{mail.id}}-print-section">
    <div class="ui-header ui-header-bordered border-top-0 position-relative">
      <h5 class="ui-header-subtitle text-dark mb-0">
        <strong id="{{mail.id}}-mail-subject">{{mail.subject}}</strong>
        <i class="icon icon-secured icon-md text-muted ml-2"
           [ngClass]="{'text-faded': (!mail.is_protected && mail?.sender!=='support@ctemplar.com')}"
           [ngbTooltip]="(!mail.is_protected && mail?.sender!=='support@ctemplar.com') ? '' : 'End-to-End Encrypted'">
        </i>
      </h5>

      <div class="icon-holder is-floated right y-center">
        <i class="icon icon-md icon-star-filled cursor-pointer" (click)="ontoggleStarred(mail)"
           [ngClass]="{'icon-star': !mail.starred, 'text-info': mail.starred}"></i>
      </div>
    </div>

    <div class="ui-body is-xs is-bordered-bottom bg-faded">
      <div class="row">
        <div class="col-8">
          <div class="mailbox-sender-content">
            <ul class="sender-content-list list-styled">
              <li id="{{mail.id}}-mail-from">
                From:
                <span class="text-secondary"> </span>
                <a class="text-muted">&lt;{{mail.sender}}&gt;</a>
              </li>
              <li id="{{mail.id}}-mail-to">
                To:
                <ng-container *ngFor="let receiver of mail.receiver; let i = index;">
                  <span class="text-secondary"> </span>
                  <a class="text-muted">&lt;{{receiver}}&gt;</a>
                  <!--Comma as a separator-->
                  <span *ngIf=" i < mail.receiver?.length-1">, </span>
                </ng-container>
              </li>
              <li *ngIf="mail.cc?.length>0" id="{{mail.id}}-mail-cc">
                CC:
                <ng-container *ngFor="let cc of mail.cc; let i = index;">
                  <span class="text-secondary"> </span>
                  <a class="text-muted">&lt;{{cc}}&gt;</a>
                  <!--Comma as a separator-->
                  <span *ngIf=" i < mail.cc?.length-1">, </span>
                </ng-container>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <div class="msg-reply-type-holder">
            <div class="d-flex align-items-center justify-content-end">
              <span *ngIf="mail.attachments?.length > 0" class="mr-3"><i class="icon icon-attachment"></i></span>
              <label class="msg-received-time mb-0" id="{{mail.id}}-mail-date">
                <ng-container *ngIf="mail.sent_at; else createdAt">{{mail.sent_at | momentDate:'medium'}}</ng-container>
                <ng-template #createdAt>{{mail.created_at | momentDate:'medium'}}</ng-template>
              </label>
              <div ngbDropdown placement="bottom-right" class="mailbox-dropdown msg-reply-dropdown dropdown-xs">
                <button ngbDropdownToggle class="actions-btn actions-btn-sm msg-reply-btn" role="button"
                        id="messageReplyDropdownMenuButton"></button>
                <div ngbDropdownMenu aria-labelledby="messageReplyDropdownMenuButton">
                  <a class="dropdown-item" (click)="onForward(mail); scrollTo(replyActions);">Forward</a>
                  <a class="dropdown-item" (click)="onReply(mail); scrollTo(replyActions);">Reply</a>
                  <a class="dropdown-item" (click)="onReplyAll(mail); scrollTo(replyActions);">Reply All</a>
                  <a class="dropdown-item" (click)="onPrint(mail)">Print</a>
                  <a class="dropdown-item" (click)="onDelete(mail)">Delete this Message</a>
                  <a class="dropdown-item" *ngIf="mail.folder !== mailFolderTypes.DRAFT" (click)="onMarkAsSpam(mail)">Mark as
                    Spam</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Mail Content-->
  <section class="mailbox-section">
    <app-progress-bar [active]="!decryptedContents[mail.id]"></app-progress-bar>

    <div class="ui-body" *ngIf="decryptedContents[mail.id]">
      <div [ngClass]="{'show_gmail_extra': mailOptions[mail.id]?.showGmailExtraContent}">
        <div class="msg-reply-content text-dark" id="{{mail.id}}-mail-content"
           [innerHTML]="decryptedContents[mail.id] | safe: 'html'"></div>
           <a href="javascript:void(0)" (click)="toggleGmailExtra(mail)"
           *ngIf="decryptedContents[mail.id]?.indexOf('gmail_extra') > -1 || decryptedContents[mail.id]?.indexOf('gmail_quote') > -1" >
             <div class="ellipsis-wrapper" placement="top"
             [ngbTooltip]="mailOptions[mail.id]?.showGmailExtraContent ? 'Hide extra content' : 'Show trimmed content'">
               <div class="gmail-ellipsis"></div>
             </div>
           </a>
      </div>
    </div>

    <ul class="list-style-none mt-3">
      <ng-container *ngFor="let attachment of mail.attachments">
        <li class="download-attachment-wrapper mr-1" *ngIf="!attachment.is_inline">
          <a class="download-attachment" [href]="attachment.document" placement="top"
             [ngbTooltip]="attachment.document | filename" target="_blank" rel="noopener">
            <div class="attachment-icon">
              <i class="icon icon-attachment"></i>
            </div>
            <div class="attachment-name">
              {{attachment.document | filename}}
            </div>
          </a>
        </li>
      </ng-container>
    </ul>
  </section>

  <ng-container *ngFor="let childMail of mail.children; let childIndex = index">
    <ng-container *ngIf="childMail.folder !== mailFolderTypes.TRASH">
      <ng-container [ngSwitch]="childMail.folder">
        <ng-container *ngSwitchCase="mailFolderTypes.DRAFT">
          <div class="ui-body">
            <div class="mail-composer is-borderd border-bottom-0 mt-2">
              <app-compose-mail [draftMail]="childMail"
                                [showSaveButton]="false"
                                (hide)="onComposeMailHide(childMail)"></app-compose-mail>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div>
            <section class="mailbox-section" id="{{childMail.id}}-print-section">

              <div class="ui-body is-bordered-bottom bg-faded cursor-pointer" (click)="childMailCollapsed[childIndex] = !childMailCollapsed[childIndex]">
                <div class="row">
                  <div class="col-8">
                    <div class="mailbox-sender-content">
                      <ul class="sender-content-list list-styled">
                        <li id="{{childMail.id}}-mail-from">
                          From:
                          <span class="text-secondary"> </span>
                          <a class="text-muted">&lt;{{childMail.sender}}&gt;</a>
                        </li>
                        <li id="{{childMail.id}}-mail-to">
                          To:
                          <ng-container *ngFor="let receiver of childMail.receiver; let i = index;">
                            <span class="text-secondary"> </span>
                            <a class="text-muted">&lt;{{receiver}}&gt;</a>
                            <!--Comma as a separator-->
                            <span *ngIf=" i < childMail.receiver?.length-1">, </span>
                          </ng-container>
                        </li>
                        <li *ngIf="childMail.cc?.length>0" id="{{childMail.id}}-mail-cc">
                          CC:
                          <ng-container *ngFor="let cc of childMail.cc; let i = index;">
                            <span class="text-secondary"> </span>
                            <a class="text-muted">&lt;{{cc}}&gt;</a>
                            <!--Comma as a separator-->
                            <span *ngIf=" i < childMail.cc?.length-1">, </span>
                          </ng-container>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="msg-reply-type-holder">
                      <div class="d-flex align-items-center justify-content-end">
                        <label class="msg-received-time mb-0" id="{{childMail.id}}-mail-date">
                          <ng-container *ngIf="childMail.sent_at; else createdAt">
                            {{childMail.sent_at | momentDate:'medium'}}
                          </ng-container>
                          <ng-template #createdAt>{{childMail.created_at | momentDate:'medium'}}</ng-template>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!--Mail Content-->
            <section class="mailbox-section" id="{{childMail.id + '-ngb-collapse'}}" [ngbCollapse]="childMailCollapsed[childIndex]">
              <app-progress-bar [active]="!decryptedContents[childMail.id]"
                                *ngIf="childIndex === mail.children.length-1"></app-progress-bar>
              <div class="ui-body conversation-list" *ngIf="decryptedContents[childMail.id]">
                  <div ngbDropdown placement="bottom-right"
                        class="mailbox-dropdown msg-reply-dropdown dropdown-xs">
                    <button ngbDropdownToggle class="actions-btn actions-btn-sm msg-reply-btn" role="button"
                            id="{{childMail.id}}-messageReplyDropdownMenuButton"></button>
                    <div ngbDropdownMenu
                          [attr.aria-labelledby]="childMail.id + '-messageReplyDropdownMenuButton'">
                      <a class="dropdown-item" (click)="onForward(childMail, childIndex, true)">Forward</a>
                      <a class="dropdown-item" (click)="onReply(childMail, childIndex, true)">Reply</a>
                      <a class="dropdown-item" (click)="onReplyAll(childMail, childIndex, true)">Reply All</a>
                      <a class="dropdown-item" (click)="onPrint(childMail)">Print</a>
                      <a class="dropdown-item" (click)="onDelete(childMail)">Delete this Message</a>
                    </div>
                  </div>
                <div [ngClass]="{'show_gmail_extra': mailOptions[childMail.id]?.showGmailExtraContent}">
                  <div class="msg-reply-content text-dark" id="{{childMail.id}}-mail-content"
                       [innerHTML]="decryptedContents[childMail.id] | safe: 'html'"></div>

                  <a href="javascript:void(0)" (click)="toggleGmailExtra(childMail)"
                     *ngIf="decryptedContents[childMail.id]?.indexOf('gmail_extra') > -1 || decryptedContents[childMail.id]?.indexOf('gmail_quote') > -1">
                    <div class="ellipsis-wrapper" placement="top"
                         [ngbTooltip]="mailOptions[childMail.id]?.showGmailExtraContent ? 'Hide extra content' : 'Show trimmed content'">
                      <div class="gmail-ellipsis"></div>
                    </div>
                  </a>
                </div>
              </div>
              <ul class="list-style-none mt-3">
                <ng-container *ngFor="let attachment of childMail.attachments">
                  <li class="download-attachment-wrapper mr-1" *ngIf="!attachment.is_inline">
                    <a class="download-attachment" [href]="attachment.document" placement="top"
                       [ngbTooltip]="attachment.document | filename" target="_blank" rel="noopener">
                      <div class="attachment-icon">
                        <i class="icon icon-attachment"></i>
                      </div>
                      <div class="attachment-name">
                        {{attachment.document | filename}}
                      </div>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </section>
            <div class="ui-body" *ngIf="mailOptions[childMail.id]?.isComposeMailVisible">
              <div class="mail-composer is-borderd border-bottom-0 mt-2">
                <app-compose-mail [receivers]="composeMailData[childMail.id]?.receivers"
                                  [cc]="composeMailData[childMail.id]?.cc"
                                  [content]="composeMailData[childMail.id]?.content"
                                  [messageHistory]="composeMailData[childMail.id]?.messageHistory"
                                  [subject]="composeMailData[childMail.id]?.subject"
                                  [parentId]="composeMailData[childMail.id]?.parentId"
                                  [forwardAttachmentsMessageId]="composeMailData[childMail.id]?.forwardAttachmentsMessageId"
                                  [showSaveButton]="false"
                                  (hide)="onComposeMailHide(childMail)"></app-compose-mail>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>


  <!--Reply to mail.-->
  <div class="ui-body ui-footer-sec" #replyActions>

    <div class="row">
      <div class="col-12">

        <button class="btn btn-gmail" (click)="onReply(mail)">
          <i class="icon icon-reply position-left"></i> Reply
          <img src="assets/images/icon-reply.svg" class="hidden-sm-up">
        </button>

        <button class="btn btn-gmail" (click)="onReplyAll(mail)">
          <i class="icon icon-reply position-left"></i> Reply All
          <img src="assets/images/icon-reply-all.svg" class="hidden-sm-up">
        </button>

        <button class="btn btn-gmail" (click)="onForward(mail)">
          <i class="icon icon-mail icon-lg position-left"></i> Forward
          <img src="assets/images/icon-mail.svg" class="hidden-sm-up">
        </button>
      </div>
    </div>
    <div class="mail-composer is-borderd border-bottom-0 mt-2" *ngIf="mailOptions[mail.id]?.isComposeMailVisible">
      <app-compose-mail [receivers]="composeMailData[mail.id]?.receivers"
                        [cc]="composeMailData[mail.id]?.cc"
                        [content]="composeMailData[mail.id]?.content"
                        [messageHistory]="composeMailData[mail.id]?.messageHistory"
                        [subject]="composeMailData[mail.id]?.subject"
                        [parentId]="composeMailData[mail.id]?.parentId"
                        [forwardAttachmentsMessageId]="composeMailData[mail.id]?.forwardAttachmentsMessageId"
                        [showSaveButton]="false"
                        (hide)="onComposeMailHide(mail)"></app-compose-mail>
    </div>
  </div>
  <div class="mailbox-footer-actionbar hidden-sm-up">
    <div class="row justify-content-end">
        <!--TODO pagination to be done later.-->
        <div class="col-12 mailbox-actionbar-col">
            <div class="mail-controls d-flex align-items-center justify-content-end">
                <div class="mail-result-text text-muted">
                    <small>1-50 of 2346</small>
                </div>
                <div class="mail-nav-control">
                    <button role="button" class="mail-nav-control-prev">
                        <i class="icon icon-chevron-left"></i>
                    </button>
                    <button role="button" class="mail-nav-control-next">
                        <i class="icon icon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>

</ng-container>

<!-- Confirm forward attachments modal -->
<ng-template #forwardAttachmentsModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong>Confirm Forward Attachments</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group">
        Do you want to forward attachments of this message?
      </div>
      <div class="form-group text-right mb-0">
        <button type="button" (click)="confirmForwardAttachments(true)" class="btn btn-success btn-sm" role="button">
          Yes
        </button>
        <button type="button" (click)="confirmForwardAttachments(false)" class="btn btn-sm" role="button">No</button>
      </div>
    </div>
  </div>
</ng-template><!-- /.Confirm forward attachments modal ends -->
