<app-progress-bar [active]="!mail"></app-progress-bar>
<div class="mailbox-actionbar">
  <div class="row">
    <div class="col-12 col-sm-9 mailbox-actionbar-col">
      <ul class="mailbox-actionbar-menu">
        <li>
          <a placement="top"
             (click)="goBack()">
            <i class="material-icons">keyboard_backspace</i>
          </a>
        </li>
        <li class="px-0" *ngIf="mailFolder !== mailFolderTypes.ARCHIVE">
          <a class="border-right-0 border-radius-right-0" placement="top"
             (click)="moveToFolder(mailFolderTypes.ARCHIVE)"
             [ngbTooltip]="'mail_list.move_to_archive' | translate">
            <i class="icon icon-archive"></i>
          </a>
        </li>
        <li class="pr-0 pl-0 hidden-xs-down" *ngIf="mailFolder !== mailFolderTypes.SPAM">
          <a class="border-radius-0"
             (click)="moveToFolder(mailFolderTypes.SPAM)"
             placement="top" [ngbTooltip]="'mail_list.move_to_spam' |translate"
             [ngClass]="{'border-right-0': mailFolder !== mailFolderTypes.TRASH}">
            <i class="icon icon-warning"></i>
          </a>
        </li>
        <li class="px-0" *ngIf="mailFolder !== mailFolderTypes.TRASH">
          <a (click)="onDelete(mail)" class="border-radius-left-0" placement="top"
             [ngbTooltip]="(mailFolder !== mailFolderTypes.TRASH) ? ('mail_list.move_to_trash' | translate) : ('mail_list.permanently_delete' | translate)">
            <i class="icon icon-garbage"></i>
          </a>
        </li>
        <li class="btn-dropdown more-xs-options pl-0 hidden-sm-up">
          <div ngbDropdown autoClose="outside">
            <button ngbDropdownToggle class="border-left-0 border-radius-left-0" id="dropdownMoreOptions" role="button">
              <i class="icon icon-more"></i>
            </button>
            <div ngbDropdownMenu class="mobiledOptionsDropdown" aria-labelledby="dropdownMoreOptions">
              <ul class="more-xs-options-list">
                <li>
                  <a class="disabled">
                    <i class="icon icon-warning"></i>
                  </a>
                </li>
                <li class="btn-dropdown mailbox-dropdown folders-dropdown">
                  <div ngbDropdown>
                    <button ngbDropdownToggle class="disabledx" id="extraOptionsDropdownMenuButton" role="button">
                      <i class="icon icon-folder"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="extraOptionsDropdownMenuButton">
                      <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.INBOX)" *ngIf="mailFolder !== mailFolderTypes.INBOX">
                        <i class="icon icon-inbox"></i><span translate="mail_sidebar.inbox">Inbox</span>
                      </a>
                      <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.DRAFT)" *ngIf="mailFolder !== mailFolderTypes.DRAFT">
                        <i class="icon icon-inbox"></i><span translate="mail_sidebar.draft">Draft</span>
                      </a>
                      <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.OUTBOX)" *ngIf="mailFolder !== mailFolderTypes.OUTBOX">
                        <i class="icon icon-archive"></i><span translate="mail_sidebar.outbox">Outbox</span>
                      </a>
                      <ng-container *ngFor="let folder of customFolders; let i=index;">
                        <a class="dropdown-item"
                           *ngIf="mailFolder !== folder.name"
                           (click)="moveToFolder(folder.name)">
                          <i class="folder-color-box icon" [style.background]="folder.color"></i>
                          <span class="folders-list-text">{{folder.name}}</span>
                        </a>
                      </ng-container>
                      <span class="divider-item d-block"></span>
                      <a class="dropdown-item" (click)="openCreateFolderDialog()">
                        <i class="icon icon-folder"></i><span translate="mail_list.create_folder">Create folder</span>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="btn-dropdown mailbox-dropdown folders-dropdown hidden-xs-down">
          <div ngbDropdown>
            <button ngbDropdownToggle class="disabledx" id="folderDropdownMenuButton" role="button" placement="top"
                    [ngbTooltip]="'mail_list.move_to' | translate">
              <i class="icon icon-folder"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="folderDropdownMenuButton" class="folder-dropdown">
              <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.INBOX)" *ngIf="mailFolder !== mailFolderTypes.INBOX">
                <i class="icon icon-inbox"></i><span translate="mail_sidebar.inbox">Inbox</span>
              </a>
              <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.DRAFT)" *ngIf="mailFolder !== mailFolderTypes.DRAFT">
                <i class="icon icon-inbox"></i><span translate="mail_sidebar.draft">Draft</span>
              </a>
              <a class="dropdown-item" (click)="moveToFolder(mailFolderTypes.OUTBOX)" *ngIf="mailFolder !== mailFolderTypes.OUTBOX">
                <i class="icon icon-draft"></i><span translate="mail_sidebar.outbox">Outbox</span>
              </a>
              <ng-container *ngFor="let folder of customFolders; let i=index;">
                <a class="dropdown-item"
                   *ngIf="mailFolder !== folder.name"
                   (click)="moveToFolder(folder.name)">
                  <i class="folder-color-box icon" [style.background]="folder.color"></i>
                  <span class="folders-list-text">{{folder.name}}</span>
                </a>
              </ng-container>

              <span class="divider-item d-block"></span>
              <a class="dropdown-item" (click)="openCreateFolderDialog()">
                <i class="icon icon-folder"></i><span translate="mail_list.create_folder">Create folder</span>
              </a>
            </div>
          </div>
        </li>
        <li class="btn-dropdown mailbox-dropdown mailbox-dropdown-lg more-options-dropdown pl-0">
          <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle class="disabledx" role="button" id="moreOptionsDropdownMenuButton"
                    translate="mail_list.more">
              More
            </button>
            <div id="moreOptionsDropdownMenu" ngbDropdownMenu aria-labelledby="moreOptionsDropdownMenuButton">
              <a class="dropdown-item" (click)="markAsStarred()" translate="mail_list.add_star">Add star</a>
              <a class="dropdown-item" (click)="markAsRead(mail.id)" translate="mail_list.mark_as_read">Mark as read</a>
              <a class="dropdown-item" (click)="markAsRead(mail.id, false)" translate="mail_list.mark_as_unread">Mark as
                unread</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--Mail Info-->
<div class="mailbox-sub-content mail-detail-content" *ngIf="mail">
  <section class="mailbox-section" id="{{mail.id}}-print-section">
    <div class="ui-header ui-header-bordered border-top-0 position-relative">
      <h5 class="ui-header-subtitle text-dark mb-0">
        <strong id="{{mail.id}}-mail-subject">{{mail.subject}}</strong>
        <i class="icon icon-secured icon-md text-muted ml-2"
           [ngClass]="{'text-faded': (!mail.is_protected && mail?.sender!=='support@ctemplar.com')}"
           [ngbTooltip]="(!mail.is_protected && mail?.sender!=='support@ctemplar.com') ? '' : ('mail_detail.encrypted'| translate)">
        </i>
      </h5>

      <div class="icon-holder is-floated right y-center">
        <i class="icon icon-md icon-star-filled cursor-pointer" (click)="ontoggleStarred(mail)"
           [ngClass]="{'icon-star': !mail.starred, 'text-info': mail.starred}"></i>
      </div>
    </div>

    <div class="spam_reason" *ngIf="mail.folder === mailFolderTypes.SPAM">
      <span class="spam_why" *ngIf="mail.spam_reason" translate="mail_detail.message_in_span">Why is this message in spam? </span>
      <span>{{mail.spam_reason}}</span>
      <div>
        <button class="mark_not_spam btn btn-outline-warning"
                (click)="markNotSpam(mail)"
                [ngbTooltip]="'mail_detail.mail_not_spam'| translate" translate="mail_detail.mark_not_spam">Mark not spam</button>
      </div>
    </div>

    <div class="ui-body is-xs bg-faded cursor-pointer mail-header"
         *ngIf="mailFolder !== mailFolderTypes.TRASH || (mailFolder === mailFolderTypes.TRASH && mail.folder === mailFolderTypes.TRASH)"
         (click)="parentMailCollapsed = !parentMailCollapsed">
      <div class="row">
        <div class="col-8">
          <div class="mailbox-sender-content">
            <ul class="sender-content-list list-styled">
              <li id="{{mail.id}}-mail-from" class="font-weight-bold" translate="settings.compose.from">
                From:
                <span class="text-secondary"> </span>
                <a class="text-gray-dark text-muted">
                  <ng-container *ngIf="mail.sender_display.name!==mail.sender_display.email && mail.sender_display.name!==mail.sender_display.email.split('@')[0]">
                    {{mail.sender_display?.name}}
                  </ng-container>
                  <{{mail.sender_display.email}}>
                </a>
                <span class="position-relative">
                 <i *ngIf="mail.last_action"
                    class="material-icons last-action">{{mail.last_action | lowercase}}</i>
                </span>
              </li>
              <li id="{{mail.id}}-mail-to" translate="settings.compose.to">
                To:
                <ng-container *ngFor="let receiver of mail.receiver_display; let i = index;">
                  <span class="text-secondary"> </span>
                  <a class="text-muted">
                    <ng-container *ngIf="receiver.name!==receiver.email && receiver.name!==receiver.email.split('@')[0]">
                      {{receiver.name}}
                    </ng-container>
                    <{{receiver.email}}>
                  </a>
                  <!--Comma as a separator-->
                  <span *ngIf=" i < mail.receiver?.length-1">, </span>
                </ng-container>
              </li>
              <li *ngIf="mail.cc?.length>0" id="{{mail.id}}-mail-cc">
                Cc:
                <ng-container *ngFor="let cc of mail.cc; let i = index;">
                  <span class="text-secondary"> </span>
                  <a class="text-muted">&lt;{{cc}}&gt;</a>
                  <!--Comma as a separator-->
                  <span *ngIf=" i < mail.cc?.length-1">, </span>
                </ng-container>
              </li>
              <li *ngIf="mail.bcc_display?.length>0" id="{{mail.id}}-mail-bcc">
                Bcc:
                <ng-container *ngFor="let bcc of mail.bcc_display; let i = index;">
                  <span class="text-secondary"> </span>
                  <a class="text-muted">&lt;{{bcc.email}}&gt;</a>
                  <!--Comma as a separator-->
                  <span *ngIf=" i < mail.bcc_display?.length-1">, </span>
                </ng-container>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <div class="msg-reply-type-holder">
            <div class="d-flex align-items-center justify-content-end">
              <ng-container *ngIf="mailFolder === mailFolderTypes.OUTBOX">
                <span class="badge badge-warning mr-2 p-1"
                      *ngIf="mail.destruct_date"> <span translate="mail_detail.delete_in">Delete in</span> {{mail.destruct_date | remainingTime}}
                </span>
                  <span class="badge badge-success mr-2 p-1"
                        *ngIf="mail.delayed_delivery"> <span translate="mail_detail.delay_delivery">Delay delivery in</span> {{mail.delayed_delivery | remainingTime}}
                </span>
                  <span class="badge badge-danger mr-2 p-1"
                        *ngIf="mail.dead_man_duration"><span translate="settings.compose.dead_man_timer">Dead mans timer</span> {{mail.dead_man_duration | remainingTime:true}}
                </span>
              </ng-container>
              <span *ngIf="mail.attachments?.length > 0" class="mr-3"><i class="icon icon-attachment"></i></span>
              <label class="msg-received-time mb-0" id="{{mail.id}}-mail-date">
                <ng-container *ngIf="mail.folder === mailFolderTypes.SENT && mail.sent_at; else createdAt">{{mail.sent_at | momentDate:'medium'}}</ng-container>
                <ng-template #createdAt>{{mail.created_at | momentDate:'medium'}}</ng-template>
              </label>

            </div>
            <div>
              <label class="folder-batch" [style.background]="folderColors[mail.folder]">{{mail.folder}}</label>
            </div>
          </div>
        </div>
      </div>
      <app-progress-bar [active]="!decryptedContents[mail.id]"></app-progress-bar>
    </div>
  </section>

  <!--Mail Content-->
  <section class="mailbox-section"
           *ngIf="mailFolder !== mailFolderTypes.TRASH || (mailFolder === mailFolderTypes.TRASH && mail.folder === mailFolderTypes.TRASH)"
           id="ngb-collapse" [ngbCollapse]="parentMailCollapsed">
    <div class="ui-body mail-content" *ngIf="decryptedContents[mail.id]">
      <div ngbDropdown placement="bottom-right" class="mailbox-dropdown msg-reply-dropdown dropdown-xs">
        <button ngbDropdownToggle class="actions-btn actions-btn-sm msg-reply-btn" role="button"
                id="messageReplyDropdownMenuButton"></button>
        <div ngbDropdownMenu aria-labelledby="messageReplyDropdownMenuButton">
          <a class="dropdown-item" (click)="onForward(mail); scrollTo(replyActions);" translate="mail_detail.forward">Forward</a>
          <a class="dropdown-item" (click)="onReply(mail); scrollTo(replyActions);" translate="mail_detail.reply">Reply</a>
          <a class="dropdown-item" (click)="onReplyAll(mail); scrollTo(replyActions);" translate="mail_detail.reply_all">Reply All</a>
          <a class="dropdown-item" (click)="onPrint(mail)" translate="mail_detail.print">Print</a>
          <a class="dropdown-item" (click)="onDelete(mail)" [translate]= "(mailFolder === mailFolderTypes.TRASH) ? ('mail_detail.delete_message' | translate) : ('mail_detail.delete_this_message' | translate)">Delete this Message</a>
          <a class="dropdown-item" (click)="showIncomingHeaders(mail)" translate="mail_detail.show_headers">Show headers</a>
          <a class="dropdown-item" *ngIf="mail.folder !== mailFolderTypes.DRAFT" (click)="onMarkAsSpam(mail)"
          translate="mail_detail.mark_as_spam">Mark as Spam</a>
        </div>
      </div>
      <div class="show_gmail_extra">
        <div class="msg-reply-content text-dark" id="{{mail.id}}-mail-content"
           [innerHTML]="decryptedContents[mail.id] | safe: 'html': mail.sender"></div>
      </div>
    </div>

    <ul class="list-style-none mt-3">
      <ng-container *ngFor="let attachment of mail.attachments">
        <li class="download-attachment-wrapper mr-1" *ngIf="!attachment.is_inline">
          <a class="download-attachment" [href]="attachment.document" placement="top"
             [ngbTooltip]="attachment.document | filename" target="_blank" rel="noopener">
            <div class="attachment-icon">
              <i class="icon icon-attachment"></i>
            </div>
            <div class="attachment-name">
              {{attachment.document | filename}}
            </div>
          </a>
        </li>
      </ng-container>
    </ul>
  </section>

  <ng-container *ngFor="let childMail of mail.children; let childIndex = index">
    <ng-container *ngIf="mailFolder === mailFolderTypes.TRASH || childMail.folder !== mailFolderTypes.TRASH">
      <ng-container [ngSwitch]="childMail.folder">
        <ng-container *ngSwitchCase="mailFolderTypes.DRAFT">
          <div class="ui-body">
            <div class="mail-composer is-borderd border-bottom-0 mt-2">
              <app-compose-mail [draftMail]="childMail"
                                [showSaveButton]="false"
                                [isMailDetailPage]="true"
                                (hide)="onComposeMailHide(childMail)"></app-compose-mail>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div [ngClass]="{'last-child': childIndex === mail.children.length-1}">
            <section class="mailbox-section" id="{{childMail.id}}-print-section">

              <div class="ui-body is-bordered-bottom bg-faded cursor-pointer mail-header" (click)="childMailCollapsed[childIndex] = !childMailCollapsed[childIndex]">
                <div class="row">
                  <div class="col-8">
                    <div class="mailbox-sender-content">
                      <ul class="sender-content-list list-styled">
                        <li id="{{childMail.id}}-mail-from" class="font-weight-bold">
                          <span translate="settings.compose.from">From:</span>
                          <span class="text-secondary"> </span>
                          <a class="text-muted text-gray-dark">
                            <ng-container *ngIf="childMail.sender_display.name!==childMail.sender_display.email && childMail.sender_display.name!==childMail.sender_display.email.split('@')[0]">
                              {{childMail.sender_display?.name}}
                            </ng-container>
                            <{{childMail.sender_display.email}}>
                          </a>
                          <span class="position-relative">
                             <i *ngIf="childMail.last_action"
                                class="material-icons last-action">{{childMail.last_action | lowercase}}</i>
                          </span>
                        </li>
                        <li id="{{childMail.id}}-mail-to">
                          <span translate="settings.compose.to">To:</span>
                          <ng-container *ngFor="let receiver of childMail.receiver_display; let i = index;">
                            <span class="text-secondary"> </span>
                            <a class="text-muted">
                              <ng-container *ngIf="receiver.name!==receiver.email && receiver.name!==receiver.email.split('@')[0]">
                                {{receiver.name}}
                              </ng-container>
                              <{{receiver.email}}>
                            </a>
                            <!--Comma as a separator-->
                            <span *ngIf=" i < childMail.receiver?.length-1">, </span>
                          </ng-container>
                        </li>
                        <li *ngIf="childMail.cc?.length>0" id="{{childMail.id}}-mail-cc">
                          Cc:
                          <ng-container *ngFor="let cc of childMail.cc; let i = index;">
                            <span class="text-secondary"> </span>
                            <a class="text-muted">&lt;{{cc}}&gt;</a>
                            <!--Comma as a separator-->
                            <span *ngIf=" i < childMail.cc?.length-1">, </span>
                          </ng-container>
                        </li>
                        <li *ngIf="childMail.bcc_display?.length>0" id="{{childMail.id}}-mail-bcc">
                          Bcc:
                          <ng-container *ngFor="let bcc of childMail.bcc_display; let i = index;">
                            <span class="text-secondary"> </span>
                            <a class="text-muted">&lt;{{bcc.email}}&gt;</a>
                            <span *ngIf=" i < childMail.bcc_display?.length-1">, </span>
                          </ng-container>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="msg-reply-type-holder">
                      <div class="d-flex align-items-center justify-content-end">
                      <ng-container *ngIf="mailFolder === mailFolderTypes.OUTBOX">
                        <span class="badge badge-warning mr-2 p-1"
                              *ngIf="childMail.destruct_date"><span translate="mail_detail.delete_in">Delete in</span> {{childMail.destruct_date | remainingTime}}
                        </span>
                        <span class="badge badge-success mr-2 p-1"
                              *ngIf="childMail.delayed_delivery"><span translate="mail_detail.delay_delivery">Delay delivery in</span> {{childMail.delayed_delivery | remainingTime}}
                        </span>
                        <span class="badge badge-danger mr-2 p-1"
                              *ngIf="childMail.dead_man_duration"><span translate="settings.compose.dead_man_timer">Dead mans timer</span> {{childMail.dead_man_duration | remainingTime:true}}
                        </span>
                      </ng-container>
                        <span *ngIf="childMail.attachments?.length > 0" class="mr-3"><i class="icon icon-attachment"></i></span>
                        <label class="msg-received-time mb-0" id="{{childMail.id}}-mail-date">
                          <ng-container *ngIf="childMail.folder === mailFolderTypes.SENT && childMail.sent_at; else createdAt">
                            {{childMail.sent_at | momentDate:'medium'}}
                          </ng-container>
                          <ng-template #createdAt>{{childMail.created_at | momentDate:'medium'}}</ng-template>
                        </label>
                      </div>
                      <div>
                        <label class="folder-batch" [style.background]="folderColors[childMail.folder]">{{childMail.folder}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <app-progress-bar [active]="!decryptedContents[childMail.id]" *ngIf="childIndex === mail.children.length-1"></app-progress-bar>
              </div>
            </section>

            <!--Mail Content-->
            <section class="mailbox-section" id="{{childMail.id + '-ngb-collapse'}}" [ngbCollapse]="childMailCollapsed[childIndex]">
              <div class="ui-body mail-content" *ngIf="decryptedContents[childMail.id]">
                  <div ngbDropdown placement="bottom-right"
                        class="mailbox-dropdown msg-reply-dropdown dropdown-xs">
                    <button ngbDropdownToggle class="actions-btn actions-btn-sm msg-reply-btn" role="button"
                            id="{{childMail.id}}-messageReplyDropdownMenuButton"></button>
                    <div ngbDropdownMenu
                          [attr.aria-labelledby]="childMail.id + '-messageReplyDropdownMenuButton'">
                      <a class="dropdown-item" (click)="onForward(childMail, childIndex, true)" translate="mail_detail.forward">Forward</a>
                      <a class="dropdown-item" (click)="onReply(childMail, childIndex, true)" translate="mail_detail.reply">Reply</a>
                      <a class="dropdown-item" (click)="onReplyAll(childMail, childIndex, true)" translate="mail_detail.reply_all">Reply All</a>
                      <a class="dropdown-item" (click)="onPrint(childMail)" translate="mail_detail.print">Print</a>
                      <a class="dropdown-item" (click)="onDelete(childMail, childIndex)" [translate]= "(mailFolder === mailFolderTypes.TRASH) ? ('mail_detail.delete_message' | translate) : ('mail_detail.delete_this_message' | translate)">Delete Permanently</a>
                      <a class="dropdown-item" (click)="showIncomingHeaders(childMail)" translate="mail_detail.show_headers">Show headers</a>
                    </div>
                  </div>

                <div [ngClass]="{'show_gmail_extra': mailOptions[childMail.id]?.showGmailExtraContent}">
                  <div class="msg-reply-content text-dark" id="{{childMail.id}}-mail-content"
                       [innerHTML]="decryptedContents[childMail.id] | safe: 'html': childMail.sender"></div>

                  <a href="javascript:void(0)" (click)="toggleGmailExtra(childMail)"
                     *ngIf="decryptedContents[childMail.id]?.indexOf('gmail_extra') > -1 || decryptedContents[childMail.id]?.indexOf('gmail_quote') > -1">
                    <div class="ellipsis-wrapper" placement="top"
                         [ngbTooltip]="mailOptions[childMail.id]?.showGmailExtraContent ? ('mail_detail.hide_extra'| translate) : ('mail_detail.show_trimmed'| translate)">
                      <div class="gmail-ellipsis"></div>
                    </div>
                  </a>
                </div>



              </div>
              <ul class="list-style-none mt-3" *ngIf="childMail.attachments?.length>0">
                <ng-container *ngFor="let attachment of childMail.attachments">
                  <li class="download-attachment-wrapper mr-1" *ngIf="!attachment.is_inline">
                    <a class="download-attachment" [href]="attachment.document" placement="top"
                       [ngbTooltip]="attachment.document | filename" target="_blank" rel="noopener">
                      <div class="attachment-icon">
                        <i class="icon icon-attachment"></i>
                      </div>
                      <div class="attachment-name">
                        {{attachment.document | filename}}
                      </div>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </section>
            <div class="ui-body" *ngIf="mailOptions[childMail.id]?.isComposeMailVisible">
              <div class="mail-composer is-borderd border-bottom-0 mt-2">
                <app-compose-mail [receivers]="composeMailData[childMail.id]?.receivers"
                                  [cc]="composeMailData[childMail.id]?.cc"
                                  [content]="composeMailData[childMail.id]?.content"
                                  [messageHistory]="composeMailData[childMail.id]?.messageHistory"
                                  [action]="composeMailData[childMail.id]?.action"
                                  [action_parent]="composeMailData[childMail.id].action_parent_id"
                                  [subject]="composeMailData[childMail.id]?.subject"
                                  [selectedMailbox]="composeMailData[childMail.id]?.selectedMailbox"
                                  [parentId]="composeMailData[childMail.id]?.parentId"
                                  [forwardAttachmentsMessageId]="composeMailData[childMail.id]?.forwardAttachmentsMessageId"
                                  [showSaveButton]="false"
                                  [isMailDetailPage]="true"
                                  (hide)="onComposeMailHide(childMail)"></app-compose-mail>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>


  <!--Reply to mail.-->
  <div class="ui-body ui-footer-sec" #replyActions>

    <div class="row">
      <div class="col-12">

        <button class="btn btn-gmail" (click)="onReply(mail, 0, false, true)">
          <i class="icon icon-reply position-left"></i> <span translate="mail_detail.reply">Reply</span>
          <img src="assets/images/icon-reply.svg" class="hidden-sm-up">
        </button>

        <button class="btn btn-gmail" (click)="onReplyAll(mail, 0, false, true)">
          <i class="icon icon-reply position-left"></i> <span translate="mail_detail.reply_all">Reply All</span>
          <img src="assets/images/icon-reply-all.svg" class="hidden-sm-up">
        </button>

        <button class="btn btn-gmail" (click)="onForward(mail, 0, false, true)">
          <i class="icon icon-mail icon-lg position-left"></i> <span translate="mail_detail.forward">Forward</span>
          <img src="assets/images/icon-mail.svg" class="hidden-sm-up">
        </button>
      </div>
    </div>
    <div class="mail-composer is-borderd border-bottom-0 mt-2" *ngIf="mailOptions[mail.id]?.isComposeMailVisible">
      <app-compose-mail [receivers]="composeMailData[mail.id]?.receivers"
                        [cc]="composeMailData[mail.id]?.cc"
                        [content]="composeMailData[mail.id]?.content"
                        [messageHistory]="composeMailData[mail.id]?.messageHistory"
                        [action]="composeMailData[mail.id]?.action"
                        [action_parent]="composeMailData[mail.id].action_parent_id"
                        [subject]="composeMailData[mail.id]?.subject"
                        [selectedMailbox]="composeMailData[mail.id]?.selectedMailbox"
                        [parentId]="composeMailData[mail.id]?.parentId"
                        [forwardAttachmentsMessageId]="composeMailData[mail.id]?.forwardAttachmentsMessageId"
                        [showSaveButton]="false"
                        [isMailDetailPage]="true"
                        (hide)="onComposeMailHide(mail)"></app-compose-mail>
    </div>
  </div>
  <div class="mailbox-footer-actionbar hidden-sm-up">
    <div class="row justify-content-end">
        <!--TODO pagination to be done later.-->
        <div class="col-12 mailbox-actionbar-col">
            <div class="mail-controls d-flex align-items-center justify-content-end">
                <div class="mail-result-text text-muted">
                    <small>1-50 of 2346</small>
                </div>
                <div class="mail-nav-control">
                    <button role="button" class="mail-nav-control-prev">
                        <i class="icon icon-chevron-left"></i>
                    </button>
                    <button role="button" class="mail-nav-control-next">
                        <i class="icon icon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>

</div>

<!-- Confirm forward attachments modal -->
<ng-template #forwardAttachmentsModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong>Confirm Forward Attachments</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder">
      <div class="form-group" translate="mail_detail.attachment_message">
        Do you want to forward attachments of this message?
      </div>
      <div class="form-group text-right mb-0">
        <button type="button" (click)="confirmForwardAttachments(true)" class="btn btn-success btn-sm" role="button" translate="common.yes">
          Yes
        </button>
        <button type="button" (click)="confirmForwardAttachments(false)" class="btn btn-sm" role="button" translate="common.no">No</button>
      </div>
    </div>
  </div>
</ng-template><!-- /.Confirm forward attachments modal ends -->


<!-- Incoming Headers modal -->
<ng-template #incomingHeadersModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title w-100 text-dark"><strong translate="mail_detail.incoming_head">Incoming Headers</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-faded">
    <div class="mail-actions-form-holder modal-mail-actions-form-holder incoming-headers">
      <div *ngFor="let item of selectedHeaders; let i=index" class="row" [class.last-row]="i===(selectedHeaders.length-1)">
        <div class="col-3">{{item.key}}</div>
        <div class="col-9">{{item.value}}</div>
      </div>
      <div *ngIf="selectedHeaders?.length===0" translate="mail_detail.no_header">No headers available</div>
    </div>
  </div>
</ng-template><!-- /.Incoming Headers modal ends -->
