@import '../../../styles/vendors/include-media/include-media';
@import '../../../styles/config/include-media-config';

.mail-detail-content {
  padding-bottom: 3rem;
  overflow-wrap: break-word;
}

.mail-content {
  position: relative;

  .msg-reply-dropdown {
    position: absolute;
    right: 20px;
  }
}

.mail-header {
  border: solid 1px #e5e5e5;
  margin: 5px;
  padding: 5px 1rem;
}

.icon-holder {
  display: flex;
  align-items: center;

  i {
    margin-left: 10px;
  }
}

.clipped-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  height: 1.1rem;
}

.ellipsis-wrapper {
  background-color: #e8eaed;
  border: none;
  border-radius: 5.5px;
  width: 24px;
  margin-top: 10px;

  .gmail-ellipsis {
    background-image: url(assets/images/more_horiz_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 11px;
    width: 24px;
    opacity: 0.54;
  }
}

.mail-from {
  font-size: 14px;
}

.conversation-collapsor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 32px;

  div {
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: #f5f5f5;
  }

  a {
    font-size: 0.75rem;
    letter-spacing: 0.3px;
    align-items: center;
    border-radius: 16px;
    box-shadow: inset 0 0 0 1px #dadce0;
    color: #5f6368;
    background-color: white;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 0;
    width: 32px;
    z-index: 1;
  }
}

.spam_reason {
  margin: 5px 5px;
  padding: 1rem;
  background: #2e4960;
  color: white;

  .spam_why {
    font-weight: bold;
  }

  .mark_not_spam {
    padding: 10px;
    text-transform: none;
    color: white;
    border-color: white;
    background: transparent;

    &:hover {
      background: transparent;
      opacity: 0.8;
    }
  }
}

.message-error {
  margin: 5px 5px;
  padding: 1rem;
  background: #c0392b;
  color: white;
  .error-title {
    font-weight: bold;
  }
}

.folder-batch {
  background: #4d5f71;
  color: white;
  padding: 0 6px;
  border-radius: 2px;
  height: 20px;
  line-height: 18px;
  min-width: 55px;
  text-align: center;
  overflow: hidden;
  max-width: 10rem;
  text-overflow: ellipsis;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  right: 40px;
  top: 23px;
}

.expand-collapse {
  position: absolute;
  right: 12px;
}

.mail-subject {
  max-width: 97%;
}

@include media('<=sm') {
  h5 {
    line-height: 1.5;
  }
}

.decrypt-password-form-container {
  margin-bottom: 20px;
  .decrypt-password-form {
    display: flex;
    width: 55%;
    .decrypt-password-element {
      height: 40px;
      padding: 3px 0;
      button {
        color: var(--text-muted);
      }
    }
  }
}
