/**
* master sass file, which includes all the partial files
*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/**
* IMPORTING PARTIALS FROM CONFIG DIRECTORY
*/
@import 'styles/config/include-media-config';

// == variables partials from base directory before everything to override varaibles with !default flags inside any vendor projects
@import 'styles/base/variables';

/**
* IMPORTING PARTIALS FROM VENDORS DIRECTORY
*/

@import 'styles/vendors/include-media/include-media'; // SASS plugin for better media query detection
@import 'styles/vendors/fontawesome/fontawesome'; // Fontawesome SASS modules
@import 'styles/vendors/bootstrap/ctemplar-bootstrap'; // Bootstrap SASS modules
@import 'styles/vendors/ceaser/ceaser-easing'; // Ceaser easing SASS module for smooth transition effects
@import 'styles/vendors/icomoon/icomoon'; // Icomoon SASS module which includes custom font library

/**
* IMPORTING PARTIALS FROM MIXINS DIRECTORY
*/
@import 'styles/mixins/utilities';

/**
* IMPORTING PARTIALS FROM BASE DIRECTORY
*/

// == typograhy and fonts
@import 'styles/base/fonts';
@import 'styles/base/type';

/**
* IMPORTING PARTIALS FROM LAYOUT DIRECTORY
*/
@import 'styles/layouts/global';
@import 'styles/layouts/utilities';
@import 'styles/layouts/header';
@import 'styles/layouts/footer';

/**
* IMPORTING PARTIALS FROM MODULES DIRECTORY
*/
@import 'styles/modules/preloader';
@import 'styles/modules/menu';
@import 'styles/modules/utilities/utilities';
@import 'styles/modules/hero';
@import 'styles/modules/blocks';
@import 'styles/modules/lists';
@import 'styles/modules/cards/cards';
@import 'styles/modules/comments/comments';

/**
* OVERRIDING BOOTSTRAP MODULES
*/
@import 'styles/modules/bootstrap-overrides/overrides';

/**
* IMPORTING PAGES MODULES
*/
@import 'styles/pages/user-actions/form-pages';

/**
* IMPORTING MAIL COMPOSER MODULES
*/
@import 'styles/modules/mail-composer/mail-composer';

// Components global styles
@import 'styles/components.styles';

// Theme styles
@import 'styles/theme-variables-collection';
@import 'styles/themes';

.loading-icon {
  position: absolute;
  top: 28vh;
  margin-left: calc(50% - 20px);
}

// LOADING

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.08);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.loading {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3a4e63;
  width: 100%;
  height: 100%;
  text-align: center;
}

.quote {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  max-width: 80vw;
}

.author {
  font-size: 18px;
  color: #ffffff;
}

.cdk-overlay-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.ql-font-lato {
  font-family: 'Lato', sans-serif;
}

.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}

.ql-font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.ql-font-times-new-roman {
  font-family: 'Times New Roman', Times, serif;
}

.generic-dropdown-list {
  max-height: 300px;
  overflow-y: scroll;
}

//START tag input css

tag-input {
  .ng2-tag-input {
    border-bottom: 0 !important;

    // TODO @kriti please fix this width for multiple devices.
    //width: 650px;
  }

  .ng2-tag-input__text-input {
    height: 20px !important;
    font-size: 14px !important;
    background-color: var(--bg-white);
    color: var(--text-color-black-white);
  }

  tag {
    height: 20px !important;
    border-radius: 3px !important;
    border: 1px solid lightgrey !important;
    color: var(--text-color) !important;
    background-color: var(--composer-tag-background) !important;
    line-height: 35px !important;
    delete-icon {
      svg {
        path {
          fill: var(--text-color) !important;
        }
      }
    }
    .tag-wrapper {
      margin-top: -10px !important;
    }
    .ng-star-inserted {
      margin-top: -10px;
    }
  }
  tag:hover {
    box-shadow: 0 2px 3px 1px var(--composer-tag-box-shadow) !important;
  }

  .ng2-dropdown-menu {
    margin-top: -15px;
  }
}

.btn-user-action {
  border-radius: 2px;
  cursor: pointer;
  font-size: 11px;
  text-align: center;
  margin-right: 10px;
  line-height: 2rem;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
  background-color: var(--btn-user-action-background);
  border: 1px solid var(--btn-user-action-border-color);
  color: var(--btn-user-action-color);

  .icon-lg {
    font-size: 1.1rem;
    vertical-align: middle;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--btn-user-action-border-focus-color);
    color: var(--btn-user-action-focus-color);
  }

  &:active {
    background: #dedede;
  }
}

.position-left {
  margin-right: 7px;
}

.btn {
  cursor: pointer;
}
//END tag input css

.zEWidget-launcher {
  z-index: 10 !important;
}

.green {
  color: green;
}

.close-mat-keyboard {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  border: 1px solid #333;
  background: #333;
  color: white;
  height: 20px;
  width: 20px;
  text-align: center;
  opacity: 1;

  &:hover {
    color: white;
    opacity: 0.8;
  }

  .close-mat-keyboard-icon {
    font-size: 12px;
    vertical-align: middle;
  }
}

app-compose-mail {
  .mail-compose-field tag-input {
    max-height: 75px;
    overflow-y: auto;
    max-width: calc(100% - 4rem);
    min-width: calc(100% - 4rem);
  }

  .mail-compose-field textarea {
    font-size: 14px;
  }
}

button[disabled] {
  cursor: not-allowed;
  background-color: var(--btn-user-action-background-disabled);
}

.menu-open .mailbox-sidebar {
  @include media('<sm') {
    left: 220px;
  }
}

.btn-social {
  color: #fff;
  font-size: 14px;
  &:hover,
  &:focus {
    color: #fff;
  }

  img {
    max-height: 15px;
  }
}

.btn-twitter {
  background-color: $twitter-color;
  border-color: $twitter-color;

  &:hover,
  &:focus {
    background-color: darken($twitter-color, 10%);
    border-color: darken($twitter-color, 10%);
  }
}

.btn-facebook {
  background-color: $facebook-color;
  border-color: $facebook-color;
  &:hover,
  &:focus {
    background-color: darken($facebook-color, 10%);
    border-color: darken($facebook-color, 10%);
  }
}

// Settings Tabs

.nav-tabs {
  box-shadow: 0 4px 10px 0 rgba(1, 70, 109, 0.1);
}

.nav-tabs.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid var(--settings-tabs-border-color);
}

.nav-tabs.nav li {
  border-right: 1px solid var(--settings-tabs-border-color);
}

.nav-tabs.nav .nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  background-color: var(--settings-tabs-background);
  padding: 1rem 0.9rem;
  text-transform: unset;
  // border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  color: var(--settings-tabs-color);
  text-align: center;
  max-width: 175px;
}

@media (max-width: 767px) {
  .nav-tabs.nav {
    flex-direction: column;
  }

  .nav-tabs.nav .nav-link {
    text-align: left;
    max-width: 100%;
  }
}

.nav-tabs.nav {
  .nav-link {
    &:hover,
    &.active {
      background: var(--settings-tabs-container-background);
      border-radius: 0;
    }
  }
}

.nav-tabs.nav .nav-link.active {
  color: $brand-primary;
}

.gmail_extra,
.gmail_quote,
.ctemplar_quote {
  display: none;
}

.show_gmail_extra .gmail_extra,
.show_gmail_extra .gmail_quote {
  display: block;
}

.l-alert-custom {
  border: none !important;
  background-color: #e3f1fd;
  font-size: 14px;
  position: relative;
  z-index: 1;
  i {
    vertical-align: middle;
  }
}

.text-grey-dark {
  color: #727272;
}

.text-grey-dark-500 {
  color: #757575;
}

.accordion .card {
  margin-bottom: 10px;
  border-radius: 0;
  border-color: #f2f2f2;
}

.accordion .card {
  .card-header {
    border-bottom: 0;
  }

  .card-header:first-child {
    padding: 0;
    a {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

.mail-checkbox {
  mat-checkbox {
    label {
      margin-bottom: 0 !important;
    }

    .mat-checkbox-frame {
      border: 2px solid var(--mat-checkbox-border-color);
    }
    .mat-checkbox-background {
      border: var(--width-0-2) solid var(--mat-checkbox-border-color);
    }
  }
}

.show-ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-simple-snackbar-action {
  color: $brand-primary !important;
}

.hidden {
  visibility: hidden;
}

.incoming-headers {
  .col-3,
  .col-9 {
    border: 1px solid $brand-secondary;
    border-bottom: 0;
  }

  .col-9 {
    border-left: 0;
    overflow-wrap: break-word;
  }

  .last-row {
    .col-3,
    .col-9 {
      border-bottom: 1px solid $brand-secondary;
    }
  }
}

.download-attachment-wrapper {
  display: inline-block;
  border-radius: 2px;
  background-color: #f5f5f5;
  margin-bottom: 4px;

  .download-attachment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #e5e5e5;
    color: #444;

    &:hover {
      border: 1px solid #4177f6;
    }
  }

  .attachment-icon {
    float: left;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    background: #e74b3e;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    margin-right: 5px;
  }

  .attachment-name {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
}

.full-width {
  width: 100% !important;
}

.position-relative {
  position: relative;
}

.display-inline-flex {
  display: inline-flex;
}

.input-ok,
.input-invalid {
  float: right;
  margin-right: -28px;
  margin-top: -31px;
  color: green;
}

.input-invalid {
  color: #dc3545 !important;
}

.font-20px {
  font-size: 20px;
}

.learn-more-info-icon {
  color: $gray-9e9e9e;
  display: inline-block;
  position: absolute;
  margin-left: 8px;

  i {
    font-size: 17px;
    margin-top: 2px;
  }
}

.loading-spinner {
  position: absolute;
  right: 25px;
  top: 25px;
}

.dropup .dropdown-menu {
  bottom: unset !important;
  transition: inherit;
}

// Overriding global styles

.text-dark,
.text-dark:hover,
a.text-dark,
a.text-dark:hover {
  color: var(--text-dark) !important;
}
.text-secondary {
  color: var(--text-muted) !important;
}
.text-faded {
  color: var(--text-faded) !important;
}
.text-muted {
  color: var(--text-muted) !important;
}
.bg-faded {
  background-color: var(--bg-faded) !important;
}
.bg-white {
  background-color: var(--bg-white) !important;
}

.cookie-law-wrapper {
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  background: #2e4154 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
  color: #f8f9fa !important;
  a {
    color: #f8f9fa !important;
  }
}

.receiver-email-chip-popover {
  background: var(--receiver-chip-popover-background);
  z-index: 9999;
  border: 1px solid var(--receiver-chip-popover-border);
  border-radius: 2px;
  margin-top: 10px;
  -moz-box-shadow: 3px 3px 5px var(--receiver-chip-popover-shadow);
  -webkit-box-shadow: 3px 3px 5px var(--receiver-chip-popover-shadow);
  color: var(--text-color-inverse);
  box-shadow: 3px 3px 5px var(--receiver-chip-popover-shadow);
  min-width: 200px;
  .receiver-email-chip-popover-receiver-info {
    padding: 7px 15px;
    .receiver-email-chip-popover-receiver-name {
      font-size: 20px;
      a {
        color: var(--tex-color);
        cursor: pointer;
        i {
          font-size: 15px;
        }
      }
    }
  }
  .receiver-email-chip-popover-receiver-action {
    border-top: 1px solid var(--receiver-chip-popover-divider-color);
    padding: 7px 15px;
    display: flex;
    justify-content: space-between;
    a {
      color: var(--tex-color);
      cursor: pointer;
    }
    a.hover-text-decoration-underline {
      font-size: 14px;
    }
    a.hover-text-decoration-underline:hover {
      text-decoration: underline;
    }
  }
}

.font-size-1 {
  font-size: 1em !important;
}
