/**
* master sass file, which includes all the partial files
*/

/**
* IMPORTING PARTIALS FROM CONFIG DIRECTORY
*/
@import "styles/config/include-media-config";

// == variables partials from base directory before everything to override varaibles with !default flags inside any vendor projects
@import "styles/base/variables";

/**
* IMPORTING PARTIALS FROM VENDORS DIRECTORY
*/

@import "styles/vendors/include-media/include-media"; // SASS plugin for better media query detection
@import "styles/vendors/fontawesome/fontawesome"; // Fontawesome SASS modules
@import "styles/vendors/bootstrap/ctemplar-bootstrap"; // Bootstrap SASS modules
@import "styles/vendors/ceaser/ceaser-easing"; // Ceaser easing SASS module for smooth transition effects

/**
* IMPORTING PARTIALS FROM MIXINS DIRECTORY
*/
@import "styles/mixins/utilities";

/**
* IMPORTING PARTIALS FROM BASE DIRECTORY
*/

// == typograhy and fonts
@import "styles/base/fonts";
@import "styles/base/type";

/**
* IMPORTING PARTIALS FROM LAYOUT DIRECTORY
*/
@import "styles/layouts/global";
@import "styles/layouts/utilities";
@import "styles/layouts/header";
@import "styles/layouts/footer";

/**
* IMPORTING PARTIALS FROM MODULES DIRECTORY
*/
@import "styles/modules/preloader";
@import "styles/modules/menu";
@import "styles/modules/utilities/utilities";
@import "styles/modules/hero";
@import "styles/modules/blocks";
@import "styles/modules/lists";
@import "styles/modules/cards/cards";
@import "styles/modules/comments/comments";

// == OVERRIDING BOOTSTRAP modules
@import "styles/modules/bootstrap-overrides/overrides";