/**
* master sass file, which includes all the partial files
*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/**
* IMPORTING PARTIALS FROM CONFIG DIRECTORY
*/
@import "styles/config/include-media-config";

// == variables partials from base directory before everything to override varaibles with !default flags inside any vendor projects
@import "styles/base/variables";

/**
* IMPORTING PARTIALS FROM VENDORS DIRECTORY
*/

@import "styles/vendors/include-media/include-media"; // SASS plugin for better media query detection
@import "styles/vendors/fontawesome/fontawesome"; // Fontawesome SASS modules
@import "styles/vendors/bootstrap/ctemplar-bootstrap"; // Bootstrap SASS modules
@import "styles/vendors/ceaser/ceaser-easing"; // Ceaser easing SASS module for smooth transition effects
@import "styles/vendors/icomoon/icomoon"; // Icomoon SASS module which includes custom font library

/**
* IMPORTING PARTIALS FROM MIXINS DIRECTORY
*/
@import "styles/mixins/utilities";

/**
* IMPORTING PARTIALS FROM BASE DIRECTORY
*/

// == typograhy and fonts
@import "styles/base/fonts";
@import "styles/base/type";

/**
* IMPORTING PARTIALS FROM LAYOUT DIRECTORY
*/
@import "styles/layouts/global";
@import "styles/layouts/utilities";
@import "styles/layouts/header";
@import "styles/layouts/footer";

/**
* IMPORTING PARTIALS FROM MODULES DIRECTORY
*/
@import "styles/modules/preloader";
@import "styles/modules/menu";
@import "styles/modules/utilities/utilities";
@import "styles/modules/hero";
@import "styles/modules/blocks";
@import "styles/modules/lists";
@import "styles/modules/cards/cards";
@import "styles/modules/comments/comments";

/**
* OVERRIDING BOOTSTRAP MODULES
*/
@import "styles/modules/bootstrap-overrides/overrides";

/**
* IMPORTING PAGES MODULES
*/
@import "styles/pages/user-actions/form-pages";

/**
* IMPORTING MAIL COMPOSER MODULES
*/
@import "styles/modules/mail-composer/mail-composer";

.loading-icon {
  position: absolute;
  top: 28vh;
  margin-left: calc(50% - 20px);
}

// LOADING

@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.15); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.08); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.loading {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3a4e63;
  width: 100%;
  height: 100%;
  text-align: center;

  p {
    margin: 0;
    color: #FFFFFF;
    font-size: 24px;
  }

  .author {
    font-size: 18px;
  }
}

.cdk-overlay-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

// TODO: add src of this font
.ql-font-hiragino-sans {
  font-family: 'Hiragino Sans', sans-serif;
}

.ql-font-lato {
  font-family: 'Lato', sans-serif;
}

.ql-font-roboto {
  font-family: Roboto, sans-serif;
}

// TODO: add src of this font

.ql-font-abril-fatface {
  font-family: 'Abril Fatface', sans-serif;
}

// TODO: add src of this font
.ql-font-andale-mono {
  font-family: 'Andale Mono', sans-serif;
}

.ql-font-arial {
  font-family: Arial, sans-serif;
}

.ql-font-times-new-roman {
  font-family: Times New Roman, serif;
}

.generic-dropdown-list {
  max-height: 300px;
  overflow-y: scroll;
}

//START tag input css

tag-input {

  .ng2-tag-input{
    border-bottom: 0 !important;

    // TODO @kriti please fix this width for multiple devices.
    //width: 650px;
  }

  .ng2-tag-input__text-input{
    height: 20px !important;
    font-size: 14px !important;
  }

  tag {
    height: 20px !important;
    border-radius: 1px !important;
    border: 1px solid lightgrey !important;

    .tag-wrapper {
      margin-top: -10px !important;
    }
  }

  .ng2-dropdown-menu {
    margin-top: -15px;
  }
}

// Gmail styled button
.btn-gmail {
  border-radius: 2px;
  cursor: pointer;
  font-size: 11px;
  text-align: center;
  margin-right: 10px;
  line-height: 2rem;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
  background-color: #f1f1f1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #444;

  .icon-lg {
    font-size: 1.1rem;
    vertical-align: middle;
  }
  
  &:hover,
  &:focus{
    border: 1px solid #c6c6c6;
    color: #333;
  }
  
  &:active {
      background: #dedede;
  }
}

.position-left {
  margin-right: 7px;
}

.btn {
  cursor: pointer;
}
//END tag input css

.zEWidget-launcher{
  z-index: 10 !important;
}

.green{
  color: green;
}

.close-mat-keyboard{
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  border: 1px solid #333;
  background: #333;
  color: white;
  height: 20px;
  width: 20px;
  text-align: center;
  opacity: 1;

  &:hover {
    color: white;
    opacity: 0.8;
  }

  .close-mat-keyboard-icon {
    font-size: 12px;
    vertical-align: middle;
  }
}

app-compose-mail {
  .mail-compose-field tag-input {
    max-width: calc(100% - 4rem);
  }

  .mail-compose-field textarea{
    font-size: 14px;
  }
}

button[disabled] {
  cursor: not-allowed;
  background-color: #f1f0f0;
}

.menu-open .mailbox-sidebar {
  @include media("<sm") {
    left: 220px;
  }
}

.btn-social {
  color: #fff;
  font-size: 14px;
  &:hover,
  &:focus {
    color: #fff;
  }

  img {
    max-height: 15px;
  }
}

.btn-twitter {
  background-color: $twitter-color;
  border-color: $twitter-color;
 
  &:hover,
  &:focus {
    background-color: darken($twitter-color , 10%);
    border-color: darken($twitter-color , 10%);
  }
}


.btn-facebook {
  background-color: $facebook-color;
  border-color: $facebook-color;
  &:hover,
  &:focus {
    background-color: darken($facebook-color , 10%);
    border-color: darken($facebook-color , 10%);
  }
}

// Settings Tabs 

.nav-tabs {
  box-shadow: 0 4px 10px 0 rgba(1, 70, 109, 0.1);
}

.nav-tabs.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid #F5F5F5;
}

.nav-tabs.nav li{
  border-right: 1px solid #F5F5F5;
}

.nav-tabs.nav .nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  background-color: transparent;
  padding: 1rem 0.9rem;
  text-transform: unset;
  border-radius: .25rem;
  font-size: 14px;
  font-weight: 600;
  color: #616161;
  text-align: center;
  max-width: 175px;
}

@media (max-width: 767px) {
  .nav-tabs.nav {
    flex-direction: column;
  }

  .nav-tabs.nav .nav-link{
    text-align: left;
    max-width: 100%;
  }
} 

.nav-tabs.nav  {
  .nav-link{
    &:hover,
    &.active {
      background: #f4f4f4;
      border-radius: 0;
    }
  }
}

.nav-tabs.nav .nav-link.active {
  color: $brand-primary;
}

.gmail_extra,
.gmail_quote {
  display: none;
}

.show_gmail_extra .gmail_extra,
.show_gmail_extra .gmail_quote{
  display: block;
}

.l-alert-custom {
  border: none !important;
  background-color: #e3f1fd;
  font-size: 14px;
  position: relative;
  z-index: 1;
  i {
    vertical-align: middle;
  }
}

.text-grey-dark {
  color: #727272;
} 

.text-grey-dark-500 {
  color: #757575;
}

// Resolve mail detail page paragraph margin issues
app-mail-detail {
  p {
    margin: 0 !important;
  }
}

.accordion .card {
  margin-bottom: 10px;
  border-radius: 0;
  border-color: #f2f2f2;
}

.accordion .card {

  .card-header{
    border-bottom: 0;
  }

  .card-header:first-child {
    padding: 0;
    a {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

.mail-checkbox {
  mat-checkbox {
    label {
      margin-bottom: 0 !important;
    }

    .mat-checkbox-frame {
      border: 2px solid #cccaca;
    }
  }
}

.show-ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-simple-snackbar-action {
  color: $brand-primary !important;
}