@import '~semantic-ui-css/semantic.min.css';

body {
}


.main.container {
  padding: 6rem 0 calc(6rem + 112.5px);
}

// HOTFIXES
.ui.large.dropdown.button {
  vertical-align: bottom;
}

* {
  outline: none;
}



// TOOLS
.uppercase {
  text-transform: uppercase !important;
}

.page.heading {
  padding: 0 0 5rem;

  h1 {
    font-size: 4rem;
    color: #34495E;
    line-height: 4.85714rem;
    font-weight: 300;
  }

  h2 {
    font-size: 2rem;
  }
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.m-0 {
  margin: 0 !important;
}


// LOADING

@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.15); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.08); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.loading {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E74C3C;
  width: 100%;
  height: 100%;
  text-align: center;

  .logo {
    max-width: 100%;
    animation-name: pulse_animation;
    animation-duration: 2000ms;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  p {
    margin: 0;
    color: #FFFFFF;
    font-size: 24px;
  }

  .author {
    font-size: 18px;
  }
}

// Buttons

.button.btn-red {
  background: linear-gradient(#E74C3C, #C0392B) !important;
  color: #D8D8D8;
  &:hover {
    background: #C0392B;
    color: #FFFFFF;
  }
}

.button.btn-blue {
  background: #34495E;
  color: #FFFFFF;
  &:hover {
    background: #2C3E50;
    color: #FFFFFF;
  }
}