<app-home-welcome></app-home-welcome>
<app-home-features></app-home-features>
<!-- OUR BLOG POSTS -->
<section class="l-block news-block gap-p-eq bg-white">
    <div class="container">
        <header class="l-block-header text-center">
            <h2 class="l-block-title" *ngIf="mode === modeObj.Recent" [innerHTML]="'home_page.latest_from_our_blog' | translate">Latest From
                <strong>Our Blog</strong>
            </h2>
            <h2 class="l-block-title" *ngIf="mode === modeObj.Related" [innerHTML]="'home_page.related_post' | translate">Related
                <strong>Post</strong>
            </h2>
        </header>
        <app-blog-grid></app-blog-grid>
        <footer class="l-block-footer text-center mt-3" *ngIf="mode===modeObj.Recent">
            <a routerLink="/blog" class="text-success">
                <em>
                    <u translate="home_page.read_more_from_our_blog">Read more from our blog</u>
                </em>
            </a>
        </footer>
    </div>
    <!-- /.Site container ends -->
</section>
<!-- /.OUR BLOG POSTS ENDS -->
