// PAGE INTRO SECTION 
section.l-block.l-block-text.bg-white.gap-p-eq.pb-0.text-center
  .container
    header.l-block-header.text-center
      .row.justify-content-center
        .col-sm-12.col-md-8.px-sm-5.px-md-0
          h1.page-title.text-uppercase.text-secondary
            strong Security
            | Features
  // /.Site container ends 
// /.PAGE INTRO SECTION ENDS 
// TWO COLUMN TILE SECTION :: END TO END ENCRYPTION 
section.l-block.l-block-tile.bg-white.gap-p-sm.pt-0
  .container
    .l-block-body
      .row.align-items-center
        .col-md-6.mb-3.mb-sm-4.mb-md-0.pb-2.pb-sm-0
          .tile-card.px-md.text-center.text-md-left
            figure
              img(src='/assets/images/security/security-img-1.png')
        .col-md-6
          .tile-card.px-md.pl-md-2
            .tile-card-counter.text-dark
              strong 1.
            h2.l-block-title.text-secondary.fw-light.mb-3.pb-1 End-to-end Encryption with Open Source Cryptography
            p
              | Whether you’re sending classified information to your accountant, business partners, clients, news networks or simply your friends, your emails are automatically encrypted using strong
              a(href='') public key cryptography
              | on our Icelandic servers, so even we can’t read them. Only you and your recipient can decode your emails.
  // /.Site container ends 
// /.TWO COLUMN TILE SECTION ENDS 
// TWO COLUMN TILE SECTION :: WORLD'S STRICTEST DATA PROTECTION LAWS 
section.l-block.l-block-tile.pb-0.bg-faded.is-clipped.is-clipped-lg.top.top-left.bottom.bottom-right
  .container.container
    .l-block-body
      .row.align-items-center
        .col-md-6.mb-3.mb-sm-4.mb-md-0.pb-2.pb-sm-0
          .tile-card.px-md.pl-md-2
            .tile-card-counter.text-dark
              strong 2.
            h2.l-block-title.text-secondary.fw-light.mb-3.pb-1 Benefit from the World’s Strictest Data Protection Laws
            p
              | Most encrypted email service providers boats about their Swiss data centers. What they don’t tell you is the Swiss government has an
              a(href='') information sharing agreement with USA
              | , so your data isn’t 100% secure. Iceland has zero sharing agreements and maintains the strictest data privacy laws in the world, so your data stays encrypted on our servers and nowhere else!
        .col-md-6
          .tile-card.px-md.text-center.text-md-left
            figure
              img(src='/assets/images/security/security-img-2.png')
  // /.Site container ends 
// /.TWO COLUMN TILE SECTION ENDS 
// TWO COLUMN TILE SECTION :: ZERO ACCESS TO DATA 
section.l-block.l-block-tile.bg-white.pb-0.is-clipped.is-clipped-lg.bottom.bottom-left
  .container
    .l-block-body
      .row.align-items-center
        .col-md-6.mb-3.mb-sm-4.mb-md-0.pb-2.pb-sm-0
          .tile-card.px-md.text-center.text-md-left
            figure
              img(src='/assets/images/security/security-img-3.png')
        .col-md-6
          .tile-card.px-md.pl-md-2
            .tile-card-counter.text-dark
              strong 3.
            h2.l-block-title.text-secondary.fw-light.mb-3.pb-1 Guaranteed Anonymity and Zero Access to Your Data
            p We don’t require any personal information to create your encrypted email account. Simply chose a username and password to access your email interface. For additional security, we don’t store your IP logs which can be traced to your anonymous email account. With CTemplar, your privacy is guaranteed.
  // /.Site container ends 
// /.TWO COLUMN TILE SECTION ENDS 
// TWO COLUMN TILE INVERSE SECTION :: SIMPLE USER INTERFACE LIKE REGULAR EMAIL ACCOUNT 
section.l-block.l-block-tile.pb-0.bg-faded.is-clipped.is-clipped-lg.top.top-left.bottom.bottom-right
  .container.container
    .l-block-body
      .row.align-items-center
        .col-md-6.mb-3.mb-sm-4.mb-md-0.pb-2.pb-sm-0
          .tile-card.px-md.pl-md-2
            .tile-card-counter.text-dark
              strong 4.
            h2.l-block-title.text-secondary.fw-light.mb-3.pb-1 Simple-to-use Interface Just Like a Regular Email Account
            p Unlike the old days where encrypted emailing meant complex manual encryption and private server setup, CTemplar does it all for you. Simply send and receive your emails just like a regular email account and rest assured knowing your privacy is 100% maintained.
        .col-md-6
          .tile-card.px-md.text-center.text-md-left
            figure
              img(src='/assets/images/security/security-img-4.png')
  // /.Site container ends 
// /.TWO COLUMN TILE SECTION ENDS 
// SINGLE COLUMN TILE SECTION :: SELF DESTRUCTING MESSAGES 
section.l-block.l-block-tile.bg-white.gap-p-eq
  .container.container
    .l-block-body
      .row.justify-content-center
        .col-md-8
          .tile-card.px-md.pl-md-2
            .tile-card-counter.text-dark
              strong 5.
            h2.l-block-title.text-secondary.fw-light.mb-3.pb-1 Encrypted email to non-CTemaplar acounts, self-destructing messages & much more...
            p Your contacts don’t require a CTemplar account in order to send and receive encrypted emails, they just need access to your Public Key in order to decrypt and open your messages. Though we do recommend everyone to use CTemplar email accounts for maximum security since even your stored emails and subject lines will be protected, unlike regular accounts.
  // /.Site container ends 
// /.SINGLE COLUMN TILE SECTION ENDS 
