<aside id="mailbox-sidebar" class="mailbox-sidebar is-sidebar-expandedx" role="complementary">
    <div class="mailbox-sidebar-inner">

        <div class="mailbox-brand">
            <button class="navbar-toggler hidden-md-up" role="button">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggle-text">Menu</span>
            </button>
            <figure class="navbar-brand-holder hidden-sm-down">
                <a class="navbar-brand ff-roboto text-uppercase" routerLink="">
                    <img alt="Ctemplar Logo" class="navbar-brand-logo" src="assets/images/logo.svg"/>
                    <strong>ctemplar</strong>
                </a>
            </figure>
            <div class="prime-account-content">
                <i class="icon icon-secure-shield"></i>
                <span class="prime-account-text">Prime</span>
            </div>
        </div>

        <div class="mail-compose-section hidden-xs-down">
            <a routerLink="/mail"
               class="btn btn-lg btn-outline-white mailbox-btn mailbox-back-btn btn-xs-squared has-icon"><i
                    class="icon icon-arrow-left icon-sm mr-md-2"></i>
                <span class="mailbox-btn-text hidden-sm-down" [translate]="'contacts.back_to_mail'">Back to mail</span>
            </a>
        </div>

        <nav class="mailbox-sidebar-navbar">
            <ul class="mailbox-sidebar-nav">
                <li class="mailbox-sidebar-nav-item active">
                    <a class="mailbox-sidebar-nav-link no-icon"><span
                            class="mailbox-sidebar-nav-label" [translate]="'contacts.all_contacts'">All Contacts</span>
                        <span class="badge badge-square">{{userState?.contact?.length}}</span></a>
                </li>
            </ul>
        </nav>

        <div class="mailbox-sidebar-footer text-center">
            <div class="mailbox-sidebar-footer-text mb-0 mb-md-1 visible-in-sm">Used
                <div class="text-white mt-1">43 MB</div>
            </div>
            <div class="mailbox-sidebar-footer-text mb-1 hidden-in-sm">
                <span translate="common.used_storage">Used storage</span>: 43 MB of 100 MB
            </div>
            <a class="btn-link text-white hidden-in-sm">
                <small>
                    <u translate="common.upgrade_account">Upgrade account</u>
                </small>
            </a>
        </div>

    </div>
</aside>

<!-- Add user button to be used in small screens -->
<div class="btn-xs-holder is-sticky hidden-sm-up">
    <button class="btn btn-success mailbox-btn mailbox-add-user-btn btn-xs-rounded has-icon" role="button"
            placement="top" ngbTooltip="Add User" (click)="selectedContact=null;initSplitContactLayout();"><i
            class="icon icon-add-user text-white"></i></button>
</div>

<div class="mailbox-actionbar border-bottom-0">
    <div class="row">
        <div class="col-12 col-sm-8 mailbox-actionbar-col">
            <ul class="mailbox-actionbar-menu">
                <li class="btn-dropdown mailbox-dropdown checkbox-dropdown">
                    <div>
                        <button class="dropdown-toggle no-caret" role="button">
                            <span class="fancy-field-group">
                                <input class="d-none fancy-field-control"
                                       id="selectAll"
                                       [(ngModel)]="selectAll"
                                       (change)="toggleSelectAll()"
                                       name="selectAll" type="checkbox"/>
                                <label for="selectAll" class="fancy-field-empty"></label>
                            </span>
                        </button>
                    </div>
                </li>
                <li class="pr-0 pl-0">
                    <a (click)="openConfirmDeleteModal(confirmDeleteModal)"
                       [ngbTooltip]="'contacts.delete_tooltip' | translate"
                       class="cursor-pointer border-radius-l-0"><i
                            class="icon icon-garbage"></i></a>
                </li>
                <li class="pr-0">
                    <a class="no-icon" (click)="showComposeMailDialog()" [translate]="'common.compose'">Compose</a>
                </li>
                <li class="hidden-xs-down">
                    <a class="no-icon" role="button"
                       [translate]="'contacts.new_contact'"
                       (click)="editContact(null, addUserContent);">New Contact</a>
                </li>
                <li *ngIf="inProgress">
                    <app-loading-spinner [showSpinner]="inProgress"></app-loading-spinner>
                </li>
            </ul>
        </div>

        <!--TODO pagination to be done later.-->
        <div class="col-sm-4 mailbox-actionbar-col hidden-xs-down" *ngIf="false">
            <div class="mail-controls d-flex align-items-center justify-content-end">
                <div class="mail-result-text text-muted">
                    <small>1-50 of 2346</small>
                </div>
                <div class="mail-nav-control">
                    <button role="button" class="mail-nav-control-prev"><i class="icon icon-chevron-left"></i></button>
                    <button role="button" class="mail-nav-control-next"><i class="icon icon-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mailbox-section">
    <div class="mailbox-section-body py-0">
        <div class="row mail-contact-layout-row" [class.is-splitted]="isLayoutSplitted">
            <div class="col-12 mail-contact-layout-col mail-contact-listing-col">
                <div class="mail-contact">
                    <div class="mail-contact-header mail-list-row border-bottom-0 hidden-xs-down">
                        <div class="mail-list-inner-row align-items-center">
                            <div class="col-sm-4 col-lg-3 mail-contact-col-sm">
                                <div class="mail-contact-title text-uppercase">
                                    <strong translate="common.name">Name</strong></div>
                            </div>
                            <div class="col-sm-8 col-lg-9 mail-contact-col-lg">
                                <div class="mail-contact-title text-uppercase">
                                    <strong translate="common.email">Email</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="mail-contact-body is-bordered">
                        <div class="mail-listing">
                            <div class="mail-list-row is-unread" *ngFor="let contact of userState.contact">
                                <div class="mail-list-inner-row align-items-center">
                                    <div class="col-sm-4 col-lg-3 mail-contact-col-sm">
                                        <div class="mail-list-col-row">
                                            <div class="mail-list-col-item mail-checkbox">
                                                <div class="fancy-field-group">
                                                    <input class="d-none fancy-field-control"
                                                           [(ngModel)]="contact.markForDelete"
                                                           [id]="contact.id"
                                                           (change)="selectAll=false;"
                                                           [name]="contact.id" type="checkbox"/>
                                                    <label [attr.for]="contact.id" class="fancy-field-empty"></label>
                                                </div>
                                            </div>
                                            <div class="mail-list-col-item mail-from-name cursor-pointer"
                                                 ngbTooltip="{{contact.name}}"
                                                 (click)="editContact(contact, addUserContent)">
                                                <span>{{contact.name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-lg-9 mail-contact-col-lg cursor-pointer"
                                         (click)="editContact(contact, addUserContent)">
                                        <div class="mail-desc">
                                            <p><strong>{{contact.email}}</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mail-contact-layout-col mail-contact-entry-col">
                <div class="mail-actions-form-holder">
                    <h5 class="mail-actions-form-title text-dark">
                        <button class="actions-btn" role="button"
                                (click)="destroySplitContactLayout();"><i class="icon icon-arrow-left"></i></button>
                        <strong translate="contacts.details">Contact Details</strong></h5>
                    <app-save-contact *ngIf="isNewContact"
                                      [selectedContact]="selectedContact"
                                      (userSaved)="destroySplitContactLayout()"></app-save-contact>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mailbox-footer-actionbar hidden-sm-up">
    <div class="row justify-content-end">

        <div class="col-12 mailbox-actionbar-col">
            <div class="mail-controls d-flex align-items-center justify-content-end">
                <div class="mail-result-text text-muted">
                    <small>1-50 of 2346</small>
                </div>
                <div class="mail-nav-control">
                    <button role="button" class="mail-nav-control-prev">
                        <i class="icon icon-chevron-left"></i>
                    </button>
                    <button role="button" class="mail-nav-control-next">
                        <i class="icon icon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add users contact modal -->
<ng-template #addUserContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title w-100 text-dark" id="makeDonationModalLabel"><strong translate="contacts.details">Contact
            Details</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body bg-faded">
        <div class="mail-actions-form-holder modal-mail-actions-form-holder">
            <app-save-contact *ngIf="isNewContact"
                              [selectedContact]="selectedContact"
                              (userSaved)="d()"></app-save-contact>
        </div>
    </div>
</ng-template><!-- /.Add users contact modal ends -->


<!-- Confirm contact delete modal -->
<ng-template #confirmDeleteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title w-100 text-dark"><strong translate="contacts.delete.title">Confirm Delete</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body bg-faded">
        <div class="mail-actions-form-holder modal-mail-actions-form-holder">
            <div class="form-group">
                <span translate="contacts.delete.message">Are you sure, you want to delete</span>
                {{selectedContacts?.length}} <span translate="common.contact">contact</span>?
            </div>
            <div class="form-group text-right mb-0">
                <button (click)="cancelDelete()" class="btn btn-secondary btn-sm"
                        translate="common.cancel"
                        role="button">Cancel
                </button>
                <button (click)="deleteContacts()" class="btn btn-danger btn-sm"
                        translate="common.delete"
                        role="button">Delete
                </button>
            </div>

        </div>
    </div>
</ng-template><!-- /.Confirm contact delete modal ends -->
