/**
* Square card scss
*/

.square-card {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &::after {
        display: block;
        content: "";
        padding-bottom: 100%;
    }

    &.has-border {
        border: 1px solid $input-border-color;
        border-radius: 4px;
    }
}

.square-card-content {
    position: absolute;
    top: 2.813rem;
    padding: 0 1.25rem;
}

.square-card-footer {
    position: absolute;
    bottom: 0.938rem;
    padding: 0 1.25rem;
    font-size: 0.875rem;
}