<div class="main ui container">

  <div class="page heading ui center aligned basic segment">
    <h1 class="uppercase">Media-kit</h1>
    <h2>These images may be freely used in any publication, providing<br>the accompanying media refers back to our platform.</h2>
  </div>

  <div class="ui four cards">
    <div class="card">
      <div class="image">
        <img src="https://placeimg.com/266/199/animals">
      </div>
      <div class="ui two bottom attached buttons">
        <a class="ui black button" href="#"><i class="download icon"></i> PNG</a>
        <a class="ui black button" href="#"><i class="download icon"></i> SVG</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://placeimg.com/266/199/animals">
      </div>
      <div class="ui two bottom attached buttons">
        <a class="ui black button" href="#"><i class="download icon"></i> PNG</a>
        <a class="ui black button" href="#"><i class="download icon"></i> SVG</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://placeimg.com/266/199/animals">
      </div>
      <div class="ui two bottom attached buttons">
        <a class="ui black button" href="#"><i class="download icon"></i> PNG</a>
        <a class="ui black button" href="#"><i class="download icon"></i> SVG</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://placeimg.com/266/199/animals">
      </div>
      <div class="ui two bottom attached buttons">
        <a class="ui black button" href="#"><i class="download icon"></i> PNG</a>
        <a class="ui black button" href="#"><i class="download icon"></i> SVG</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://placeimg.com/266/199/animals">
      </div>
      <div class="ui two bottom attached buttons">
        <a class="ui black button" href="#"><i class="download icon"></i> PNG</a>
        <a class="ui black button" href="#"><i class="download icon"></i> SVG</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://placeimg.com/266/199/animals">
      </div>
      <div class="ui two bottom attached buttons">
        <a class="ui black button" href="#"><i class="download icon"></i> PNG</a>
        <a class="ui black button" href="#"><i class="download icon"></i> SVG</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://placeimg.com/266/199/animals">
      </div>
      <div class="ui two bottom attached buttons">
        <a class="ui black button" href="#"><i class="download icon"></i> PNG</a>
        <a class="ui black button" href="#"><i class="download icon"></i> SVG</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://placeimg.com/266/199/animals">
      </div>
      <div class="ui two bottom attached buttons">
        <a class="ui black button" href="#"><i class="download icon"></i> PNG</a>
        <a class="ui black button" href="#"><i class="download icon"></i> SVG</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://placeimg.com/266/199/animals">
      </div>
      <div class="ui two bottom attached buttons">
        <a class="ui black button" href="#"><i class="download icon"></i> PNG</a>
        <a class="ui black button" href="#"><i class="download icon"></i> SVG</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://placeimg.com/266/199/animals">
      </div>
      <div class="ui two bottom attached buttons">
        <a class="ui black button" href="#"><i class="download icon"></i> PNG</a>
        <a class="ui black button" href="#"><i class="download icon"></i> SVG</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://placeimg.com/266/199/animals">
      </div>
      <div class="ui two bottom attached buttons">
        <a class="ui black button" href="#"><i class="download icon"></i> PNG</a>
        <a class="ui black button" href="#"><i class="download icon"></i> SVG</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://placeimg.com/266/199/animals">
      </div>
      <div class="ui two bottom attached buttons">
        <a class="ui black button" href="#"><i class="download icon"></i> PNG</a>
        <a class="ui black button" href="#"><i class="download icon"></i> SVG</a>
      </div>
    </div>
  </div>

</div>
