<aside id="mailbox-sidebar" class="mailbox-sidebar is-sidebar-expandedx" role="complementary">
	<div class="mailbox-sidebar-inner">

		<div class="mailbox-brand">
			<button class="navbar-toggler hidden-md-up" role="button">
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggle-text">Menu</span>
			</button>
			<figure class="navbar-brand-holder hidden-sm-down">
				<a class="navbar-brand ff-roboto text-uppercase" routerLink="">
					<img alt="Ctemplar Logo" class="navbar-brand-logo" src="assets/images/logo.svg" />
					<strong>ctemplar</strong>
				</a>
			</figure>
			<div class="prime-account-content">
				<i class="fa fa-lock"></i>
				<span class="prime-account-text">Prime</span>
			</div>
		</div>

		<div class="mail-compose-section hidden-xs-down">
			<a href="" class="btn btn-lg btn-primary mailbox-btn mailbox-compose-btn">
				<span class="hidden-sm-down">Compose</span>
			</a>
		</div>

		<nav class="mailbox-sidebar-navbar">
			<ul class="mailbox-sidebar-nav">
				<li class="mailbox-sidebar-nav-item active">
					<a href="" class="mailbox-sidebar-nav-link">
						<i class="fa fa-inbox"></i>
						<span class="mailbox-sidebar-nav-label">Inbox</span>
						<span class="badge badge-square hidden-sm-down">4</span>
						<span class="badge badge-sm badge-square hidden-md-up">1234</span>
					</a>
				</li>
				<li class="mailbox-sidebar-nav-item">
					<a href="" class="mailbox-sidebar-nav-link">
						<i class="fa fa-inbox"></i>
						<span class="mailbox-sidebar-nav-label">Draft</span>
					</a>
				</li>
				<li class="mailbox-sidebar-nav-item">
					<a href="" class="mailbox-sidebar-nav-link">
						<i class="fa fa-paper-plane"></i>
						<span class="mailbox-sidebar-nav-label">Sent</span>
					</a>
				</li>
				<li class="mailbox-sidebar-nav-item">
					<a href="" class="mailbox-sidebar-nav-link">
						<i class="fa fa-star"></i>
						<span class="mailbox-sidebar-nav-label">Starred</span>
					</a>
				</li>
				<li class="mailbox-sidebar-nav-item">
					<a href="" class="mailbox-sidebar-nav-link">
						<i class="fa fa-archive"></i>
						<span class="mailbox-sidebar-nav-label">Archive</span>
					</a>
				</li>
				<li class="mailbox-sidebar-nav-item">
					<a href="" class="mailbox-sidebar-nav-link">
						<i class="fa fa-exclamation-circle"></i>
						<span class="mailbox-sidebar-nav-label">Spam</span>
					</a>
				</li>
				<li class="mailbox-sidebar-nav-item">
					<a href="" class="mailbox-sidebar-nav-link">
						<i class="fa fa-trash-alt"></i>
						<span class="mailbox-sidebar-nav-label">Trash</span>
					</a>
				</li>
				<li class="divider-item"></li>
				<li class="mailbox-sidebar-nav-item add-folder text-uppercase">
					<a href="javascript:void(0);" class="mailbox-sidebar-nav-link" (click)="open(content)" role="button">
						<i class="fa fa-folder"></i>
						<span class="mailbox-sidebar-nav-label">Add folder</span>
					</a>
					<ul class="folders-list">
						<li>
							<a href="">
								<span class="folder-color-box is-success"></span>
								<span class="folders-list-text">Folder 1</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="folder-color-box is-info"></span>
								<span class="folders-list-text">Another Folder 2</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="folder-color-box is-warning"></span>
								<span class="folders-list-text">Folder 33</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>

		<div class="mailbox-sidebar-footer text-center">
			<div class="mailbox-sidebar-footer-text mb-0 mb-md-1 visible-in-sm">Used
				<div class="text-white mt-1">43 MB</div>
			</div>
			<div class="mailbox-sidebar-footer-text mb-1 hidden-in-sm">Used storage: 43 MB of 100 MB</div>
			<a href="" class="btn-link text-white hidden-in-sm">
				<small>
					<u>Upgrade account</u>
				</small>
			</a>
		</div>

	</div>
</aside>

<div class="mail-compose-xs-btn is-sticky hidden-sm-up">
	<a href="" class="btn btn-primary mailbox-compose-btn"></a>
</div>

<!-- Create folders Modal -->
<ng-template #content let-c="close" let-d="dismiss" ng-modal-class="mailbox-modal">
	<div class="modal-header">
		<h3 class="modal-title w-100 text-dark" id="createFoldersModalLabel">
			<strong>Create new folder</strong>
		</h3>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body bg-faded">
		<div class="form">
			<form>
				<div class="form-group">
					<div class="row align-items-center">
						<div class="col-sm-3">
							<label for="folderName" class="modal-form-label mb-2 mb-sm-0">
								<small>Folder name:</small>
							</label>
						</div>
						<div class="col-sm-9">
							<input class="form-control form-control-sm" id="folderName" type="text" />
						</div>
					</div>
				</div>
				<div class="form-group mb-0">
					<div class="row">
						<div class="col-sm-3">
							<label for="colorSelection" class="modal-form-label mb-2 mb-sm-0 pt-sm-2">
								<small>Select color:</small>
							</label>
						</div>
						<div class="col-sm-9">
							<div class="color-boxes-holder">
								<ul class="color-boxes-group">
									<li>
										<div class="color-shape is-active" style="background: #1abc9c;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #2ecc71;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #3498db;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #9b59b6;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #f1c40f;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #e67e22;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #e74c3c;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #16a085;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #27ae60;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #2980b9;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #8e44ad;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #f39c12;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #d35400;"></div>
									</li>
									<li>
										<div class="color-shape" style="background: #c0392b;"></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer justify-content-center justify-content-sm-end">
		<a href="" class="btn btn-secondary btn-sm">Create</a>
	</div>
</ng-template>

<!-- Mail compose dialog -->
<div class="mail-composer is-fullscreenx">
	<div class="mail-composer-dialog">
		<div class="mail-composer-header">
			<div class="mail-composer-title">New message</div>
			<div class="mail-composer-header-actions">
				<div class="mail-actions-list">
					<div class="mail-actions-item">
						<i class="fa fa-times"></i>
					</div>
					<div class="mail-actions-item">
						<i class="fa fa-times"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="mail-composer-body">
			<form>
				<div class="mail-compose-field-group">
					<div class="mail-compose-field">
						<span class="mail-label label-to">To:</span>
						<textarea class="mail-compose-control" id="recepietTo" rows="1">johndoe@gmail.com</textarea>
						<div class="extra-mail-label">
							<span class="mail-label mail-floated-label">Cc</span>
							<span class="mail-label mail-floated-label">Bcc</span>
						</div>
					</div>
					<div class="mail-compose-field border-bottom-0 d-none">
						<span class="mail-label label-to">Cc:</span>
						<textarea class="mail-compose-control" id="recepietTo" rows="1">johndoe@gmail.com</textarea>
					</div>
					<div class="mail-compose-field d-none">
						<span class="mail-label label-to">Bcc:</span>
						<textarea class="mail-compose-control" id="recepietTo" rows="1">johndoe@gmail.com</textarea>
					</div>
					<div class="mail-compose-field">
						<span class="mail-label label-to">Subject:</span>
						<textarea class="mail-compose-control" id="recepietTo" rows="1">Re: Welcome to CTemplar!</textarea>
					</div>
				</div>
			</form>
			<div class="mail-compose-editable-body">
				<div class="mail-compose-box">
					<div class="mail-compose-box-inner">
						<div class="mail-compose-editable-box" contenteditable="true">
							<div style="color: rgba(0, 0, 0, 0.87);line-height: 1.7;">You now have an inbox that is protected by strong encryption. Even we do not have the ability to read your emails.
								CTemplar can send and receive emails from other email providers such as Gmail. It is even possible to end-to-end
								encrypt the messages you send to external recipients. If your friends also use CTemplar, all your communications
								with them will be automatically end-to-end encrypted.</div>
							<div style="line-height: 1.7;">
								<br/>
							</div>
							<div style="color: rgba(0, 0, 0, 0.87);line-height: 1.7;">CTemplar is an open-source community-driven project and basic accounts are always free. However, the costs to run
								CTemplar are quite high, and we depend on support from the community to keep the service running. If you would like
								to support the project, you can upgrade to a paid account. Your support is essential to ensuring that CTemplar is
								financially stable and can continue to offer the service to the public.</div>
							<br/>
						</div>
						<div class="attach-uploader-holder">
							<div class="attach-uploader">
								<div class="attach-name">filename.doc
									<span class="attach-size">(340 K) </span>
								</div>
								<button role="button" class="attach-uploader-close">
									<i class="fa fa-times"></i>
								</button>
							</div>
							<div class="attach-uploader">
								<div class="attach-name">other_filename.doc
									<span class="attach-size">(1,556 K) </span>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" style="width:45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<button role="button" class="attach-uploader-close">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mail-composer-footer">
			<div class="mail-composer-footer-row d-flex align-items-center">
				<div class="mail-composer-footer-col mail-composer-footer-col-lg">
					<ul class="mail-composer-footer-actions d-flex align-items-center">
						<li>
							<button role="button" class="actions-btn mail-attach-btn disabled">
								<i class="fa fa-inbox"></i>
							</button>
						</li>
						<li class="pr-0">
							<button role="button" class="actions-btn mail-attach-btn border-right-0 border-radius-r-0">
								<i class="fa fa-inbox"></i>
							</button>
						</li>
						<li class="px-0">
							<button role="button" class="actions-btn mail-attach-btn border-right-0 border-radius-0">
								<i class="fa fa-inbox"></i>
							</button>
						</li>
						<li class="px-0">
							<button role="button" class="actions-btn mail-attach-btn border-right-0 border-radius-0">
								<i class="fa fa-inbox"></i>
							</button>
						</li>
						<li class="pl-0">
							<button role="button" class="actions-btn mail-attach-btn border-radius-l-0">
								<i class="fa fa-inbox"></i>
							</button>
						</li>
						<li>
							<button role="button" class="actions-btn mail-attach-btn">
								<i class="fa fa-inbox"></i>
							</button>
						</li>
						<li>
							<button role="button" class="actions-btn mail-attach-btn">
								<i class="fa fa-inbox"></i>
							</button>
						</li>
						<li>
							<button role="button" class="actions-btn mail-attach-btn">
								<i class="fa fa-inbox"></i>
							</button>
						</li>
					</ul>
				</div>
				<div class="mail-composer-footer-col mail-composer-footer-col-sm">
					<ul class="mail-composer-footer-actions d-flex align-items-center justify-content-end">
						<li class="pr-0">
							<button role="button" class="actions-btn mail-attach-btn border-right-0 border-radius-r-0">
								<i class="fa fa-inbox"></i>
							</button>
						</li>
						<li class="pl-0">
							<button role="button" class="actions-btn mail-attach-btn border-radius-l-0">
								<i class="fa fa-inbox"></i>
							</button>
						</li>
						<li>
							<a href="" class="btn btn-sm btn-secondary btn-mail-send btn-xs-rounded">
								<i class="hidden-sm-up fa fa-inbox"></i>
								<span class="hidden-xs-down">Send</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>