@import '../../../styles/base/variables';
@import '../../../styles/vendors/include-media/include-media';
@import '../../../styles/config/include-media-config';
@import '../../../styles/vendors/ceaser/ceaser-easing';


// == Sidebar
.mailbox-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #34495e;
	width: 220px;

	@include media("<ipad") {
		z-index: $zindex-default + 10;
	}

	@include media("<=sm") {
		transform: translateX(-100%);
		transition: all ease 0.35s;

		&.is-sidebar-expanded {
			transform: translateX(0%);
		}
	}

	@include media("<ipad", ">sm") {
		width: 68px;

		&.is-sidebar-expanded {
			width: 220px;
		}
	}

	@include media(">=ipad") {
		width: 290px;
	}
	
	.navbar-toggler {
		top: 1px;
		padding: 0 0;
		height: 1.25rem;
		width: 1.25rem;

		.navbar-toggler-icon {
			width: 1.25rem;
		}
	}

	.navbar-toggler-icon:nth-child(2), .navbar-toggler-icon:nth-child(3) {
		top: 9px;
	}

	.navbar-toggler-icon:nth-child(4) {
		top: 15px;
	}
}

.mailbox-sidebar-inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 1.25rem;

	@include media("<=sm") {
		padding-bottom: 8rem;
	}
}

.mailbox-brand,
.mail-compose-section {
	padding: 1.407rem 0.938rem;

	@include media("<=sm") {
		padding: 0.969rem 0.938rem;
	}

	@include media(">sm") {
		text-align: center;

		.is-sidebar-expanded & {
			text-align: left;
		}
	}

	@include media(">=ipad") {
		padding: 1.031rem 1.563rem;
		text-align: left;
	}
}

.mailbox-brand {
	position: relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	line-height: 1;
}

.prime-account-content {
	position: absolute;
	top: 50%;
	right: 0.938rem;
	color: $brand-white;
	transform: translateY(-50%);

	@include media("<ipad", ">sm") {
		display: none;

		.is-sidebar-expanded & {
			display: block;
		}
	}

	@include media(">=ipad") {
		right: 1.563rem;
	}

	.prime-account-text {
		margin-left: 0.25rem;
		font-size: 0.75rem;
	}
}

// == Mailbox sidebar menu
.navbar-toggle-text {
	display: none;

	@include media("<ipad") {
		.is-sidebar-expanded & {
			display: block;
			padding-left: 2rem;
		}
	}

	// @include media("<=sm") {
	// 	display: block;
	// 	padding-left: 2rem;
	// }
}

.mailbox-sidebar-nav {
	list-style: none;
	margin: 0 0;
	padding: 0;
	line-height: 1;

	.divider-item {
		margin: 0.625rem 0;
		border-top-color: rgba(255, 255, 255, 0.12);

		@include media(">sm") {
			margin: 0.938rem 0;
		}

		@include media(">=ipad") {
			margin: 0.938rem 1.563rem;
		}
	}
}

.mailbox-sidebar-nav-item {
	font-size: 0.875rem;
	line-height: 1;

	&.add-folder {
		font-size: 0.75rem;
		letter-spacing: 0.6px;	
	}
}

.mailbox-sidebar-nav-link {
	position: relative;
	display: block;
	padding: 0.813rem 0.938rem 0.813rem 3rem;
	color: $menu-link;
	min-height: 2.5rem;
	line-height: 1;

	.is-sidebar-expanded & {
		// padding-left: 0.938rem;
	}

	@include media(">=ipad") {
		padding: 0.813rem 1.563rem 0.813rem 3.375rem;
	}

	.active & {
		background: rgba(255, 255, 255, 0.12) !important;
		color: $brand-white;
	}

	&:hover,
	&:focus {		
		background: darken(rgba(255, 255, 255, 0.12), 25%);
		color: $brand-white;
	}

	>.fa,
	>.badge {
		position: absolute;
		top: 50%;
		left: 0.938rem;
		transform: translateY(-50%);

		@include media("<ipad", ">sm") {
			.is-sidebar-expanded & {
				left: 0.938rem;
			}
		}

		@include media(">sm") {
			left: 1.563rem;
		}

		@include media(">=ipad") {
			// left: 1.563rem;
		}
	}

	>.fa {
		font-size: 0.938rem;
	}

	>.badge {
		right: 1.563rem;
		left: auto;
		padding: 0 0;
		background-color: $brand-light-gray;
		border: 2px;
		font-size: 0.625rem;
		height: 1.25rem;
		width: 1.25rem;
		line-height: 1.25rem;
		text-align: center;

		@include media("<ipad") {
			&.badge-sm {
				top: 0.75rem;
				right: 0.5rem;
				padding: 0.125rem;
				background: $brand-primary;
				border-radius: 2px;
				font-size: 0.5rem;
				height: auto;
				width: auto;
				line-height: 1;

				.is-sidebar-expanded & {
					left: auto;
					right: 0.938rem;
				}
			}
		}

		@include media("<=sm") {
			&.badge-sm {
				right: 0.938rem;
			}
		}
	}

	.mailbox-sidebar-nav-label {
		@include media("<ipad", ">sm") {
			display: none;

			.is-sidebar-expanded & {
				display: block;
			}
		}
	}
}

.divider-item {
	margin: 0.375rem 0.938rem;
	border-top: 1px solid $divider-color;
}

.folders-list {
	margin: 0 0;
	padding-right: 1.563rem;
	padding-left: 3.25rem;
	list-style: none;

	@include media("<ipad") {
		display: none;
		.is-sidebar-expanded & {
			display: block;
			padding-left: 2.75rem;
		}
	}

	>li:first-child {
		padding-top: 0.938rem;
		border-top: 1px solid rgba(255, 255, 255, 0.12);
	}

	>li:not(:last-of-type) {
		margin-bottom: 0.625rem;
	}

	>li>a{
		position: relative;
		display: flex;
		padding-left: 0.875rem;
		color: $menu-link;

		.folder-color-box {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}

		@include media("<=sm") {			
			font-size: 0.625rem;
		}
	}
}

.mailbox-sidebar-footer {
	position: absolute;
	right: 0.938rem;
	bottom: .938rem;
	left: 0.938rem;
	line-height: 1;

	@include media("<=sm") {
		bottom: -8rem;
		padding-bottom: 0.938rem;
	}

	@include media(">sm") {
		bottom: 3.125rem;
	}

	@include media(">=ipad") {
		right: 1.563rem;
		bottom: 1.25rem;
		left: 1.563rem;
	}
}

.mailbox-sidebar-footer-text {	
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.688rem;
}

.visible-in-sm {
	display: none !important;
	@include media("<ipad", ">sm") {
		display: block !important;

		.is-sidebar-expanded & {
			display: none !important;
		}
	}
}

.hidden-in-sm {
	display: block !important;
	@include media("<ipad", ">sm") {
		display: none !important;

		.is-sidebar-expanded & {
			display: block !important;
		}
	}
}

// == Buttons
.btn-lg.mailbox-btn {
	padding: .5633rem 3.43066rem;
	font-size: 0.875rem;
	min-width: 240px;
}

.btn-primary.mailbox-btn {
	&:hover {
		background-color: #ff4d3b;
	}

	&:focus {
		background-color: #ff4d3b;
	}
}

.btn.mailbox-compose-btn {
	@include media("<ipad") {
		position: relative;
		padding: 0 0;
		border: solid 1px #c0392b;
		height: 2.25rem;
		width: 2.25rem;
		min-width: inherit;
		transition: none;

		&::before,
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			content: "";
			background: $brand-white;
			height: 1rem;
			width: 2px;
			transform: translateX(-50%) translateY(-50%);
		}

		&::after {
			height: 2px;
			width: 1rem;
		}
	}

	.is-sidebar-expanded & {
		padding: .5633rem 3.43066rem;
		height: auto;
		width: 100%;

		&::before,
		&::after {
			display: none;
		}
		
		.hidden-sm-down {
			display: block !important;
		}
	}
}

// == Folder color boxes
.folder-color-box {
	display: inline-block;
	margin-right: 1.125rem;
	border-radius: 2px;
	height: 0.5rem;
	width: 0.5rem;
	vertical-align: middle;
	border: solid 1px rgba(0, 0, 0, 0.12);

	&.is-success {
		background: #2ecc71;

	}

	&.is-info {
		background: #9b59b6;
	}

	&.is-warning {
		background: #f1c40f;
	}
}

// color-boxes-group
.color-boxes-group {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -.469rem;
	padding: 0 0;
	list-style: none;

	>li {
		margin-bottom: 1rem;
		padding: 0 .469rem;
		line-height: 1;

		.color-shape {
			position: relative;
			border: 1px solid rgba(0, 0, 0, 0.12);
			border-radius: 2px;
			height: 2rem;
			width: 2rem;
			cursor: pointer;

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				content: "";
				margin-top: -0.125rem;
				width: 7px;
				height: 17px;
				border-color: transparent;
				border-style: solid;
				border-width: 0 1px 1px 0;
				transform: translateX(-50%) translateY(-50%) rotate(40deg);
				transition: all ceaser($easeInOutQuint) 0.35s;		
			}

			&.is-active {
				&::before {
					border-color: $brand-white;
				}
			}
		}
	}
}

// == Mail compose button on mobile
.mail-compose-xs-btn.is-sticky {
	position: fixed;
	top: 50%;
	right: 0.938rem;
	z-index: $zindex-default;
	transform: translateY(-50%);

	.btn.mailbox-compose-btn {
		border-radius: 50%;
		border: solid 1px #c0392b;
		box-shadow: 0 2px 4px 0 rgba(1, 9, 15, 0.3);
		height: 3.125rem;
		width: 3.125rem;
	}
}

// == Modal cotents
.modal-form-label {
	@include media("<=sm") {
		margin-bottom: 0.5rem;
		font-size: 0.875rem;
	}
}