@import '../../../styles/base/variables';
@import '../../../styles/vendors/include-media/include-media';
@import '../../../styles/config/include-media-config';
@import '../../../styles/vendors/ceaser/ceaser-easing';

// == Folder color boxes
.folder-color-box {
  display: inline-block;
  border-radius: 2px;
  height: 0.6rem;
  width: 0.6rem;
  margin: 0 0.2rem;
  vertical-align: middle;
  border: solid 1px rgba(0, 0, 0, 0.12);

  &.is-success {
    background: #2ecc71;
  }

  &.is-info {
    background: #9b59b6;
  }

  &.is-warning {
    background: #f1c40f;
  }
}

// color-boxes-group
.color-boxes-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.469rem;
  padding: 0 0;
  list-style: none;

  > li {
    margin-bottom: 1rem;
    padding: 0 0.469rem;
    line-height: 1;

    .color-shape {
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 2px;
      height: 2rem;
      width: 2rem;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        margin-top: -0.125rem;
        width: 7px;
        height: 17px;
        border-color: transparent;
        border-style: solid;
        border-width: 0 1px 1px 0;
        transform: translateX(-50%) translateY(-50%) rotate(40deg);
        transition: all ceaser($easeInOutQuint) 0.35s;
      }

      &.is-active {
        &::before {
          border-color: $brand-white;
        }
      }
    }
  }
}

.mailbox-sidebar-nav-item > div {
  display: flex;
  position: relative;
  align-items: center;

  a {
    flex-grow: 1;
  }

  button {
    position: absolute;
    right: 0;
    min-width: 50px;

    .icon {
      padding: 0.5rem;
    }
  }
}

.mailbox-sidebar {
  border-right: var(--width-0-2) solid var(--sidebar-border-right);
  @include media('>sm', '<ipad') {
    .mailbox-sidebar-nav-link + button {
      display: none;
    }
    &.is-sidebar-expanded {
      .mailbox-sidebar-nav-link + button {
        display: block;
      }
    }
  }
}

.custom-folder {
  a {
    .mailbox-sidebar-nav-label {
      width: 90%;
    }
    .badge-square {
      right: 2.3rem;
    }
  }
}

.badge.outbox {
  background: unset;
  width: auto;

  .badge-counter {
    float: right;
    width: 1.563rem;
    margin-left: 5px;
    border-radius: 3px;
  }

  .badge-success {
    background-color: green;
  }
}

.sidebar-opened {
  .display-unset {
    .mailbox-btn-text {
      display: unset !important;
    }
  }
}

.folders-list {
  margin-bottom: 50px;
}

.mail-unread {
  left: 1.5rem;
  opacity: 0.7;
}

.mail-outbox,
.mail-allemails {
  opacity: 0.7;
}
