<aside id="mailbox-sidebar"
       (clickOutside)="toggleMenu($event)"
       class="mailbox-sidebar is-sidebar-expandedx" role="complementary" [ngClass]="{'is-sidebar-expanded': isSidebarOpened}">
    <div class="mailbox-sidebar-inner" [class.sidebar-opened]="isSidebarOpened">

        <div class="mailbox-brand">
            <button class="navbar-toggler hidden-md-up" role="button" (click)="toggleMenu()">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggle-text">{{"mail_sidebar.menu"| translate}}</span>
            </button>
            <figure class="navbar-brand-holder hidden-sm-down">
                <a class="navbar-brand ff-roboto text-uppercase" routerLink="/mail">
                    <img alt="Ctemplar Logo" class="navbar-brand-logo" src="assets/images/logo.svg"/>
                    <strong>ctemplar</strong>
                </a>
            </figure>
            <div class="prime-account-content">
                <i class="icon icon-secure-shield"></i>
                <span class="prime-account-text">{{currentPlan}}</span>
            </div>
        </div>

        <div class="mail-compose-section display-unset hidden-xs-down">
            <button class="btn btn-lg btn-primary mailbox-btn mailbox-compose-btn btn-xs-squared has-icon" role="button"
                    (click)="openComposeMailDialog();">
                <i class="icon icon-plus text-white hidden-md-up"></i>
                <span class="mailbox-btn-text hidden-sm-down">{{"common.compose"| translate}}</span>
            </button>
        </div>

        <nav class="mailbox-sidebar-navbar">
            <ul class="mailbox-sidebar-nav folders-list">
                <li class="mailbox-sidebar-nav-item" [class.active]="currentFolder === mailFolderType.INBOX">
                    <a routerLink="/mail/inbox/page/1"  class="mailbox-sidebar-nav-link" (click)="toggleMenu()">
                        <i class="icon icon-inbox"></i>
                        <span class="mailbox-sidebar-nav-label">{{"mail_sidebar.inbox"| translate}}</span>
                        <ng-container *ngIf="mailState?.unreadMailsCount?.inbox>0">
                            <span class="badge badge-square d-lg-block d-md-block d-sm-none">{{mailState?.unreadMailsCount?.inbox}}</span>
                            <span class="badge badge-sm badge-square d-none d-sm-block">{{mailState?.unreadMailsCount?.inbox}}</span>
                        </ng-container>
                    </a>
                </li>
                <li class="mailbox-sidebar-nav-item"  [class.active]="currentFolder === mailFolderType.DRAFT">
                    <a routerLink="/mail/draft/page/1" class="mailbox-sidebar-nav-link" (click)="toggleMenu()">
                        <i class="icon icon-draft"></i>
                        <span class="mailbox-sidebar-nav-label" >{{"mail_sidebar.draft"| translate}}</span>
                        <span *ngIf="mailState?.unreadMailsCount?.draft"
                              class="badge badge-square d-lg-block d-md-block d-sm-none">
                            {{mailState?.unreadMailsCount?.draft}}
                        </span>
                    </a>
                </li>
                <li class="mailbox-sidebar-nav-item" [class.active]="currentFolder === mailFolderType.SENT">
                    <a routerLink="/mail/sent/page/1" class="mailbox-sidebar-nav-link" (click)="toggleMenu()">
                        <i class="icon icon-paper-plane"></i>
                        <span class="mailbox-sidebar-nav-label">{{"mail_sidebar.sent"| translate}}</span>
                    </a>
                </li>
                <li class="mailbox-sidebar-nav-item"  [class.active]="currentFolder === mailFolderType.OUTBOX">
                    <a routerLink="/mail/outbox/page/1" class="mailbox-sidebar-nav-link" (click)="toggleMenu()">
                        <i class="icon icon-draft"></i>
                        <span class="mailbox-sidebar-nav-label">{{"mail_sidebar.outbox"| translate}}</span>
                        <span class="badge outbox">
                              <span class="badge-square hidden-sm-down badge-counter badge-success"
                                    *ngIf="mailState?.unreadMailsCount?.outbox_delayed_delivery_counter>0">
                            {{mailState?.unreadMailsCount?.outbox_delayed_delivery_counter}}
                            </span>
                            <span class="badge-square hidden-sm-down badge-counter badge-danger"
                                    *ngIf="mailState?.unreadMailsCount?.outbox_dead_man_counter>0">
                            {{mailState?.unreadMailsCount?.outbox_dead_man_counter}}
                            </span>
                        </span>
                    </a>
                </li>
                <li class="mailbox-sidebar-nav-item" [class.active]="currentFolder === mailFolderType.ALL_EMAILS">
                    <a routerLink="/mail/allmails/page/1"  class="mailbox-sidebar-nav-link" (click)="toggleMenu()">
                        <i class="icon icon-inbox"></i>
                        <span class="mailbox-sidebar-nav-label">{{"mail_sidebar.all_emails"| translate}}</span>
                    </a>
                </li>
                <li class="mailbox-sidebar-nav-item" [class.active]="currentFolder === mailFolderType.UNREAD">
                    <a routerLink="/mail/allunreadmails/page/1"  class="mailbox-sidebar-nav-link" (click)="toggleMenu()">
                        <i class="icon icon-inbox"></i>
                        <span class="mailbox-sidebar-nav-label">{{"mail_sidebar.unread"| translate}}</span>
                        <ng-container *ngIf="mailState?.unreadMailsCount?.inbox>0">
                            <span class="badge badge-square d-lg-block d-md-block d-sm-none">{{mailState?.unreadMailsCount?.inbox}}</span>
                            <span class="badge badge-sm badge-square d-none d-sm-block">{{mailState?.unreadMailsCount?.inbox}}</span>
                        </ng-container>
                    </a>
                </li>
                <li class="mailbox-sidebar-nav-item"  [class.active]="currentFolder === mailFolderType.STARRED">
                    <a routerLink="/mail/starred/page/1" class="mailbox-sidebar-nav-link" (click)="toggleMenu()">
                        <i class="icon icon-star"></i>
                        <span class="mailbox-sidebar-nav-label" >{{"mail_sidebar.starred"| translate}}</span>
                    </a>
                </li>
                <li class="mailbox-sidebar-nav-item"  [class.active]="currentFolder === mailFolderType.ARCHIVE">
                    <a routerLink="/mail/archive/page/1" class="mailbox-sidebar-nav-link" (click)="toggleMenu()">
                        <i class="icon icon-archive"></i>
                        <span class="mailbox-sidebar-nav-label">{{"mail_sidebar.archive"| translate}}</span>
                    </a>
                </li>
                <li class="mailbox-sidebar-nav-item"  [class.active]="currentFolder === mailFolderType.SPAM">
                    <a routerLink="/mail/spam/page/1" class="mailbox-sidebar-nav-link" (click)="toggleMenu()">
                        <i class="icon icon-warning"></i>
                        <span class="mailbox-sidebar-nav-label">{{"mail_sidebar.spam"| translate}}</span>
                        <span *ngIf="mailState?.unreadMailsCount?.spam"
                              class="badge badge-square d-lg-block d-md-block d-sm-none">
                            {{mailState?.unreadMailsCount?.spam}}
                        </span>
                    </a>
                </li>
                <li class="mailbox-sidebar-nav-item"  [class.active]="currentFolder === mailFolderType.TRASH">
                    <a routerLink="/mail/trash/page/1" class="mailbox-sidebar-nav-link" (click)="toggleMenu()">
                        <i class="icon icon-garbage"></i>
                        <span class="mailbox-sidebar-nav-label" >{{"mail_sidebar.trash"| translate}}</span>
                    </a>
                </li>

                <!-- Custom Folder -->
                <li class="divider-item"></li>
                <li class="mailbox-sidebar-nav-item">
                    <a class="mailbox-sidebar-nav-link" (click)="createFolder()">
                        <i class="icon icon-folder"></i>
                        <span class="mailbox-sidebar-nav-label">{{"mail_sidebar.add_folder"| translate}}</span>
                    </a>
                </li>
                <li class="mailbox-sidebar-nav-item custom-folder"  [class.active]="currentFolder === folder.name" *ngFor="let folder of customFolders|slice:0:LIMIT; let i=index;">
                    <div>
                        <a routerLink="/mail/{{folder.name}}/page/1" class="mailbox-sidebar-nav-link" (click)="toggleMenu()">
                            <i class="folder-color-box icon" [style.background]="folder.color"></i>
                            <span class="mailbox-sidebar-nav-label">
                                {{folder.name}}
                            </span>
                            <span class="badge badge-square hidden-sm-down badge-position" *ngIf="mailState?.unreadMailsCount && mailState?.unreadMailsCount[folder.name]>0">{{mailState?.unreadMailsCount[folder.name]}}</span>
                        </a>
                    </div>
                </li>
                <li class="mailbox-sidebar-nav-item" *ngIf="customFolders.length > 3">
                    <a (click)="toggleDisplayLimit(customFolders.length)"
                       class="mailbox-sidebar-nav-link">
                        <i class="icon icon-more ml-1"></i>
                        <span class="mailbox-sidebar-nav-label text-capitalize">
                            {{LIMIT === customFolders.length? ('create_account.less'| translate) : ('mail_list.more'| translate)}}
                        </span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="mailbox-sidebar-footer text-center mt-4 py-2">
                <div class="mailbox-sidebar-footer-text mb-0 mb-md-1 visible-in-sm">
                    <span translate="mail_sidebar.used"></span>
                    <div class="text-white mt-1">{{(userState.settings?.used_storage * 1024) | filesize}}</div>
                </div>
            <div class="mailbox-sidebar-footer-text hidden-in-sm">
                <span>{{"common.used_storage"| translate}}</span>:<br> {{(userState.settings?.used_storage * 1024) | filesize}} <span>{{"settings.of"| translate}}</span> {{(userState.settings.allocated_storage  * 1024) | filesize}}</div>
            <a routerLink="/mail/settings/dashboard-and-plans" class="btn-link text-white hidden-in-sm" *ngIf="!userState.isPrime">
                <small>
                    <u>{{"common.upgrade_account"| translate}}</u>
                </small>
            </a>
            <a href="{{primaryWebsite}}/transparency-report-ctemplar/" target="_blank">
                <img height="30" width="31" src="/assets/icons/warranty-canary.png">
            </a>
        </div>

    </div>
</aside>

<!-- Compose button to be used in small screens -->
<div class="btn-xs-holder is-sticky hidden-sm-up">
    <button class="btn btn-primary mailbox-btn mailbox-compose-btn btn-xs-rounded has-icon" role="button"
            placement="top" [ngbTooltip]="'common.compose' | translate" (click)="openComposeMailDialog();"><i
            class="icon icon-plus text-white"></i></button>
</div>

<!-- Mail compose dialog container -->
<div class="compose-mail-container">
    <ng-template #composeMailContainer></ng-template>
</div>

<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<ng-keyboard-shortcuts-help key="f1" closeKey="escape"></ng-keyboard-shortcuts-help>
