@import '../../../styles/base/variables';
@import '../../../styles/vendors/include-media/include-media';
@import '../../../styles/config/include-media-config';
@import '../../../styles/vendors/ceaser/ceaser-easing';


// == Sidebar
.mailbox-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #34495e;
	width: 220px;

	@include media("<ipad") {
		z-index: $zindex-default + 10;
	}

	@include media("<=sm") {
		transform: translateX(-100%);
		transition: all ease 0.35s;

		&.is-sidebar-expanded {
			transform: translateX(0%);
		}
	}

	@include media("<ipad", ">sm") {
		width: 68px;

		&.is-sidebar-expanded {
			width: 220px;
		}
	}

	@include media(">=ipad") {
		width: 290px;
	}
	
	.navbar-toggler {
		top: 1px;
		padding: 0 0;
		height: 1.25rem;
		width: 1.25rem;

		.navbar-toggler-icon {
			width: 1.25rem;
		}
	}

	.navbar-toggler-icon:nth-child(2), .navbar-toggler-icon:nth-child(3) {
		top: 9px;
	}

	.navbar-toggler-icon:nth-child(4) {
		top: 15px;
	}
}

.mailbox-sidebar-inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 1.25rem;

	@include media("<=sm") {
		padding-bottom: 8rem;
	}
}

.mailbox-brand,
.mail-compose-section {
	padding: 1.34444rem 0.938rem;

	@include media("<=sm") {
		padding: 0.969rem 0.938rem;
	}

	@include media(">sm") {
		text-align: center;

		.is-sidebar-expanded & {
			text-align: left;
		}
	}

	@include media(">=ipad") {
		padding: 1.031rem 1.563rem;
		text-align: left;
	}
}

.mailbox-brand {
	position: relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	line-height: 1;
}

.prime-account-content {
	position: absolute;
	top: 50%;
	right: 0.938rem;
	display: flex;
	align-items: center;
	color: $brand-white;
	font-size: 1rem;
	transform: translateY(-50%);

	@include media("<ipad", ">sm") {
		display: none;

		.is-sidebar-expanded & {
			display: block;
		}
	}

	@include media(">=ipad") {
		right: 1.563rem;
	}

	.prime-account-text {
		margin-left: 0.3rem;
		font-size: 0.75rem;
	}
}

// == Mailbox sidebar menu
.navbar-toggle-text {
	display: none;

	@include media("<ipad") {
		.is-sidebar-expanded & {
			display: block;
			padding-left: 2rem;
		}
	}

	// @include media("<=sm") {
	// 	display: block;
	// 	padding-left: 2rem;
	// }
}

.mailbox-sidebar-nav {
	list-style: none;
	margin: 0 0;
	padding: 0;
	line-height: 1;

	.divider-item {
		margin: 0.625rem 0;
		border-top-color: rgba(255, 255, 255, 0.12);

		@include media(">sm") {
			margin: 0.938rem 0;
		}

		@include media(">=ipad") {
			margin: 0.938rem 1.563rem;
		}
	}
}

.mailbox-sidebar-nav-item {
	font-size: 0.875rem;
	line-height: 1;

	&.add-folder {
		font-size: 0.75rem;
		letter-spacing: 0.6px;	
	}
}

.mailbox-sidebar-nav-link {
	position: relative;
	display: block;
	padding: 0.813rem 0.938rem 0.813rem 3rem;
	color: $menu-link;
	min-height: 2.5rem;
	line-height: 1;

	.is-sidebar-expanded & {
		// padding-left: 0.938rem;
	}

	@include media(">=ipad") {
		padding: 0.813rem 1.563rem 0.813rem 3.375rem;
	}

	.active & {
		background: rgba(255, 255, 255, 0.12) !important;
		color: $brand-white;
	}

	&:hover,
	&:focus {		
		background: darken(rgba(255, 255, 255, 0.12), 25%);
		color: $brand-white;
	}

	>.icon,
	>.badge {
		position: absolute;
		top: 50%;
		left: 0.938rem;
		transform: translateY(-50%);

		@include media("<ipad", ">sm") {
			.is-sidebar-expanded & {
				left: 0.938rem;
			}
		}

		@include media(">sm") {
			left: 1.563rem;
		}

		@include media(">=ipad") {
			// left: 1.563rem;
		}
	}

	>.icon {
		font-size: 0.938rem;
	}

	>.badge {
		right: 1.563rem;
		left: auto;
		padding: 0 0;
		background-color: $brand-light-gray;
		border: 2px;
		font-size: 0.625rem;
		height: 1.25rem;
		width: 1.25rem;
		line-height: 1.25rem;
		text-align: center;

		@include media("<ipad") {
			&.badge-sm {
				top: 0.75rem;
				right: 0.5rem;
				padding: 0.125rem;
				background: $brand-primary;
				border-radius: 2px;
				font-size: 0.5rem;
				height: auto;
				width: auto;
				line-height: 1;

				.is-sidebar-expanded & {
					left: auto;
					right: 0.938rem;
				}
			}
		}

		@include media("<=sm") {
			&.badge-sm {
				right: 0.938rem;
			}
		}
	}

	.mailbox-sidebar-nav-label {
		@include media("<ipad", ">sm") {
			display: none;

			.is-sidebar-expanded & {
				display: block;
			}
		}
	}
}

.divider-item {
	margin: 0.375rem 0.938rem;
	border-top: 1px solid $divider-color;
}

.folders-list {
	margin: 0 0;
	padding-right: 1.563rem;
	padding-left: 3.25rem;
	list-style: none;

	@include media("<ipad") {
		display: none;
		.is-sidebar-expanded & {
			display: block;
			padding-left: 2.75rem;
		}
	}

	>li:first-child {
		padding-top: 0.938rem;
		border-top: 1px solid rgba(255, 255, 255, 0.12);
	}

	>li:not(:last-of-type) {
		margin-bottom: 0.625rem;
	}

	>li>a{
		position: relative;
		display: flex;
		padding-left: 0.875rem;
		color: $menu-link;

		.folder-color-box {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}

		@include media("<=sm") {			
			font-size: 0.625rem;
		}
	}
}

.mailbox-sidebar-footer {
	position: absolute;
	right: 0.938rem;
	bottom: .938rem;
	left: 0.938rem;
	line-height: 1;

	@include media("<=sm") {
		bottom: -8rem;
		padding-bottom: 0.938rem;
	}

	@include media(">sm") {
		bottom: 3.125rem;
	}

	@include media(">=ipad") {
		right: 1.563rem;
		bottom: 1.25rem;
		left: 1.563rem;
	}
}

.mailbox-sidebar-footer-text {	
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.688rem;
}

.visible-in-sm {
	display: none !important;
	@include media("<ipad", ">sm") {
		display: block !important;

		.is-sidebar-expanded & {
			display: none !important;
		}
	}
}

.hidden-in-sm {
	display: block !important;
	@include media("<ipad", ">sm") {
		display: none !important;

		.is-sidebar-expanded & {
			display: block !important;
		}
	}
}

// == Buttons
.btn-lg.mailbox-btn {
	padding: .5633rem 3.43066rem;
	font-size: 0.875rem;
	min-width: 240px;
}

.btn-primary.mailbox-btn {
	&:hover {
		background-color: #ff4d3b;
	}

	&:focus {
		background-color: #ff4d3b;
	}
}

.btn.mailbox-compose-btn {
	@include media("<ipad") {
		position: relative;
		padding: 0 0;
		border: solid 1px #c0392b;
		height: 2.25rem;
		width: 2.25rem;
		min-width: inherit;
		transition: none;

		&::before,
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			content: "";
			background: $brand-white;
			height: 1rem;
			width: 2px;
			transform: translateX(-50%) translateY(-50%);
		}

		&::after {
			height: 2px;
			width: 1rem;
		}
	}

	.is-sidebar-expanded & {
		padding: .5633rem 3.43066rem;
		height: auto;
		width: 100%;

		&::before,
		&::after {
			display: none;
		}
		
		.hidden-sm-down {
			display: block !important;
		}
	}
}

// == Folder color boxes
.folder-color-box {
	display: inline-block;
	margin-right: 1.125rem;
	border-radius: 2px;
	height: 0.5rem;
	width: 0.5rem;
	vertical-align: middle;
	border: solid 1px rgba(0, 0, 0, 0.12);

	&.is-success {
		background: #2ecc71;

	}

	&.is-info {
		background: #9b59b6;
	}

	&.is-warning {
		background: #f1c40f;
	}
}

// color-boxes-group
.color-boxes-group {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -.469rem;
	padding: 0 0;
	list-style: none;

	>li {
		margin-bottom: 1rem;
		padding: 0 .469rem;
		line-height: 1;

		.color-shape {
			position: relative;
			border: 1px solid rgba(0, 0, 0, 0.12);
			border-radius: 2px;
			height: 2rem;
			width: 2rem;
			cursor: pointer;

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				content: "";
				margin-top: -0.125rem;
				width: 7px;
				height: 17px;
				border-color: transparent;
				border-style: solid;
				border-width: 0 1px 1px 0;
				transform: translateX(-50%) translateY(-50%) rotate(40deg);
				transition: all ceaser($easeInOutQuint) 0.35s;		
			}

			&.is-active {
				&::before {
					border-color: $brand-white;
				}
			}
		}
	}
}

// == Mail compose button on mobile
.mail-compose-xs-btn.is-sticky {
	position: fixed;
	top: 50%;
	right: 0.938rem;
	z-index: $zindex-default;
	transform: translateY(-50%);

	.btn.mailbox-compose-btn {
		border-radius: 50%;
		border: solid 1px #c0392b;
		box-shadow: 0 2px 4px 0 rgba(1, 9, 15, 0.3);
		height: 3.125rem;
		width: 3.125rem;
	}
}

// == Modal cotents
.modal-form-label {
	@include media("<=sm") {
		margin-bottom: 0.5rem;
		font-size: 0.875rem;
	}
}


// == Mail composer
$mail_composer_padding_x: 0.75rem;

.mail-composer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-default + 999;
	overflow-x: hidden;
	overflow-y: auto;
	background: $brand-white;
	font-size: 0.875rem;

	@include media(">sm") {
		top: auto;
		right: 1.563rem;
		bottom: 4.375rem;
		left: auto;
		overflow: inherit;
		box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.25);
		width: 45.313rem;
	}
}

// == Is minimized
.mail-composer.is-minimized {
	.mail-composer-body,
	.mail-composer-footer {
		display: none;
	}
}

// == Is full screen
.mail-composer.is-fullscreen {
	// top: 5.12rem;
	@include media(">sm") {
		width: calc(100% - 340px);

		.mail-compose-box-inner {
			min-height: 627px;			
		}
	}
}

.mail-composer-header {
	position: relative;
	padding: 1.063rem $mail_composer_padding_x;
	background: $brand-secondary;

	@include media(">sm") {
		padding: 0.625rem $mail_composer_padding_x;
	}
}

.mail-composer-title {	
	color: $brand-white;
	line-height: 1.33;

	@include media(">sm") {
		font-size: 0.75rem;
	}
}

.mail-actions-list {
	position: absolute;
	top: 50%;
	right: $mail_composer_padding_x;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #a1abb5;
	transform: translateY(-50%);
}

.mail-actions-item {
	cursor: pointer;
	&:not(:last-of-type) {
		margin-right: 1.25rem;
	}

	i {
		display: block;
		font-size: 0.875rem;
		line-height: 1;
	}
}

.mail-compose-field {
	display: flex;
	align-items: center;
	position: relative;
	padding: 0 $mail_composer_padding_x;
	background: $brand-white;
	border-bottom: 1px solid $input-border-color;

	@include media(">sm") {
		font-size: 0.75rem;
	}

	.mail-label {
		display: block;
		margin-right: 0.5rem;
		color: rgba(0, 0, 0, 0.38);
		line-height: 1;
	}

	.mail-compose-control {
		margin-right: 3.125rem;
		padding: 0.813rem 0;
		border: 0;
		line-height: 1.3;
		resize: none;
		width: 100%;
		overflow: hidden;

		@include media(">sm") {
			padding: 0.688rem 0 0.5rem;
		}
	}
}

.extra-mail-label {
	position: absolute;
	top: 50%;
	right: 0.625rem;
	display: flex;
	align-items: right;
	transform: translateY(-50%);

	.mail-label {
		cursor: pointer;
	}

	.mail-label:not(:last-of-type) {
		margin-right: 0.5rem;
	}
}

.mail-compose-editable-body {
	overflow-y: hidden;
	max-height: 667px;

	@include media("<=sm") {
		margin-top: 49px;
	}
}

.mail-compose-box {
	max-height: 667px;
	overflow-x: hidden;
	overflow-y: auto;
	line-height: 1.67rem;

	@include media(">sm") {
		font-size: 0.75rem;
	}
}

// == Scrollbar styling
.mail-compose-box::-webkit-scrollbar {
	background: $brand-white;
	width: 10px;
	height: 10px;
}

.mail-compose-box::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

.mail-compose-box::-webkit-scrollbar-corner {
	background-color: transparent;
}

.mail-compose-box::-webkit-scrollbar-track {
	background-color: #e8e8e8;
}

.mail-compose-box::-webkit-scrollbar-thumb {
	background-color: #d8d8d8;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10), inset 0 -1px 0 rgba(0,0,0,0.07);
}

.mail-compose-box-inner {
	padding: 1.25rem $mail_composer_padding_x;
	background: $brand-white;
	min-height: 165px;
}

.mail-compose-editable-box {
	background: $brand-white;
	// min-height: 165px;

	&[contenteditable]:focus {
		outline: 0;
	}
}

// Mail composer footer
.mail-composer-footer {
	padding: 0.5rem $mail_composer_padding_x;
	background: $brand-faded;
	border-top: 1px solid $input-border-color;
	border-bottom: 1px solid $input-border-color;

	@include media("<=sm") {
		position: absolute;
		top: 142px;
		right: 0;
		left: 0;
		border-top: 0;
	}
}

.mail-composer-actions-row {
	margin: 0 -0.625rem;	
}

.mail-composer-actions-col {
	padding: 0 0.625rem;
	
	&-lg {
		flex: 0 0 70%;
		max-width: 70%;
	}

	&-sm {
		flex: 0 0 30%;
		max-width: 30%;
	}
}

.mail-composer-actions {
	margin: 0 -.375rem;
	padding: 0 0;
	list-style: none;

	>li {
		padding: 0 .375rem;
		line-height: 1;

		@include media("<=sm") {
			&:last-of-type {
				padding: 0;
			}
		}
	}

	.btn-mail-send,
	.btn {
		font-size: 0.75rem;
		min-width: 85px;
	}
}

.actions-btn {
	position: relative;
	padding: 0.125rem 0.5rem;
	background: $brand-faded;
	border: 1px solid $input-border-color;
	border-radius: 2px;
	color: $brand-light-gray;
	height: 2rem;
	width: 2.25rem;

	.show > & {
		background: $brand-white;
		box-shadow: 0 2px 9px 0 rgba($brand-black, 0.15);
	}

	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 1rem;
		transform: translateX(-50%) translateY(-50%);
	}

	&.dropdown-toggle .icon {
		left: 0.375rem;
		transform: translateY(-50%);	
	}
}

.border-radius-0 {
	border-radius: 0 !important;
}

.border-radius-r-0 {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.border-radius-l-0 {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

// == Attachment uploader
.disabled {
	pointer-events: none;
}

.attach-uploader {
	position: relative;
	margin-bottom: 0.5rem;
	padding: 0.563rem 1.563rem 0.563rem 0.75rem;
	background: $brand-faded;
	border: 1px solid $input-border-color;
	border-radius: 2px;
	max-width: 360px;
	line-height: 1;
	width: 100%;

	&:last-of-type {
		margin-bottom: 0;
	}

	// == Progress bar
	.progress {
		position: absolute;
		top: 50%;
		right: 1.875rem;
		background: $brand-white;
		border: 1px solid $input-border-color;
		border-radius: 0;
		width: 55px;
		transform: translateY(-50%);

		@include media(">sm") {
			width: 95px;
		}
	}

	.progress-bar {
		height: 0.875rem;
		background: $brand-secondary;
	}
}

.attach-uploader-close {
	position: absolute;
	top: 50%;
	right: 0.75rem;
	margin-top: .063rem;
	padding: 0 0;
	background: transparent;
	border: 0;
	color: $brand-light-gray;
	transform: translateY(-50%);
}

.attach-name {
	color: #34495e;
}

.attach-size {
	margin-left: 0.375rem;
	color: #979797;
}

.btn.btn-xs-rounded {
	@include media("<=sm") {
		padding: 0 0;
		background: $brand-primary;
		border: solid 1px #c0392b;
		border-radius: 50%;
		box-shadow: 0 2px 4px 0 rgba(1, 9, 15, 0.3);
		height: 3.125rem;
		width: 3.125rem;
		line-height: 3.125rem;
		min-width: inherit;
	}
}

.btn.btn-mail-send {
	@include media("<=sm") {
		position: fixed;
		right: 0.938rem;
		bottom: 5.625rem;
	}
}

// == Typo actions holder
.left-0 {
	left: 0 !important;
}

.dropdown-menu.typo-actions-dropdown-menu {
	left: 50% !important;
	margin-left: 30px;
	transform: translateX(-50%) translateY(10px) !important;
}

.show>.dropdown-menu.typo-actions-dropdown-menu {
	transform: translateX(-50%) translateY(0%) !important;
}

.typo-actions-dropdown-menu .typo-actions-dropdown-menu {
	margin-left: 0 !important;
}

.dropup .dropdown-menu {
	margin-bottom: 8px;
}

.mail-comopser-typo-actions-holder {
	padding: 0.625rem 0.75rem;
}

.actions-btn.dropdown-toggle:not(.hide-arrow) {
	width: 3.25rem;
	text-align: left;
}

// == Color picker
.dropdown-menu {
	.color-picker-holder {
		padding: 1.125rem 1.563rem;
		width: 352px;//~370px;
	}
}

.color-picker-title {
	margin-bottom: 0.875rem;
	color: $brand-black;
	font-size: 0.75rem;
	line-height: 1;
}

.color-picker-list {
	margin: 0 -2px;
	padding: 0 0;
	list-style: none;

	>li {
		margin-bottom: 4px;
		padding: 0 2px;
		.color-shape {
			position: relative;
			border-radius: 0;
			height: 1rem;
			width: 1rem;
			cursor: pointer;

			&.is-selected {
				border: 2px solid #9b9b9b !important;
			}
		}
	}
}

// == Typo dropdown
.typo-holder {
	padding: 1.125rem 2.188rem;
}

.typo-family-dropdown-menu {
	left: 0 !important;
	margin-left: -0.75rem;
	width: 245px;
}

.typo-size-dropdown-menu {
	left: 0 !important;
	width: 180px;
}

.typo-list {
	font-size: 0.875rem;
	line-height: 1;
	
	>li {
		&:not(:last-of-type) {
			margin-bottom: 0.938rem;
		}
	}
}

.typo-select-link {
	position: relative;
	color: rgba(0, 0, 0, 0.87);
	&:hover {
		color: darken(rgba(0, 0, 0, 0.87), 5%);
	}

	&.is-active {
		font-weight: 600;

		&::before {
			position: absolute;
			top: 0.235rem;
			left: -1.125rem;
			content: "\f00c";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			font-size: 0.718rem;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
		}
	}

	// == typo sizes
	&.is-small {
		font-size: .688rem;
	}

	&.is-normal {
		font-size: 0.875rem;
	}

	&.is-large {
		font-size: 1.375rem;
	}

	&.is-huge {
		font-size: 2.25rem;
	}
}


// == Timer dropdown
.timer-dropdown-menu:not(.left-0) {
	width: 290px;
	left: 50% !important;
	font-size: 0.875rem;
	transform: translateX(-50%) translateY(10px) !important;

	.show > & {
		transform: translateX(-50%) translateY(0px) !important;
	}

	.close {
		position: absolute;
		top: 1.125rem;
		right: 0.938rem;
		opacity: 1;
		color: $brand-black;
		font-size: 0.875rem;
	}
}

.dropdown-header {
	padding: 1.125rem 1.5rem;
	border-bottom: 1px solid #f5f5f5;
}

.dropdown-body {
	padding: 0.75rem 1.5rem 1rem;
}

.timer-set-row {
	margin-right: -.75rem;
	margin-left: -.75rem
}

.timer-set-col {
	padding-right: .75rem;
	padding-left: .75rem;
}

.timer-set-content {
	.timer-set-title,
	.timer-set-label {
		font-size: 0.75rem;
	}

	.timer-set-title {
		margin-bottom: 0.625rem;
		line-height: 1.5;
	}

	.timer-set-label {
		margin-right: 0.375rem;
		margin-left: 0.375rem;
	}
}

.timer-dropdown-menu {
	.dropdown-link {
		display: block;
		padding: 0.5rem 0.75rem;
		color: $brand-gray;
		font-size: 0.813rem;
		text-align: center;

		&:hover {
			background: $brand-faded;
		}
	}
}

.dropdown-footer {
	padding: 1rem 1.5rem;
	background: #f5f5f5;
}