
@import '../vendors/bootstrap/variables';
////
//== Variables
////
// Sidebar background...
$brand-secondary-dark: #161f34;
$brand-secondary-darker: darken($brand-secondary-dark, 20%);

// Header background...
$brand-third-dark: #20273e;

// Action button background, Tab bar on settings, Input background....
$brand-fourth-dark: #363d51;

// Border color...
// Control border
$control-border-color-dark: #474e61;
// Panel border
$control-border-1-color-dark: #323a4c;

// Text color
$dark-primary-fore-color: $white;

// Controls
$action-control-background: $brand-fourth-dark;
$action-control-active-background: darken($brand-fourth-dark, 15%);

//////
//## Start redefining the variables on original variables
//////
// == General
$text-color-dark: $dark-primary-fore-color;
$body-color-dark: $dark-primary-fore-color;
$divider-color-dark: $dark-primary-fore-color;
$border-gray-dark: $dark-primary-fore-color;
$brand-gray-dark: $dark-primary-fore-color;
$brand-light-gray-dark: $dark-primary-fore-color;
$brand-faded-dark: $brand-third-dark;
$text-muted-dark: $dark-primary-fore-color;

// == Dropdowns
$dropdown-link-active-bg-dark: $action-control-active-background;
$dropdown-link-active-color-dark: $text-color-dark;
$dropdown-border-color-dark: $control-border-color-dark;
$dropdown-link-hover-bg-dark: $brand-faded-dark;

// == Form fields
$input-border-color-dark: $control-border-color-dark;
$input-border-focus-dark: $control-border-color-dark;

// == Modal
$close-color-dark: $text-color-dark;

//////
//## End redefining the variables on original variables
//////



//////
//## Start Component customzing
//////
$sidebar-footer-background-dark: $brand-secondary-darker;
$sidebar-border-right-dark: $control-border-1-color-dark;

$mail-list-background-dark: $brand-third-dark;
$mail-list-background-active-dark: lighten($brand-third-dark, 10%);