@import '../vendors/bootstrap/variables';

$brand-secondary-light: $brand-secondary;

$control-text-color-light: $brand-secondary;

//////
//## Start Component customzing
//////
$sidebar-footer-background-light: #29394e;
$sidebar-border-right-light: transparent;