/*
** @partial : _type.scss
*/

// == Typograhy styles

// == Typo families mixins
$ff_list: lato, roboto;
$ff_val: $font-family-lato, $font-family-roboto;

@include make_font_families($ff_list, $ff_val);

// == Para
p, .para, address, blockquote {
    &:last-child {
        margin-bottom: 0;
    }
}

.small,
.text-small {
    font-size: 0.75rem;
}

.text-medium {
    font-size: 0.875rem;
}

.fw-light {
    font-weight: 300;
}

// == blockquote
blockquote,
.blockquote {
    color: rgba(52, 73, 94, 0.87);
    font-size: 1.25rem;
    line-height: 1.6;
}

//
// Add the correct font weight in Chrome, Edge, and Safari.
//

b,
strong {
  font-weight: 600;
}

// == Headings
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    
}

h1, .h1 {
    margin-bottom: 0.75rem;
    @include media("<=sm") {
        font-size: 1.5rem;
    }

    @include media("<ipad", ">sm") {
        margin-bottom: 1rem;
        font-size: 1.875rem;
    }

    @include media(">=ipad") {
        margin-bottom: 1.25rem;
    }
}

h2, .h2 {
    margin-bottom: 1.5rem;
    @include media("<=sm") {
        font-size: 1.25rem;
    }
}

h3, .h3 {
    margin-bottom: 1.75rem;
    line-height: 1.5;

    @include media("<=sm") {
        font-size: 1rem;
    }

    @include media("<ipad", ">sm") {
        font-size: 1.125rem;
    }
}

h4, .h4 {
    margin-bottom: 0.938rem;
    @include media("<=sm") {
        font-size: 1rem;
    }
}