<!-- RELATED BLOG POSTS -->
<section class="l-block news-block gap-p-eq bg-white">
  <div class="container container-xs">
    <header class="l-block-header text-center">
      <h2 class="l-block-title ">Related
        <strong>Post</strong>
      </h2>
    </header>
    <div class="l-block-body">
      <div class="row justify-content-center">
        <article class="col-sm-6 mb-4 mb-sm-0">
          <a routerLink="/blog/blog-post" class="d-block news-card-holder">
            <div class="news-card position-relative">
              <span class="badge badge-sm badge-warning text-uppercase">
                <strong>Articles</strong>
              </span>
              <div class="news-card-body">
                <figure class="news-pic-holder">
                  <img alt="News thumbnail" class="img news-img" src="assets/images/blog/blog-img-5.jpg" />
                </figure>
                <h4 class="news-card-title">How to Prevent Phishing Attacks</h4>
                <p>The number of phishing attacks is increasing because they are both easy to execute and highly effective.
                  Even if the eventual goal of an attacker is an organization, attacks always begin by targeting individuals.
                  Phishing attacks have been utilized to steal confidential information, compromise entire organizations,
                  and perhaps even influence a Presidential election.</p>
              </div>
              <footer class="news-card-footer">
                <ul class="news-meta-list">
                  <li>Posted on 26 February 2016</li>
                  <li>
                    <u>25 comments</u>
                  </li>
                </ul>
              </footer>
            </div>
          </a>
        </article>
        <article class="col-sm-6">
          <a routerLink="/blog/blog-post" class="d-block news-card-holder">
            <div class="news-card position-relative">
              <span class="badge badge-sm badge-info text-uppercase">
                <strong>News</strong>
              </span>
              <div class="news-card-body">
                <figure class="news-pic-holder">
                  <img alt="News thumbnail" class="img news-img" src="assets/images/blog/blog-img-6.jpg" />
                </figure>
                <h4 class="news-card-title">ISPs are selling your private browsing history. Here’s how to prevent it.</h4>
                <p>Selling and sharing browsing history to advertisers just became easier due to yesterday’s vote in the US
                  senate. Here is our analysis of S.J.Res.34 and the steps you should take to protect your privacy if this
                  becomes law.</p>
              </div>
              <footer class="news-card-footer">
                <ul class="news-meta-list">
                  <li>Posted on 26 February 2016</li>
                  <li>
                    <u>25 comments</u>
                  </li>
                </ul>
              </footer>
            </div>
          </a>
        </article>
      </div>
    </div>
  </div>
  <!-- /.Site container ends -->
</section>
<!-- /.RELATED BLOG POSTS ENDS -->